<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cad6ef87-1b6d-43f9-9fbe-7ed9f6d92828" Alias="[BlockList] Local Links" Level="1">
  <Info>
    <Name>[BlockList] Local Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "20684008-811a-4c04-b872-dda90b752f6e",
      "label": "${title}",
      "settingsElementTypeKey": "3f188dee-7650-4474-be0d-877277dfb9b0"
    }
  ]
}]]></Config>
</DataType>