<?xml version="1.0" encoding="utf-8"?>
<DataType Key="66ce9ae8-ed1f-49e3-8080-48e69b31b94d" Alias="[BlockList] Home" Level="1">
  <Info>
    <Name>[BlockList] Home</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a",
      "label": "Rich text row ${ title.length \u003E 0 ? title : \u0027\u0027}",
      "settingsElementTypeKey": "a37fb4d4-2673-4526-b49c-358ae5cd8e7d"
    },
    {
      "contentElementTypeKey": "55b64304-32bc-4d3d-a226-8f10208f5ebb",
      "label": "About Home Items",
      "settingsElementTypeKey": "bfb9372f-4c17-4413-9d9a-6da1d6dca007"
    },
    {
      "contentElementTypeKey": "0b3f27ef-4256-4939-a872-c40a5a9fdc1b",
      "label": "Text with image banner row ${ title.length \u003E 0 ? title : \u0027\u0027}",
      "settingsElementTypeKey": "a3f5519d-10d9-45a4-aa7a-33c76a5bb005"
    }
  ]
}]]></Config>
</DataType>