<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f010e4fd-5f61-40f7-9843-f835241e5b21" Alias="[BlockList] Design Code Images" Level="1">
  <Info>
    <Name>[BlockList] Design Code Images</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "settingsElementTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "label": "Single image row ${ title.length \u003E 0 ? title : \u0027\u0027}"
    },
    {
      "contentElementTypeKey": "a29ecc6f-d8fb-4c95-88b9-8b940f6c3cd9",
      "settingsElementTypeKey": "c71687d5-4b27-4c39-b389-7ee98adb9882",
      "label": "Double image row ${ title.length \u003E 0 ? title : \u0027\u0027}"
    }
  ]
}]]></Config>
</DataType>