<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9e10399a-2bdb-47a0-bfcd-072d3789711d" Alias="[BlockList] Sub Content" Level="1">
  <Info>
    <Name>[BlockList] Sub Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "14d6df98-294f-49f2-9c98-ba0553e77b08",
      "label": "{accordion items}",
      "settingsElementTypeKey": "97bac018-d160-4640-b87e-f1fd2f3abe05"
    },
    {
      "contentElementTypeKey": "d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a",
      "settingsElementTypeKey": "a37fb4d4-2673-4526-b49c-358ae5cd8e7d",
      "label": "{=title}"
    },
    {
      "contentElementTypeKey": "0b3f27ef-4256-4939-a872-c40a5a9fdc1b",
      "label": "{=title}",
      "settingsElementTypeKey": "a3f5519d-10d9-45a4-aa7a-33c76a5bb005"
    },
    {
      "contentElementTypeKey": "e574ba7b-c514-42ef-9680-dea8a0e2e9ff",
      "label": "Left menu navigation item",
      "settingsElementTypeKey": "0773a063-633c-4e77-b88c-2170c8706a00"
    },
    {
      "contentElementTypeKey": "932de0fd-b8fe-4ae9-8763-261e864f917c",
      "settingsElementTypeKey": "a3d2892e-7498-440c-8dbb-d9dbc3a0efbe",
      "label": "{=caption}"
    }
  ]
}]]></Config>
</DataType>