<?xml version="1.0" encoding="utf-8"?>
<DataType Key="58be44b1-4183-49bf-8ead-3db92ff78c98" Alias="[BlockList] Content" Level="1">
  <Info>
    <Name>[BlockList] Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a",
      "label": "Rich text row ${ title.length \u003E 0 ? title : \u0027\u0027}",
      "settingsElementTypeKey": "a37fb4d4-2673-4526-b49c-358ae5cd8e7d"
    },
    {
      "contentElementTypeKey": "0b3f27ef-4256-4939-a872-c40a5a9fdc1b",
      "label": "Text with image banner row ${ title.length \u003E 0 ? title : \u0027\u0027}",
      "settingsElementTypeKey": "a3f5519d-10d9-45a4-aa7a-33c76a5bb005"
    },
    {
      "contentElementTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "settingsElementTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "label": "Single image row ${ title.length \u003E 0 ? title : \u0027\u0027}"
    },
    {
      "contentElementTypeKey": "6b754066-def7-46c5-8894-5bf44c10c96e",
      "label": "Engagement Card Items",
      "settingsElementTypeKey": "5900e2e9-6891-43a1-bce9-d9ac368106f8"
    }
  ]
}]]></Config>
</DataType>