<?xml version="1.0" encoding="utf-8"?>
<DataType Key="55a394c5-ac5f-4686-a202-54ccf0f079cd" Alias="[BlockList] Sub Content With Left Nav" Level="1">
  <Info>
    <Name>[BlockList] Sub Content With Left Nav</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "932de0fd-b8fe-4ae9-8763-261e864f917c",
      "label": "{=caption}",
      "settingsElementTypeKey": "a3d2892e-7498-440c-8dbb-d9dbc3a0efbe"
    },
    {
      "contentElementTypeKey": "64b4e1d1-ed6f-40ae-bca9-144d77e37189",
      "label": "{=title}",
      "settingsElementTypeKey": "8c0a8ab1-8211-4c64-8c0d-3b3801ae221e"
    },
    {
      "contentElementTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "label": "Single image row ${ title.length \u003E 0 ? title : \u0027\u0027}",
      "settingsElementTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd"
    },
    {
      "contentElementTypeKey": "a29ecc6f-d8fb-4c95-88b9-8b940f6c3cd9",
      "settingsElementTypeKey": "c71687d5-4b27-4c39-b389-7ee98adb9882",
      "label": "Double image row ${ title.length \u003E 0 ? title : \u0027\u0027}"
    },
    {
      "contentElementTypeKey": "e1ed1653-d5fe-4342-9557-49ddd59504eb",
      "label": "{=caption}",
      "settingsElementTypeKey": "1b2d1c33-59a0-4840-bf35-7b174fbf20be"
    }
  ]
}]]></Config>
</DataType>