<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9108e019-e000-4b96-916d-63cad61bd3af" Alias="[BlockList] About Home Item" Level="1">
  <Info>
    <Name>[BlockList] About Home Item</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f7603e91-1b1d-4605-874b-8964075405b2",
      "label": "{title}",
      "settingsElementTypeKey": "e064b47e-e84e-4504-995f-53c45a2b81f0"
    }
  ]
}]]></Config>
</DataType>