<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f2f80320-258c-4e72-8b36-c974a575768e" Alias="[BlockList] Design Code List" Level="1">
  <Info>
    <Name>[BlockList] Design Code List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d766ba62-8c3e-4fc6-91b7-06a60dcacc07",
      "label": "${ sectionTitle.length \u003E 0 ? sectionTitle : \u0027List Section\u0027} ",
      "settingsElementTypeKey": "701d90a3-9f23-4891-963c-f7f883b28a70"
    }
  ]
}]]></Config>
</DataType>