<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0b50b682-5798-4c0f-bf5c-0628299930ed" Alias="[BlockList] Design Code List Sections" Level="1">
  <Info>
    <Name>[BlockList] Design Code List Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a",
      "label": "Rich Text Content",
      "settingsElementTypeKey": "a37fb4d4-2673-4526-b49c-358ae5cd8e7d"
    },
    {
      "contentElementTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "label": "Single Image Row",
      "settingsElementTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd"
    },
    {
      "contentElementTypeKey": "a29ecc6f-d8fb-4c95-88b9-8b940f6c3cd9",
      "settingsElementTypeKey": "c71687d5-4b27-4c39-b389-7ee98adb9882"
    }
  ]
}]]></Config>
</DataType>