<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c6744302-58e4-414f-a8b6-3d8267c9b411" Alias="[BlockList] Accordion Card Item" Level="1">
  <Info>
    <Name>[BlockList] Accordion Card Item</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a156b35c-5261-4371-8a1f-e71292fb0920",
      "label": "{=title}",
      "settingsElementTypeKey": "345c4d30-f9b7-4036-a3cd-9dde6e19ca13"
    }
  ]
}]]></Config>
</DataType>