<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bc4cbe4f-84f8-4e4c-9fcb-060b8fc6bde5" Alias="[BlockList] Left Side Navigation Item" Level="1">
  <Info>
    <Name>[BlockList] Left Side Navigation Item</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9e595060-7fda-46a5-b6a3-315b9ae1672e",
      "label": "{=title}",
      "settingsElementTypeKey": "0732154d-415f-4048-9236-59d408a6c841"
    }
  ]
}]]></Config>
</DataType>