<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6426919c-024c-4f0d-a6bf-cc9c65e6af3c" Alias="[BlockList] Engagement Card Item" Level="1">
  <Info>
    <Name>[BlockList] Engagement Card Item</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ffaefce3-19d5-43ca-99f8-209258ce6284",
      "label": "${previewTitle}",
      "settingsElementTypeKey": "cabe2a31-e9b6-4e7b-b775-bbc7279d6643"
    }
  ]
}]]></Config>
</DataType>