<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f5d660b6-4e84-47ba-a280-0c9e1fcb8cb0" Alias="[Checkbox List] Development Scales" Level="1">
  <Info>
    <Name>[Checkbox List] Development Scales</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.CheckBoxList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Householder Applications",
    "Minor Residential Applications (1-9 homes)",
    "Major Residential Applications (10\u002B homes)",
    "Minor Employment Applications",
    "Major Employment Applications",
    "Other Major Applications"
  ]
}]]></Config>
</DataType>