<?xml version="1.0" encoding="utf-8"?>
<DataType Key="81a7f7fe-4c7c-4af0-ba81-6bccbfaa641f" Alias="[ContentPicker] Single URL Picker" Level="1">
  <Info>
    <Name>[ContentPicker] Single URL Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>