<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ac5f9c06-0e12-4a8f-8f0c-f8e2d6ebd7b1" Alias="[Dropdown] Schema Picker" Level="1">
  <Info>
    <Name>[Dropdown] Schema Picker</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Strengthening character and context (purple)",
    "Sustainable and resilient places (green)",
    "Welcoming places (pink)",
    "Streets for people (blue)",
    "Healthy and inclusive homes (orange)",
    "Attractive places to work (gold)",
    "Default"
  ]
}]]></Config>
</DataType>