<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d3fdfca2-64a8-41a4-8c1a-dead8e3b9c60" Alias="[DropDown] Code Type" Level="1">
  <Info>
    <Name>[DropDown] Code Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Design Code",
    "Guidance"
  ]
}]]></Config>
</DataType>