<?xml version="1.0" encoding="utf-8"?>
<DataType Key="201902e0-a108-4dde-90ad-ccd4ecae2e56" Alias="[RichText] Design Table Row" Level="1">
  <Info>
    <Name>[RichText] Design Table Row</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Tiptap</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "extensions": [
    "Umb.Tiptap.RichTextEssentials",
    "Umb.Tiptap.Table",
    "Umb.Tiptap.Superscript"
  ],
  "maxImageSize": 500,
  "overlaySize": "medium",
  "toolbar": [
    [
      [
        "Umb.Tiptap.Toolbar.SourceEditor",
        "Umb.Tiptap.Toolbar.Superscript"
      ],
      [
        "Umb.Tiptap.Toolbar.Table",
        "Umb.Tiptap.Toolbar.Redo",
        "Umb.Tiptap.Toolbar.Undo"
      ]
    ]
  ]
}]]></Config>
</DataType>