<?xml version="1.0" encoding="utf-8"?>
<DataType Key="af38dbb4-bc03-4cac-8398-4479a11a069e" Alias="[XmlSiteMapSettings] Search Engine Relative Priority" Level="1">
  <Info>
    <Name>[XmlSiteMapSettings] Search Engine Relative Priority</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "initVal1": 0.5,
  "initVal2": 0,
  "maxVal": 1,
  "minVal": 0,
  "step": 0.1
}]]></Config>
</DataType>