<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2f92f14b-b7d9-441c-835e-3efcd60c4aee" Alias="[XmlSiteMapSettings] Search Engine Change Frequency" Level="1">
  <Info>
    <Name>[XmlSiteMapSettings] Search Engine Change Frequency</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "always",
    "hourly",
    "daily",
    "weekly",
    "monthly",
    "yearly",
    "never"
  ]
}]]></Config>
</DataType>