<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d1c0034d-cb06-4ee7-a001-41fed82c78a3" Alias="[XmlSiteMapSettings] Hide From Xml Sitemap" Level="1">
  <Info>
    <Name>[XmlSiteMapSettings] Hide From Xml Sitemap</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>