<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c6ebd1fb-1d7d-46e7-b112-83b53945250a" Alias="contentPage" Level="2">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-categories</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Content</Folder>
    <Compositions>
      <Composition Key="07747808-4090-4edc-8f19-afb614d2988f">metadataComposition</Composition>
      <Composition Key="c8bd0fd7-7ac2-4844-bc0a-e161f26f90ec">pageTitleComposition</Composition>
      <Composition Key="5f8a0b05-e25f-4e45-813e-dcfe0dbbbd94">siteNavigationComposition</Composition>
      <Composition Key="194c49ef-5a5e-4329-b867-b09a72e71bbc">xmlSitemapSettingsComposition</Composition>
    </Compositions>
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b90fa3ec-1749-4195-bac9-1d0ffc889b6f">contentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="932d4425-3fa0-4a81-a34f-5600790d9759" SortOrder="0">subContentWithLeftNavPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>997a352d-5875-42f7-a0ea-0f2213eadc4a</Key>
      <Name>Main Content</Name>
      <Alias>mainContent</Alias>
      <Definition>58be44b1-4183-49bf-8ead-3db92ff78c98</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b910b32f-679a-4db3-95c8-347e700c0e2e</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>