<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ffaefce3-19d5-43ca-99f8-209258ce6284" Alias="engagementCardItem" Level="3">
  <Info>
    <Name>Engagement Card Item</Name>
    <Icon>icon-screensharing</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Models</Folder>
    <Compositions>
      <Composition Key="fe4b9415-7fdf-4972-92c2-44411efab2aa">previewIconComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5ec7dadc-658b-4ea7-9036-1e5b6d8dba95</Key>
      <Name>Card URL</Name>
      <Alias>cardUrl</Alias>
      <Definition>81a7f7fe-4c7c-4af0-ba81-6bccbfaa641f</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="preview">Preview</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5da15a78-9a76-4e10-a6b8-94e2fc491b0f</Key>
      <Caption>Preview</Caption>
      <Alias>preview</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>