<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ef6bb9e8-f5f6-40e2-8bac-30ecc44461a4" Alias="page500Error" Level="2">
  <Info>
    <Name>Page 500 Error</Name>
    <Icon>icon-alert-alt</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Site+Function</Folder>
    <Compositions>
      <Composition Key="c8bd0fd7-7ac2-4844-bc0a-e161f26f90ec">pageTitleComposition</Composition>
      <Composition Key="194c49ef-5a5e-4329-b867-b09a72e71bbc">xmlSitemapSettingsComposition</Composition>
    </Compositions>
    <DefaultTemplate>Page500Error</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="82820da8-3d5b-4536-a866-e35aa089d091">Page500Error</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>76362403-b10b-4f24-9c70-475362e4a1c1</Key>
      <Name>Page Content</Name>
      <Alias>pageContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9d99c42f-5097-47a2-83b3-31e3fdec16c4</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>