<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c8bd0fd7-7ac2-4844-bc0a-e161f26f90ec" Alias="pageTitleComposition" Level="2">
  <Info>
    <Name>Page Title Composition</Name>
    <Icon>icon-plugin color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8391b5fd-bac4-4b3f-99f3-56a1cd4dbb50</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A title that usually appears at the top of the main content]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="title">Title</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>43a518d4-20b0-4b62-b38c-5c9720938b70</Key>
      <Caption>Title</Caption>
      <Alias>title</Alias>
      <Type>Tab</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>