<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a" Alias="richTextRow" Level="3">
  <Info>
    <Name>Rich Text Row</Name>
    <Icon>icon-font color-text</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Models</Folder>
    <Compositions>
      <Composition Key="13ce2e20-a541-483b-a257-15f6d57aa51e">richTextRowComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>