<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5f8a0b05-e25f-4e45-813e-dcfe0dbbbd94" Alias="siteNavigationComposition" Level="2">
  <Info>
    <Name>Site Navigation Composition</Name>
    <Icon>icon-plugin color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ed932d2a-f944-4045-9a4d-bfe08290ab70</Key>
      <Name>Hide from Navigation</Name>
      <Alias>hideFromNavigation</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>19</SortOrder>
      <Tab Alias="siteNavigation">Site Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>39d6f0c1-f677-411d-853f-1444c5f122e0</Key>
      <Caption>Site Navigation</Caption>
      <Alias>siteNavigation</Alias>
      <Type>Tab</Type>
      <SortOrder>19</SortOrder>
    </Tab>
  </Tabs>
</ContentType>