<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="269a1dab-8415-4e27-8b86-0002681d4c00" Alias="statusCodes" Level="2">
  <Info>
    <Name>Statuscodes</Name>
    <Icon>icon-wrong</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Site+Function</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="ef6bb9e8-f5f6-40e2-8bac-30ecc44461a4" SortOrder="0">page500Error</ContentType>
    <ContentType Key="b8d40af2-8ae3-434e-a165-b93699a66e50" SortOrder="1">pageNotFound</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>