<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="932d4425-3fa0-4a81-a34f-5600790d9759" Alias="subContentWithLeftNavPage" Level="2">
  <Info>
    <Name>Sub Content With Left Nav Page</Name>
    <Icon>icon-app</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Content</Folder>
    <Compositions>
      <Composition Key="07747808-4090-4edc-8f19-afb614d2988f">metadataComposition</Composition>
      <Composition Key="c8bd0fd7-7ac2-4844-bc0a-e161f26f90ec">pageTitleComposition</Composition>
      <Composition Key="fe4b9415-7fdf-4972-92c2-44411efab2aa">previewIconComposition</Composition>
      <Composition Key="194c49ef-5a5e-4329-b867-b09a72e71bbc">xmlSitemapSettingsComposition</Composition>
    </Compositions>
    <DefaultTemplate>SubContentWithLeftNavPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4f904ddb-dc2d-41ae-8444-4fe3350a6e7a">SubContentWithLeftNavPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d9c40c0e-f2eb-4ab0-9e20-beb9eb3f4189</Key>
      <Name>Main Content</Name>
      <Alias>mainContent</Alias>
      <Definition>55a394c5-ac5f-4686-a202-54ccf0f079cd</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>984a86d1-502d-4e92-827b-1824bbdd07fd</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>