<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7c80a2c9-c5c0-40b5-811c-283fdb48ef5f" Alias="subContentPage" Level="2">
  <Info>
    <Name>Sub Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Content</Folder>
    <Compositions>
      <Composition Key="07747808-4090-4edc-8f19-afb614d2988f">metadataComposition</Composition>
      <Composition Key="c8bd0fd7-7ac2-4844-bc0a-e161f26f90ec">pageTitleComposition</Composition>
      <Composition Key="194c49ef-5a5e-4329-b867-b09a72e71bbc">xmlSitemapSettingsComposition</Composition>
    </Compositions>
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b90fa3ec-1749-4195-bac9-1d0ffc889b6f">contentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>21372eea-245f-480a-bd8a-508b6e9f3702</Key>
      <Name>Main Content</Name>
      <Alias>mainContent</Alias>
      <Definition>9e10399a-2bdb-47a0-bfcd-072d3789711d</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>21aa9c23-5579-4f33-a799-0aec53b9e911</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>