<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0b3f27ef-4256-4939-a872-c40a5a9fdc1b" Alias="textWithImageBannerRow" Level="3">
  <Info>
    <Name>Text with Image Banner Row</Name>
    <Icon>icon-image-up</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Models</Folder>
    <Compositions>
      <Composition Key="0d1ec331-249b-4335-8c30-7832487f8996">imageRowComposition</Composition>
      <Composition Key="13ce2e20-a541-483b-a257-15f6d57aa51e">richTextRowComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>