<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="194c49ef-5a5e-4329-b867-b09a72e71bbc" Alias="xmlSitemapSettingsComposition" Level="2">
  <Info>
    <Name>Xml Sitemap Settings Composition</Name>
    <Icon>icon-plugin color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>032b6cbe-dd5c-4de4-b753-85b648d9c904</Key>
      <Name>Hide From Xml Sitemap</Name>
      <Alias>hideFromXmlSitemap</Alias>
      <Definition>d1c0034d-cb06-4ee7-a001-41fed82c78a3</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="xmlSitemapSettings">Xml Sitemap Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2e7e93dc-6a17-4bd3-816f-75ff66943099</Key>
      <Name>Search Engine Change Frequency</Name>
      <Alias>searchEngineChangeFrequency</Alias>
      <Definition>2f92f14b-b7d9-441c-835e-3efcd60c4aee</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="xmlSitemapSettings">Xml Sitemap Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3ecbee73-a2cc-4719-9027-84856d93844d</Key>
      <Name>Search Engine Relative Priority</Name>
      <Alias>searchEngineRelativePriority</Alias>
      <Definition>af38dbb4-bc03-4cac-8398-4479a11a069e</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="xmlSitemapSettings">Xml Sitemap Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>aa3fb7e7-fc12-4ca5-b833-ce9c269ed92e</Key>
      <Caption>Xml Sitemap Settings</Caption>
      <Alias>xmlSitemapSettings</Alias>
      <Type>Tab</Type>
      <SortOrder>20</SortOrder>
    </Tab>
  </Tabs>
</ContentType>