<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fe648bf0-3fff-4467-a491-1be3c4df6323" Alias="xmlSiteMap" Level="2">
  <Info>
    <Name>Xml Site Map</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Site+Function</Folder>
    <Compositions />
    <DefaultTemplate>XmlSiteMap</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="63303788-f1b6-41e8-a15c-1f477a70850a">XmlSiteMap</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>88fad8fc-1cad-4484-83e0-ce0a5e3bb92a</Key>
      <Name>Excluded Document Types</Name>
      <Alias>excludedDocumentTypes</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Comma separated list of document type names to exclude from the sitemap]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sitemapConfiguration">Sitemap Configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>aa7caf0a-e3f7-4abd-8305-f1d71b202e9a</Key>
      <Name>Max Site Map Depth</Name>
      <Alias>maxSiteMapDepth</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="sitemapConfiguration">Sitemap Configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d3596b89-1c20-431b-a35b-ed98741f9715</Key>
      <Caption>Sitemap Configuration</Caption>
      <Alias>sitemapConfiguration</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>