<?xml version="1.0" encoding="utf-8"?>
<Media Key="2576648d-d30f-461b-a7a7-37c380880ba9" Alias="01-difference-planning-and-building-regulations-1024x.jpg" Level="2">
  <Info>
    <Parent Key="fd81a1f1-0355-4a96-a3bc-dd6b189360af">General</Parent>
    <Path>/General/differencePlanningAndBuildingRegulations1024xjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-04T15:40:50</CreateDate>
    <NodeName Default="01-difference-planning-and-building-regulations-1024x.jpg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/akxdbe1g/01-difference-planning-and-building-regulations-1024x.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>