<?xml version="1.0" encoding="utf-8"?>
<Media Key="33ef98a5-aa35-4243-9efe-aa7582b005e0" Alias="Aerial view of Castleford.png" Level="2">
  <Info>
    <Parent Key="dccef18f-0c21-440c-aca6-5d7cbae3d8b7">Design Code Images</Parent>
    <Path>/DesignCodeImages/AerialViewOfCastlefordpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-09T10:44:17</CreateDate>
    <NodeName Default="Aerial view of Castleford.png" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fjjktbk2/aerial-view-of-castleford.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>