<?xml version="1.0" encoding="utf-8"?>
<Media Key="d26415d5-a186-4fcd-bf3e-2d6f302562d9" Alias="appendix1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/appendix1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-30T11:42:25</CreateDate>
    <NodeName Default="appendix1.png" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/llpdezhp/appendix1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>