<?xml version="1.0" encoding="utf-8"?>
<Media Key="b35385b3-d631-4d67-a93c-133285bc4b4b" Alias="B1-3.png" Level="3">
  <Info>
    <Parent Key="031912aa-2605-4500-a83a-642bf4499377">Topics</Parent>
    <Path>/DesignCodeImages/Topics/B13png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-10T09:54:03</CreateDate>
    <NodeName Default="B1-3.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": [],
  "src": "/media/hrhbkbky/b1-3-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>