<?xml version="1.0" encoding="utf-8"?>
<Media Key="2f9dc691-5aff-4f81-93b4-c3292e3e6f22" Alias="B1-4.png" Level="3">
  <Info>
    <Parent Key="031912aa-2605-4500-a83a-642bf4499377">Topics</Parent>
    <Path>/DesignCodeImages/Topics/B14png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-10T10:13:26</CreateDate>
    <NodeName Default="B1-4.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": [],
  "src": "/media/dygnxgmw/b14.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>