<?xml version="1.0" encoding="utf-8"?>
<Media Key="59863ed7-9175-4e7b-996a-89408a4555b6" Alias="B1.1" Level="3">
  <Info>
    <Parent Key="031912aa-2605-4500-a83a-642bf4499377">Topics</Parent>
    <Path>/DesignCodeImages/Topics/B11</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-22T12:07:27</CreateDate>
    <NodeName Default="B1.1" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>