<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0c5ecf3-7e00-4f65-8b99-fda303e25bdc" Alias="B1.2" Level="3">
  <Info>
    <Parent Key="031912aa-2605-4500-a83a-642bf4499377">Topics</Parent>
    <Path>/DesignCodeImages/Topics/B12</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-21T14:57:11</CreateDate>
    <NodeName Default="B1.2" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>