<?xml version="1.0" encoding="utf-8"?>
<Media Key="a38a1bd1-e6e7-40e9-9529-e0524059435c" Alias="B2.png" Level="3">
  <Info>
    <Parent Key="b9871135-2588-4650-9e89-55d6ceedccae">Chapters</Parent>
    <Path>/DesignCodeImages/Chapters/B2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-10T12:32:04</CreateDate>
    <NodeName Default="B2.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/l1inyfmo/b2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>