<?xml version="1.0" encoding="utf-8"?>
<Media Key="add22d5b-c5dc-4f7b-9372-feb58d55ec67" Alias="B3-2a.png" Level="3">
  <Info>
    <Parent Key="031912aa-2605-4500-a83a-642bf4499377">Topics</Parent>
    <Path>/DesignCodeImages/Topics/B32apng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-11T10:24:23</CreateDate>
    <NodeName Default="B3-2a.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0ttjig3v/b3-2a.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>