<?xml version="1.0" encoding="utf-8"?>
<Media Key="db459f31-c9ac-4a11-8d66-7098b74a179d" Alias="B4-7a.png" Level="3">
  <Info>
    <Parent Key="031912aa-2605-4500-a83a-642bf4499377">Topics</Parent>
    <Path>/DesignCodeImages/Topics/B47apng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-15T13:23:19</CreateDate>
    <NodeName Default="B4-7a.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xzkbg1of/b4-7a.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>