<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c0b382f-cf3c-4cd6-b329-606bd74759c4" Alias="B4 Streets for people.png" Level="3">
  <Info>
    <Parent Key="b9871135-2588-4650-9e89-55d6ceedccae">Chapters</Parent>
    <Path>/DesignCodeImages/Chapters/B4StreetsForPeoplepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-11T15:10:10</CreateDate>
    <NodeName Default="B4 Streets for people.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/udze0osv/b4-streets-for-people.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>