<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2b517ad-786a-4c09-9080-fbc850b6cc83" Alias="B5.1" Level="3">
  <Info>
    <Parent Key="031912aa-2605-4500-a83a-642bf4499377">Topics</Parent>
    <Path>/DesignCodeImages/Topics/B51</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-22T12:40:13</CreateDate>
    <NodeName Default="B5.1" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>