<?xml version="1.0" encoding="utf-8"?>
<Media Key="b39e79c9-cd2d-4ea7-9f46-e2e75b2caa6b" Alias="C1-13-1.png" Level="3">
  <Info>
    <Parent Key="3560f2f4-ff75-4435-9a87-c31e4f591091">Codes</Parent>
    <Path>/DesignCodeImages/Codes/C1131png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-10T10:59:21</CreateDate>
    <NodeName Default="C1-13-1.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/i0znqbke/c1-13-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>