<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8960bbc-0cb9-4e57-9415-710da1121274" Alias="C1-13-2.png" Level="3">
  <Info>
    <Parent Key="3560f2f4-ff75-4435-9a87-c31e4f591091">Codes</Parent>
    <Path>/DesignCodeImages/Codes/C1132png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-10T10:59:56</CreateDate>
    <NodeName Default="C1-13-2.png" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gpanaxwq/c1-13-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>