<?xml version="1.0" encoding="utf-8"?>
<Media Key="ff110ac9-6d2a-429e-9615-70f18940905b" Alias="C1-10-2.png" Level="3">
  <Info>
    <Parent Key="3560f2f4-ff75-4435-9a87-c31e4f591091">Codes</Parent>
    <Path>/DesignCodeImages/Codes/C1102png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-10T10:51:20</CreateDate>
    <NodeName Default="C1-10-2.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/i1afoskd/c1-10-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>