<?xml version="1.0" encoding="utf-8"?>
<Media Key="432b872d-0f01-4471-b758-749de89f1c07" Alias="C3-1b.png" Level="3">
  <Info>
    <Parent Key="3560f2f4-ff75-4435-9a87-c31e4f591091">Codes</Parent>
    <Path>/DesignCodeImages/Codes/C31bpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-11T07:37:04</CreateDate>
    <NodeName Default="C3-1b.png" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ujgh13li/c3-1b.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>