<?xml version="1.0" encoding="utf-8"?>
<Media Key="9741ffba-2b50-45e2-9078-8f772382aa1c" Alias="C3-18a.png" Level="3">
  <Info>
    <Parent Key="3560f2f4-ff75-4435-9a87-c31e4f591091">Codes</Parent>
    <Path>/DesignCodeImages/Codes/C318apng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-11T13:07:23</CreateDate>
    <NodeName Default="C3-18a.png" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gu0boijz/c3-18a.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>