<?xml version="1.0" encoding="utf-8"?>
<Media Key="55e33abc-5962-4733-ac2f-9e9246f69b36" Alias="C3-21a.png" Level="3">
  <Info>
    <Parent Key="3560f2f4-ff75-4435-9a87-c31e4f591091">Codes</Parent>
    <Path>/DesignCodeImages/Codes/C321apng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-11T13:28:43</CreateDate>
    <NodeName Default="C3-21a.png" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gpyklyyl/c3-21a.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>