<?xml version="1.0" encoding="utf-8"?>
<Media Key="27664cfa-d46f-4721-ac8a-e6af915f93e6" Alias="C3-4a.png" Level="3">
  <Info>
    <Parent Key="3560f2f4-ff75-4435-9a87-c31e4f591091">Codes</Parent>
    <Path>/DesignCodeImages/Codes/C34apng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-11T09:59:51</CreateDate>
    <NodeName Default="C3-4a.png" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/owdcbeig/c3-4a.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>