<?xml version="1.0" encoding="utf-8"?>
<Media Key="54514ff1-6159-4587-8d40-240294c86c67" Alias="C4-45d.png" Level="3">
  <Info>
    <Parent Key="3560f2f4-ff75-4435-9a87-c31e4f591091">Codes</Parent>
    <Path>/DesignCodeImages/Codes/C445dpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-15T13:45:48</CreateDate>
    <NodeName Default="C4-45d.png" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/p0cbpyrq/c4-45d.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>