<?xml version="1.0" encoding="utf-8"?>
<Media Key="e9199d05-1eda-4795-92f0-7d9b5c8f1d6e" Alias="C4-42a.png" Level="3">
  <Info>
    <Parent Key="3560f2f4-ff75-4435-9a87-c31e4f591091">Codes</Parent>
    <Path>/DesignCodeImages/Codes/C442apng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-15T13:18:42</CreateDate>
    <NodeName Default="C4-42a.png" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rjlf4x3t/c4-42a.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>