<?xml version="1.0" encoding="utf-8"?>
<Media Key="c98ac1bd-f926-4ccc-8ef1-051b9ea6f86f" Alias="C4-45a.png (1)" Level="3">
  <Info>
    <Parent Key="3560f2f4-ff75-4435-9a87-c31e4f591091">Codes</Parent>
    <Path>/DesignCodeImages/Codes/C445apng1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-15T13:44:03</CreateDate>
    <NodeName Default="C4-45a.png (1)" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gifny50p/c4-45a.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>