<?xml version="1.0" encoding="utf-8"?>
<Media Key="2357cc07-19df-4dee-b7a5-d348e596709f" Alias="C4-40a.png" Level="3">
  <Info>
    <Parent Key="07c8f8e8-2beb-44e6-a508-2001e050f31d">Guidance</Parent>
    <Path>/DesignCodeImages/Guidance/C440apng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-15T13:08:05</CreateDate>
    <NodeName Default="C4-40a.png" />
    <SortOrder>69</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/radbdfnw/c4-40a.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>