<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d3ffe9f-7775-4440-8898-bf031d47bce6" Alias="C4-45c.png" Level="3">
  <Info>
    <Parent Key="3560f2f4-ff75-4435-9a87-c31e4f591091">Codes</Parent>
    <Path>/DesignCodeImages/Codes/C445cpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-15T13:45:08</CreateDate>
    <NodeName Default="C4-45c.png" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ca0hsky2/c4-45c.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>