<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4ae1702-d76a-4f5f-93d5-3c04d19bc352" Alias="C5-2b.png" Level="3">
  <Info>
    <Parent Key="3560f2f4-ff75-4435-9a87-c31e4f591091">Codes</Parent>
    <Path>/DesignCodeImages/Codes/C52bpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-15T14:26:31</CreateDate>
    <NodeName Default="C5-2b.png" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rxopqqqd/c5-2b.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>