<?xml version="1.0" encoding="utf-8"?>
<Media Key="b843a171-7e63-45a4-887e-1567b6007c07" Alias="C5-2a.png" Level="3">
  <Info>
    <Parent Key="3560f2f4-ff75-4435-9a87-c31e4f591091">Codes</Parent>
    <Path>/DesignCodeImages/Codes/C52apng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-15T14:25:53</CreateDate>
    <NodeName Default="C5-2a.png" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5zvbkdqk/c5-2a.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>