<?xml version="1.0" encoding="utf-8"?>
<Media Key="88da44ce-fdc5-4dc8-95a3-43e6ecd0ffa7" Alias="C5-6b.png" Level="3">
  <Info>
    <Parent Key="3560f2f4-ff75-4435-9a87-c31e4f591091">Codes</Parent>
    <Path>/DesignCodeImages/Codes/C56bpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-15T16:04:24</CreateDate>
    <NodeName Default="C5-6b.png" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ighjypvm/c5-6b.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>