<?xml version="1.0" encoding="utf-8"?>
<Media Key="1896c52d-7423-4cb4-861f-117bf9e8c5da" Alias="C5-6a.png" Level="3">
  <Info>
    <Parent Key="3560f2f4-ff75-4435-9a87-c31e4f591091">Codes</Parent>
    <Path>/DesignCodeImages/Codes/C56apng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-15T16:03:53</CreateDate>
    <NodeName Default="C5-6a.png" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/uihnblsk/c5-6a.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>