<?xml version="1.0" encoding="utf-8"?>
<Media Key="b9871135-2588-4650-9e89-55d6ceedccae" Alias="Chapters" Level="2">
  <Info>
    <Parent Key="dccef18f-0c21-440c-aca6-5d7cbae3d8b7">Design Code Images</Parent>
    <Path>/DesignCodeImages/Chapters</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-09-10T15:45:40</CreateDate>
    <NodeName Default="Chapters" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>