<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e1c9fc1-d2c0-4553-92c7-721a38c5ff6f" Alias="cycleroute.jpg" Level="2">
  <Info>
    <Parent Key="fd81a1f1-0355-4a96-a3bc-dd6b189360af">General</Parent>
    <Path>/General/cycleroutejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-04T15:40:49</CreateDate>
    <NodeName Default="cycleroute.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jzkfvkfj/cycleroute.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>