<?xml version="1.0" encoding="utf-8"?>
<Media Key="f0978b01-3bc2-447f-9672-a45c0f9b42d4" Alias="demo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/demo</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-09-30T09:36:12</CreateDate>
    <NodeName Default="demo" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties />
</Media>