<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7959a32-7847-41cb-9e73-c7d919782927" Alias="Figure142" Level="4">
  <Info>
    <Parent Key="a2b517ad-786a-4c09-9080-fbc850b6cc83">B5.1</Parent>
    <Path>/DesignCodeImages/Topics/B51/Figure142</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-22T12:40:39</CreateDate>
    <NodeName Default="Figure142" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/xvingejo/figure142.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>