<?xml version="1.0" encoding="utf-8"?>
<Media Key="c0b8ec3e-e3cd-4e8a-9646-a38ac3bf79c6" Alias="Figure 5" Level="4">
  <Info>
    <Parent Key="59863ed7-9175-4e7b-996a-89408a4555b6">B1.1</Parent>
    <Path>/DesignCodeImages/Topics/B11/Figure5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-22T12:08:15</CreateDate>
    <NodeName Default="Figure 5" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/wetp23ve/figure5.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>