<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8a6037b-4afe-44bb-a4cf-d4c4a39ed610" Alias="Figure 7" Level="4">
  <Info>
    <Parent Key="b0c5ecf3-7e00-4f65-8b99-fda303e25bdc">B1.2</Parent>
    <Path>/DesignCodeImages/Topics/B12/Figure7</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-21T14:49:41</CreateDate>
    <NodeName Default="Figure 7" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/4tepa1ux/figure7.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>