<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef1cc2a2-07f9-4907-8e59-39e72fed97eb" Alias="G1-16.png" Level="3">
  <Info>
    <Parent Key="07c8f8e8-2beb-44e6-a508-2001e050f31d">Guidance</Parent>
    <Path>/DesignCodeImages/Guidance/G116png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-10T10:23:37</CreateDate>
    <NodeName Default="G1-16.png" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fuefuwmq/g1-16.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>