<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f6d6ce0-2cbd-4e01-a5cd-916054b81787" Alias="G1-12.png" Level="3">
  <Info>
    <Parent Key="07c8f8e8-2beb-44e6-a508-2001e050f31d">Guidance</Parent>
    <Path>/DesignCodeImages/Guidance/G112png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-10T10:06:27</CreateDate>
    <NodeName Default="G1-12.png" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/n4tcwoou/g1-12.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>