<?xml version="1.0" encoding="utf-8"?>
<Media Key="cbca26b4-814b-4a5e-b85d-447a5390c617" Alias="G1-10-1.png" Level="3">
  <Info>
    <Parent Key="07c8f8e8-2beb-44e6-a508-2001e050f31d">Guidance</Parent>
    <Path>/DesignCodeImages/Guidance/G1101png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-10T10:01:48</CreateDate>
    <NodeName Default="G1-10-1.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hpwiy5jc/g1-10-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>