<?xml version="1.0" encoding="utf-8"?>
<Media Key="c277297e-0971-44f6-9d0b-fc407b47c87e" Alias="G1-13.png" Level="3">
  <Info>
    <Parent Key="07c8f8e8-2beb-44e6-a508-2001e050f31d">Guidance</Parent>
    <Path>/DesignCodeImages/Guidance/G113png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-10T10:09:00</CreateDate>
    <NodeName Default="G1-13.png" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4hrdc3ay/g1-13.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>