<?xml version="1.0" encoding="utf-8"?>
<Media Key="8831e12d-4686-49f3-9f75-f0ab86cfc4f7" Alias="G1-17.png" Level="3">
  <Info>
    <Parent Key="07c8f8e8-2beb-44e6-a508-2001e050f31d">Guidance</Parent>
    <Path>/DesignCodeImages/Guidance/G117png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-10T10:33:41</CreateDate>
    <NodeName Default="G1-17.png" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/uivhopxp/g1-17.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>