<?xml version="1.0" encoding="utf-8"?>
<Media Key="e84416d4-f0a4-4d62-912e-baa937acb4e3" Alias="G1-10-2.png" Level="3">
  <Info>
    <Parent Key="07c8f8e8-2beb-44e6-a508-2001e050f31d">Guidance</Parent>
    <Path>/DesignCodeImages/Guidance/G1102png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-10T10:02:20</CreateDate>
    <NodeName Default="G1-10-2.png" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lpoaexwn/g1-10-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>