<?xml version="1.0" encoding="utf-8"?>
<Media Key="bbdd3fdd-574d-417e-b470-3ee9517b7885" Alias="G1-5-2.png" Level="3">
  <Info>
    <Parent Key="07c8f8e8-2beb-44e6-a508-2001e050f31d">Guidance</Parent>
    <Path>/DesignCodeImages/Guidance/G152png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-10T09:29:10</CreateDate>
    <NodeName Default="G1-5-2.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/kl0jwdje/g1-5-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>