<?xml version="1.0" encoding="utf-8"?>
<Media Key="7dd2fa61-74d3-4ed4-99ae-1932d4a06a99" Alias="G2-10.png" Level="3">
  <Info>
    <Parent Key="07c8f8e8-2beb-44e6-a508-2001e050f31d">Guidance</Parent>
    <Path>/DesignCodeImages/Guidance/G210png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-10T13:32:31</CreateDate>
    <NodeName Default="G2-10.png" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3yyjjs30/g2-10.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>