<?xml version="1.0" encoding="utf-8"?>
<Media Key="7171a787-61d2-4ddd-bf3c-4220dd2dcc01" Alias="G2-17b.png" Level="3">
  <Info>
    <Parent Key="07c8f8e8-2beb-44e6-a508-2001e050f31d">Guidance</Parent>
    <Path>/DesignCodeImages/Guidance/G217bpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-10T16:00:15</CreateDate>
    <NodeName Default="G2-17b.png" />
    <SortOrder>56</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bbwdpr31/g2-17b.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>