<?xml version="1.0" encoding="utf-8"?>
<Media Key="d3ec47b9-2f08-4851-9c78-f8d095116042" Alias="G2-28a.png" Level="3">
  <Info>
    <Parent Key="07c8f8e8-2beb-44e6-a508-2001e050f31d">Guidance</Parent>
    <Path>/DesignCodeImages/Guidance/G228apng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-10T17:00:45</CreateDate>
    <NodeName Default="G2-28a.png" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/g0gluzlb/g2-28a.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>