<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6c446e6-f599-4483-9550-1a50184516df" Alias="G2-33a.png" Level="3">
  <Info>
    <Parent Key="07c8f8e8-2beb-44e6-a508-2001e050f31d">Guidance</Parent>
    <Path>/DesignCodeImages/Guidance/G233apng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-10T17:17:12</CreateDate>
    <NodeName Default="G2-33a.png" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/nggieehq/g2-33a.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>