<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4e1aada-0bc8-4d3b-86bd-bec6aaa81c7a" Alias="G2-4-3.png" Level="3">
  <Info>
    <Parent Key="07c8f8e8-2beb-44e6-a508-2001e050f31d">Guidance</Parent>
    <Path>/DesignCodeImages/Guidance/G243png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-10T12:55:53</CreateDate>
    <NodeName Default="G2-4-3.png" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/kvqko2vb/g2-4-3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>