<?xml version="1.0" encoding="utf-8"?>
<Media Key="b86de967-068e-4817-aa35-153afc4a16c7" Alias="G3-18a.png" Level="3">
  <Info>
    <Parent Key="07c8f8e8-2beb-44e6-a508-2001e050f31d">Guidance</Parent>
    <Path>/DesignCodeImages/Guidance/G318apng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-11T14:46:22</CreateDate>
    <NodeName Default="G3-18a.png" />
    <SortOrder>50</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3ardwdxh/g3-18a.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>