<?xml version="1.0" encoding="utf-8"?>
<Media Key="d3e496c7-e875-4bc7-b7bb-96ce153942a3" Alias="G3-14a.png" Level="3">
  <Info>
    <Parent Key="07c8f8e8-2beb-44e6-a508-2001e050f31d">Guidance</Parent>
    <Path>/DesignCodeImages/Guidance/G314apng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-11T12:07:37</CreateDate>
    <NodeName Default="G3-14a.png" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jbokezi2/g3-14a.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>