<?xml version="1.0" encoding="utf-8"?>
<Media Key="31f8a61d-f905-467f-8d66-51bf5886d1ce" Alias="G3-7b.png" Level="3">
  <Info>
    <Parent Key="07c8f8e8-2beb-44e6-a508-2001e050f31d">Guidance</Parent>
    <Path>/DesignCodeImages/Guidance/G37bpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-11T08:00:09</CreateDate>
    <NodeName Default="G3-7b.png" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/sjwl3b1m/g3-7b.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>