<?xml version="1.0" encoding="utf-8"?>
<Media Key="789278c9-ad7c-4813-b671-b1c5d29d73a6" Alias="G4-18a.png" Level="3">
  <Info>
    <Parent Key="07c8f8e8-2beb-44e6-a508-2001e050f31d">Guidance</Parent>
    <Path>/DesignCodeImages/Guidance/G418apng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-15T12:18:01</CreateDate>
    <NodeName Default="G4-18a.png" />
    <SortOrder>66</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/i0znjtqv/g4-18a.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>