<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e918248-3d07-412d-8b77-ab0697b581bb" Alias="G4-1c.png" Level="3">
  <Info>
    <Parent Key="07c8f8e8-2beb-44e6-a508-2001e050f31d">Guidance</Parent>
    <Path>/DesignCodeImages/Guidance/G41cpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-15T07:55:20</CreateDate>
    <NodeName Default="G4-1c.png" />
    <SortOrder>54</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": [],
  "src": "/media/y3enpkdo/g4-3c.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>