<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a1f9034-faf6-4b60-a0eb-88e3a19cc555" Alias="G4-14a.png" Level="3">
  <Info>
    <Parent Key="07c8f8e8-2beb-44e6-a508-2001e050f31d">Guidance</Parent>
    <Path>/DesignCodeImages/Guidance/G414apng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-15T12:06:52</CreateDate>
    <NodeName Default="G4-14a.png" />
    <SortOrder>64</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xnnftle5/g4-14a.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>