<?xml version="1.0" encoding="utf-8"?>
<Media Key="33356dfd-981a-45d5-8d46-96ecda8151c2" Alias="G4-14b.png" Level="3">
  <Info>
    <Parent Key="07c8f8e8-2beb-44e6-a508-2001e050f31d">Guidance</Parent>
    <Path>/DesignCodeImages/Guidance/G414bpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-15T12:07:30</CreateDate>
    <NodeName Default="G4-14b.png" />
    <SortOrder>65</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/okthhblt/g4-14b.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>