<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3acb2d9-be21-4d2d-89be-fab15211ae82" Alias="G4-1b.png" Level="3">
  <Info>
    <Parent Key="07c8f8e8-2beb-44e6-a508-2001e050f31d">Guidance</Parent>
    <Path>/DesignCodeImages/Guidance/G41bpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-15T07:54:22</CreateDate>
    <NodeName Default="G4-1b.png" />
    <SortOrder>55</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": [],
  "src": "/media/kz2ou3ki/g4-3b.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>