<?xml version="1.0" encoding="utf-8"?>
<Media Key="c9748994-e112-4bc0-bbb3-5608a247cf97" Alias="G4-22a.png" Level="3">
  <Info>
    <Parent Key="07c8f8e8-2beb-44e6-a508-2001e050f31d">Guidance</Parent>
    <Path>/DesignCodeImages/Guidance/G422apng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-15T12:43:15</CreateDate>
    <NodeName Default="G4-22a.png" />
    <SortOrder>68</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dnbde511/g4-22a.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>