<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f7c6964-0a65-4420-8b96-30c340e9b584" Alias="G4-4a.png" Level="3">
  <Info>
    <Parent Key="07c8f8e8-2beb-44e6-a508-2001e050f31d">Guidance</Parent>
    <Path>/DesignCodeImages/Guidance/G44apng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-15T10:31:36</CreateDate>
    <NodeName Default="G4-4a.png" />
    <SortOrder>59</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3ordv4im/g4-4a.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>