<?xml version="1.0" encoding="utf-8"?>
<Media Key="815588a3-847f-4b93-8f52-463968b9f862" Alias="G4-5a.png" Level="3">
  <Info>
    <Parent Key="07c8f8e8-2beb-44e6-a508-2001e050f31d">Guidance</Parent>
    <Path>/DesignCodeImages/Guidance/G45apng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-15T10:35:28</CreateDate>
    <NodeName Default="G4-5a.png" />
    <SortOrder>60</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/frbbgnyw/g4-5a.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>