<?xml version="1.0" encoding="utf-8"?>
<Media Key="3a2f0da3-a9aa-4bf0-b2fd-2445695e2a9f" Alias="G4-8a.png" Level="3">
  <Info>
    <Parent Key="07c8f8e8-2beb-44e6-a508-2001e050f31d">Guidance</Parent>
    <Path>/DesignCodeImages/Guidance/G48apng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-15T10:49:26</CreateDate>
    <NodeName Default="G4-8a.png" />
    <SortOrder>61</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ftdhtdgd/g4-8a.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>