<?xml version="1.0" encoding="utf-8"?>
<Media Key="5385827a-4126-4f2c-a599-aeb8bc07f5f7" Alias="G4-9b.png" Level="3">
  <Info>
    <Parent Key="07c8f8e8-2beb-44e6-a508-2001e050f31d">Guidance</Parent>
    <Path>/DesignCodeImages/Guidance/G49bpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-15T10:56:31</CreateDate>
    <NodeName Default="G4-9b.png" />
    <SortOrder>63</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4vemhzkp/g4-9b.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>