<?xml version="1.0" encoding="utf-8"?>
<Media Key="243d4f2d-f3af-4a46-a53c-3836f765682b" Alias="G5-11b.png" Level="3">
  <Info>
    <Parent Key="07c8f8e8-2beb-44e6-a508-2001e050f31d">Guidance</Parent>
    <Path>/DesignCodeImages/Guidance/G511bpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-15T15:41:34</CreateDate>
    <NodeName Default="G5-11b.png" />
    <SortOrder>79</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ukchxewg/g5-11b.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>