<?xml version="1.0" encoding="utf-8"?>
<Media Key="8bafa0fd-0dfe-4148-bd05-9521ff8336f5" Alias="G5-11a.png" Level="3">
  <Info>
    <Parent Key="07c8f8e8-2beb-44e6-a508-2001e050f31d">Guidance</Parent>
    <Path>/DesignCodeImages/Guidance/G511apng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-15T15:41:11</CreateDate>
    <NodeName Default="G5-11a.png" />
    <SortOrder>78</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ojvospmx/g5-11a.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>