<?xml version="1.0" encoding="utf-8"?>
<Media Key="45bb8d58-6f26-4068-af38-5e7e73c6a473" Alias="G5-14a.png" Level="3">
  <Info>
    <Parent Key="07c8f8e8-2beb-44e6-a508-2001e050f31d">Guidance</Parent>
    <Path>/DesignCodeImages/Guidance/G514apng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-15T15:51:52</CreateDate>
    <NodeName Default="G5-14a.png" />
    <SortOrder>81</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/03dp120p/g5-14a.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>