<?xml version="1.0" encoding="utf-8"?>
<Media Key="3546d275-45e6-4a2d-a0b0-69c7770b2a25" Alias="G5-8c.png" Level="3">
  <Info>
    <Parent Key="07c8f8e8-2beb-44e6-a508-2001e050f31d">Guidance</Parent>
    <Path>/DesignCodeImages/Guidance/G58cpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-15T15:30:08</CreateDate>
    <NodeName Default="G5-8c.png" />
    <SortOrder>74</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5imaba2p/g5-8c.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>