<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2d9a05f-3db2-4a9f-996b-08d540369d1f" Alias="G5-8f.png" Level="3">
  <Info>
    <Parent Key="07c8f8e8-2beb-44e6-a508-2001e050f31d">Guidance</Parent>
    <Path>/DesignCodeImages/Guidance/G58fpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-15T15:32:27</CreateDate>
    <NodeName Default="G5-8f.png" />
    <SortOrder>77</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0bvj43g1/g5-8f.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>