<?xml version="1.0" encoding="utf-8"?>
<Media Key="fd81a1f1-0355-4a96-a3bc-dd6b189360af" Alias="General" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/General</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-09-10T15:37:14</CreateDate>
    <NodeName Default="General" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties />
</Media>