<?xml version="1.0" encoding="utf-8"?>
<Media Key="07c8f8e8-2beb-44e6-a508-2001e050f31d" Alias="Guidance" Level="2">
  <Info>
    <Parent Key="dccef18f-0c21-440c-aca6-5d7cbae3d8b7">Design Code Images</Parent>
    <Path>/DesignCodeImages/Guidance</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-09-10T15:33:23</CreateDate>
    <NodeName Default="Guidance" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>