<?xml version="1.0" encoding="utf-8"?>
<Media Key="5f215822-5db9-4d2c-a426-f0a75f057789" Alias="intro.png" Level="2">
  <Info>
    <Parent Key="fd81a1f1-0355-4a96-a3bc-dd6b189360af">General</Parent>
    <Path>/General/intropng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-09T14:46:23</CreateDate>
    <NodeName Default="intro.png" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vwjgp0oq/intro.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>