<?xml version="1.0" encoding="utf-8"?>
<Media Key="a93d4bc8-edff-4690-8968-bface042bc63" Alias="Strengthening Local Character &amp; Context" Level="2">
  <Info>
    <Parent Key="fd81a1f1-0355-4a96-a3bc-dd6b189360af">General</Parent>
    <Path>/General/StrengtheningLocalCharacterContext</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-05T15:15:10</CreateDate>
    <NodeName Default="Strengthening Local Character &amp; Context" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/i4ahwh2w/items-7.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>