<?xml version="1.0" encoding="utf-8"?>
<Media Key="65bb5f5d-243f-4836-8537-c59980122902" Alias="Sub-Topics" Level="2">
  <Info>
    <Parent Key="dccef18f-0c21-440c-aca6-5d7cbae3d8b7">Design Code Images</Parent>
    <Path>/DesignCodeImages/SubTopics</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-09-10T15:46:01</CreateDate>
    <NodeName Default="Sub-Topics" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>