<?xml version="1.0" encoding="utf-8"?>
<Media Key="904bffd3-f90f-4de8-9b0a-bc2d69755f34" Alias="subfolder1" Level="2">
  <Info>
    <Parent Key="f0978b01-3bc2-447f-9672-a45c0f9b42d4">demo</Parent>
    <Path>/demo/subfolder1</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-09-30T09:36:28</CreateDate>
    <NodeName Default="subfolder1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>