<?xml version="1.0" encoding="utf-8"?>
<Media Key="031912aa-2605-4500-a83a-642bf4499377" Alias="Topics" Level="2">
  <Info>
    <Parent Key="dccef18f-0c21-440c-aca6-5d7cbae3d8b7">Design Code Images</Parent>
    <Path>/DesignCodeImages/Topics</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-09-10T15:45:52</CreateDate>
    <NodeName Default="Topics" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>