<?xml version="1.0" encoding="utf-8"?>
<Media Key="ede6f190-8fd5-4f6f-bd50-f2aaf86cacf1" Alias="welcoming.png" Level="2">
  <Info>
    <Parent Key="fd81a1f1-0355-4a96-a3bc-dd6b189360af">General</Parent>
    <Path>/General/welcomingpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-04T15:39:14</CreateDate>
    <NodeName Default="welcoming.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/d23law32/welcoming.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>