<?xml version="1.0" encoding="utf-8"?>
<Content Key="bcdd8415-87a5-4359-84d2-fa182fc94f45" Alias="404" Level="2">
  <Info>
    <Parent Key="5ef90e50-7af8-412a-8c37-4ffec22c0c04">StatusCodes</Parent>
    <Path>/StatusCodes/</Path>
    <Trashed>false</Trashed>
    <ContentType>pageNotFound</ContentType>
    <CreateDate>2025-11-11T09:21:02</CreateDate>
    <NodeName Default="404" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2f490e1e-31a2-48b1-a776-d93aa93eca55">PageNotFound</Template>
  </Info>
  <Properties>
    <hideFromXmlSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXmlSitemap>
    <pageContent>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ESorry the page you were looking for couldn\u0027t be found.\u003C/p\u003E"
}]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Page Not Found]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>