<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d75d814-22d6-4da6-84cb-c8353d07d07d" Alias="500" Level="2">
  <Info>
    <Parent Key="5ef90e50-7af8-412a-8c37-4ffec22c0c04">StatusCodes</Parent>
    <Path>/StatusCodes/</Path>
    <Trashed>false</Trashed>
    <ContentType>page500Error</ContentType>
    <CreateDate>2025-11-10T14:13:06</CreateDate>
    <NodeName Default="500" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="82820da8-3d5b-4536-a866-e35aa089d091">Page500Error</Template>
  </Info>
  <Properties>
    <hideFromXmlSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXmlSitemap>
    <pageContent>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ESorry, there has been an error accessing this page. Please try again later.\u003C/p\u003E"
}]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Internal Error]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>