<?xml version="1.0" encoding="utf-8"?>
<Content Key="06371f79-474c-4c8a-a670-ce917dc29087" Alias="Appendixes" Level="2">
  <Info>
    <Parent Key="8b2d6b32-b15f-4026-9848-3e4ef7c6c69b">Home Page</Parent>
    <Path>/HomePage/Appendixes</Path>
    <Trashed>false</Trashed>
    <ContentType>appendixHome</ContentType>
    <CreateDate>2025-10-29T09:36:29</CreateDate>
    <NodeName Default="Appendixes" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4aa566c2-546d-4351-8d94-274680071fb0">appendixHome</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[Appendices]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Appendices]]></Value>
    </metaTitle>
    <previewOrder>
      <Value><![CDATA[0]]></Value>
    </previewOrder>
    <previewTitle>
      <Value><![CDATA[Appendices]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>