<?xml version="1.0" encoding="utf-8"?>
<Content Key="7d30b613-92c1-43fb-9714-b67e89586a10" Alias="B1 Strengthening local character and context" Level="3">
  <Info>
    <Parent Key="b6e47bc0-62e5-471f-bb5c-4d47ccc05bfd">Chapter List</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext</Path>
    <Trashed>false</Trashed>
    <ContentType>chapterPage</ContentType>
    <CreateDate>2025-09-03T12:53:18</CreateDate>
    <NodeName Default="B1 Strengthening local character and context" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4b43efc7-390a-4478-94ea-cbcca3376c73">ChapterPage</Template>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[B1 Strengthening local character and context]]></Value>
    </caption>
    <content>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EThe unique character and context of our local areas play a big part in making the District a great place to be. The codes within this section are here to help applicants think about what makes an area special and how to build upon its strengths. They will also help to shape design ideas and outcomes that truly fit and enhance the local context when considering places and spaces.\u003C/p\u003E"
}]]></Value>
    </content>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <imageAltText>
      <Value><![CDATA[Figure 5: Aerial view across Castleford]]></Value>
    </imageAltText>
    <imagePicker>
      <Value><![CDATA[[
  {
    "key": "c4cda961-5192-4e15-a18e-8c21d4a9fc9a",
    "mediaKey": "eeb98990-8451-4cda-b358-4103ff77d401",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </imagePicker>
    <metaDescription>
      <Value><![CDATA[B1 Strengthening local character and context]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[B1 Strengthening local character and context]]></Value>
    </metaTitle>
    <pickChapterSchema>
      <Value><![CDATA[[
  "Strengthening character and context (purple)"
]]]></Value>
    </pickChapterSchema>
    <previewOrder>
      <Value><![CDATA[]]></Value>
    </previewOrder>
    <previewTitle>
      <Value><![CDATA[B1 Strengthening local character and context]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <title>
      <Value><![CDATA[B1 Strengthening local character and context]]></Value>
    </title>
  </Properties>
</Content>