<?xml version="1.0" encoding="utf-8"?>
<Content Key="34739685-6b9f-4a90-a546-208553de040c" Alias="B1.1 Understanding the place" Level="4">
  <Info>
    <Parent Key="7d30b613-92c1-43fb-9714-b67e89586a10">B1 Strengthening local character and context</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B11UnderstandingThePlace</Path>
    <Trashed>false</Trashed>
    <ContentType>topicPage</ContentType>
    <CreateDate>2025-09-03T12:53:44</CreateDate>
    <NodeName Default="B1.1 Understanding the place" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72acac67-8c0c-4094-9cf1-e6c83344d4ae">TopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <localPolicyLinks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "20684008-811a-4c04-b872-dda90b752f6e",
      "key": "20582b80-42f7-4840-86f0-e11fe4265663",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Wakefield District Local Plan"
        },
        {
          "alias": "url",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.wakefield.gov.uk/planning/planning-policy/wakefield-district-local-plan"
        },
        {
          "alias": "openUrlInNewWindow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "20684008-811a-4c04-b872-dda90b752f6e",
      "key": "a8fc1389-28d9-44ec-86b5-6f2e09e359c0",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Local Plan Portal"
        },
        {
          "alias": "url",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://mapping.wakefield.gov.uk/localplan/Home.aspx"
        },
        {
          "alias": "openUrlInNewWindow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "20684008-811a-4c04-b872-dda90b752f6e",
      "key": "48aad47b-276a-4696-b07d-cbfbb73f22aa",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Local plan examination library"
        },
        {
          "alias": "url",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.wakefield.gov.uk/planning/planning-policy/wakefield-district-local-plan-preparation-and-examination-process/examination-library"
        },
        {
          "alias": "openUrlInNewWindow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "3f188dee-7650-4474-be0d-877277dfb9b0",
      "key": "efa22d92-fa1f-448a-b34b-98e35acd7d29",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "3f188dee-7650-4474-be0d-877277dfb9b0",
      "key": "0877e9de-a788-44f8-b626-8e95b1dd8d90",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "3f188dee-7650-4474-be0d-877277dfb9b0",
      "key": "ac7e6c2b-9cca-4732-aaf5-ccff6067f626",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "20582b80-42f7-4840-86f0-e11fe4265663",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a8fc1389-28d9-44ec-86b5-6f2e09e359c0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "48aad47b-276a-4696-b07d-cbfbb73f22aa",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "20582b80-42f7-4840-86f0-e11fe4265663",
        "contentUdi": null,
        "settingsKey": "efa22d92-fa1f-448a-b34b-98e35acd7d29",
        "settingsUdi": null
      },
      {
        "contentKey": "a8fc1389-28d9-44ec-86b5-6f2e09e359c0",
        "contentUdi": null,
        "settingsKey": "0877e9de-a788-44f8-b626-8e95b1dd8d90",
        "settingsUdi": null
      },
      {
        "contentKey": "48aad47b-276a-4696-b07d-cbfbb73f22aa",
        "contentUdi": null,
        "settingsKey": "ac7e6c2b-9cca-4732-aaf5-ccff6067f626",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </localPolicyLinks>
    <localPolicyTitle>
      <Value><![CDATA[Related Wakefield District Local Plan policies:]]></Value>
    </localPolicyTitle>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a",
      "key": "0b30b2b0-5ca3-4e7f-ab47-06c93f9330a3",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EExisting green infrastructure (GI) such as parks, woodlands and fields plays a vital role in shaping healthier, more resilient places. By recognising these assets at the start of the design process, development proposals can look to strengthen connections, and provide a network of spaces to be enjoyed by people and nature.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "14016c31-f85d-4c06-99cb-f514c8c61a93",
      "udi": null,
      "values": [
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Fig1.1 picture of a lovely pond"
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "lovely pond"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a94b5ac9-e530-4b99-adbf-a19b1a7a55d9",
              "mediaKey": "3bd46009-1d6a-416b-9663-f7c66094391c",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003Ekjlkjlkjjlkjl\u003C/p\u003E"
          }
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Fig1.1 picture of a lovely pond"
        }
      ]
    },
    {
      "contentTypeKey": "d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a",
      "key": "7c642fb9-1734-4565-92e3-5abf4b5d9d6a",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "test"
        },
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003Ehiuejdow dpow kfc[pkfkpewdk pewdlk pewld pew ld[p ld\u0026nbsp;\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "0b3f27ef-4256-4939-a872-c40a5a9fdc1b",
      "key": "2e2db92d-0706-4f4a-a99e-26ac1084675f",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "hello"
        },
        {
          "alias": "imagePicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f126551f-31c5-43b3-9312-4a5e096fe5b7",
              "mediaKey": "3eaa88ad-64ed-45a1-a768-9c4b79b07680",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003Ehere is some content\u003C/p\u003E"
          }
        },
        {
          "alias": "imageAltText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "test"
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "123"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "a37fb4d4-2673-4526-b49c-358ae5cd8e7d",
      "key": "203b4f8b-344e-4744-bb39-f9422c1b832d",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "caa30b6d-6398-4537-920c-efce194081f5",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "a37fb4d4-2673-4526-b49c-358ae5cd8e7d",
      "key": "405c7263-7344-433c-a161-84367feca42a",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "a3f5519d-10d9-45a4-aa7a-33c76a5bb005",
      "key": "2b00f2db-157a-4f86-92b6-54ba61a6d09d",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "0b30b2b0-5ca3-4e7f-ab47-06c93f9330a3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "14016c31-f85d-4c06-99cb-f514c8c61a93",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7c642fb9-1734-4565-92e3-5abf4b5d9d6a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2e2db92d-0706-4f4a-a99e-26ac1084675f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "0b30b2b0-5ca3-4e7f-ab47-06c93f9330a3",
        "contentUdi": null,
        "settingsKey": "203b4f8b-344e-4744-bb39-f9422c1b832d",
        "settingsUdi": null
      },
      {
        "contentKey": "2e2db92d-0706-4f4a-a99e-26ac1084675f",
        "contentUdi": null,
        "settingsKey": "2b00f2db-157a-4f86-92b6-54ba61a6d09d",
        "settingsUdi": null
      },
      {
        "contentKey": "14016c31-f85d-4c06-99cb-f514c8c61a93",
        "contentUdi": null,
        "settingsKey": "caa30b6d-6398-4537-920c-efce194081f5",
        "settingsUdi": null
      },
      {
        "contentKey": "7c642fb9-1734-4565-92e3-5abf4b5d9d6a",
        "contentUdi": null,
        "settingsKey": "405c7263-7344-433c-a161-84367feca42a",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <pageTitle>
      <Value><![CDATA[B1.1 Understanding the place]]></Value>
    </pageTitle>
    <previewIconCode>
      <Value><![CDATA[bi bi-send]]></Value>
    </previewIconCode>
    <previewOrder>
      <Value><![CDATA[1]]></Value>
    </previewOrder>
    <previewShortDescription>
      <Value><![CDATA[Existing green infrastructure (GI) such as parks, woodlands and fields plays a vital role in shaping healthier, more resilient places.]]></Value>
    </previewShortDescription>
    <previewTitle>
      <Value><![CDATA[2.1.1 Understanding character]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>