<?xml version="1.0" encoding="utf-8"?>
<Content Key="927fa327-8ce3-4b3a-b987-7677a28571eb" Alias="B1.2 Landform and topography" Level="4">
  <Info>
    <Parent Key="7d30b613-92c1-43fb-9714-b67e89586a10">B1 Strengthening local character and context</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B12LandformAndTopography</Path>
    <Trashed>false</Trashed>
    <ContentType>topicPage</ContentType>
    <CreateDate>2025-09-03T12:56:23</CreateDate>
    <NodeName Default="B1.2 Landform and topography" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72acac67-8c0c-4094-9cf1-e6c83344d4ae">TopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <localPolicyLinks>
      <Value><![CDATA[]]></Value>
    </localPolicyLinks>
    <localPolicyTitle>
      <Value><![CDATA[Related Wakefield District Local Plan policies:]]></Value>
    </localPolicyTitle>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a",
      "key": "e0df2939-8c96-4fb2-b918-25e5f682bfff",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ELandform and topography can be seen as positive land features which offer differing formations that can define how buildings and spaces settle within their surroundings. These features can form a unique sense of place that has developed over many years, and any changes to them can have a strong impact on how well a development fits within its environment. By working thoughtfully with the existing landform and topography, developments can respect the landscape\u2019s character and create places that feel balanced and deeply connected to their immediate and wider context.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "a37fb4d4-2673-4526-b49c-358ae5cd8e7d",
      "key": "565c24b8-316e-4ce6-8de6-e0f5ffd7513b",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "e0df2939-8c96-4fb2-b918-25e5f682bfff",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e0df2939-8c96-4fb2-b918-25e5f682bfff",
        "contentUdi": null,
        "settingsKey": "565c24b8-316e-4ce6-8de6-e0f5ffd7513b",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <pageTitle>
      <Value><![CDATA[B1.2 Landform and topography]]></Value>
    </pageTitle>
    <previewIconCode>
      <Value><![CDATA[bi bi-shop]]></Value>
    </previewIconCode>
    <previewOrder>
      <Value><![CDATA[2]]></Value>
    </previewOrder>
    <previewShortDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem ut libero malesuada.]]></Value>
    </previewShortDescription>
    <previewTitle>
      <Value><![CDATA[B1.2 Landform and topography]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>