<?xml version="1.0" encoding="utf-8"?>
<Content Key="2282225f-d447-48fc-aecd-6b53ccc6dad0" Alias="B1.3 Development patterns" Level="4">
  <Info>
    <Parent Key="7d30b613-92c1-43fb-9714-b67e89586a10">B1 Strengthening local character and context</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B13DevelopmentPatterns</Path>
    <Trashed>false</Trashed>
    <ContentType>topicPage</ContentType>
    <CreateDate>2025-09-03T12:57:38</CreateDate>
    <NodeName Default="B1.3 Development patterns" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72acac67-8c0c-4094-9cf1-e6c83344d4ae">TopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <localPolicyLinks>
      <Value><![CDATA[]]></Value>
    </localPolicyLinks>
    <localPolicyTitle>
      <Value><![CDATA[Related Wakefield District Local Plan policies:]]></Value>
    </localPolicyTitle>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a",
      "key": "ec93acaa-04ce-49ec-b2d0-e12ef6bcfc5a",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EDevelopment patterns create a strong sense of character formed through the arrangement of buildings and streets. By thoughtfully responding to the scale, rhythm, and layout of existing urban areas, all types of new developments can ensure to sensitively integrate with the surrounding urban grain in a positive way, by enhancing the sense of place, and creating continuity.\u003C/p\u003E"
          }
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Development patterns"
        }
      ]
    },
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "db94441d-14b0-463f-aa3d-0066a3263947",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 12: Thoughtfully integrated new development at Ancoats, Manchester, which respects the scale  and rhythm of the existing buildings opposite"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1f53f35a-239d-4993-8389-15fcf8e6246d",
              "mediaKey": "b35385b3-d631-4d67-a93c-133285bc4b4b",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 12: Thoughtfully integrated new development at Ancoats, Manchester, which respects the scale and rhythm of the existing buildings opposite"
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 12: Thoughtfully integrated new development at Ancoats, Manchester, which respects the scale  and rhythm of the existing buildings opposite"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "a37fb4d4-2673-4526-b49c-358ae5cd8e7d",
      "key": "319a191f-fc67-4cbe-8f22-c652e376f887",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "1a6bd661-80c4-44a8-9901-fe0f2e6160cf",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "ec93acaa-04ce-49ec-b2d0-e12ef6bcfc5a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "db94441d-14b0-463f-aa3d-0066a3263947",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ec93acaa-04ce-49ec-b2d0-e12ef6bcfc5a",
        "contentUdi": null,
        "settingsKey": "319a191f-fc67-4cbe-8f22-c652e376f887",
        "settingsUdi": null
      },
      {
        "contentKey": "db94441d-14b0-463f-aa3d-0066a3263947",
        "contentUdi": null,
        "settingsKey": "1a6bd661-80c4-44a8-9901-fe0f2e6160cf",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <pageTitle>
      <Value><![CDATA[B1.3 Development patterns]]></Value>
    </pageTitle>
    <previewIconCode>
      <Value><![CDATA[bi bi-globe-asia-australia]]></Value>
    </previewIconCode>
    <previewOrder>
      <Value><![CDATA[3]]></Value>
    </previewOrder>
    <previewShortDescription>
      <Value><![CDATA[Lorean such as parks, woodlands and fields plays a vital role in shaping healthier, more resilient places.]]></Value>
    </previewShortDescription>
    <previewTitle>
      <Value><![CDATA[2.1.5 Development pattern]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>