<?xml version="1.0" encoding="utf-8"?>
<Content Key="ed59091a-225f-4d4b-97f6-756047c00627" Alias="B1.4 Key views" Level="4">
  <Info>
    <Parent Key="7d30b613-92c1-43fb-9714-b67e89586a10">B1 Strengthening local character and context</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B14KeyViews</Path>
    <Trashed>false</Trashed>
    <ContentType>topicPage</ContentType>
    <CreateDate>2025-09-03T12:55:46</CreateDate>
    <NodeName Default="B1.4 Key views" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72acac67-8c0c-4094-9cf1-e6c83344d4ae">TopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <localPolicyLinks>
      <Value><![CDATA[]]></Value>
    </localPolicyLinks>
    <localPolicyTitle>
      <Value><![CDATA[Related Wakefield District Local Plan policies:]]></Value>
    </localPolicyTitle>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a",
      "key": "8e73e535-8dd9-4078-aada-e1379114502a",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "B1.4 Key views"
        },
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EKey views contribute to the unique character of a place, creating visual connections between a new development and its wider surroundings. By carefully protecting and framing important views, both in and out of a site, we can highlight what makes the area special and strengthen the sense of inclusion. Thoughtful design around these views will help new developments feel more connected, inviting, and rooted in the local landscape and wider community.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "be975ef8-15cf-4c95-8140-d25ec3520c06",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "B1.4 Key views image"
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 17: Shows how aligning streets and building forms can preserve and frame important views"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d05981db-332f-4a85-8226-f9e3c7877c35",
              "mediaKey": "2f9dc691-5aff-4f81-93b4-c3292e3e6f22",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 17: Shows how aligning streets and building forms can preserve and frame important views"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "a37fb4d4-2673-4526-b49c-358ae5cd8e7d",
      "key": "d4c938b4-afe4-4691-8bd2-f152a5727aae",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "9b8ca132-9ba8-472b-9c0d-e1eade5a0950",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "8e73e535-8dd9-4078-aada-e1379114502a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "be975ef8-15cf-4c95-8140-d25ec3520c06",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "8e73e535-8dd9-4078-aada-e1379114502a",
        "contentUdi": null,
        "settingsKey": "d4c938b4-afe4-4691-8bd2-f152a5727aae",
        "settingsUdi": null
      },
      {
        "contentKey": "be975ef8-15cf-4c95-8140-d25ec3520c06",
        "contentUdi": null,
        "settingsKey": "9b8ca132-9ba8-472b-9c0d-e1eade5a0950",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <pageTitle>
      <Value><![CDATA[B1.4 Key views]]></Value>
    </pageTitle>
    <previewIconCode>
      <Value><![CDATA[bi bi-globe-europe-africa]]></Value>
    </previewIconCode>
    <previewOrder>
      <Value><![CDATA[4]]></Value>
    </previewOrder>
    <previewShortDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem ut libero malesuada.]]></Value>
    </previewShortDescription>
    <previewTitle>
      <Value><![CDATA[2.1.2 Views]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>