<?xml version="1.0" encoding="utf-8"?>
<Content Key="29da4878-8918-43d3-85a9-10855dd45a81" Alias="B1.5 Interfaces and boundary edges" Level="4">
  <Info>
    <Parent Key="7d30b613-92c1-43fb-9714-b67e89586a10">B1 Strengthening local character and context</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B15InterfacesAndBoundaryEdges</Path>
    <Trashed>false</Trashed>
    <ContentType>topicPage</ContentType>
    <CreateDate>2025-09-03T12:57:01</CreateDate>
    <NodeName Default="B1.5 Interfaces and boundary edges" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72acac67-8c0c-4094-9cf1-e6c83344d4ae">TopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <localPolicyLinks>
      <Value><![CDATA[]]></Value>
    </localPolicyLinks>
    <localPolicyTitle>
      <Value><![CDATA[]]></Value>
    </localPolicyTitle>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <pageTitle>
      <Value><![CDATA[B1.5 Interfaces and boundary edges]]></Value>
    </pageTitle>
    <previewIconCode>
      <Value><![CDATA[bi bi-flower1]]></Value>
    </previewIconCode>
    <previewOrder>
      <Value><![CDATA[5]]></Value>
    </previewOrder>
    <previewShortDescription>
      <Value><![CDATA[Existing green infrastructure (GI) such as parks, woodlands and fields plays a vital role in shaping healthier, more resilient places.]]></Value>
    </previewShortDescription>
    <previewTitle>
      <Value><![CDATA[2.1.4 Interfaces & boundary edges]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>