<?xml version="1.0" encoding="utf-8"?>
<Content Key="a726e59c-31c1-4dcc-934b-27ccec0e810f" Alias="B1.6 Strengthening local architectural character" Level="4">
  <Info>
    <Parent Key="7d30b613-92c1-43fb-9714-b67e89586a10">B1 Strengthening local character and context</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B16StrengtheningLocalArchitecturalCharacter</Path>
    <Trashed>false</Trashed>
    <ContentType>topicPage</ContentType>
    <CreateDate>2025-09-10T11:02:18</CreateDate>
    <NodeName Default="B1.6 Strengthening local architectural character" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72acac67-8c0c-4094-9cf1-e6c83344d4ae">TopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <localPolicyLinks>
      <Value><![CDATA[]]></Value>
    </localPolicyLinks>
    <localPolicyTitle>
      <Value><![CDATA[Related Wakefield District Local Plan policies:]]></Value>
    </localPolicyTitle>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a",
      "key": "baab9430-64b3-41c1-af11-62643c756e4e",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ETaking inspiration from local buildings, architecture, materials, and detailing helps new buildings resonate with their surroundings whilst adding their own distinct character. By creatively combining familiar elements, developments can celebrate the areas heritage without feeling replicated. This thoughtful blend of old and new creates spaces that feel authentic and connected to their place, enriching the overall character and pride of the community.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "149f08a1-2bca-40db-a49b-15c0b4a73226",
      "key": "5bcb1e7b-808b-4788-8b47-e9274a8ac3f7",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "baab9430-64b3-41c1-af11-62643c756e4e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "baab9430-64b3-41c1-af11-62643c756e4e",
        "contentUdi": null,
        "settingsKey": "5bcb1e7b-808b-4788-8b47-e9274a8ac3f7",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <pageTitle>
      <Value><![CDATA[B1.6 Strengthening local architectural character]]></Value>
    </pageTitle>
    <previewIconCode>
      <Value><![CDATA[bi bi-buildings]]></Value>
    </previewIconCode>
    <previewOrder>
      <Value><![CDATA[6]]></Value>
    </previewOrder>
    <previewShortDescription>
      <Value><![CDATA[etc etc etc]]></Value>
    </previewShortDescription>
    <previewTitle>
      <Value><![CDATA[B1.6 Strengthening local architectural character]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>