<?xml version="1.0" encoding="utf-8"?>
<Content Key="a3f46f2f-6cfc-4126-9cb2-fc357df7c29f" Alias="B1.1.1 Undertaking a site appraisal" Level="5">
  <Info>
    <Parent Key="34739685-6b9f-4a90-a546-208553de040c">B1.1 Understanding the place</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B11UnderstandingThePlace/B111UndertakingASiteAppraisal</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-04T13:46:04</CreateDate>
    <NodeName Default="B1.1.1 Undertaking a site appraisal" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[B1.1.1 Undertaking a site appraisal]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[[
  "B1.1.1"
]]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B1.1.1 Undertaking a site appraisal]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B1.1.1 Undertaking a site appraisal]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>