<?xml version="1.0" encoding="utf-8"?>
<Content Key="1531b726-d839-4135-85eb-20d3cb560fa1" Alias="B1.1.2 Undertaking a local character and context assessment" Level="5">
  <Info>
    <Parent Key="34739685-6b9f-4a90-a546-208553de040c">B1.1 Understanding the place</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B11UnderstandingThePlace/B112UndertakingALocalCharacterAndContextAssessment</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-04T13:46:27</CreateDate>
    <NodeName Default="B1.1.2 Undertaking a local character and context assessment" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[B1.1.2 Undertaking a local character and context assessment]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B1.1.2 Undertaking a local character and context assessment]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B1.1.2 Undertaking a local character and context assessment]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>