<?xml version="1.0" encoding="utf-8"?>
<Content Key="4e9527f9-3c66-486a-9f12-caeb8906395f" Alias="B1.2.1 Working with the natural landscape" Level="5">
  <Info>
    <Parent Key="927fa327-8ce3-4b3a-b987-7677a28571eb">B1.2 Landform and topography</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B12LandformAndTopography/B121WorkingWithTheNaturalLandscape</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-10T09:23:48</CreateDate>
    <NodeName Default="B1.2.1 Working with the natural landscape" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[B1.2.1 Working with the natural landscape]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B1.2.1 Working with the natural landscape]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B1.2.1 Working with the natural landscape]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>