<?xml version="1.0" encoding="utf-8"?>
<Content Key="cef09a37-ed47-4c66-9ec8-e2ddf9f50f18" Alias="B1.3.1 Sensitively integrating with the urban grain" Level="5">
  <Info>
    <Parent Key="2282225f-d447-48fc-aecd-6b53ccc6dad0">B1.3 Development patterns</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B13DevelopmentPatterns/B131SensitivelyIntegratingWithTheUrbanGrain</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-10T09:56:18</CreateDate>
    <NodeName Default="B1.3.1 Sensitively integrating with the urban grain" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[Test description]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B1.3.1 Sensitively integrating with the urban grain]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B1.3.1 Sensitively integrating with the urban grain]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>