<?xml version="1.0" encoding="utf-8"?>
<Content Key="48f7bd79-88b2-4d90-934b-ed05a1c8ec52" Alias="B1.4.1 Views from surrounding areas" Level="5">
  <Info>
    <Parent Key="ed59091a-225f-4d4b-97f6-756047c00627">B1.4 Key views</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B14KeyViews/B141ViewsFromSurroundingAreas</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-10T10:15:16</CreateDate>
    <NodeName Default="B1.4.1 Views from surrounding areas" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[Views from surrounding areas!]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B1.4.1 Views from surrounding areas]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B1.4.1 Views from surrounding areas]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>