<?xml version="1.0" encoding="utf-8"?>
<Content Key="787b9c04-71fa-4225-878f-9502bf472556" Alias="B1.5.1 Promoting positive transitions between land uses" Level="5">
  <Info>
    <Parent Key="29da4878-8918-43d3-85a9-10855dd45a81">B1.5 Interfaces and boundary edges</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B15InterfacesAndBoundaryEdges/B151PromotingPositiveTransitionsBetweenLandUses</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-10T10:35:38</CreateDate>
    <NodeName Default="B1.5.1 Promoting positive transitions between land uses" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[Figure 19: Thumbnail sketches illustrating the principles of serial vision, depicting the imagined views of a person moving through a series of spaces (Guidance G1.17)]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[Figure 19: Thumbnail sketches illustrating the principles of serial vision, depicting the imagined views of a person moving through a series of spaces (Guidance G1.17)]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B1.5.1 Promoting positive transitions between land uses]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>