<?xml version="1.0" encoding="utf-8"?>
<Content Key="df3434cb-70f4-4174-9366-bbd1c29852c1" Alias="B1.6.1 Reflecting local building traditions" Level="5">
  <Info>
    <Parent Key="a726e59c-31c1-4dcc-934b-27ccec0e810f">B1.6 Strengthening local architectural character</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B16StrengtheningLocalArchitecturalCharacter/B161ReflectingLocalBuildingTraditions</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-10T11:04:54</CreateDate>
    <NodeName Default="B1.6.1 Reflecting local building traditions" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[B1.6.1 Reflecting local building traditions]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B1.6.1 Reflecting local building traditions]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B1.6.1 Reflecting local building traditions]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>