<?xml version="1.0" encoding="utf-8"?>
<Content Key="19798eff-9503-4830-956f-807f73249dbf" Alias="B2 Sustainable and resilient places" Level="3">
  <Info>
    <Parent Key="b6e47bc0-62e5-471f-bb5c-4d47ccc05bfd">Chapter List</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces</Path>
    <Trashed>false</Trashed>
    <ContentType>chapterPage</ContentType>
    <CreateDate>2025-09-04T08:47:27</CreateDate>
    <NodeName Default="B2 Sustainable and resilient places" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4b43efc7-390a-4478-94ea-cbcca3376c73">ChapterPage</Template>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[B2 Sustainable and resilient places]]></Value>
    </caption>
    <content>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EThe way we design places today has a big impact on how well they can support people, nature, and the environment. The codes within this section are here to help and encourage applicants to deliver more environmentally friendly and resilient places that can adapt in the context of climate change.\u003C/p\u003E\u003Cp\u003EThey cover key topics like biodiversity and ecology, existing green and blue networks, existing trees and hedgerows, flood risk and drainage, new trees and landscape strategy, future proof design, and renewable technologies.\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </content>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <imageAltText>
      <Value><![CDATA[Figure 30: Shows attractive and impactful wildflower meadow planting at The Hepworth, Wakefield]]></Value>
    </imageAltText>
    <imagePicker>
      <Value><![CDATA[[
  {
    "key": "cc42b278-4843-44bc-b6c8-02bca387774d",
    "mediaKey": "a38a1bd1-e6e7-40e9-9529-e0524059435c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </imagePicker>
    <metaDescription>
      <Value><![CDATA[B2 Sustainable and resilient places]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[B2 Sustainable and resilient places]]></Value>
    </metaTitle>
    <pickChapterSchema>
      <Value><![CDATA[[
  "Sustainable and resilient places (green)"
]]]></Value>
    </pickChapterSchema>
    <previewOrder>
      <Value><![CDATA[]]></Value>
    </previewOrder>
    <previewTitle>
      <Value><![CDATA[B2 Sustainable and resilient places]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <title>
      <Value><![CDATA[B2 Sustainable and resilient places]]></Value>
    </title>
  </Properties>
</Content>