<?xml version="1.0" encoding="utf-8"?>
<Content Key="ddc9e2ac-9ec7-4661-b3c0-4489c2afbda9" Alias="B2.1 Biodiversity and ecology" Level="4">
  <Info>
    <Parent Key="19798eff-9503-4830-956f-807f73249dbf">B2 Sustainable and resilient places</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B21BiodiversityAndEcology</Path>
    <Trashed>false</Trashed>
    <ContentType>topicPage</ContentType>
    <CreateDate>2025-09-04T08:48:16</CreateDate>
    <NodeName Default="B2.1 Biodiversity and ecology" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72acac67-8c0c-4094-9cf1-e6c83344d4ae">TopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <localPolicyLinks>
      <Value><![CDATA[]]></Value>
    </localPolicyLinks>
    <localPolicyTitle>
      <Value><![CDATA[Related Wakefield District Local Plan policies:]]></Value>
    </localPolicyTitle>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a",
      "key": "210cd031-b2d4-417c-898a-540ce616c47e",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EBiodiversity is essential to healthy, thriving places. By encouraging applicants to design with nature at the heart of their proposals, we can protect habitats, support protected and notable species, and create new spaces for wildlife to flourish. Where thoughtful design can help restore nature and strengthen local ecosystems, whilst further supporting and enhancing the local environment.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "149f08a1-2bca-40db-a49b-15c0b4a73226",
      "key": "f741c312-2837-4f42-be4e-89deb8e68561",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "210cd031-b2d4-417c-898a-540ce616c47e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "210cd031-b2d4-417c-898a-540ce616c47e",
        "contentUdi": null,
        "settingsKey": "f741c312-2837-4f42-be4e-89deb8e68561",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <pageTitle>
      <Value><![CDATA[B2.1 Biodiversity and ecology]]></Value>
    </pageTitle>
    <previewIconCode>
      <Value><![CDATA[bi bi-flower1]]></Value>
    </previewIconCode>
    <previewOrder>
      <Value><![CDATA[1]]></Value>
    </previewOrder>
    <previewShortDescription>
      <Value><![CDATA[Lorean such as parks, woodlands and fields plays a vital role in shaping healthier, more resilient places.]]></Value>
    </previewShortDescription>
    <previewTitle>
      <Value><![CDATA[B2.1 Biodiversity and ecology]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>