<?xml version="1.0" encoding="utf-8"?>
<Content Key="423bf126-961d-41c9-a03f-09e33c023427" Alias="B2.2 Existing green and blue networks" Level="4">
  <Info>
    <Parent Key="19798eff-9503-4830-956f-807f73249dbf">B2 Sustainable and resilient places</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B22ExistingGreenAndBlueNetworks</Path>
    <Trashed>false</Trashed>
    <ContentType>topicPage</ContentType>
    <CreateDate>2025-09-04T08:48:56</CreateDate>
    <NodeName Default="B2.2 Existing green and blue networks" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72acac67-8c0c-4094-9cf1-e6c83344d4ae">TopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <localPolicyLinks>
      <Value><![CDATA[]]></Value>
    </localPolicyLinks>
    <localPolicyTitle>
      <Value><![CDATA[Related Wakefield District Local Plan policies:]]></Value>
    </localPolicyTitle>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a",
      "key": "aa6e28f0-fa4f-4527-bd32-532f5960f165",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EExisting green and blue networks. Existing green and blue networks such as ponds, parks, rivers, canals, woodlands and fields plays a vital role in shaping healthier, more resilient places. By recognising these assets at the start of the design process, development proposals can look to strengthen connections and provide a network of spaces to be enjoyed by both people and nature.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "149f08a1-2bca-40db-a49b-15c0b4a73226",
      "key": "e9a85a09-e4fb-462a-9dab-534a471505fd",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "aa6e28f0-fa4f-4527-bd32-532f5960f165",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "aa6e28f0-fa4f-4527-bd32-532f5960f165",
        "contentUdi": null,
        "settingsKey": "e9a85a09-e4fb-462a-9dab-534a471505fd",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <pageTitle>
      <Value><![CDATA[B2.2 Existing green and blue networks]]></Value>
    </pageTitle>
    <previewIconCode>
      <Value><![CDATA[bi bi-shop]]></Value>
    </previewIconCode>
    <previewOrder>
      <Value><![CDATA[2]]></Value>
    </previewOrder>
    <previewShortDescription>
      <Value><![CDATA[Lorean such as parks, woodlands and fields plays a vital role in shaping healthier, more resilient places.]]></Value>
    </previewShortDescription>
    <previewTitle>
      <Value><![CDATA[B2.2 Existing green and blue networks]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>