<?xml version="1.0" encoding="utf-8"?>
<Content Key="88e9c71a-3f5c-4c92-8089-d0a4571e9433" Alias="B2.3 Existing trees and hedgerows" Level="4">
  <Info>
    <Parent Key="19798eff-9503-4830-956f-807f73249dbf">B2 Sustainable and resilient places</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B23ExistingTreesAndHedgerows</Path>
    <Trashed>false</Trashed>
    <ContentType>topicPage</ContentType>
    <CreateDate>2025-09-04T08:55:44</CreateDate>
    <NodeName Default="B2.3 Existing trees and hedgerows" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72acac67-8c0c-4094-9cf1-e6c83344d4ae">TopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <localPolicyLinks>
      <Value><![CDATA[]]></Value>
    </localPolicyLinks>
    <localPolicyTitle>
      <Value><![CDATA[]]></Value>
    </localPolicyTitle>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a",
      "key": "8452b79b-7c1f-4c3f-be8e-1ea6c5b6435f",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EExisting trees and hedgerows are a valuable part of our landscapes, adding character, supporting wildlife, providing shading, boosting wellbeing, and often providing important historical links to a site\u2019s past. This section encourages applicants to design with nature in mind by protecting and working with what is already there. By considering trees and hedgerows early in the process to create more attractive, sustainable places that respect and enhance the natural and historic environment.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "149f08a1-2bca-40db-a49b-15c0b4a73226",
      "key": "e3dc7c98-d679-4eb5-b62e-e7e13129d57d",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "8452b79b-7c1f-4c3f-be8e-1ea6c5b6435f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "8452b79b-7c1f-4c3f-be8e-1ea6c5b6435f",
        "contentUdi": null,
        "settingsKey": "e3dc7c98-d679-4eb5-b62e-e7e13129d57d",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <pageTitle>
      <Value><![CDATA[B2.3 Existing trees and hedgerows]]></Value>
    </pageTitle>
    <previewIconCode>
      <Value><![CDATA[bi bi-globe-europe-africa]]></Value>
    </previewIconCode>
    <previewOrder>
      <Value><![CDATA[3]]></Value>
    </previewOrder>
    <previewShortDescription>
      <Value><![CDATA[Lorean such as parks, woodlands and fields plays a vital role in shaping healthier, more resilient places.]]></Value>
    </previewShortDescription>
    <previewTitle>
      <Value><![CDATA[B2.3 Existing trees and hedgerows]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>