<?xml version="1.0" encoding="utf-8"?>
<Content Key="f72b5026-25c7-41ad-81fa-e0479e695d29" Alias="B2.4 Flood risk and drainage" Level="4">
  <Info>
    <Parent Key="19798eff-9503-4830-956f-807f73249dbf">B2 Sustainable and resilient places</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B24FloodRiskAndDrainage</Path>
    <Trashed>false</Trashed>
    <ContentType>topicPage</ContentType>
    <CreateDate>2025-09-04T08:57:54</CreateDate>
    <NodeName Default="B2.4 Flood risk and drainage" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72acac67-8c0c-4094-9cf1-e6c83344d4ae">TopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <localPolicyLinks>
      <Value><![CDATA[]]></Value>
    </localPolicyLinks>
    <localPolicyTitle>
      <Value><![CDATA[Related Wakefield District Local Plan policies:]]></Value>
    </localPolicyTitle>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a",
      "key": "52f9328d-4d84-47fa-bfc0-5099ededf6fb",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EManaging flood risk and drainage is a key part of creating safe and sustainable places, the detail of which must be considered and planned in from the very beginning of the design process. By carefully and thoughtfully including Sustainable Drainage Systems (SuDS), it is possible to reduce flooding, support nature, improve water quality, and bring attractive blue features into both the street environment and open spaces.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "149f08a1-2bca-40db-a49b-15c0b4a73226",
      "key": "cc056037-c4d8-4aaa-a135-8652f53a4003",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "52f9328d-4d84-47fa-bfc0-5099ededf6fb",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "52f9328d-4d84-47fa-bfc0-5099ededf6fb",
        "contentUdi": null,
        "settingsKey": "cc056037-c4d8-4aaa-a135-8652f53a4003",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <pageTitle>
      <Value><![CDATA[B2.4 Flood risk and drainage]]></Value>
    </pageTitle>
    <previewIconCode>
      <Value><![CDATA[bi bi-shop]]></Value>
    </previewIconCode>
    <previewOrder>
      <Value><![CDATA[4]]></Value>
    </previewOrder>
    <previewShortDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem ut libero malesuada.]]></Value>
    </previewShortDescription>
    <previewTitle>
      <Value><![CDATA[B2.4 Flood risk and drainage]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>