<?xml version="1.0" encoding="utf-8"?>
<Content Key="33626d06-e4ed-45d4-b292-68de66520055" Alias="B2.6 Future proof design" Level="4">
  <Info>
    <Parent Key="19798eff-9503-4830-956f-807f73249dbf">B2 Sustainable and resilient places</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B26FutureProofDesign</Path>
    <Trashed>false</Trashed>
    <ContentType>topicPage</ContentType>
    <CreateDate>2025-09-04T09:00:42</CreateDate>
    <NodeName Default="B2.6 Future proof design" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72acac67-8c0c-4094-9cf1-e6c83344d4ae">TopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <localPolicyLinks>
      <Value><![CDATA[]]></Value>
    </localPolicyLinks>
    <localPolicyTitle>
      <Value><![CDATA[Related Wakefield District Local Plan policies:]]></Value>
    </localPolicyTitle>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a",
      "key": "6b39254d-14cc-4dc4-aca0-d68d7ef5b4f4",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThe way we design buildings and spaces today has a lasting impact on how well they perform in the future. By carefully considering elements like solar gain, orientation, and the local microclimate, we can create places that are more comfortable, energy-efficient, and better for the environment. By encouraging thoughtful, sustainable design that responds to its surroundings we can help to build resilient, healthy communities for our District.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "149f08a1-2bca-40db-a49b-15c0b4a73226",
      "key": "ad211fb2-a969-47fb-ad57-adcd9b3ae3c6",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "6b39254d-14cc-4dc4-aca0-d68d7ef5b4f4",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "6b39254d-14cc-4dc4-aca0-d68d7ef5b4f4",
        "contentUdi": null,
        "settingsKey": "ad211fb2-a969-47fb-ad57-adcd9b3ae3c6",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <pageTitle>
      <Value><![CDATA[B2.6 Future proof design]]></Value>
    </pageTitle>
    <previewIconCode>
      <Value><![CDATA[bi bi-gear-fill]]></Value>
    </previewIconCode>
    <previewOrder>
      <Value><![CDATA[6]]></Value>
    </previewOrder>
    <previewShortDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem ut libero malesuada.]]></Value>
    </previewShortDescription>
    <previewTitle>
      <Value><![CDATA[B2.6 Future proof design]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>