<?xml version="1.0" encoding="utf-8"?>
<Content Key="de677501-733b-4bed-b7c8-e1bf688c97e1" Alias="B2.7 Renewable technologies" Level="4">
  <Info>
    <Parent Key="19798eff-9503-4830-956f-807f73249dbf">B2 Sustainable and resilient places</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B27RenewableTechnologies</Path>
    <Trashed>false</Trashed>
    <ContentType>topicPage</ContentType>
    <CreateDate>2025-09-10T17:12:32</CreateDate>
    <NodeName Default="B2.7 Renewable technologies" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72acac67-8c0c-4094-9cf1-e6c83344d4ae">TopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <localPolicyLinks>
      <Value><![CDATA[]]></Value>
    </localPolicyLinks>
    <localPolicyTitle>
      <Value><![CDATA[Related Wakefield District Local Plan policies:]]></Value>
    </localPolicyTitle>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a",
      "key": "bcae1ede-8f5a-4c51-a07b-9fc8a93da5fb",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EAs the demand for low-carbon energy solutions grows, it is important to consider how features like solar panels or heat pumps are incorporated into design proposals. With the right approach, renewable technologies can enhance a development without compromising its appearance or character. By implementing practical measures we can help ensure that these elements are thoughtfully designed and well integrated, supporting cleaner energy while maintaining high design standards.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "149f08a1-2bca-40db-a49b-15c0b4a73226",
      "key": "9adb1cd5-b453-43ac-89a0-6440621f4327",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "bcae1ede-8f5a-4c51-a07b-9fc8a93da5fb",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "bcae1ede-8f5a-4c51-a07b-9fc8a93da5fb",
        "contentUdi": null,
        "settingsKey": "9adb1cd5-b453-43ac-89a0-6440621f4327",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <pageTitle>
      <Value><![CDATA[B2.7 Renewable technologies]]></Value>
    </pageTitle>
    <previewIconCode>
      <Value><![CDATA[bi bi-fan]]></Value>
    </previewIconCode>
    <previewOrder>
      <Value><![CDATA[7]]></Value>
    </previewOrder>
    <previewShortDescription>
      <Value><![CDATA[Lorem ispum blah blah blah]]></Value>
    </previewShortDescription>
    <previewTitle>
      <Value><![CDATA[B2.7 Renewable technologies]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>