<?xml version="1.0" encoding="utf-8"?>
<Content Key="b16a2eab-46cc-4c43-835f-f700f3bef9b1" Alias="B2.1.1 Designing for nature" Level="5">
  <Info>
    <Parent Key="ddc9e2ac-9ec7-4661-b3c0-4489c2afbda9">B2.1 Biodiversity and ecology</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B21BiodiversityAndEcology/B211DesigningForNature</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-10T12:34:43</CreateDate>
    <NodeName Default="B2.1.1 Designing for nature" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[B2.1.1 Designing for nature]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B2.1.1 Designing for nature]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B2.1.1 Designing for nature]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>