<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd2505e5-aff5-4dd7-a461-fbe443b5d871" Alias="B2.2.1 Integrating with existing green and blue networks" Level="5">
  <Info>
    <Parent Key="423bf126-961d-41c9-a03f-09e33c023427">B2.2 Existing green and blue networks</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B22ExistingGreenAndBlueNetworks/B221IntegratingWithExistingGreenAndBlueNetworks</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-10T13:12:20</CreateDate>
    <NodeName Default="B2.2.1 Integrating with existing green and blue networks" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[B2.2.1 Integrating with existing green and blue networks]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B2.2.1 Integrating with existing green and blue networks]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B2.2.1 Integrating with existing green and blue networks]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>