<?xml version="1.0" encoding="utf-8"?>
<Content Key="770c4858-a4d6-46c2-9eb2-3694f576cc2e" Alias="B2.2.2 Stronger connections with nature" Level="5">
  <Info>
    <Parent Key="423bf126-961d-41c9-a03f-09e33c023427">B2.2 Existing green and blue networks</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B22ExistingGreenAndBlueNetworks/B222StrongerConnectionsWithNature</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-10T13:17:09</CreateDate>
    <NodeName Default="B2.2.2 Stronger connections with nature" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[B2.2.2 Stronger connections with nature]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B2.2.2 Stronger connections with nature]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B2.2.2 Stronger connections with nature]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>