<?xml version="1.0" encoding="utf-8"?>
<Content Key="c0d4de37-3497-4b77-95f5-ce113cbfb95f" Alias="B2.4.1 Integrating Sustainable Drainage Systems (SuDS)" Level="5">
  <Info>
    <Parent Key="f72b5026-25c7-41ad-81fa-e0479e695d29">B2.4 Flood risk and drainage</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B24FloodRiskAndDrainage/B241IntegratingSustainableDrainageSystemsSuDS</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-10T13:42:53</CreateDate>
    <NodeName Default="B2.4.1 Integrating Sustainable Drainage Systems (SuDS)" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[B2.4.1 Integrating Sustainable Drainage Systems (SuDS)]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B2.4.1 Integrating Sustainable Drainage Systems (SuDS)]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B2.4.1 Integrating Sustainable Drainage Systems (SuDS)]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>