<?xml version="1.0" encoding="utf-8"?>
<Content Key="1474bcc7-ecb0-4776-9fc6-3a9f7fdd1746" Alias="B2.5.1 Trees planting, street trees and landscape design" Level="5">
  <Info>
    <Parent Key="78265a88-3f37-425a-a483-b83c162363e8">B2.5 New trees and landscape strategy</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B25NewTreesAndLandscapeStrategy/B251TreesPlantingStreetTreesAndLandscapeDesign</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-10T16:02:55</CreateDate>
    <NodeName Default="B2.5.1 Trees planting, street trees and landscape design" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[B2.5.1 Trees planting, street trees and landscape design]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B2.5.1 Trees planting, street trees and landscape design]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B2.5.1 Trees planting, street trees and landscape design]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>