<?xml version="1.0" encoding="utf-8"?>
<Content Key="45c8e6f4-3680-4008-b121-a8620c4d63af" Alias="B2.6.3 Managing microclimates" Level="5">
  <Info>
    <Parent Key="33626d06-e4ed-45d4-b292-68de66520055">B2.6 Future proof design</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B26FutureProofDesign/B263ManagingMicroclimates</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-10T17:06:37</CreateDate>
    <NodeName Default="B2.6.3 Managing microclimates" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[B2.6.3 Managing microclimates]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B2.6.3 Managing microclimates]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B2.6.3 Managing microclimates]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>