<?xml version="1.0" encoding="utf-8"?>
<Content Key="812430b1-6b67-4957-a6c6-54e3e0b7b339" Alias="B2.6.2 Modern Methods of Construction (MMC)" Level="5">
  <Info>
    <Parent Key="33626d06-e4ed-45d4-b292-68de66520055">B2.6 Future proof design</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B26FutureProofDesign/B262ModernMethodsOfConstructionMMC</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-10T17:04:04</CreateDate>
    <NodeName Default="B2.6.2 Modern Methods of Construction (MMC)" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[B2.6.2 Modern Methods of Construction (MMC)]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B2.6.2 Modern Methods of Construction (MMC)]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B2.6.2 Modern Methods of Construction (MMC)]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>