<?xml version="1.0" encoding="utf-8"?>
<Content Key="5b502e3f-d1b0-4cac-8626-b6d618f0fed5" Alias="B2.7.2 Sensitively integrating air source heat pumps (ASHP’s)" Level="5">
  <Info>
    <Parent Key="de677501-733b-4bed-b7c8-e1bf688c97e1">B2.7 Renewable technologies</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B27RenewableTechnologies/B272SensitivelyIntegratingAirSourceHeatPumpsASHPS</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-11T06:11:38</CreateDate>
    <NodeName Default="B2.7.2 Sensitively integrating air source heat pumps (ASHP’s)" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[B2.7.2 Sensitively integrating air source heat pumps (ASHP’s)]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B2.7.2 Sensitively integrating air source heat pumps (ASHP’s)]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B2.7.2 Sensitively integrating air source heat pumps (ASHP’s)]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>