<?xml version="1.0" encoding="utf-8"?>
<Content Key="b24f9db6-a62a-4009-a016-52c936d3f5cb" Alias="B3 Welcoming places" Level="3">
  <Info>
    <Parent Key="b6e47bc0-62e5-471f-bb5c-4d47ccc05bfd">Chapter List</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces</Path>
    <Trashed>false</Trashed>
    <ContentType>chapterPage</ContentType>
    <CreateDate>2025-09-08T14:19:02</CreateDate>
    <NodeName Default="B3 Welcoming places" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4b43efc7-390a-4478-94ea-cbcca3376c73">ChapterPage</Template>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[B3 Welcoming places]]></Value>
    </caption>
    <content>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EGreat places are those that foster a sense of community and belonging, by providing healthy, welcoming, and safe environments. The codes within this section are here to help applicants design new places that are easy to navigate, offer spaces for everyone to enjoy, and encourage social connections. From clear wayfinding and active frontages, to well designed open spaces and community facilities, these principles will support the creation of new places with a strong sense of identity across our District, where people will feel proud to live, work and be.\u003C/p\u003E"
}]]></Value>
    </content>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <imageAltText>
      <Value><![CDATA[Figure 57: Attractive, welcoming and multifunctional open space overlooked by surrounding development  at Scholars Gate, Wakefield]]></Value>
    </imageAltText>
    <imagePicker>
      <Value><![CDATA[[
  {
    "key": "94710525-fbba-42c0-9d6a-2dc203290553",
    "mediaKey": "f227c275-c563-4ebf-914d-72f098d7eb13",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </imagePicker>
    <metaDescription>
      <Value><![CDATA[B3 Welcoming places]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[B3 Welcoming places]]></Value>
    </metaTitle>
    <pickChapterSchema>
      <Value><![CDATA[[
  "Welcoming places (pink)"
]]]></Value>
    </pickChapterSchema>
    <previewOrder>
      <Value><![CDATA[]]></Value>
    </previewOrder>
    <previewTitle>
      <Value><![CDATA[B3 Welcoming places]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <title>
      <Value><![CDATA[B3 Welcoming places]]></Value>
    </title>
  </Properties>
</Content>