<?xml version="1.0" encoding="utf-8"?>
<Content Key="72bbb3d8-6f9d-4ed8-a2b8-3c10cfdfb71b" Alias="B3.1 Open spaces and community facilities" Level="4">
  <Info>
    <Parent Key="b24f9db6-a62a-4009-a016-52c936d3f5cb">B3 Welcoming places</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B31OpenSpacesAndCommunityFacilities</Path>
    <Trashed>false</Trashed>
    <ContentType>topicPage</ContentType>
    <CreateDate>2025-09-08T15:42:41</CreateDate>
    <NodeName Default="B3.1 Open spaces and community facilities" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72acac67-8c0c-4094-9cf1-e6c83344d4ae">TopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <localPolicyLinks>
      <Value><![CDATA[]]></Value>
    </localPolicyLinks>
    <localPolicyTitle>
      <Value><![CDATA[Related Wakefield District Local Plan policies:]]></Value>
    </localPolicyTitle>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a",
      "key": "78d4418e-e0f0-4eb7-bfe7-1b8617a4272d",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EOpen spaces and community facilities sit at the heart of our welcoming, inclusive neighbourhoods. When designed well, open spaces and community facilities bring people together by offering places to play, relax, and connect with others. If they are thoughtfully located and sized, they can meet a wide range of needs, supporting people of all ages and abilities. By creating spaces that feel safe, accessible, and inviting, we can help nurture a strong sense of belonging and a community life that extends well beyond people\u2019s homes.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "149f08a1-2bca-40db-a49b-15c0b4a73226",
      "key": "8a05671c-f360-4e78-b0b6-8e4c72257346",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "78d4418e-e0f0-4eb7-bfe7-1b8617a4272d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "78d4418e-e0f0-4eb7-bfe7-1b8617a4272d",
        "contentUdi": null,
        "settingsKey": "8a05671c-f360-4e78-b0b6-8e4c72257346",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <pageTitle>
      <Value><![CDATA[B3.1 Open spaces and community facilities]]></Value>
    </pageTitle>
    <previewIconCode>
      <Value><![CDATA[bi bi-building]]></Value>
    </previewIconCode>
    <previewOrder>
      <Value><![CDATA[1]]></Value>
    </previewOrder>
    <previewShortDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem ut libero malesuada.]]></Value>
    </previewShortDescription>
    <previewTitle>
      <Value><![CDATA[B3.1 Open spaces and community facilities]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>