<?xml version="1.0" encoding="utf-8"?>
<Content Key="411d8e77-be9e-4b76-baa4-5bba693a7c76" Alias="B3.2 Blocks and typologies" Level="4">
  <Info>
    <Parent Key="b24f9db6-a62a-4009-a016-52c936d3f5cb">B3 Welcoming places</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B32BlocksAndTypologies</Path>
    <Trashed>false</Trashed>
    <ContentType>topicPage</ContentType>
    <CreateDate>2025-09-08T15:43:59</CreateDate>
    <NodeName Default="B3.2 Blocks and typologies" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72acac67-8c0c-4094-9cf1-e6c83344d4ae">TopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <localPolicyLinks>
      <Value><![CDATA[]]></Value>
    </localPolicyLinks>
    <localPolicyTitle>
      <Value><![CDATA[Related Wakefield District Local Plan policies:]]></Value>
    </localPolicyTitle>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a",
      "key": "4bd8f886-29b2-4006-b0e5-72ef6ece1cef",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThe layout and structure of our neighbourhoods can shape how places feel and function. When we thoughtfully design blocks and building types, we create a strong foundation for welcoming, walkable, and well-connected communities. A considered approach to scale, layout, and movement, helps places feel open and easy to navigate, whilst supporting a sense of identity and belonging.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "2a3e2699-3e71-4bda-af06-2c09fd259446",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "07065d73-2cc7-4b5b-a519-f2e9ea3330fd",
              "mediaKey": "add22d5b-c5dc-4f7b-9372-feb58d55ec67",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "B3.2 Blocks and typologies"
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 67: The back to back terraced blocks at Carnforth Avenue, Wakefield reflect the scale and mass of the adjacent blocks"
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 67: The back to back terraced blocks at Carnforth Avenue, Wakefield reflect the scale and mass of the adjacent blocks"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "a37fb4d4-2673-4526-b49c-358ae5cd8e7d",
      "key": "071af78d-c99b-4c9c-a525-6300e8b36acb",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "d7958289-4d9e-4e84-a980-90b6065e1d2f",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "4bd8f886-29b2-4006-b0e5-72ef6ece1cef",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2a3e2699-3e71-4bda-af06-2c09fd259446",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "4bd8f886-29b2-4006-b0e5-72ef6ece1cef",
        "contentUdi": null,
        "settingsKey": "071af78d-c99b-4c9c-a525-6300e8b36acb",
        "settingsUdi": null
      },
      {
        "contentKey": "2a3e2699-3e71-4bda-af06-2c09fd259446",
        "contentUdi": null,
        "settingsKey": "d7958289-4d9e-4e84-a980-90b6065e1d2f",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <pageTitle>
      <Value><![CDATA[B3.2 Blocks and typologies]]></Value>
    </pageTitle>
    <previewIconCode>
      <Value><![CDATA[bi bi-shop]]></Value>
    </previewIconCode>
    <previewOrder>
      <Value><![CDATA[2]]></Value>
    </previewOrder>
    <previewShortDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem ut libero malesuada.]]></Value>
    </previewShortDescription>
    <previewTitle>
      <Value><![CDATA[B3.2 Blocks and typologies]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>