<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ecbb24e-7274-45a7-9695-cf410e3e38f4" Alias="B3.4 Active frontages" Level="4">
  <Info>
    <Parent Key="b24f9db6-a62a-4009-a016-52c936d3f5cb">B3 Welcoming places</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B34ActiveFrontages</Path>
    <Trashed>false</Trashed>
    <ContentType>topicPage</ContentType>
    <CreateDate>2025-09-11T13:23:07</CreateDate>
    <NodeName Default="B3.4 Active frontages" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72acac67-8c0c-4094-9cf1-e6c83344d4ae">TopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <localPolicyLinks>
      <Value><![CDATA[]]></Value>
    </localPolicyLinks>
    <localPolicyTitle>
      <Value><![CDATA[Related Wakefield District Local Plan policies:]]></Value>
    </localPolicyTitle>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a",
      "key": "ecf21de5-6ea4-4558-9fc2-c1209820792f",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EActive frontages help to bring streets and open spaces to life. When buildings are designed to face outward, with windows, doors, and features that engage with their surroundings, they can create a stronger connection between people and place. By encouraging buildings to positively address the public realm, we can support more sociable, welcoming, and visually interesting neighbourhoods.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "149f08a1-2bca-40db-a49b-15c0b4a73226",
      "key": "5ce3c777-e331-42eb-a36c-714d8ad8976c",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "ecf21de5-6ea4-4558-9fc2-c1209820792f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ecf21de5-6ea4-4558-9fc2-c1209820792f",
        "contentUdi": null,
        "settingsKey": "5ce3c777-e331-42eb-a36c-714d8ad8976c",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <pageTitle>
      <Value><![CDATA[B3.4 Active frontages]]></Value>
    </pageTitle>
    <previewIconCode>
      <Value><![CDATA[bi bi-building-fill]]></Value>
    </previewIconCode>
    <previewOrder>
      <Value><![CDATA[4]]></Value>
    </previewOrder>
    <previewShortDescription>
      <Value><![CDATA[Active frontages help to bring streets and open spaces to life]]></Value>
    </previewShortDescription>
    <previewTitle>
      <Value><![CDATA[B3.4 Active frontages]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>