<?xml version="1.0" encoding="utf-8"?>
<Content Key="f9bd18ad-cad7-415a-8c08-fb80dedf5c8e" Alias="B3.5 Safe and secure design" Level="4">
  <Info>
    <Parent Key="b24f9db6-a62a-4009-a016-52c936d3f5cb">B3 Welcoming places</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B35SafeAndSecureDesign</Path>
    <Trashed>false</Trashed>
    <ContentType>topicPage</ContentType>
    <CreateDate>2025-09-11T14:09:01</CreateDate>
    <NodeName Default="B3.5 Safe and secure design" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72acac67-8c0c-4094-9cf1-e6c83344d4ae">TopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <localPolicyLinks>
      <Value><![CDATA[]]></Value>
    </localPolicyLinks>
    <localPolicyTitle>
      <Value><![CDATA[Related Wakefield District Local Plan policies:]]></Value>
    </localPolicyTitle>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a",
      "key": "c1c14ad9-099f-4706-8759-02e797a9df0c",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ESafe and secure design helps people feel comfortable within their surroundings. By ensuring streets, open spaces, and active travel routes are well overlooked, natural surveillance can creates a sense of watchfulness without feeling intrusive. Thoughtful integration of safety measures helps support this balance, making spaces feel welcoming and attractive to use. When safety is built into the design, communities become places where everyone can move freely and confidently, day and night.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "149f08a1-2bca-40db-a49b-15c0b4a73226",
      "key": "143c9b0e-6a57-4afe-8e78-1b5605bb17ee",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "c1c14ad9-099f-4706-8759-02e797a9df0c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c1c14ad9-099f-4706-8759-02e797a9df0c",
        "contentUdi": null,
        "settingsKey": "143c9b0e-6a57-4afe-8e78-1b5605bb17ee",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <pageTitle>
      <Value><![CDATA[B3.5 Safe and secure design]]></Value>
    </pageTitle>
    <previewIconCode>
      <Value><![CDATA[bi bi-water]]></Value>
    </previewIconCode>
    <previewOrder>
      <Value><![CDATA[5]]></Value>
    </previewOrder>
    <previewShortDescription>
      <Value><![CDATA[Safe and secure design helps people feel comfortable within their surroundings]]></Value>
    </previewShortDescription>
    <previewTitle>
      <Value><![CDATA[B3.5 Safe and secure design]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>