<?xml version="1.0" encoding="utf-8"?>
<Content Key="4aff5ec4-c252-4e24-b23a-b0ae8c199261" Alias="B3.6 Creating a new identity" Level="4">
  <Info>
    <Parent Key="b24f9db6-a62a-4009-a016-52c936d3f5cb">B3 Welcoming places</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B36CreatingANewIdentity</Path>
    <Trashed>false</Trashed>
    <ContentType>topicPage</ContentType>
    <CreateDate>2025-09-11T14:50:15</CreateDate>
    <NodeName Default="B3.6 Creating a new identity" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72acac67-8c0c-4094-9cf1-e6c83344d4ae">TopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <localPolicyLinks>
      <Value><![CDATA[]]></Value>
    </localPolicyLinks>
    <localPolicyTitle>
      <Value><![CDATA[Related Wakefield District Local Plan policies:]]></Value>
    </localPolicyTitle>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a",
      "key": "c0bd3a53-80b8-4763-bc82-0ddaef6ef1bd",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ECreating a new identity should focus on shaping a fresh and unique character for all large developments whilst respecting the wider context of the surrounding local area. By blending new ideas with positive local styles, we can create places that feel both distinctive and connected within their roots. This thoughtful balance helps our communities develop their own sense of pride and belonging, whilst making all neighbourhoods feel welcoming, and memorable across the District.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "149f08a1-2bca-40db-a49b-15c0b4a73226",
      "key": "218e7261-ea95-4a3a-a29b-cfe932532302",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "c0bd3a53-80b8-4763-bc82-0ddaef6ef1bd",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c0bd3a53-80b8-4763-bc82-0ddaef6ef1bd",
        "contentUdi": null,
        "settingsKey": "218e7261-ea95-4a3a-a29b-cfe932532302",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <pageTitle>
      <Value><![CDATA[B3.6 Creating a new identity]]></Value>
    </pageTitle>
    <previewIconCode>
      <Value><![CDATA[bi bi-mask]]></Value>
    </previewIconCode>
    <previewOrder>
      <Value><![CDATA[6]]></Value>
    </previewOrder>
    <previewShortDescription>
      <Value><![CDATA[Creating a new identity should focus on shaping a fresh and unique character for all large developments]]></Value>
    </previewShortDescription>
    <previewTitle>
      <Value><![CDATA[B3.6 Creating a new identity]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>