<?xml version="1.0" encoding="utf-8"?>
<Content Key="94f893b9-b732-4145-8b3f-b2acde90d47a" Alias="B3.1.1 Creating inviting and accessible places" Level="5">
  <Info>
    <Parent Key="72bbb3d8-6f9d-4ed8-a2b8-3c10cfdfb71b">B3.1 Open spaces and community facilities</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B31OpenSpacesAndCommunityFacilities/B311CreatingInvitingAndAccessiblePlaces</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-11T06:38:05</CreateDate>
    <NodeName Default="B3.1.1 Creating inviting and accessible places" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[B3.1.1 Creating inviting and accessible places]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B3.1.1 Creating inviting and accessible places]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B3.1.1 Creating inviting and accessible places]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>