<?xml version="1.0" encoding="utf-8"?>
<Content Key="2fe66302-642f-422f-8ca6-c9096f0208bd" Alias="B3.1.2 Creating fun, safe and inclusive play" Level="5">
  <Info>
    <Parent Key="72bbb3d8-6f9d-4ed8-a2b8-3c10cfdfb71b">B3.1 Open spaces and community facilities</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B31OpenSpacesAndCommunityFacilities/B312CreatingFunSafeAndInclusivePlay</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-11T07:52:43</CreateDate>
    <NodeName Default="B3.1.2 Creating fun, safe and inclusive play" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[B3.1.2 Creating fun, safe and inclusive play]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B3.1.2 Creating fun, safe and inclusive play]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B3.1.2 Creating fun, safe and inclusive play]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>