<?xml version="1.0" encoding="utf-8"?>
<Content Key="1505291f-e30b-4bc1-9b5b-feb9f54ba9c5" Alias="B3.2.3 Block permeability" Level="5">
  <Info>
    <Parent Key="411d8e77-be9e-4b76-baa4-5bba693a7c76">B3.2 Blocks and typologies</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B32BlocksAndTypologies/B323BlockPermeability</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-11T11:49:29</CreateDate>
    <NodeName Default="B3.2.3 Block permeability" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[B3.2.3 Block permeability]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B3.2.3 Block permeability]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B3.2.3 Block permeability]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>