<?xml version="1.0" encoding="utf-8"?>
<Content Key="851a0d40-a07d-40f6-8215-9f2890cf0b3d" Alias="B3.3.1 Ensuring easy navigability" Level="5">
  <Info>
    <Parent Key="115a9625-be45-4551-9435-5a22b9a941aa">B3.3 Wayfinding and legibility</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B33WayfindingAndLegibility/B331EnsuringEasyNavigability</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-11T11:59:16</CreateDate>
    <NodeName Default="B3.3.1 Ensuring easy navigability" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[B3.3.1 Ensuring easy navigability]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B3.3.1 Ensuring easy navigability]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B3.3.1 Ensuring easy navigability]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>