<?xml version="1.0" encoding="utf-8"?>
<Content Key="2f80c230-c1a7-45f1-bd6e-e37c4adbba74" Alias="B3.3.2 Corner articulation" Level="5">
  <Info>
    <Parent Key="115a9625-be45-4551-9435-5a22b9a941aa">B3.3 Wayfinding and legibility</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B33WayfindingAndLegibility/B332CornerArticulation</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-11T12:52:58</CreateDate>
    <NodeName Default="B3.3.2 Corner articulation" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[B3.3.2 Corner articulation]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B3.3.2 Corner articulation]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B3.3.2 Corner articulation]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>