<?xml version="1.0" encoding="utf-8"?>
<Content Key="ae66b240-4f45-498b-95ab-68bbe3487a7a" Alias="B3.4.1 Addressing the public realm" Level="5">
  <Info>
    <Parent Key="2ecbb24e-7274-45a7-9695-cf410e3e38f4">B3.4 Active frontages</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B34ActiveFrontages/B341AddressingThePublicRealm</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-11T13:24:09</CreateDate>
    <NodeName Default="B3.4.1 Addressing the public realm" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[B3.4.1 Addressing the public realm]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B3.4.1 Addressing the public realm]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B3.4.1 Addressing the public realm]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>