<?xml version="1.0" encoding="utf-8"?>
<Content Key="25ec3a6e-685c-45ae-95ca-667ad972f3b8" Alias="B3.5.1 Maximising natural surveillance" Level="5">
  <Info>
    <Parent Key="f9bd18ad-cad7-415a-8c08-fb80dedf5c8e">B3.5 Safe and secure design</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B35SafeAndSecureDesign/B351MaximisingNaturalSurveillance</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-11T14:23:47</CreateDate>
    <NodeName Default="B3.5.1 Maximising natural surveillance" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[B3.5.1 Maximising natural surveillance]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B3.5.1 Maximising natural surveillance]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B3.5.1 Maximising natural surveillance]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>