<?xml version="1.0" encoding="utf-8"?>
<Content Key="80ca3977-2a4a-4795-a6a1-7a4a6a9555b5" Alias="B3.5.2 Integrating safety and security measures" Level="5">
  <Info>
    <Parent Key="f9bd18ad-cad7-415a-8c08-fb80dedf5c8e">B3.5 Safe and secure design</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B35SafeAndSecureDesign/B352IntegratingSafetyAndSecurityMeasures</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-11T14:36:30</CreateDate>
    <NodeName Default="B3.5.2 Integrating safety and security measures" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[B3.5.2 Integrating safety and security measures]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B3.5.2 Integrating safety and security measures]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B3.5.2 Integrating safety and security measures]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>