<?xml version="1.0" encoding="utf-8"?>
<Content Key="a80f09fe-f5f0-44e5-96b1-d49cfdeb9fba" Alias="B3.6.1 Establishing a new character" Level="5">
  <Info>
    <Parent Key="4aff5ec4-c252-4e24-b23a-b0ae8c199261">B3.6 Creating a new identity</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B36CreatingANewIdentity/B361EstablishingANewCharacter</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-11T14:52:33</CreateDate>
    <NodeName Default="B3.6.1 Establishing a new character" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[B3.6.1 Establishing a new character]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B3.6.1 Establishing a new character]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B3.6.1 Establishing a new character]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>