<?xml version="1.0" encoding="utf-8"?>
<Content Key="1a6501e2-93e5-4da1-ad9b-3b4375e85e6f" Alias="B4 Streets for people" Level="3">
  <Info>
    <Parent Key="b6e47bc0-62e5-471f-bb5c-4d47ccc05bfd">Chapter List</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople</Path>
    <Trashed>false</Trashed>
    <ContentType>chapterPage</ContentType>
    <CreateDate>2025-09-08T14:20:33</CreateDate>
    <NodeName Default="B4 Streets for people" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4b43efc7-390a-4478-94ea-cbcca3376c73">ChapterPage</Template>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[B4 Streets for people]]></Value>
    </caption>
    <content>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EStreets are more than just routes for traffic, they can play an important role in providing access to vital places and spaces where daily life happens. The codes within this section are here to help applicants design streets that are safe, inclusive, and enjoyable for everyone. This section supports the creation of well-connected, people-friendly streets that encourage active travel and strengthen community life.\u003C/p\u003E"
}]]></Value>
    </content>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <imageAltText>
      <Value><![CDATA[Figure 91: A pedestrianised street in Pontefract]]></Value>
    </imageAltText>
    <imagePicker>
      <Value><![CDATA[[
  {
    "key": "245b3cac-dc18-4bfd-8aba-03a3991d5e48",
    "mediaKey": "8c0b382f-cf3c-4cd6-b329-606bd74759c4",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </imagePicker>
    <metaDescription>
      <Value><![CDATA[B4 Streets for people]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[B4 Streets for people]]></Value>
    </metaTitle>
    <pickChapterSchema>
      <Value><![CDATA[[
  "Streets for people (blue)"
]]]></Value>
    </pickChapterSchema>
    <previewOrder>
      <Value><![CDATA[]]></Value>
    </previewOrder>
    <previewTitle>
      <Value><![CDATA[B4 Streets for people]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <title>
      <Value><![CDATA[B4 Streets for people]]></Value>
    </title>
  </Properties>
</Content>