<?xml version="1.0" encoding="utf-8"?>
<Content Key="cd38a503-edc4-4770-b165-bb647f7b33cb" Alias="B4.1 Connectivity" Level="4">
  <Info>
    <Parent Key="1a6501e2-93e5-4da1-ad9b-3b4375e85e6f">B4 Streets for people</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B41Connectivity</Path>
    <Trashed>false</Trashed>
    <ContentType>topicPage</ContentType>
    <CreateDate>2025-09-08T15:46:38</CreateDate>
    <NodeName Default="B4.1 Connectivity" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72acac67-8c0c-4094-9cf1-e6c83344d4ae">TopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <localPolicyLinks>
      <Value><![CDATA[]]></Value>
    </localPolicyLinks>
    <localPolicyTitle>
      <Value><![CDATA[Related Wakefield District Local Plan policies:]]></Value>
    </localPolicyTitle>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a",
      "key": "8c107f26-70ab-4ae5-9129-a50e2bce3976",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EConnectivity is about making sure neighbourhoods feel integrated and are easy to move through, especially on foot or by bike. When streets and paths are thoughtfully designed, they encourage healthier, more active lifestyles and help people reach important places like schools and shops without relying on cars. Good connections create stronger communities by bringing people together and making daily journeys simple, safe, and enjoyable.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "149f08a1-2bca-40db-a49b-15c0b4a73226",
      "key": "ba9e4310-8c6c-4b1a-9ae2-fe7753fc862b",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "8c107f26-70ab-4ae5-9129-a50e2bce3976",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "8c107f26-70ab-4ae5-9129-a50e2bce3976",
        "contentUdi": null,
        "settingsKey": "ba9e4310-8c6c-4b1a-9ae2-fe7753fc862b",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <pageTitle>
      <Value><![CDATA[B4.1 Connectivity]]></Value>
    </pageTitle>
    <previewIconCode>
      <Value><![CDATA[bi bi-building]]></Value>
    </previewIconCode>
    <previewOrder>
      <Value><![CDATA[1]]></Value>
    </previewOrder>
    <previewShortDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem ut libero malesuada.]]></Value>
    </previewShortDescription>
    <previewTitle>
      <Value><![CDATA[B4.1 Connectivity]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>