<?xml version="1.0" encoding="utf-8"?>
<Content Key="14ee9dac-d52d-4d44-9b53-4e5fb015e4b4" Alias="B4.2 Street hierarchy" Level="4">
  <Info>
    <Parent Key="1a6501e2-93e5-4da1-ad9b-3b4375e85e6f">B4 Streets for people</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B42StreetHierarchy</Path>
    <Trashed>false</Trashed>
    <ContentType>topicPage</ContentType>
    <CreateDate>2025-09-08T15:47:54</CreateDate>
    <NodeName Default="B4.2 Street hierarchy" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72acac67-8c0c-4094-9cf1-e6c83344d4ae">TopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <localPolicyLinks>
      <Value><![CDATA[]]></Value>
    </localPolicyLinks>
    <localPolicyTitle>
      <Value><![CDATA[Related Wakefield District Local Plan policies:]]></Value>
    </localPolicyTitle>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a",
      "key": "e164bc00-2c11-413d-bc37-948caeda1a1f",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EStreet hierarchy helps give neighbourhoods a clear and understandable structure, shaping how streets and spaces relate to each other. By defining different types of streets, whether busy routes, quiet lanes, or shared spaces, we can create places that feel organised and easy to navigate. This careful layering supports safe movement for everyone whilst shaping vibrant public spaces where community life can flourish. A well-planned street hierarchy can help turn everyday journeys into pleasant, and enjoyable experiences. This helps build neighbourhoods that feel welcoming and balanced for everyone.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "149f08a1-2bca-40db-a49b-15c0b4a73226",
      "key": "de209632-d8ab-4a6f-a8db-fb59de92ee5c",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "e164bc00-2c11-413d-bc37-948caeda1a1f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e164bc00-2c11-413d-bc37-948caeda1a1f",
        "contentUdi": null,
        "settingsKey": "de209632-d8ab-4a6f-a8db-fb59de92ee5c",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <pageTitle>
      <Value><![CDATA[B4.2 Street hierarchy]]></Value>
    </pageTitle>
    <previewIconCode>
      <Value><![CDATA[bi bi-flower1]]></Value>
    </previewIconCode>
    <previewOrder>
      <Value><![CDATA[2]]></Value>
    </previewOrder>
    <previewShortDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem ut libero malesuada.]]></Value>
    </previewShortDescription>
    <previewTitle>
      <Value><![CDATA[B4.2 Street hierarchy]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>