<?xml version="1.0" encoding="utf-8"?>
<Content Key="0564e14b-e344-4ec8-9af7-78a4c5a3607f" Alias="B4.3 Active travel and inclusive streets" Level="4">
  <Info>
    <Parent Key="1a6501e2-93e5-4da1-ad9b-3b4375e85e6f">B4 Streets for people</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B43ActiveTravelAndInclusiveStreets</Path>
    <Trashed>false</Trashed>
    <ContentType>topicPage</ContentType>
    <CreateDate>2025-09-15T09:33:24</CreateDate>
    <NodeName Default="B4.3 Active travel and inclusive streets" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72acac67-8c0c-4094-9cf1-e6c83344d4ae">TopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <localPolicyLinks>
      <Value><![CDATA[]]></Value>
    </localPolicyLinks>
    <localPolicyTitle>
      <Value><![CDATA[Related Wakefield District Local Plan policies:]]></Value>
    </localPolicyTitle>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a",
      "key": "eb741546-13c6-49ff-88e3-461a9dfe8f12",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EActive travel and inclusive streets focus on creating environments where everyone can move easily and safely, whether walking, cycling, using public transport, or mobility aids. By designing streets that prioritise pedestrians and cyclists, and providing well-planned transport options and mobility hubs, we can support healthier, more connected communities. Inclusive design ensures that no one is left behind, making it easier for all people to access the places they need and to enjoy streets that feel welcoming, safe, and accessible to everyone. Good public transport links and accessible infrastructure are also essential for meeting our sustainability and transport goals, making it easier for everyone to choose cleaner, more active ways to travel.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "149f08a1-2bca-40db-a49b-15c0b4a73226",
      "key": "5a732f39-24bd-4789-82f1-63583d18746c",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "eb741546-13c6-49ff-88e3-461a9dfe8f12",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "eb741546-13c6-49ff-88e3-461a9dfe8f12",
        "contentUdi": null,
        "settingsKey": "5a732f39-24bd-4789-82f1-63583d18746c",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <pageTitle>
      <Value><![CDATA[B4.3 Active travel and inclusive streets]]></Value>
    </pageTitle>
    <previewIconCode>
      <Value><![CDATA[bi bi-globe-europe-africa]]></Value>
    </previewIconCode>
    <previewOrder>
      <Value><![CDATA[3]]></Value>
    </previewOrder>
    <previewShortDescription>
      <Value><![CDATA[Active travel and inclusive streets focus on creating environments where everyone can move easily and safely]]></Value>
    </previewShortDescription>
    <previewTitle>
      <Value><![CDATA[B4.3 Active travel and inclusive streets]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>