<?xml version="1.0" encoding="utf-8"?>
<Content Key="b351d365-838a-40b4-8d7c-a970bc132738" Alias="B4.4 Junctions and crossings" Level="4">
  <Info>
    <Parent Key="1a6501e2-93e5-4da1-ad9b-3b4375e85e6f">B4 Streets for people</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B44JunctionsAndCrossings</Path>
    <Trashed>false</Trashed>
    <ContentType>topicPage</ContentType>
    <CreateDate>2025-09-15T12:11:26</CreateDate>
    <NodeName Default="B4.4 Junctions and crossings" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72acac67-8c0c-4094-9cf1-e6c83344d4ae">TopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <localPolicyLinks>
      <Value><![CDATA[]]></Value>
    </localPolicyLinks>
    <localPolicyTitle>
      <Value><![CDATA[Related Wakefield District Local Plan policies:]]></Value>
    </localPolicyTitle>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a",
      "key": "31fb005b-deca-4840-9247-e29e6e4406db",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EJunctions and crossings are key features, where safety, ease of movement, and function of a street come together. Thoughtful design ensures that they work smoothly for everyone, whether walking, cycling, or driving, whilst also enhancing the look and feel of the area. By focusing on accessibility and clear visibility, these spaces become safer and more welcoming for all users. Well-designed junctions and crossings help create streets that are not only functional but also attractive and inclusive places to be.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "149f08a1-2bca-40db-a49b-15c0b4a73226",
      "key": "f9a901e0-8e35-4bac-a35b-af55c882deee",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "31fb005b-deca-4840-9247-e29e6e4406db",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "31fb005b-deca-4840-9247-e29e6e4406db",
        "contentUdi": null,
        "settingsKey": "f9a901e0-8e35-4bac-a35b-af55c882deee",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <pageTitle>
      <Value><![CDATA[B4.4 Junctions and crossings]]></Value>
    </pageTitle>
    <previewIconCode>
      <Value><![CDATA[bi bi-shop]]></Value>
    </previewIconCode>
    <previewOrder>
      <Value><![CDATA[4]]></Value>
    </previewOrder>
    <previewShortDescription>
      <Value><![CDATA[Junctions and crossings are key features, where safety, ease of movement, and function of a street come together]]></Value>
    </previewShortDescription>
    <previewTitle>
      <Value><![CDATA[B4.4 Junctions and crossings]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>