<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ec99629-b8da-4089-bb31-7f39e72ce82d" Alias="B4.5 Managing speed" Level="4">
  <Info>
    <Parent Key="1a6501e2-93e5-4da1-ad9b-3b4375e85e6f">B4 Streets for people</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B45ManagingSpeed</Path>
    <Trashed>false</Trashed>
    <ContentType>topicPage</ContentType>
    <CreateDate>2025-09-15T12:31:05</CreateDate>
    <NodeName Default="B4.5 Managing speed" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72acac67-8c0c-4094-9cf1-e6c83344d4ae">TopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <localPolicyLinks>
      <Value><![CDATA[]]></Value>
    </localPolicyLinks>
    <localPolicyTitle>
      <Value><![CDATA[Related Wakefield District Local Plan policies:]]></Value>
    </localPolicyTitle>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a",
      "key": "49623fbb-c4d0-47e6-881e-a11ff1084b44",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EManaging speed through thoughtful design helps to make streets safer and more comfortable for everyone. By using well-integrated traffic calming measures, we can encourage slower driving without creating harsh or unattractive environments. These subtle design features not only protect pedestrians and cyclists, but also enhance the overall character of the street. When speed is carefully managed, streets feel calmer and more inviting, encouraging people to dwell, relax, and connect with their surroundings.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "149f08a1-2bca-40db-a49b-15c0b4a73226",
      "key": "76007bd3-5f9d-4c8a-a796-bb2967e67c86",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "49623fbb-c4d0-47e6-881e-a11ff1084b44",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "49623fbb-c4d0-47e6-881e-a11ff1084b44",
        "contentUdi": null,
        "settingsKey": "76007bd3-5f9d-4c8a-a796-bb2967e67c86",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <pageTitle>
      <Value><![CDATA[B4.5 Managing speed]]></Value>
    </pageTitle>
    <previewIconCode>
      <Value><![CDATA[bi bi-building-fill]]></Value>
    </previewIconCode>
    <previewOrder>
      <Value><![CDATA[5]]></Value>
    </previewOrder>
    <previewShortDescription>
      <Value><![CDATA[Managing speed through thoughtful design helps to make streets safer and more comfortable for everyone]]></Value>
    </previewShortDescription>
    <previewTitle>
      <Value><![CDATA[B4.5 Managing speed]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>