<?xml version="1.0" encoding="utf-8"?>
<Content Key="bc5a5c1d-b2a8-48b4-ae7f-2faa8cb27ebf" Alias="B4.6 Lighting" Level="4">
  <Info>
    <Parent Key="1a6501e2-93e5-4da1-ad9b-3b4375e85e6f">B4 Streets for people</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B46Lighting</Path>
    <Trashed>false</Trashed>
    <ContentType>topicPage</ContentType>
    <CreateDate>2025-09-15T13:14:12</CreateDate>
    <NodeName Default="B4.6 Lighting" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72acac67-8c0c-4094-9cf1-e6c83344d4ae">TopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <localPolicyLinks>
      <Value><![CDATA[]]></Value>
    </localPolicyLinks>
    <localPolicyTitle>
      <Value><![CDATA[Related Wakefield District Local Plan policies:]]></Value>
    </localPolicyTitle>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a",
      "key": "8cc2007d-5a2b-42a7-ae79-129abe65706a",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ELighting plays a vital role in making streets feel safe, welcoming, and inviting after dark. Thoughtful street lighting balances visibility and comfort whilst respecting the natural environment, minimising glare and light pollution. By designing lighting that works with the rhythms of people and nature, we can create spaces that feel secure without losing their warmth and character, keeping our communities connected all year round.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "149f08a1-2bca-40db-a49b-15c0b4a73226",
      "key": "76cebf6c-7bd4-4645-a090-dfc0fc88c64c",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "8cc2007d-5a2b-42a7-ae79-129abe65706a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "8cc2007d-5a2b-42a7-ae79-129abe65706a",
        "contentUdi": null,
        "settingsKey": "76cebf6c-7bd4-4645-a090-dfc0fc88c64c",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <pageTitle>
      <Value><![CDATA[B4.6 Lighting]]></Value>
    </pageTitle>
    <previewIconCode>
      <Value><![CDATA[bi bi-shop]]></Value>
    </previewIconCode>
    <previewOrder>
      <Value><![CDATA[6]]></Value>
    </previewOrder>
    <previewShortDescription>
      <Value><![CDATA[Lighting plays a vital role in making streets feel safe, welcoming, and inviting after dark]]></Value>
    </previewShortDescription>
    <previewTitle>
      <Value><![CDATA[B4.6 Lighting]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>