<?xml version="1.0" encoding="utf-8"?>
<Content Key="2da3dd5a-88b0-4d3e-85a0-391b11237e2a" Alias="B4.7 Creating social places" Level="4">
  <Info>
    <Parent Key="1a6501e2-93e5-4da1-ad9b-3b4375e85e6f">B4 Streets for people</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B47CreatingSocialPlaces</Path>
    <Trashed>false</Trashed>
    <ContentType>topicPage</ContentType>
    <CreateDate>2025-09-15T13:21:04</CreateDate>
    <NodeName Default="B4.7 Creating social places" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72acac67-8c0c-4094-9cf1-e6c83344d4ae">TopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <localPolicyLinks>
      <Value><![CDATA[]]></Value>
    </localPolicyLinks>
    <localPolicyTitle>
      <Value><![CDATA[Related Wakefield District Local Plan policies:]]></Value>
    </localPolicyTitle>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a",
      "key": "22a79d48-7130-40ab-a795-44902fe8a21d",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EStreets play a vital role as social spaces where people come together to gather, relax, and connect. By choosing the right materials, comfortable street furniture, and thoughtful place branding, we can create environments that feel welcoming and unique. These carefully designed spaces contribute to the essence of our communities, where everyday moments turn into meaningful experiences, enabling places for people to dwell and encouraging social interactions.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "b9af4c70-1084-4584-ad86-f992c4f694c9",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 124"
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 124: A welcoming green street with room for seating to spill out from local cafes"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "9e14c82e-5845-4fc5-ae53-08b948c343a4",
              "mediaKey": "db459f31-c9ac-4a11-8d66-7098b74a179d",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 124: A welcoming green street with room for seating to spill out from local cafes"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "a37fb4d4-2673-4526-b49c-358ae5cd8e7d",
      "key": "0c4afc88-95b8-4f37-b7ef-5d3b0f34980b",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "2e08d914-607c-443c-b1f4-7a0b85457bd6",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "22a79d48-7130-40ab-a795-44902fe8a21d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b9af4c70-1084-4584-ad86-f992c4f694c9",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "22a79d48-7130-40ab-a795-44902fe8a21d",
        "contentUdi": null,
        "settingsKey": "0c4afc88-95b8-4f37-b7ef-5d3b0f34980b",
        "settingsUdi": null
      },
      {
        "contentKey": "b9af4c70-1084-4584-ad86-f992c4f694c9",
        "contentUdi": null,
        "settingsKey": "2e08d914-607c-443c-b1f4-7a0b85457bd6",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <pageTitle>
      <Value><![CDATA[B4.7 Creating social places]]></Value>
    </pageTitle>
    <previewIconCode>
      <Value><![CDATA[bi bi-flower1]]></Value>
    </previewIconCode>
    <previewOrder>
      <Value><![CDATA[7]]></Value>
    </previewOrder>
    <previewShortDescription>
      <Value><![CDATA[Streets play a vital role as social spaces where people come together to gather]]></Value>
    </previewShortDescription>
    <previewTitle>
      <Value><![CDATA[B4.7 Creating social places]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>