<?xml version="1.0" encoding="utf-8"?>
<Content Key="e987754d-82b5-4d5a-a121-388be3cc10e8" Alias="B4.1.2 Connected schools" Level="5">
  <Info>
    <Parent Key="cd38a503-edc4-4770-b165-bb647f7b33cb">B4.1 Connectivity</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B41Connectivity/B412ConnectedSchools</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-15T08:15:52</CreateDate>
    <NodeName Default="B4.1.2 Connected schools" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[B4.1.2 Connected schools]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B4.1.2 Connected schools]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B4.1.2 Connected schools]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>