<?xml version="1.0" encoding="utf-8"?>
<Content Key="ed313a99-40e1-4424-9488-cbabeff4137c" Alias="B4.1.1 Connected neighbourhoods" Level="5">
  <Info>
    <Parent Key="cd38a503-edc4-4770-b165-bb647f7b33cb">B4.1 Connectivity</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B41Connectivity/B411ConnectedNeighbourhoods</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-11T15:16:32</CreateDate>
    <NodeName Default="B4.1.1 Connected neighbourhoods" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[B4.1.1 Connected neighbourhoods]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B4.1.1 Connected neighbourhoods]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B4.1.1 Connected neighbourhoods]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>