<?xml version="1.0" encoding="utf-8"?>
<Content Key="85ed774b-fc67-4514-977e-b6d4bc00bc9b" Alias="B4.2.1 Street hierarchy" Level="5">
  <Info>
    <Parent Key="14ee9dac-d52d-4d44-9b53-4e5fb015e4b4">B4.2 Street hierarchy</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B42StreetHierarchy/B421StreetHierarchy</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-15T08:25:12</CreateDate>
    <NodeName Default="B4.2.1 Street hierarchy" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[B4.2.1 Street hierarchy]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B4.2.1 Street hierarchy]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B4.2.1 Street hierarchy]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>