<?xml version="1.0" encoding="utf-8"?>
<Content Key="bbefb9e2-e5a5-424d-a01b-c3beaf8d8bc6" Alias="B4.3.3 Designing for cyclists" Level="5">
  <Info>
    <Parent Key="0564e14b-e344-4ec8-9af7-78a4c5a3607f">B4.3 Active travel and inclusive streets</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B43ActiveTravelAndInclusiveStreets/B433DesigningForCyclists</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-15T10:38:06</CreateDate>
    <NodeName Default="B4.3.3 Designing for cyclists" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[B4.3.3 Designing for cyclists]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B4.3.3 Designing for cyclists]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B4.3.3 Designing for cyclists]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>