<?xml version="1.0" encoding="utf-8"?>
<Content Key="4728291c-1d5c-4e41-8e1f-040be60f5853" Alias="B4.5.1 Speed restraints" Level="5">
  <Info>
    <Parent Key="0ec99629-b8da-4089-bb31-7f39e72ce82d">B4.5 Managing speed</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B45ManagingSpeed/B451SpeedRestraints</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-15T12:31:28</CreateDate>
    <NodeName Default="B4.5.1 Speed restraints" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[B4.5.1 Speed restraints]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B4.5.1 Speed restraints]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B4.5.1 Speed restraints]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>