<?xml version="1.0" encoding="utf-8"?>
<Content Key="88a3bafa-b831-4ac1-9f57-5abb84bc061d" Alias="B4.7.3 Street furniture" Level="5">
  <Info>
    <Parent Key="2da3dd5a-88b0-4d3e-85a0-391b11237e2a">B4.7 Creating social places</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B47CreatingSocialPlaces/B473StreetFurniture</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-15T13:37:47</CreateDate>
    <NodeName Default="B4.7.3 Street furniture" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[B4.7.3 Street furniture]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B4.7.3 Street furniture]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B4.7.3 Street furniture]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>