<?xml version="1.0" encoding="utf-8"?>
<Content Key="e0b50cf0-6e28-4aaa-8bdc-a175431571a8" Alias="B4.7.2 Events and public spaces" Level="5">
  <Info>
    <Parent Key="2da3dd5a-88b0-4d3e-85a0-391b11237e2a">B4.7 Creating social places</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B47CreatingSocialPlaces/B472EventsAndPublicSpaces</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-15T13:25:35</CreateDate>
    <NodeName Default="B4.7.2 Events and public spaces" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[B4.7.2 Events and public spaces]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B4.7.2 Events and public spaces]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B4.7.2 Events and public spaces]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>