<?xml version="1.0" encoding="utf-8"?>
<Content Key="67362e47-a36a-458b-ac60-a495b4a53e26" Alias="B5 Healthy and inclusive homes" Level="3">
  <Info>
    <Parent Key="b6e47bc0-62e5-471f-bb5c-4d47ccc05bfd">Chapter List</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes</Path>
    <Trashed>false</Trashed>
    <ContentType>chapterPage</ContentType>
    <CreateDate>2025-09-08T14:21:17</CreateDate>
    <NodeName Default="B5 Healthy and inclusive homes" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4b43efc7-390a-4478-94ea-cbcca3376c73">ChapterPage</Template>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[B5 Healthy and inclusive homes]]></Value>
    </caption>
    <content>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EHomes should be places where people feel healthy, comfortable, and supported. The codes within this section are here to help applicants design housing that supports wellbeing and meets the needs of different people and lifestyles. Covering everything from home layouts and gardens, to extensions, boundaries, and parking, this section supports the creation and alterations of homes and neighbourhoods that are attractive, functional, and built to last.\u003C/p\u003E"
}]]></Value>
    </content>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <imageAltText>
      <Value><![CDATA[B5 Healthy and inclusive homes]]></Value>
    </imageAltText>
    <imagePicker>
      <Value><![CDATA[[
  {
    "key": "62498dbb-8703-4cc9-8759-28cb68605f59",
    "mediaKey": "2786c7eb-a891-4aec-96ab-559d9976476a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </imagePicker>
    <metaDescription>
      <Value><![CDATA[B5 Healthy and inclusive homes]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[B5 Healthy and inclusive homes]]></Value>
    </metaTitle>
    <pickChapterSchema>
      <Value><![CDATA[[
  "Healthy and inclusive homes (orange)"
]]]></Value>
    </pickChapterSchema>
    <previewOrder>
      <Value><![CDATA[]]></Value>
    </previewOrder>
    <previewTitle>
      <Value><![CDATA[B5 Healthy and inclusive homes]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <title>
      <Value><![CDATA[B5 Healthy and inclusive homes]]></Value>
    </title>
  </Properties>
</Content>