<?xml version="1.0" encoding="utf-8"?>
<Content Key="36810e8b-0b5c-40b1-863c-0df9f8f2ca3d" Alias="B5.1 Extensions and alterations" Level="4">
  <Info>
    <Parent Key="67362e47-a36a-458b-ac60-a495b4a53e26">B5 Healthy and inclusive homes</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes/B51ExtensionsAndAlterations</Path>
    <Trashed>false</Trashed>
    <ContentType>topicPage</ContentType>
    <CreateDate>2025-09-08T15:49:40</CreateDate>
    <NodeName Default="B5.1 Extensions and alterations" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72acac67-8c0c-4094-9cf1-e6c83344d4ae">TopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <localPolicyLinks>
      <Value><![CDATA[]]></Value>
    </localPolicyLinks>
    <localPolicyTitle>
      <Value><![CDATA[Related Wakefield District Local Plan policies:]]></Value>
    </localPolicyTitle>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a",
      "key": "b8329442-8363-464b-aee2-e9fcc1ac78c2",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EChanges to a home (such as extensions or loft conversions) can add valuable space and new life to a property. With careful attention to scale, proportion, and detail, these alterations can feel like a natural part of the original home. Thoughtful design helps ensure that any additions or changes sit comfortably within the wider streetscape, whilst respecting neighbours\u2019 outlook and privacy. By approaching extensions and alterations with care and consistency, we can support homes to grow and adapt, whilst keeping the character and harmony of the area intact.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "3af70173-0e78-4a8e-a4ad-394d78f0d9b6",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 131"
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 131: Subordinate and well detailed extension, which reflects the architectural character of the original home in Harpenden"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3134a134-6553-437e-9530-48f363df8093",
              "mediaKey": "aad5a6aa-1964-4cba-a3b0-fb5b995c0321",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 131: Subordinate and well detailed extension, which reflects the architectural character of the original home in Harpenden"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "a37fb4d4-2673-4526-b49c-358ae5cd8e7d",
      "key": "8ab037f5-0fde-4f5f-80d6-9b35d69d8f95",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "6b945be8-e474-4c4c-91fe-aa8719f91939",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "b8329442-8363-464b-aee2-e9fcc1ac78c2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3af70173-0e78-4a8e-a4ad-394d78f0d9b6",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b8329442-8363-464b-aee2-e9fcc1ac78c2",
        "contentUdi": null,
        "settingsKey": "8ab037f5-0fde-4f5f-80d6-9b35d69d8f95",
        "settingsUdi": null
      },
      {
        "contentKey": "3af70173-0e78-4a8e-a4ad-394d78f0d9b6",
        "contentUdi": null,
        "settingsKey": "6b945be8-e474-4c4c-91fe-aa8719f91939",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <pageTitle>
      <Value><![CDATA[B5.1 Extensions and alterations]]></Value>
    </pageTitle>
    <previewIconCode>
      <Value><![CDATA[bi bi-flower1]]></Value>
    </previewIconCode>
    <previewOrder>
      <Value><![CDATA[1]]></Value>
    </previewOrder>
    <previewShortDescription>
      <Value><![CDATA[Changes to a home (such as extensions or loft conversions) can add valuable space and new life to a property]]></Value>
    </previewShortDescription>
    <previewTitle>
      <Value><![CDATA[B5.1 Extensions and alterations]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>