<?xml version="1.0" encoding="utf-8"?>
<Content Key="b63dc823-7c11-434b-bc65-c8b0c2dc3534" Alias="B5.2 Change of use" Level="4">
  <Info>
    <Parent Key="67362e47-a36a-458b-ac60-a495b4a53e26">B5 Healthy and inclusive homes</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes/B52ChangeOfUse</Path>
    <Trashed>false</Trashed>
    <ContentType>topicPage</ContentType>
    <CreateDate>2025-09-08T15:50:37</CreateDate>
    <NodeName Default="B5.2 Change of use" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72acac67-8c0c-4094-9cf1-e6c83344d4ae">TopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <localPolicyLinks>
      <Value><![CDATA[]]></Value>
    </localPolicyLinks>
    <localPolicyTitle>
      <Value><![CDATA[Related Wakefield District Local Plan policies:]]></Value>
    </localPolicyTitle>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a",
      "key": "9b2cb791-a4a5-4b70-a691-7d2b13cd7fc8",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EWhen buildings take on new uses, they have the chance to tell a new story, whilst still celebrating their past. Sensitive, well-planned changes help these buildings feel authentic, functional, and rooted in their history. By respecting what makes a building special, we can create distinctive, and meaningful places that continue to serve their communities in fresh and meaningful ways.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "a37fb4d4-2673-4526-b49c-358ae5cd8e7d",
      "key": "ab7219d6-658a-4a0f-853a-f9f209c606aa",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "9b2cb791-a4a5-4b70-a691-7d2b13cd7fc8",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9b2cb791-a4a5-4b70-a691-7d2b13cd7fc8",
        "contentUdi": null,
        "settingsKey": "ab7219d6-658a-4a0f-853a-f9f209c606aa",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <pageTitle>
      <Value><![CDATA[B5.2 Change of use]]></Value>
    </pageTitle>
    <previewIconCode>
      <Value><![CDATA[bi bi-building]]></Value>
    </previewIconCode>
    <previewOrder>
      <Value><![CDATA[2]]></Value>
    </previewOrder>
    <previewShortDescription>
      <Value><![CDATA[When buildings take on new uses, they have the chance to tell a new story, whilst  still celebrating their past.]]></Value>
    </previewShortDescription>
    <previewTitle>
      <Value><![CDATA[B5.2 Change of use]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>