<?xml version="1.0" encoding="utf-8"?>
<Content Key="bda55719-e4ac-44f1-afad-4c856833da67" Alias="B5.3 Backland development" Level="4">
  <Info>
    <Parent Key="67362e47-a36a-458b-ac60-a495b4a53e26">B5 Healthy and inclusive homes</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes/B53BacklandDevelopment</Path>
    <Trashed>false</Trashed>
    <ContentType>topicPage</ContentType>
    <CreateDate>2025-09-15T16:06:26</CreateDate>
    <NodeName Default="B5.3 Backland development" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72acac67-8c0c-4094-9cf1-e6c83344d4ae">TopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <localPolicyLinks>
      <Value><![CDATA[]]></Value>
    </localPolicyLinks>
    <localPolicyTitle>
      <Value><![CDATA[Related Wakefield District Local Plan policies:]]></Value>
    </localPolicyTitle>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a",
      "key": "b8667056-6525-4c45-8419-ff8115718617",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EBackland developments can make use of hidden or underused spaces, but need a careful, and considered approach. By balancing scale, privacy, and access, we can ensure new homes sit comfortably within their surroundings and respect the character of the area. Well-designed backland development can feel like a natural extension of the neighbourhood, discreet, functional, and welcoming, offering new homes without compromising on quality or harmony.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "149f08a1-2bca-40db-a49b-15c0b4a73226",
      "key": "f239e89a-aff8-466d-b933-a1e43e230131",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "b8667056-6525-4c45-8419-ff8115718617",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b8667056-6525-4c45-8419-ff8115718617",
        "contentUdi": null,
        "settingsKey": "f239e89a-aff8-466d-b933-a1e43e230131",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <pageTitle>
      <Value><![CDATA[B5.3 Backland development]]></Value>
    </pageTitle>
    <previewIconCode>
      <Value><![CDATA[bi bi-building-fill]]></Value>
    </previewIconCode>
    <previewOrder>
      <Value><![CDATA[3]]></Value>
    </previewOrder>
    <previewShortDescription>
      <Value><![CDATA[Backland developments can make use of hidden or underused spaces.]]></Value>
    </previewShortDescription>
    <previewTitle>
      <Value><![CDATA[B5.3 Backland development]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>