<?xml version="1.0" encoding="utf-8"?>
<Content Key="b6211a37-8dba-4820-a866-2ae570ac4c07" Alias="B5.4 Plots" Level="4">
  <Info>
    <Parent Key="67362e47-a36a-458b-ac60-a495b4a53e26">B5 Healthy and inclusive homes</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes/B54Plots</Path>
    <Trashed>false</Trashed>
    <ContentType>topicPage</ContentType>
    <CreateDate>2025-09-15T16:12:39</CreateDate>
    <NodeName Default="B5.4 Plots" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72acac67-8c0c-4094-9cf1-e6c83344d4ae">TopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <localPolicyLinks>
      <Value><![CDATA[]]></Value>
    </localPolicyLinks>
    <localPolicyTitle>
      <Value><![CDATA[Related Wakefield District Local Plan policies:]]></Value>
    </localPolicyTitle>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a",
      "key": "c7ac44f0-1600-42b6-bf4c-c474232eb1b2",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThe way we space and arrange plots plays a big role in how homes feel and relate to each other. Thoughtful plot design helps create a sense of space, privacy, and comfort, whilst supporting positive relationships between neighbours. By carefully considering how plots are shaped and positioned, we can make sure homes get enough light, feel private without being cut off, and sit well within their surroundings. Getting this balance right helps create places that feel respectful, spacious, and truly livable.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "149f08a1-2bca-40db-a49b-15c0b4a73226",
      "key": "369a64fa-782e-4bb4-ab5b-71be59b4c2c4",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "c7ac44f0-1600-42b6-bf4c-c474232eb1b2",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c7ac44f0-1600-42b6-bf4c-c474232eb1b2",
        "contentUdi": null,
        "settingsKey": "369a64fa-782e-4bb4-ab5b-71be59b4c2c4",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <pageTitle>
      <Value><![CDATA[B5.4 Plots]]></Value>
    </pageTitle>
    <previewIconCode>
      <Value><![CDATA[bi bi-mask]]></Value>
    </previewIconCode>
    <previewOrder>
      <Value><![CDATA[4]]></Value>
    </previewOrder>
    <previewShortDescription>
      <Value><![CDATA[The way we space and arrange plots plays a big role in how homes feel and relate to each other.]]></Value>
    </previewShortDescription>
    <previewTitle>
      <Value><![CDATA[B5.4 Plots]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>