<?xml version="1.0" encoding="utf-8"?>
<Content Key="cbb40712-c2ed-43b6-b94e-67ec0a62a84d" Alias="B5.5 Liveable and healthy homes" Level="4">
  <Info>
    <Parent Key="67362e47-a36a-458b-ac60-a495b4a53e26">B5 Healthy and inclusive homes</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes/B55LiveableAndHealthyHomes</Path>
    <Trashed>false</Trashed>
    <ContentType>topicPage</ContentType>
    <CreateDate>2025-09-15T16:29:05</CreateDate>
    <NodeName Default="B5.5 Liveable and healthy homes" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72acac67-8c0c-4094-9cf1-e6c83344d4ae">TopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <localPolicyLinks>
      <Value><![CDATA[]]></Value>
    </localPolicyLinks>
    <localPolicyTitle>
      <Value><![CDATA[Related Wakefield District Local Plan policies:]]></Value>
    </localPolicyTitle>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a",
      "key": "c5b6114f-9a89-4410-8168-844569f0a816",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThe way we design homes has a powerful effect on how comfortable, healthy, and adaptable they are for everyday life. When we focus on creating spaces that support wellbeing, flexibility, and ease of use, we can design homes for everyone. Thoughtful, people-centred design can improve quality of life, support changing needs, and promote healthier living. By designing with care, we can create homes that are not only more livable today but ready to support us well into the future.\u003C/p\u003E"
          }
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "149f08a1-2bca-40db-a49b-15c0b4a73226",
      "key": "bf978e0f-be56-4d33-b0eb-b1f0e93a77e5",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "c5b6114f-9a89-4410-8168-844569f0a816",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c5b6114f-9a89-4410-8168-844569f0a816",
        "contentUdi": null,
        "settingsKey": "bf978e0f-be56-4d33-b0eb-b1f0e93a77e5",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <pageTitle>
      <Value><![CDATA[B5.5 Liveable and healthy homes]]></Value>
    </pageTitle>
    <previewIconCode>
      <Value><![CDATA[bi bi-shop]]></Value>
    </previewIconCode>
    <previewOrder>
      <Value><![CDATA[5]]></Value>
    </previewOrder>
    <previewShortDescription>
      <Value><![CDATA[The way we design homes has a powerful effect on how comfortable, healthy, and adaptable they are for everyday life.]]></Value>
    </previewShortDescription>
    <previewTitle>
      <Value><![CDATA[B5.5 Liveable and healthy homes]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>