<?xml version="1.0" encoding="utf-8"?>
<Content Key="39745704-28d0-4189-9ffb-7e54db57a522" Alias="B5.1.2 Dormer sizes" Level="5">
  <Info>
    <Parent Key="36810e8b-0b5c-40b1-863c-0df9f8f2ca3d">B5.1 Extensions and alterations</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes/B51ExtensionsAndAlterations/B512DormerSizes</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-15T14:42:26</CreateDate>
    <NodeName Default="B5.1.2 Dormer sizes" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[B5.1.2 Dormer sizes]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B5.1.2 Dormer sizes]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B5.1.2 Dormer sizes]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>