<?xml version="1.0" encoding="utf-8"?>
<Content Key="9a635f0f-078f-437f-b1a5-fe9a9b5849d8" Alias="B5.1.1 Scale, massing and proportion of extensions" Level="5">
  <Info>
    <Parent Key="36810e8b-0b5c-40b1-863c-0df9f8f2ca3d">B5.1 Extensions and alterations</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes/B51ExtensionsAndAlterations/B511ScaleMassingAndProportionOfExtensions</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-15T14:05:44</CreateDate>
    <NodeName Default="B5.1.1 Scale, massing and proportion of extensions" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[B5.1.1 Scale, massing and proportion of extensions ]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B5.1.1 Scale, massing and proportion of extensions]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B5.1.1 Scale, massing and proportion of extensions]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>