<?xml version="1.0" encoding="utf-8"?>
<Content Key="124f781b-7e20-4a3f-b30a-ed5fbfce7c5f" Alias="B5.2.1 Sensitive and characterful conversions" Level="5">
  <Info>
    <Parent Key="b63dc823-7c11-434b-bc65-c8b0c2dc3534">B5.2 Change of use</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes/B52ChangeOfUse/B521SensitiveAndCharacterfulConversions</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-15T15:54:17</CreateDate>
    <NodeName Default="B5.2.1 Sensitive and characterful conversions" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[B5.2.1 Sensitive and characterful conversions]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B5.2.1 Sensitive and characterful conversions]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B5.2.1 Sensitive and characterful conversions]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>