<?xml version="1.0" encoding="utf-8"?>
<Content Key="55b7847d-949f-46da-8232-8447aa908d79" Alias="B5.3.1 Balancing scale, privacy, and access" Level="5">
  <Info>
    <Parent Key="bda55719-e4ac-44f1-afad-4c856833da67">B5.3 Backland development</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes/B53BacklandDevelopment/B531BalancingScalePrivacyAndAccess</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-15T16:07:07</CreateDate>
    <NodeName Default="B5.3.1 Balancing scale, privacy, and access" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[B5.3.1 Balancing scale, privacy, and access]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B5.3.1 Balancing scale, privacy, and access]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B5.3.1 Balancing scale, privacy, and access]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>