<?xml version="1.0" encoding="utf-8"?>
<Content Key="7fb9316c-161e-45f5-a5d4-dfcbf9d33e8e" Alias="B5.4.3 Overlooking and privacy" Level="5">
  <Info>
    <Parent Key="b6211a37-8dba-4820-a866-2ae570ac4c07">B5.4 Plots</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes/B54Plots/B543OverlookingAndPrivacy</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-15T16:19:49</CreateDate>
    <NodeName Default="B5.4.3 Overlooking and privacy" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[B5.4.3 Overlooking and privacy]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B5.4.3 Overlooking and privacy]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B5.4.3 Overlooking and privacy]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>