<?xml version="1.0" encoding="utf-8"?>
<Content Key="e29f2f29-442c-4797-b20c-35111ea6174a" Alias="B5.5.1 Promoting healthier living" Level="5">
  <Info>
    <Parent Key="cbb40712-c2ed-43b6-b94e-67ec0a62a84d">B5.5 Liveable and healthy homes</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes/B55LiveableAndHealthyHomes/B551PromotingHealthierLiving</Path>
    <Trashed>false</Trashed>
    <ContentType>subTopicPage</ContentType>
    <CreateDate>2025-09-15T16:29:54</CreateDate>
    <NodeName Default="B5.5.1 Promoting healthier living" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8146317b-e775-4862-924f-40ab09d93515">SubTopicPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[B5.5.1 Promoting healthier living]]></Value>
    </metaDescription>
    <metaTags>
      <Value><![CDATA[]]></Value>
    </metaTags>
    <metaTitle>
      <Value><![CDATA[B5.5.1 Promoting healthier living]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[B5.5.1 Promoting healthier living]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>