<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb77c337-57b0-4637-8949-a215cd8dc704" Alias="B6 Attractive places to work" Level="3">
  <Info>
    <Parent Key="b6e47bc0-62e5-471f-bb5c-4d47ccc05bfd">Chapter List</Parent>
    <Path>/HomePage/ChapterList/B6AttractivePlacesToWork</Path>
    <Trashed>false</Trashed>
    <ContentType>chapterPage</ContentType>
    <CreateDate>2025-09-30T09:44:41</CreateDate>
    <NodeName Default="B6 Attractive places to work" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4b43efc7-390a-4478-94ea-cbcca3376c73">ChapterPage</Template>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[B6 Attractive places to work]]></Value>
    </caption>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <imageAltText>
      <Value><![CDATA[B6 Attractive places to work]]></Value>
    </imageAltText>
    <imagePicker>
      <Value><![CDATA[[
  {
    "key": "cfab43d9-5749-4cb1-b2b4-fee3434591a0",
    "mediaKey": "eeb98990-8451-4cda-b358-4103ff77d401",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </imagePicker>
    <metaDescription>
      <Value><![CDATA[B6 Attractive places to work]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[B6 Attractive places to work]]></Value>
    </metaTitle>
    <pickChapterSchema>
      <Value><![CDATA[[
  "Attractive places to work (gold)"
]]]></Value>
    </pickChapterSchema>
    <previewOrder>
      <Value><![CDATA[]]></Value>
    </previewOrder>
    <previewTitle>
      <Value><![CDATA[B6 Attractive places to work]]></Value>
    </previewTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <title>
      <Value><![CDATA[B6 Attractive places to work]]></Value>
    </title>
  </Properties>
</Content>