<?xml version="1.0" encoding="utf-8"?>
<Content Key="766241ea-a95f-4e68-a834-11df5a4850c4" Alias="C0.1" Level="6">
  <Info>
    <Parent Key="a3f46f2f-6cfc-4126-9cb2-fc357df7c29f">B1.1.1 Undertaking a site appraisal</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B11UnderstandingThePlace/B111UndertakingASiteAppraisal/C01</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2026-05-06T15:19:05</CreateDate>
    <NodeName Default="C0.1" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ELEE A ALLALALAL LLALAALLAL CHAKA KHAAAAAAAAAAAAAN!!!!! - WILLIAM SHATNER!\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[C0.1]]></Value>
    </title>
  </Properties>
</Content>