<?xml version="1.0" encoding="utf-8"?>
<Content Key="b6e47bc0-62e5-471f-bb5c-4d47ccc05bfd" Alias="Chapter List" Level="2">
  <Info>
    <Parent Key="8b2d6b32-b15f-4026-9848-3e4ef7c6c69b">Home Page</Parent>
    <Path>/HomePage/ChapterList</Path>
    <Trashed>false</Trashed>
    <ContentType>chapterList</ContentType>
    <CreateDate>2025-09-03T12:51:12</CreateDate>
    <NodeName Default="Chapter List" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ccad6ea6-78e6-4b59-ad54-20e1c8cf934f">ChapterList</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[Chapter List]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Chapter List]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[Wakefield District Design Code]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>