<?xml version="1.0" encoding="utf-8"?>
<Content Key="de92f66e-2abd-4c05-9912-cd17e4cf18b7" Alias="Code: C3.12" Level="6">
  <Info>
    <Parent Key="851a0d40-a07d-40f6-8215-9f2890cf0b3d">B3.3.1 Ensuring easy navigability</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B33WayfindingAndLegibility/B331EnsuringEasyNavigability/CodeC312</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-11T12:01:00</CreateDate>
    <NodeName Default="Code: C3.12" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EProposed development layouts \u003Cstrong\u003Emust \u003C/strong\u003Ebe structured around a clear hierarchy of streets and spaces that reflect the relevant Street Hierarchy as listed in Chapter 4 under List 3. This hierarchy \u003Cstrong\u003Emust \u003C/strong\u003Eprioritise efficient movement and strong connectivity for all users, ensuring safe, direct and legible routes throughout the development and linking seamlessly to the surrounding area.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C3.12]]></Value>
    </title>
  </Properties>
</Content>