<?xml version="1.0" encoding="utf-8"?>
<Content Key="80594e75-d83c-4b60-883d-2c3ffee95402" Alias="Code: C2.15" Level="6">
  <Info>
    <Parent Key="1474bcc7-ecb0-4776-9fc6-3a9f7fdd1746">B2.5.1 Trees planting, street trees and landscape design</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B25NewTreesAndLandscapeStrategy/B251TreesPlantingStreetTreesAndLandscapeDesign/CodeC215</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T16:39:34</CreateDate>
    <NodeName Default="Code: C2.15" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EFor all proposed trees in hard landscape areas and other constrained locations (such as highway verges or planters) a detailed tree pit specification \u003Cstrong\u003Emust \u003C/strong\u003Ebe provided as part of the application. This \u003Cstrong\u003Emust \u003C/strong\u003Eset out the soil type and soil volume required for each tree species to ensure healthy growth from establishment to maturity. Specifications \u003Cstrong\u003Emust \u003C/strong\u003Ealso demonstrate how the design will protect surrounding infrastructure, including utilities, footpaths, and highways.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C2.15]]></Value>
    </title>
  </Properties>
</Content>