<?xml version="1.0" encoding="utf-8"?>
<Content Key="41ef19cb-e73d-442a-bdbd-a07b11a94315" Alias="Code: C4.41" Level="6">
  <Info>
    <Parent Key="ca797b48-9d21-48ec-8ac3-0d0cde8756ba">B4.6.1 Street lighting provision</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B46Lighting/B461StreetLightingProvision/CodeC441</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T13:15:58</CreateDate>
    <NodeName Default="Code: C4.41" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EAll streets \u003Cstrong\u003Emust \u003C/strong\u003Ebe provided with appropriate street lighting that is evenly distributed, unless otherwise agreed with Wakefield Council. Lighting fixtures \u003Cstrong\u003Emust \u003C/strong\u003Enot be positioned where they could obstruct pedestrian or cycle movement, and must ideally be located at the back of the footway to minimise any impact on movement and maintain the street\u2019s visual amenity. In environmentally sensitive areas, lighting design \u003Cstrong\u003Emust \u003C/strong\u003Ebalance safety with ecology, by following Code C2.3.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.41]]></Value>
    </title>
  </Properties>
</Content>