<?xml version="1.0" encoding="utf-8"?>
<Content Key="e65706fb-b323-4d76-a35a-103a243bc622" Alias="Code: C3.14" Level="6">
  <Info>
    <Parent Key="851a0d40-a07d-40f6-8215-9f2890cf0b3d">B3.3.1 Ensuring easy navigability</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B33WayfindingAndLegibility/B331EnsuringEasyNavigability/CodeC314</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-11T12:04:51</CreateDate>
    <NodeName Default="Code: C3.14" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EWhere wayfinding signage is provided, it \u003Cstrong\u003Emust \u003C/strong\u003Ebe clear, legible, and designed at a scale suitable for pedestrian use. See best practice guidance including Traffic Signs Manual (TSM) (Department for Transport, 2018), and Inclusive Mobility A Guide to Best Practice on Access to Pedestrian and Transport Infrastructure (Department for Transport, 2021).\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C3.14]]></Value>
    </title>
  </Properties>
</Content>