<?xml version="1.0" encoding="utf-8"?>
<Content Key="a0ebaba0-58d6-4142-bffc-7e3c4ec03949" Alias="Code: C2.5" Level="6">
  <Info>
    <Parent Key="dd2505e5-aff5-4dd7-a461-fbe443b5d871">B2.2.1 Integrating with existing green and blue networks</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B22ExistingGreenAndBlueNetworks/B221IntegratingWithExistingGreenAndBlueNetworks/CodeC25</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T13:16:36</CreateDate>
    <NodeName Default="Code: C2.5" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EWhere required, design proposals \u003Cstrong\u003Emust \u003C/strong\u003Eincorporate site specific mitigation measures using a hierarchical system to address any unavoidable impacts on biodiversity resources, including: \u003C/p\u003E\u003Col\u003E\u003Cli\u003E\u003Cp\u003Eloss or degradation of sites, habitats, and species \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Efragmentation of habitats, sites, or species populations \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Edisruption of connectivity or barriers to species movement \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Edisturbance or damage from emissions, noise, visual impacts, or pollution \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Ealteration of ecological support systems \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Eclimate change impacts\u003C/p\u003E\u003C/li\u003E\u003C/ol\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C2.5]]></Value>
    </title>
  </Properties>
</Content>