<?xml version="1.0" encoding="utf-8"?>
<Content Key="e38dbc1e-b201-4c7c-8c4b-2a9751e6d5d7" Alias="Code: C5.8" Level="6">
  <Info>
    <Parent Key="55b7847d-949f-46da-8232-8447aa908d79">B5.3.1 Balancing scale, privacy, and access</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes/B53BacklandDevelopment/B531BalancingScalePrivacyAndAccess/CodeC58</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T16:09:19</CreateDate>
    <NodeName Default="Code: C5.8" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EBackland development proposals \u003Cstrong\u003Emust \u003C/strong\u003Eprotect the privacy and amenity of neighbouring homes, by ensuring that:\u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003Eproposals respect the minimum separation distances set out in Code C5.10\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Etandem development (which places one dwelling directly behind another on the same plot with a shared access) is avoided, to prevent access and privacy issues\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C5.8]]></Value>
    </title>
  </Properties>
</Content>