<?xml version="1.0" encoding="utf-8"?>
<Content Key="d4d2cd1e-3820-47ee-8945-f8a935ed79b0" Alias="Code: C4.39" Level="6">
  <Info>
    <Parent Key="4658c98c-600d-4e4d-8b3e-8107e2d7eb1a">B4.5.4 Vehicle tracking, servicing and turning spaces</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B45ManagingSpeed/B454VehicleTrackingServicingAndTurningSpaces/CodeC439</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T12:59:35</CreateDate>
    <NodeName Default="Code: C4.39" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EAll development proposals \u003Cstrong\u003Emust \u003C/strong\u003Ebe supported by swept path analysis (vehicle tracking), carried out on the detailed drawings of the intended development layout. It \u003Cstrong\u003Emust \u003C/strong\u003Ebe demonstrated through vehicle tracking that a designated vehicle (for example, fire appliance or refuse vehicle currently in use) can utilise the street with the tracking speed to be 5 mph below the normal design speed for the street, and due account \u003Cstrong\u003Emust \u003C/strong\u003Ebe taken of reverse curves. Junction radii \u003Cstrong\u003Emust \u003C/strong\u003Ebe appropriate to the carriageway widths of the street type, and must align to the Street Hierarchy (List 3).\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.39]]></Value>
    </title>
  </Properties>
</Content>