<?xml version="1.0" encoding="utf-8"?>
<Content Key="bf0916c7-7c1c-4298-952a-99f6c351e3fb" Alias="Code: C3.15" Level="6">
  <Info>
    <Parent Key="2f80c230-c1a7-45f1-bd6e-e37c4adbba74">B3.3.2 Corner articulation</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B33WayfindingAndLegibility/B332CornerArticulation/CodeC315</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-11T12:53:59</CreateDate>
    <NodeName Default="Code: C3.15" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EProposed developments \u003Cstrong\u003Emust \u003C/strong\u003Eidentify and appropriately respond to prominent and important corners, particularly those located on key movement corridors, site entrances (such as gateways) or edges, adjacent to open space, or at the intersections of key pedestrian and cycle routes. These corners contribute significantly to wayfinding, urban character, and the overall legibility of a site, and their treatment \u003Cstrong\u003Emust \u003C/strong\u003Ebe considered from the earliest stages of the design process. Blank gable walls or minimal openings, such as small WC windows, will not be accepted in these prominent locations.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C3.15]]></Value>
    </title>
  </Properties>
</Content>