<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1d55ed3-3397-40af-ac8e-19af3c316254" Alias="Code: C2.14" Level="6">
  <Info>
    <Parent Key="1474bcc7-ecb0-4776-9fc6-3a9f7fdd1746">B2.5.1 Trees planting, street trees and landscape design</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B25NewTreesAndLandscapeStrategy/B251TreesPlantingStreetTreesAndLandscapeDesign/CodeC214</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T16:16:38</CreateDate>
    <NodeName Default="Code: C2.14" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EDevelopment proposals \u003Cstrong\u003Emust \u003C/strong\u003Eprioritise locating proposed street tree planting within the public realm (such as streets, parks and open spaces), and not purely within front gardens of new properties and buildings. \u003C/p\u003E\u003Cp\u003E\u003Cstrong\u003EException:\u003C/strong\u003E Only where it can be adequately demonstrated that engineering solutions cannot be incorporated to include trees within highway verges. Trees located within front gardens of new properties or buildings, may be considered as alternatives to street tree planting. At that point a tree preservation order (TPO) will be considered. This approach helps ensure long-term retention, consistent maintenance, and protection of trees, reducing the risk of future removal or inappropriate management associated with private ownership.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C2.14]]></Value>
    </title>
  </Properties>
</Content>