<?xml version="1.0" encoding="utf-8"?>
<Content Key="1d7a7fcb-fc4e-4ac4-8078-c44d0bb16466" Alias="Code: C4.32" Level="6">
  <Info>
    <Parent Key="4728291c-1d5c-4e41-8e1f-040be60f5853">B4.5.1 Speed restraints</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B45ManagingSpeed/B451SpeedRestraints/CodeC432</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T12:34:12</CreateDate>
    <NodeName Default="Code: C4.32" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EDesign proposals \u003Cstrong\u003Emust \u003C/strong\u003Edemonstrate how vehicles are to be prevented from overriding landscaped and amenity areas, areas of public realm, or impacting on trees, by providing information about the boundary treatments proposed under such circumstances.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Major Residential Applications (10\u002B homes)",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.32]]></Value>
    </title>
  </Properties>
</Content>