<?xml version="1.0" encoding="utf-8"?>
<Content Key="7903d331-f7f1-458f-bc29-a02c5dd4af30" Alias="Code: C2.16" Level="6">
  <Info>
    <Parent Key="1474bcc7-ecb0-4776-9fc6-3a9f7fdd1746">B2.5.1 Trees planting, street trees and landscape design</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B25NewTreesAndLandscapeStrategy/B251TreesPlantingStreetTreesAndLandscapeDesign/CodeC216</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T16:49:17</CreateDate>
    <NodeName Default="Code: C2.16" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EAll proposed tree and hedgerow planting (excluding those in private gardens) \u003Cstrong\u003Emust \u003C/strong\u003Ebe accompanied by a management plan that includes provisions for replacing any failed plants for at least five years after planting to ensure successful establishment and long\u0002term resilience.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C2.16]]></Value>
    </title>
  </Properties>
</Content>