<?xml version="1.0" encoding="utf-8"?>
<Content Key="659698f0-ff50-4627-89e7-7568f094399d" Alias="Code: C4.37" Level="6">
  <Info>
    <Parent Key="fbc74907-2050-45af-8c77-33c8df7255a0">B4.5.3 Junction spacing</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B45ManagingSpeed/B453JunctionSpacing/CodeC437</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T12:57:36</CreateDate>
    <NodeName Default="Code: C4.37" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EThe number of new accesses, junctions, and private means of access \u003Cstrong\u003Emust \u003C/strong\u003Ebe limited near sites that generate high pedestrian flows (for example schools). Any accesses considered acceptable in these areas \u003Cstrong\u003Emust \u003C/strong\u003Enot require vehicles to perform reversing manoeuvres onto or off the street.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.37]]></Value>
    </title>
  </Properties>
</Content>