<?xml version="1.0" encoding="utf-8"?>
<Content Key="56aceb83-475e-4306-a349-50bfe7aa537f" Alias="Code: C3.29" Level="6">
  <Info>
    <Parent Key="a80f09fe-f5f0-44e5-96b1-d49cfdeb9fba">B3.6.1 Establishing a new character</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B36CreatingANewIdentity/B361EstablishingANewCharacter/CodeC329</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-11T14:54:47</CreateDate>
    <NodeName Default="Code: C3.29" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EMajor new developments expected to be delivered by multiple developers or in phases \u003Cstrong\u003Emust \u003C/strong\u003Eprepare a masterplan and/or design code. This approach ensures that the design of buildings, streets, and materials remains consistent and coherent throughout the entire development. Masterplans and design codes \u003Cstrong\u003Emust \u003C/strong\u003Ecomply with the requirements set out within the Wakefield District Local Plan Masterplanning Guidance note (Appendix 6).\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Major Residential Applications (10\u002B homes)",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C3.29]]></Value>
    </title>
  </Properties>
</Content>