<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ff2a63c-b55d-4dbf-95cf-158815579971" Alias="Code: C4.35" Level="6">
  <Info>
    <Parent Key="cd65d38a-962a-4c29-891d-accc57797c5a">B4.5.2 Vertical alignment</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B45ManagingSpeed/B452VerticalAlignment/CodeC435</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T12:48:13</CreateDate>
    <NodeName Default="Code: C4.35" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EA minimum vertical clearance of 5.3 metres \u003Cstrong\u003Emust \u003C/strong\u003Ebe provided across the full carriageway width, with an additional 0.45 metre clearance on either side. \u003C/p\u003E\u003Cp\u003E\u003Cstrong\u003EException:\u003C/strong\u003E For Local Residential, Shared Surface or Private Drives accessed via an archway, a reduced minimum vertical clearance of 4.2 metres may be permitted, subject to appropriate design justification.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.35]]></Value>
    </title>
  </Properties>
</Content>