<?xml version="1.0" encoding="utf-8"?>
<Content Key="91798e49-9876-4ae1-902a-7e540a7edbe1" Alias="Code: C3.3" Level="6">
  <Info>
    <Parent Key="2fe66302-642f-422f-8ca6-c9096f0208bd">B3.1.2 Creating fun, safe and inclusive play</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B31OpenSpacesAndCommunityFacilities/B312CreatingFunSafeAndInclusivePlay/CodeC33</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-11T07:54:09</CreateDate>
    <NodeName Default="Code: C3.3" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EThe design of play areas \u003Cstrong\u003Emust \u003C/strong\u003Econsider how play opportunities connect smoothly across all elements, offering an enjoyable and inclusive experience for users of all ages and abilities. Applicants \u003Cstrong\u003Emust \u003C/strong\u003Eprovide sample play journeys for different types of children, illustrating how the various play options link together. \u003C/p\u003E\u003Cp\u003EPlease review the following publications for more information: \u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003EDesign for play: A guide to creating successful play spaces (Play England, 2008) \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003EPublic space lessons: designing and planning for play (CABE space, 2008)\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Major Residential Applications (10\u002B homes)",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C3.3]]></Value>
    </title>
  </Properties>
</Content>