<?xml version="1.0" encoding="utf-8"?>
<Content Key="4bb67c39-3e1e-4efb-9f29-298c08532756" Alias="Code: C2.18" Level="6">
  <Info>
    <Parent Key="1474bcc7-ecb0-4776-9fc6-3a9f7fdd1746">B2.5.1 Trees planting, street trees and landscape design</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B25NewTreesAndLandscapeStrategy/B251TreesPlantingStreetTreesAndLandscapeDesign/CodeC218</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T16:53:46</CreateDate>
    <NodeName Default="Code: C2.18" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ELandscape design \u003Cstrong\u003Emust \u003C/strong\u003Ebe conscious of operational and safety needs, ensuring sufficient access to operational assets such as lighting columns, feeder pillars, road signs and street furniture. Proposed tree planting and landscaping \u003Cstrong\u003Emust \u003C/strong\u003Enot be located within visibility splays to ensure visibility for drivers, cyclists and pedestrians is not compromised.\u003C/p\u003E\u003Cp\u003E\u003Cstrong\u003EException:\u003C/strong\u003E Applicants can consider provision of low level shrub planting within visibility splays and forward visibility envelopes, subject to the following conditions. Species must have a maximum potential growth height of 1 metre (above the nearside carriageway channel or 0.8 metres above the footway) is acceptable as an alternative to grass subject to the relative height difference between the landscape area and the adjacent carriageway.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Major Employment Applications",
  "Minor Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C2.18]]></Value>
    </title>
  </Properties>
</Content>