<?xml version="1.0" encoding="utf-8"?>
<Content Key="b76bc4f0-7119-4c61-a583-4b8caae700d9" Alias="Code: C4.38" Level="6">
  <Info>
    <Parent Key="fbc74907-2050-45af-8c77-33c8df7255a0">B4.5.3 Junction spacing</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B45ManagingSpeed/B453JunctionSpacing/CodeC438</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T12:58:07</CreateDate>
    <NodeName Default="Code: C4.38" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EAt junctions, the minor route \u003Cstrong\u003Emust \u003C/strong\u003Emeet the major route at approximately a perpendicular angle for at least the first 10 metres.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.38]]></Value>
    </title>
  </Properties>
</Content>