<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2b030b6-635e-4238-86b3-c9043b9d9128" Alias="Code: C4.16" Level="6">
  <Info>
    <Parent Key="c961c6d7-24d8-4378-a8f1-ccb2b19bc3af">B4.3.2 Designing for inclusive access</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B43ActiveTravelAndInclusiveStreets/B432DesigningForInclusiveAccess/CodeC416</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T10:12:32</CreateDate>
    <NodeName Default="Code: C4.16" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EPedestrian surfaces \u003Cstrong\u003Emust \u003C/strong\u003Ebe smooth, firm, and even to ensure they are accessible and comfortable for all users, particularly disabled people. Uneven, loose, or excessively textured surfaces \u003Cstrong\u003Emust \u003C/strong\u003Enot be used as they can pose significant hazards to individuals using mobility aids such as wheelchairs, walking frames, or sticks, and can be disorienting or unsafe for those with visual impairments.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.16]]></Value>
    </title>
  </Properties>
</Content>