<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f87dc79-b340-4881-a179-01ee1f28324f" Alias="Code: C4.34" Level="6">
  <Info>
    <Parent Key="cd65d38a-962a-4c29-891d-accc57797c5a">B4.5.2 Vertical alignment</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B45ManagingSpeed/B452VerticalAlignment/CodeC434</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T12:46:58</CreateDate>
    <NodeName Default="Code: C4.34" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EThe lowest point of any adoptable carriageway \u003Cstrong\u003Emust \u003C/strong\u003Ebe 0.6 metres above the 1 in 100 year flood level.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.34]]></Value>
    </title>
  </Properties>
</Content>