<?xml version="1.0" encoding="utf-8"?>
<Content Key="793ec8c4-2cc0-4a79-be93-a37fd234b5ff" Alias="Code: C3.19" Level="6">
  <Info>
    <Parent Key="fbcfa63b-e682-469a-9358-b9da59fddb9d">B3.3.3 Creating focal points</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B33WayfindingAndLegibility/B333CreatingFocalPoints/CodeC319</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-11T13:10:25</CreateDate>
    <NodeName Default="Code: C3.19" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EGateways at key entry points \u003Cstrong\u003Emust \u003C/strong\u003Ebe clearly defined to create a strong sense of arrival. The first buildings encountered when approaching a new development \u003Cstrong\u003Emust \u003C/strong\u003Eset the tone for architectural quality and identity. These buildings may feature greater height, richer detailing, and contrasting materials to distinguish them from background buildings and reinforce their role as a welcoming and memorable entry statement.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C3.19]]></Value>
    </title>
  </Properties>
</Content>