<?xml version="1.0" encoding="utf-8"?>
<Content Key="6cf25212-1ab2-4db9-834c-4856ce478f8e" Alias="Code: C4.23" Level="6">
  <Info>
    <Parent Key="bbefb9e2-e5a5-424d-a01b-c3beaf8d8bc6">B4.3.3 Designing for cyclists</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B43ActiveTravelAndInclusiveStreets/B433DesigningForCyclists/CodeC423</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T10:41:18</CreateDate>
    <NodeName Default="Code: C4.23" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ECycle routes \u003Cstrong\u003Emust \u003C/strong\u003Ebe designed and maintained to provide a smooth, continuous, and predictable surface. The following conditions are considered unacceptable on cycling surfaces and \u003Cstrong\u003Emust \u003C/strong\u003Ebe avoided: \u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003Esharp gradients exceeding 12.5% \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Enon-cycle-friendly ironworks, such as poorly aligned or slippery inspection covers \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Eraised or sunken gullies and utility covers \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Eloose or uneven surfaces \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Esurfaces that present a slip hazard, particularly in wet or icy conditions\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.23]]></Value>
    </title>
  </Properties>
</Content>