<?xml version="1.0" encoding="utf-8"?>
<Content Key="56814c93-06ee-4400-8b7c-9eb8755fe903" Alias="Code: C4.10" Level="6">
  <Info>
    <Parent Key="85ed774b-fc67-4514-977e-b6d4bc00bc9b">B4.2.1 Street hierarchy</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B42StreetHierarchy/B421StreetHierarchy/CodeC410</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T08:28:59</CreateDate>
    <NodeName Default="Code: C4.10" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EStreet Hierarchy helps to provide an understandable transition between streets. The Street Hierarchy (List 3) sets out the requirements for each street type, and highlights where the design may differ for each area type. It has adopted the relevant design metrics of the West Yorkshire Streets for People Design Check. The Street Hierarchy (List 3) \u003Cstrong\u003Emust \u003C/strong\u003Ebe adhered to.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Householder Applications",
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "efa135f5-371b-47d2-82e3-992cee0133ea",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 95"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7dba4f0f-3eb9-42ad-82d1-0f82034db0ef",
              "mediaKey": "affc3bee-d42c-45c7-8eb5-517608697792",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 95: Assessment topics included within the Street for People Design Check"
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 95: Assessment topics included within the Street for People Design Check"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "b4f5cf77-b186-4e41-86ba-fe9adfe5ceb4",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "efa135f5-371b-47d2-82e3-992cee0133ea",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "efa135f5-371b-47d2-82e3-992cee0133ea",
        "contentUdi": null,
        "settingsKey": "b4f5cf77-b186-4e41-86ba-fe9adfe5ceb4",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.10]]></Value>
    </title>
  </Properties>
</Content>