<?xml version="1.0" encoding="utf-8"?>
<Content Key="9abddcfe-a46a-47df-af56-a7e44a03d709" Alias="Code: C2.2" Level="6">
  <Info>
    <Parent Key="b16a2eab-46cc-4c43-835f-f700f3bef9b1">B2.1.1 Designing for nature</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B21BiodiversityAndEcology/B211DesigningForNature/CodeC22</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T12:37:09</CreateDate>
    <NodeName Default="Code: C2.2" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EArtificial lighting can disturb and isolate bats and other nocturnal wildlife by deterring them from roosting and foraging areas. The design of proposed lighting \u003Cstrong\u003Emust \u003C/strong\u003Ebe informed by ecological survey reporting to determine appropriate adaptations to reduce impacts to wildlife, including disturbance to roosting places and corridors used for commuting or foraging.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C2.2]]></Value>
    </title>
  </Properties>
</Content>