<?xml version="1.0" encoding="utf-8"?>
<Content Key="ee2f320a-f93e-4903-ab0e-de8cc03b0bd4" Alias="Code: C3.16" Level="6">
  <Info>
    <Parent Key="2f80c230-c1a7-45f1-bd6e-e37c4adbba74">B3.3.2 Corner articulation</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B33WayfindingAndLegibility/B332CornerArticulation/CodeC316</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-11T12:54:54</CreateDate>
    <NodeName Default="Code: C3.16" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EDevelopment proposals \u003Cstrong\u003Emust \u003C/strong\u003Eensure that dual-aspect plots are located on important corners along key movement corridors. These plots are essential for providing natural surveillance, enhancing safety, and creating active, visually engaging frontages on both adjoining streets or public spaces. This approach helps to eliminate blank or inactive elevations at key junctions, strengthening the character, legibility, and overall quality of the public realm.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "0abea10f-04f7-4cf5-abed-33e2dde336d7",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 79"
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 79: An example of a dual aspect end of terrace house in Kelham Central (Code C3.16)\n"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1c811c22-5042-41fe-984c-b89baa5ab1d2",
              "mediaKey": "efdacedb-20d5-437e-ba2d-f635ac278fc4",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 79: An example of a dual aspect end of terrace house in Kelham Central (Code C3.16)"
        }
      ]
    },
    {
      "contentTypeKey": "a29ecc6f-d8fb-4c95-88b9-8b940f6c3cd9",
      "key": "d76b1024-504e-4b29-940c-15e9f60a4df7",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 80 \u0026 81"
        },
        {
          "alias": "image1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1a642e60-b516-4a6b-891c-28e23dd03455",
              "mediaKey": "009094ff-76bd-4c23-8d8b-0dc447c4c1b0",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "image2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "2c509129-717f-4b09-8d55-42623ea9cdfc",
              "mediaKey": "9fe323c8-cd14-451e-9828-dc4a46e1be6f",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 80: An example of a traditional dual aspect house in St. John\u2019s, Wakefield (Code C3.16)"
        },
        {
          "alias": "caption2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 81: An example of a modern dual aspect house in South Elmsall (Code C3.16)"
        },
        {
          "alias": "altText1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 80: An example of a traditional dual aspect house in St. John\u2019s, Wakefield (Code C3.16)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "42997096-2d06-4b9f-87f8-6ee73db4f4c3",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "c71687d5-4b27-4c39-b389-7ee98adb9882",
      "key": "bf34544e-04ed-4113-b914-cea4893131f3",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "0abea10f-04f7-4cf5-abed-33e2dde336d7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d76b1024-504e-4b29-940c-15e9f60a4df7",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "0abea10f-04f7-4cf5-abed-33e2dde336d7",
        "contentUdi": null,
        "settingsKey": "42997096-2d06-4b9f-87f8-6ee73db4f4c3",
        "settingsUdi": null
      },
      {
        "contentKey": "d76b1024-504e-4b29-940c-15e9f60a4df7",
        "contentUdi": null,
        "settingsKey": "bf34544e-04ed-4113-b914-cea4893131f3",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C3.16]]></Value>
    </title>
  </Properties>
</Content>