<?xml version="1.0" encoding="utf-8"?>
<Content Key="172ce135-4101-4af8-9510-36a5f35a0a6e" Alias="Code: C2.1" Level="6">
  <Info>
    <Parent Key="b16a2eab-46cc-4c43-835f-f700f3bef9b1">B2.1.1 Designing for nature</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B21BiodiversityAndEcology/B211DesigningForNature/CodeC21</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T12:35:47</CreateDate>
    <NodeName Default="Code: C2.1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EWhere development directly affects the Wildlife Habitat Network, developers \u003Cstrong\u003Emust \u003C/strong\u003Eincorporate measures that enhance ecological connectivity. These may include soft-engineered solutions such as the creation of continuous habitat corridors, as well as hard-engineered features like wildlife tunnels and underpasses. Opportunities to integrate the habitat network into the surrounding landscape \u003Cstrong\u003Emust \u003C/strong\u003Ebe explored and clearly set out within the landscape strategy.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Householder Applications",
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C2.1]]></Value>
    </title>
  </Properties>
</Content>