<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c4f5cbb-c1a6-4e75-9f1b-8eb026dc1f1a" Alias="Code: C4.14" Level="6">
  <Info>
    <Parent Key="c5df5395-6905-4550-86e6-355bb1d62106">B4.3.1 Designing for pedestrians</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B43ActiveTravelAndInclusiveStreets/B431DesigningForPedestrians/CodeC414</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T10:05:40</CreateDate>
    <NodeName Default="Code: C4.14" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EDevelopments \u003Cstrong\u003Emust \u003C/strong\u003Eprovide direct routes to local transport links (such as rail stations or bus stops), local facilities, schools and adjacent neighbourhoods, in such a way that it is more convenient and attractive to walk than to drive to such destinations. More information can be found on the Pedestrian Review System (PERS) Fact Sheet (Transport for London) and the Streetaudit Factsheet (TRL Software).\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.14]]></Value>
    </title>
  </Properties>
</Content>