<?xml version="1.0" encoding="utf-8"?>
<Content Key="6ba823cd-a631-4643-a89b-380c6b50e676" Alias="Code: C4.29" Level="6">
  <Info>
    <Parent Key="83fd62b0-08bf-4841-b9cc-e669420a39ea">B4.4.1 Crossings</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B44JunctionsAndCrossings/B441Crossings/CodeC429</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T12:14:11</CreateDate>
    <NodeName Default="Code: C4.29" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EDevelopment proposals \u003Cstrong\u003Emust \u003C/strong\u003Eincorporate features which encourage drivers to give priority to pedestrians and turn cautiously, including raised entry treatments and continuous footways where pedestrian flows are much higher than vehicle flows and vehicle speeds are 20mph or less. Additionally, Copenhagen-style crossings are encouraged to further enhance pedestrian safety and priority.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.29]]></Value>
    </title>
  </Properties>
</Content>