<?xml version="1.0" encoding="utf-8"?>
<Content Key="ac036d4c-c795-4b60-9227-011dc174a4d8" Alias="Code: C3.23" Level="6">
  <Info>
    <Parent Key="c99aef5b-2e81-4a2e-938e-a11a2b2d14ae">B3.4.2 Addressing areas of open space</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B34ActiveFrontages/B342AddressingAreasOfOpenSpace/CodeC323</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-11T13:47:32</CreateDate>
    <NodeName Default="Code: C3.23" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EBuildings adjoining areas of open space (particularly in residential developments) \u003Cstrong\u003Emust \u003C/strong\u003Ebe oriented to maximise views to and across these spaces. In addition to promoting good passive surveillance, this orientation enhances visual and physical connections to nature. \u003C/p\u003E\u003Cp\u003E\u003Cstrong\u003EException:\u003C/strong\u003E Where orienting a building towards the open space would prevent it from providing frontage onto the street, the layout \u003Cstrong\u003Emust \u003C/strong\u003Ebalance both objectives to maintain street enclosure and surveillance whilst maximising views to the open space.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "7986cca0-f634-4dc4-bc0a-b54d4ed623ab",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 87"
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 87: Homes on Kestrel Way in South Elmsall face onto a central green space, providing a good sense of overlooking (Code C3.23)"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ff795a84-91ed-4ad4-89db-919a7ed08f63",
              "mediaKey": "80bc83b5-a946-4905-80bb-1492e20477a9",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 87: Homes on Kestrel Way in South Elmsall face onto a central green space, providing a good sense of overlooking (Code C3.23)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "9bb481fa-2fa2-415e-b88e-df25a6e45480",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "7986cca0-f634-4dc4-bc0a-b54d4ed623ab",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "7986cca0-f634-4dc4-bc0a-b54d4ed623ab",
        "contentUdi": null,
        "settingsKey": "9bb481fa-2fa2-415e-b88e-df25a6e45480",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C3.23]]></Value>
    </title>
  </Properties>
</Content>