<?xml version="1.0" encoding="utf-8"?>
<Content Key="bd31333e-7b49-41f2-b97d-59cf1c2e2293" Alias="Code: C4.27" Level="6">
  <Info>
    <Parent Key="16a7a9dd-94b8-44d0-b9be-7efa078a8176">B4.3.4 Public transport</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B43ActiveTravelAndInclusiveStreets/B434PublicTransport/CodeC427</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T11:03:11</CreateDate>
    <NodeName Default="Code: C4.27" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EThe design of bus stops \u003Cstrong\u003Emust \u003C/strong\u003Eseek to enhance the perception of safety for women and girls by ensuring that they are well-lit with good surveillance (including CCTV if appropriate), have visible seating, provide Real Time Information and are well signed. Safety information \u003Cstrong\u003Emust \u003C/strong\u003Ealso be provided.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.27]]></Value>
    </title>
  </Properties>
</Content>