<?xml version="1.0" encoding="utf-8"?>
<Content Key="877881b6-0023-4a8a-92c1-f25be9348b59" Alias="Code: C3.27" Level="6">
  <Info>
    <Parent Key="25ec3a6e-685c-45ae-95ca-667ad972f3b8">B3.5.1 Maximising natural surveillance</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B35SafeAndSecureDesign/B351MaximisingNaturalSurveillance/CodeC327</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-11T14:34:21</CreateDate>
    <NodeName Default="Code: C3.27" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EPlanting located within 1 metre of a highway (including footways, cycleways, bridleways) or within forward visibility sightlines \u003Cstrong\u003Emust \u003C/strong\u003Ebe selected to not exceed 0.5 metres in height at maturity. This ensures clear visibility, maximises natural surveillance and supports safe and secure design.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C3.27]]></Value>
    </title>
  </Properties>
</Content>