<?xml version="1.0" encoding="utf-8"?>
<Content Key="acc6c8b9-86d5-4794-a400-5515fe5c8ba7" Alias="Code: C3.22" Level="6">
  <Info>
    <Parent Key="ae66b240-4f45-498b-95ab-68bbe3487a7a">B3.4.1 Addressing the public realm</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B34ActiveFrontages/B341AddressingThePublicRealm/CodeC322</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-11T13:31:04</CreateDate>
    <NodeName Default="Code: C3.22" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EWhere privacy is a concern, defensible space (such as raised thresholds, low walls, or landscaped buffers) \u003Cstrong\u003Emust \u003C/strong\u003Ebe incorporated into the layout. It is important that defensible spaces are designed to maintain openness to the street or public realm whilst providing an appropriate degree of separation. The assumed primary viewing level for privacy considerations is from a standing position inside the ground floor of the property, with views from upper floors considered where relevant.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C3.22]]></Value>
    </title>
  </Properties>
</Content>