<?xml version="1.0" encoding="utf-8"?>
<Content Key="9556d283-96a5-4f8a-b953-2bac49dd0e5f" Alias="Code: C4.26" Level="6">
  <Info>
    <Parent Key="16a7a9dd-94b8-44d0-b9be-7efa078a8176">B4.3.4 Public transport</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B43ActiveTravelAndInclusiveStreets/B434PublicTransport/CodeC426</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T11:00:36</CreateDate>
    <NodeName Default="Code: C4.26" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EAll proposed routes envisaged for the use of existing or future bus service provision \u003Cstrong\u003Emust \u003C/strong\u003Ebe designed: \u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003Ewith a minimum 6.75 metre carriageway \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Ewith a 1 metre verge and minimum of 2 metre footway (3 metres for shared pedestrian and cycle use) either side \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Eto accommodate full length buses (up to 12 metres)\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Major Residential Applications (10\u002B homes)",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.26]]></Value>
    </title>
  </Properties>
</Content>