<?xml version="1.0" encoding="utf-8"?>
<Content Key="cdb2637b-90cd-42f2-8b6c-4b19baee73a3" Alias="Code: C3.6" Level="6">
  <Info>
    <Parent Key="429daee2-576c-4b29-97bd-ef3aab5c5006">B3.1.3 Creating places for everyone</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B31OpenSpacesAndCommunityFacilities/B313CreatingPlacesForEveryone/CodeC36</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-11T10:15:15</CreateDate>
    <NodeName Default="Code: C3.6" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EProposed above ground infrastructure (like substations and pumping stations) \u003Cstrong\u003Emust \u003C/strong\u003Ebe carefully located and designed to avoid key corners, vistas, primary sight-lines, and areas of open space. They \u003Cstrong\u003Emust \u003C/strong\u003Ebe well screened using high quality landscaping and boundary detailing (such as attractive railings) to minimise visual impact and, where possible, contribute positively to the overall character and biodiversity of the development.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "59d2cafc-8747-4611-85f4-df9b950a07fd",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 66"
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 66: Above ground infrastructure screened with attractive railings and hedge planting (Code C3.6)"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7b88b815-1b86-43c9-b7b5-8438ffdff6d9",
              "mediaKey": "6c8dd833-3384-4711-9e0d-4e7fe4579485",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 66: Above ground infrastructure screened with attractive railings and hedge planting (Code C3.6)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "9fad8047-69af-4c79-99fa-f3327981568a",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "59d2cafc-8747-4611-85f4-df9b950a07fd",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "59d2cafc-8747-4611-85f4-df9b950a07fd",
        "contentUdi": null,
        "settingsKey": "9fad8047-69af-4c79-99fa-f3327981568a",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C3.6]]></Value>
    </title>
  </Properties>
</Content>