<?xml version="1.0" encoding="utf-8"?>
<Content Key="e821d560-4717-46fb-ab5a-ccdb3bfea703" Alias="Code: C1.10" Level="6">
  <Info>
    <Parent Key="1530b160-d5ff-4ede-99dd-c92c4326502b">B1.5.2 Respecting sensitive edges</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B15InterfacesAndBoundaryEdges/B152RespectingSensitiveEdges/CodeC110</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T10:49:19</CreateDate>
    <NodeName Default="Code: C1.10" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EWhere developments are adjacent to areas of countryside or areas of open urban green space, buildings on the outer edge \u003Cstrong\u003Emust \u003C/strong\u003Efront onto the open boundary to create positive, active frontages. This approach not only enhances the visual relationship with the countryside but also promotes better connections with nature, encourages natural surveillance, contributing to a vibrant, safer, and welcoming edge.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a29ecc6f-d8fb-4c95-88b9-8b940f6c3cd9",
      "key": "13163248-6331-4b3d-b901-3ab5bea365d1",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Code: C1.10"
        },
        {
          "alias": "image1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d4454b0f-63cd-4528-8dd5-b1d97e3e6b3b",
              "mediaKey": "7b305790-3115-412f-82d3-f1b475f8d9c3",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 23: Sketch plan showing new development fronting onto the countryside edge (Code C1.10)"
        },
        {
          "alias": "image2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c8fc669c-8ae6-4dba-86b6-c5849113ff64",
              "mediaKey": "ff110ac9-6d2a-429e-9615-70f18940905b",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 24: New development fronting onto open urban green space at Scholars Gate (Code: C1.10)"
        },
        {
          "alias": "altText1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 23: Sketch plan showing new development fronting onto the countryside edge (Code C1.10)"
        },
        {
          "alias": "altText2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 24: New development fronting onto open urban green space at Scholars Gate (Code: C1.10)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c71687d5-4b27-4c39-b389-7ee98adb9882",
      "key": "873d6414-5519-4a97-aca4-999df38c88e2",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "13163248-6331-4b3d-b901-3ab5bea365d1",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "13163248-6331-4b3d-b901-3ab5bea365d1",
        "contentUdi": null,
        "settingsKey": "873d6414-5519-4a97-aca4-999df38c88e2",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C1.10]]></Value>
    </title>
  </Properties>
</Content>