<?xml version="1.0" encoding="utf-8"?>
<Content Key="658706d4-a75c-49cb-905c-f6a053dbca9f" Alias="Code: C2.11" Level="6">
  <Info>
    <Parent Key="1474bcc7-ecb0-4776-9fc6-3a9f7fdd1746">B2.5.1 Trees planting, street trees and landscape design</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B25NewTreesAndLandscapeStrategy/B251TreesPlantingStreetTreesAndLandscapeDesign/CodeC211</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T16:05:39</CreateDate>
    <NodeName Default="Code: C2.11" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ENew tree planting \u003Cstrong\u003Emust \u003C/strong\u003Eallow trees to reach full maturity without compromising their health, structural integrity, or causing future conflicts with buildings, utilities, CCTV, lighting, operational requirements or public safety. \u003C/p\u003E\u003Cp\u003EProposals \u003Cstrong\u003Emust \u003C/strong\u003Edemonstrate that adequate space is provided above and below ground, including sufficient rooting volume, suitable soil conditions, and unobstructed canopy space, which \u003Cstrong\u003Emust \u003C/strong\u003Ebe fully considered in line with the tree variety at maturity.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C2.11]]></Value>
    </title>
  </Properties>
</Content>