<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b9730dd-28ed-4e11-8257-a4a2f7208d5a" Alias="Code: C4.13" Level="6">
  <Info>
    <Parent Key="c5df5395-6905-4550-86e6-355bb1d62106">B4.3.1 Designing for pedestrians</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B43ActiveTravelAndInclusiveStreets/B431DesigningForPedestrians/CodeC413</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T10:03:33</CreateDate>
    <NodeName Default="Code: C4.13" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EWhere only one footway is provided, a minimum 0.6 metre hard margin \u003Cstrong\u003Emust \u003C/strong\u003Ebe included on the opposite side to protect underground utilities. Grass verges \u003Cstrong\u003Emust \u003C/strong\u003Enot be utilised.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.13]]></Value>
    </title>
  </Properties>
</Content>