<?xml version="1.0" encoding="utf-8"?>
<Content Key="20470451-142c-40be-a464-a24be4a6c41a" Alias="Code: C4.20" Level="6">
  <Info>
    <Parent Key="c961c6d7-24d8-4378-a8f1-ccb2b19bc3af">B4.3.2 Designing for inclusive access</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B43ActiveTravelAndInclusiveStreets/B432DesigningForInclusiveAccess/CodeC420</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T10:37:40</CreateDate>
    <NodeName Default="Code: C4.20" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EStreet furniture \u003Cstrong\u003Emust \u003C/strong\u003Ebe positioned to support amenity and functionality without obstructing pedestrian, wheeling or cycle movement. A clear zone for movement \u003Cstrong\u003Emust \u003C/strong\u003Ebe maintained at all times depending on the context of the site: \u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003EHighly Urban Area Type (80\u002B dph): Maintain a minimum 3 metre clear zone \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003EUrban Area Type (50\u002B dph): Maintain a 2 to 3 metre clear zone depending on the level of activity \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003ESuburban Area Type (40\u002B dph): Maintain a 2 to 2.6 metre clear zone depending on pedestrian activity \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003EOuter Suburbs and Villages Area Type (30\u002B dph): Maintain a 2 metre clear zone\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.20]]></Value>
    </title>
  </Properties>
</Content>