<?xml version="1.0" encoding="utf-8"?>
<Content Key="faf9936b-74a3-4d73-8c99-38cd3ed36f67" Alias="Code: C5.11" Level="6">
  <Info>
    <Parent Key="7fb9316c-161e-45f5-a5d4-dfcbf9d33e8e">B5.4.3 Overlooking and privacy</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes/B54Plots/B543OverlookingAndPrivacy/CodeC511</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T16:20:53</CreateDate>
    <NodeName Default="Code: C5.11" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EThe requirements for privacy and effective overlooking to create safe and secure streets and spaces \u003Cstrong\u003Emust \u003C/strong\u003Ebe carefully balanced and must respond to the area\u2019s density and character taking reference from the Local Character and Contextual Assessment (C1.2 and G1.2, where applicable). \u003C/p\u003E\u003Cp\u003EProposals \u003Cstrong\u003Emust \u003C/strong\u003Edemonstrate within layout plans and/or DAS or Planning Statement that considerations of privacy and overlooking are integrated from the earliest design stages and ensure that these principles are upheld through to the approval of reserved matters or detailed planning.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Householder Applications",
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C5.11]]></Value>
    </title>
  </Properties>
</Content>