<?xml version="1.0" encoding="utf-8"?>
<Content Key="827aa3e9-88ce-4e0e-81cd-4eacfa1824d1" Alias="Code: C5.5" Level="6">
  <Info>
    <Parent Key="124f781b-7e20-4a3f-b30a-ed5fbfce7c5f">B5.2.1 Sensitive and characterful conversions</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes/B52ChangeOfUse/B521SensitiveAndCharacterfulConversions/CodeC55</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T15:55:35</CreateDate>
    <NodeName Default="Code: C5.5" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ENew openings (windows, doors, and rooflights) \u003Cstrong\u003Emust \u003C/strong\u003Erespect the existing rhythm, scale, and proportions of the fa\u00E7ade to maintain visual harmony. This includes floors cutting across them, where possible. \u003C/p\u003E\u003Cp\u003E\u003Cstrong\u003EException:\u003C/strong\u003E Well-considered departures from the existing pattern may be acceptable if it can be demonstrated that proposals enhance the building\u2019s character, improve its function, or respond to a change of use, particularly in cases where the original design is poor.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Householder Applications",
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C5.5]]></Value>
    </title>
  </Properties>
</Content>