<?xml version="1.0" encoding="utf-8"?>
<Content Key="ec23786b-1a31-42bf-8bda-644cd916ae45" Alias="Code: C3.10" Level="6">
  <Info>
    <Parent Key="7f094d61-d257-41b7-9fbb-bf20aae0e504">B3.2.4 Building line</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B32BlocksAndTypologies/B324BuildingLine/CodeC310</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-11T11:56:50</CreateDate>
    <NodeName Default="Code: C3.10" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ENew major developments \u003Cstrong\u003Emust \u003C/strong\u003Eestablish a clear and purposeful building line strategy for each applicable street type within the street hierarchy (List 3) and illustrate this on the masterplan or within a DAS. In addition, proposals \u003Cstrong\u003Emust \u003C/strong\u003Edemonstrate the intended approach to defining key gateways, character areas and open spaces (where relevant).\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Other Major Applications",
  "Major Employment Applications",
  "Major Residential Applications (10\u002B homes)"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C3.10]]></Value>
    </title>
  </Properties>
</Content>