<?xml version="1.0" encoding="utf-8"?>
<Content Key="a085611a-84eb-418b-ae70-4335d9b38e7e" Alias="Code: C1.7" Level="6">
  <Info>
    <Parent Key="48f7bd79-88b2-4d90-934b-ed05a1c8ec52">B1.4.1 Views from surrounding areas</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B14KeyViews/B141ViewsFromSurroundingAreas/CodeC17</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T10:18:11</CreateDate>
    <NodeName Default="Code: C1.7" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EApplicants \u003Cstrong\u003Emust \u003C/strong\u003Edemonstrate appropriate transitions in scale, massing, and site integration, by using objective and technical information, such as: \u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003E3D models that incorporate accurate topographical data \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Ea selection of street-scenes demonstrating context and the proposed development (including planting) \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Ecross-sections illustrating changes in ground level and built form \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Ephotomontages based on verified viewpoints \u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003ENon-technical visualisations, such as artist\u2019s impressions, \u003Cstrong\u003Emust \u003C/strong\u003Enot be used as the primary means of demonstrating compliance.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C1.7]]></Value>
    </title>
  </Properties>
</Content>