<?xml version="1.0" encoding="utf-8"?>
<Content Key="67a49dc1-a79e-4b8e-845f-640de437be33" Alias="Code: C3.30" Level="6">
  <Info>
    <Parent Key="a80f09fe-f5f0-44e5-96b1-d49cfdeb9fba">B3.6.1 Establishing a new character</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B36CreatingANewIdentity/B361EstablishingANewCharacter/CodeC330</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-11T14:57:23</CreateDate>
    <NodeName Default="Code: C3.30" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EMajor new developments \u003Cstrong\u003Emust \u003C/strong\u003Eavoid creating large, monotonous areas by establishing distinct character areas that respond to the local context, function, and identity, informed by the Local Character and Contextual Assessment (C1.2 and G1.2, where relevant). It is important that each character area serves a unique role within the wider development and design variations (such as building scale, materiality, detailing, and landscaping) are utilised to differentiate different areas while maintaining overall cohesion. The proposed approach \u003Cstrong\u003Emust \u003C/strong\u003Ebe documented within the DAS or within an accompanying masterplan and/or design code.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Other Major Applications",
  "Major Employment Applications",
  "Major Residential Applications (10\u002B homes)"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C3.30]]></Value>
    </title>
  </Properties>
</Content>