<?xml version="1.0" encoding="utf-8"?>
<Content Key="3a66802e-b81f-4c6c-acc9-44d66ae54838" Alias="Code: C3.11" Level="6">
  <Info>
    <Parent Key="851a0d40-a07d-40f6-8215-9f2890cf0b3d">B3.3.1 Ensuring easy navigability</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B33WayfindingAndLegibility/B331EnsuringEasyNavigability/CodeC311</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-11T12:00:10</CreateDate>
    <NodeName Default="Code: C3.11" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EDesigns \u003Cstrong\u003Emust \u003C/strong\u003Eincorporate, from the outset, features that support clear and intuitive wayfinding. Applicants \u003Cstrong\u003Emust \u003C/strong\u003Edemonstrate the urban design strategies and tools used to achieve this within the layout. This could include strategies such as creating clear visual sightlines, using distinctive landmarks or gateways, utilising varied building forms, and creating logical and appropriate street hierarchies.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C3.11]]></Value>
    </title>
  </Properties>
</Content>