<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ccdb630-d54a-4958-b306-727a587a2218" Alias="Code: C2.13" Level="6">
  <Info>
    <Parent Key="1474bcc7-ecb0-4776-9fc6-3a9f7fdd1746">B2.5.1 Trees planting, street trees and landscape design</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B25NewTreesAndLandscapeStrategy/B251TreesPlantingStreetTreesAndLandscapeDesign/CodeC213</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T16:15:31</CreateDate>
    <NodeName Default="Code: C2.13" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EStreet tree planting \u003Cstrong\u003Emust \u003C/strong\u003Enot cause obstruction to those walking, wheeling and cycling (walkers, cyclists, horse riders and other non-motorised users). Street trees can be adopted: \u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003Ein the carriageway in build outs to maintain the minimum footway widths as identified in (Street hierarchy section in Chapter 4) \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Ein grass verges (with a minimum verge width of 1 metre) or on the edge of the footway \u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003EIn all instances the minimum footway widths must be maintained.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C2.13]]></Value>
    </title>
  </Properties>
</Content>