<?xml version="1.0" encoding="utf-8"?>
<Content Key="17e96b29-850a-47c4-803e-2c285d6efd26" Alias="Code: C3.2" Level="6">
  <Info>
    <Parent Key="94f893b9-b732-4145-8b3f-b2acde90d47a">B3.1.1 Creating inviting and accessible places</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B31OpenSpacesAndCommunityFacilities/B311CreatingInvitingAndAccessiblePlaces/CodeC32</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-11T07:39:05</CreateDate>
    <NodeName Default="Code: C3.2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EFormal play areas (including playgrounds, children\u2019s equipped play areas and multi-use games areas (MUGAs) \u003Cstrong\u003Emust \u003C/strong\u003Ebe designed to be accessible and inclusive for visitors of all abilities. An inclusive play strategy \u003Cstrong\u003Emust \u003C/strong\u003Ebe provided (this could be included in the Design and Access Statement (DAS)) to demonstrate how this will be achieved. \u003C/p\u003E\u003Cp\u003EPlay equipment \u003Cstrong\u003Emust \u003C/strong\u003Ebe appropriate to the intended age groups and uses, and its ongoing management and maintenance \u003Cstrong\u003Eshould \u003C/strong\u003Ebe addressed as part of the management plan. Any equipment or play features \u003Cstrong\u003Emust \u003C/strong\u003Emeet British Standards EN176 and British Standard EN1177 as relevant.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Major Residential Applications (10\u002B homes)",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C3.2]]></Value>
    </title>
  </Properties>
</Content>