<?xml version="1.0" encoding="utf-8"?>
<Content Key="9a36e9b6-f1a6-4572-b54c-df0b97f9090b" Alias="Code: C4.24" Level="6">
  <Info>
    <Parent Key="16a7a9dd-94b8-44d0-b9be-7efa078a8176">B4.3.4 Public transport</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B43ActiveTravelAndInclusiveStreets/B434PublicTransport/CodeC424</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T10:51:41</CreateDate>
    <NodeName Default="Code: C4.24" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EDevelopment proposals \u003Cstrong\u003Emust \u003C/strong\u003Eoffer a choice of transport modes for residents and other users and ensure measures are designed to directly benefit and incentivise the use of public transport. This includes the integration of bus routes and bus stops with high quality pedestrian and cycle networks to ensure safe and convenient access for all users, and proximity to park-and-ride facilities where appropriate. \u003C/p\u003E\u003Cp\u003EApplicants \u003Cstrong\u003Emust \u003C/strong\u003Edemonstrate how the Council\u2019s accessibility and sustainability objectives are achieved through the use of Design and Access Statements, Transport Assessments, Transport Statements and Travel Plans.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.24]]></Value>
    </title>
  </Properties>
</Content>