<?xml version="1.0" encoding="utf-8"?>
<Content Key="68ab8a50-4064-4e07-bcd8-f90f119c0bc2" Alias="Code: C1.4" Level="6">
  <Info>
    <Parent Key="019eddc0-a3c8-4e58-9905-ec7768c53134">B1.2.2 Minimising visual dominance</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B12LandformAndTopography/B122MinimisingVisualDominance/CodeC14</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T09:41:06</CreateDate>
    <NodeName Default="Code: C1.4" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EWhere an applicant disagrees with the Local Planning Authority (LPA) on whether a proposal constitutes a negative visual intrusion, this \u003Cstrong\u003Emust \u003C/strong\u003Ebe resolved through a landscape or townscape statement. This statement \u003Cstrong\u003Emust \u003C/strong\u003Ebe prepared using the Guidelines for Landscape and Visual Impact Assessment (GLVIA) and be undertaken by a suitably qualified chartered landscape professional. \u003C/p\u003E\u003Cp\u003E\u003Cstrong\u003EException\u003C/strong\u003E: This requirement applies to minor residential and minor employment applications only if the proposed site is within, or has an impact on, a Conservation Area, Listed Building, or Historic Park and Garden.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C1.4]]></Value>
    </title>
  </Properties>
</Content>