<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1745a06-a951-4536-b529-0c631dc4172f" Alias="Code: C4.3" Level="6">
  <Info>
    <Parent Key="ed313a99-40e1-4424-9488-cbabeff4137c">B4.1.1 Connected neighbourhoods</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B41Connectivity/B411ConnectedNeighbourhoods/CodeC43</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-11T15:22:07</CreateDate>
    <NodeName Default="Code: C4.3" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ETo enable opportunities for new developments to connect with surrounding communities developments \u003Cstrong\u003Emust \u003C/strong\u003Ecreate and provide new links to prioritise active travel (such as walking, wheeling, cycling, and horse riding). This \u003Cstrong\u003Emust \u003C/strong\u003Einclude providing direct links and access to sustainable transport modes like bus stops and routes. Any gaps in connectivity between the site boundary and the surrounding network \u003Cstrong\u003Emust \u003C/strong\u003Ebe identified through the site appraisal (C1.1 and G1.1 as applicable) and addressed with appropriate new or enhanced links. Site layouts \u003Cstrong\u003Emust \u003C/strong\u003Eprovide an efficient balance between permeability and security, ensuring that new links improve connectivity without compromising the safety or cohesion of existing neighbourhoods.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.3]]></Value>
    </title>
  </Properties>
</Content>