<?xml version="1.0" encoding="utf-8"?>
<Content Key="01a3073a-9bc2-4b77-ae8a-081ed98465fc" Alias="Code: C5.6" Level="6">
  <Info>
    <Parent Key="124f781b-7e20-4a3f-b30a-ed5fbfce7c5f">B5.2.1 Sensitive and characterful conversions</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes/B52ChangeOfUse/B521SensitiveAndCharacterfulConversions/CodeC56</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T16:02:19</CreateDate>
    <NodeName Default="Code: C5.6" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EUpwards extensions of existing buildings can be acceptable if justified in order for a scheme to be economically viable. To be acceptable, the upward extension \u003Cstrong\u003Emust:\u003C/strong\u003E \u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003Ebe set back from the original elevation \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Ebe no more than half the number of storeys of the original building (so one storey on a two storey building, two stories on a four storey building) \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Euse a different, but complementary, material to the original building \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Erespect the geometry of the original building\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Householder Applications",
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a29ecc6f-d8fb-4c95-88b9-8b940f6c3cd9",
      "key": "9247da82-dc9f-4dae-a508-0b51cba4a165",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 147 \u0026 148"
        },
        {
          "alias": "image1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c060d069-e3f5-428d-87b0-f5ebe11f4c57",
              "mediaKey": "1896c52d-7423-4cb4-861f-117bf9e8c5da",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 147: Industrial features such as the chimney have been retained and celebrated at Tileyard North in Wakefield (Guidance G5.17)"
        },
        {
          "alias": "image2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "950253ae-b41e-4ca9-b11b-dfe13a2bb7c5",
              "mediaKey": "88da44ce-fdc5-4dc8-95a3-43e6ecd0ffa7",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 148: A sensitively converted industrial building with original window features at Tileyard North, Wakefield (Guidance G5.15)"
        },
        {
          "alias": "altText1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 147: Industrial features such as the chimney have been retained and celebrated at Tileyard North in Wakefield (Guidance G5.17)"
        },
        {
          "alias": "altText2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 148: A sensitively converted industrial building with original window features at Tileyard North, Wakefield (Guidance G5.15)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c71687d5-4b27-4c39-b389-7ee98adb9882",
      "key": "ca49ba72-d0d8-4c89-a954-46b0bbf22a1d",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "9247da82-dc9f-4dae-a508-0b51cba4a165",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9247da82-dc9f-4dae-a508-0b51cba4a165",
        "contentUdi": null,
        "settingsKey": "ca49ba72-d0d8-4c89-a954-46b0bbf22a1d",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C5.6]]></Value>
    </title>
  </Properties>
</Content>