<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd938c37-96ae-4df0-aabf-d6fe394e26a7" Alias="Code: C4.19" Level="6">
  <Info>
    <Parent Key="c961c6d7-24d8-4378-a8f1-ccb2b19bc3af">B4.3.2 Designing for inclusive access</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B43ActiveTravelAndInclusiveStreets/B432DesigningForInclusiveAccess/CodeC419</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T10:32:32</CreateDate>
    <NodeName Default="Code: C4.19" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EThe design and inclusion of street furniture and surfaces \u003Cstrong\u003Emust \u003C/strong\u003Etake into account the needs a variety of users (for example, seat back for older users, reduction in contrasting paving for people with dementia).\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.19]]></Value>
    </title>
  </Properties>
</Content>