<?xml version="1.0" encoding="utf-8"?>
<Content Key="da1b8505-f54f-4f14-8466-39520778dd6a" Alias="Code: C4.2" Level="6">
  <Info>
    <Parent Key="ed313a99-40e1-4424-9488-cbabeff4137c">B4.1.1 Connected neighbourhoods</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B41Connectivity/B411ConnectedNeighbourhoods/CodeC42</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-11T15:20:32</CreateDate>
    <NodeName Default="Code: C4.2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ENew developments \u003Cstrong\u003Emust \u003C/strong\u003Econsider how people move beyond the development site, and provide new or improved crossing points over busier roads or along key routes between surrounding neighbourhoods to reach key facilities including employment, education, retail, and healthcare. The type of crossing utilised \u003Cstrong\u003Emust \u003C/strong\u003Ebe appropriate for the street context and align to the Street Hierarchy (List 3). \u003C/p\u003E\u003Cp\u003EThe proposed approach and rationale \u003Cstrong\u003Emust \u003C/strong\u003Ebe clearly highlighted on provided Masterplans and demonstrated within the Design and Access Statement (DAS) when considering multiple developments and phasing as required under Code C3.29. \u003C/p\u003E\u003Cp\u003EMore information can be found on the Pedestrian Review System (PERS) Fact Sheet (Transport for London) and the Streetaudit Factsheet (TRL Software).\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Other Major Applications",
  "Major Employment Applications",
  "Major Residential Applications (10\u002B homes)"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.2]]></Value>
    </title>
  </Properties>
</Content>