<?xml version="1.0" encoding="utf-8"?>
<Content Key="b25d6218-f4ec-496f-be46-f6a3f5434d0f" Alias="Code: C4.22" Level="6">
  <Info>
    <Parent Key="bbefb9e2-e5a5-424d-a01b-c3beaf8d8bc6">B4.3.3 Designing for cyclists</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B43ActiveTravelAndInclusiveStreets/B433DesigningForCyclists/CodeC422</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T10:40:03</CreateDate>
    <NodeName Default="Code: C4.22" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EPoints of severance (due to busy roads, high volumes of traffic, railway lines or other potential barriers) within or surrounding a development site \u003Cstrong\u003Emust \u003C/strong\u003Ebe identified within the site appraisal (C1.1 and G1.1 as applicable). Where potential or significant barriers to cycling have been identified, appropriate cycle crossing points \u003Cstrong\u003Emust \u003C/strong\u003Ebe provided.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.22]]></Value>
    </title>
  </Properties>
</Content>