<?xml version="1.0" encoding="utf-8"?>
<Content Key="471d288c-a6ed-461d-bb49-4b468435a841" Alias="Code: C4.7" Level="6">
  <Info>
    <Parent Key="e987754d-82b5-4d5a-a121-388be3cc10e8">B4.1.2 Connected schools</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B41Connectivity/B412ConnectedSchools/CodeC47</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T08:18:03</CreateDate>
    <NodeName Default="Code: C4.7" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EProposed school sites \u003Cstrong\u003Emust \u003C/strong\u003Eprovide for safe and well-managed drop-off and pick-up arrangements within the school grounds, supported by appropriate traffic management measures. Proposed car parking and drop-off areas \u003Cstrong\u003Emust:\u003C/strong\u003E \u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003Ecomply with the District Wide Cycle and Other Parking Standards (Appendix 7) \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Ebe located away from the primary pedestrian entrance \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Einclude a safe and direct walking route from the drop-off area to the schools primary entrance \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Ebe designed to minimise conflict between reversing vehicles and pedestrians, ideally through one-way circulation or dedicated turning areas\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.7]]></Value>
    </title>
  </Properties>
</Content>