<?xml version="1.0" encoding="utf-8"?>
<Content Key="ecd6237f-45c7-480e-866b-51e94845e9d5" Alias="Code: C2.8" Level="6">
  <Info>
    <Parent Key="c0d4de37-3497-4b77-95f5-ce113cbfb95f">B2.4.1 Integrating Sustainable Drainage Systems (SuDS)</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B24FloodRiskAndDrainage/B241IntegratingSustainableDrainageSystemsSuDS/CodeC28</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T13:53:21</CreateDate>
    <NodeName Default="Code: C2.8" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EAbove-ground SuDS attenuation features \u003Cstrong\u003Emust \u003C/strong\u003Ebe incorporated wherever possible, prioritising nature-based solutions in line with the SuDS hierarchy. Where this is not feasible, alternative SuDS measures \u003Cstrong\u003Emust \u003C/strong\u003Ebe provided, with interception storage for the first 5mm of rainfall wherever practicable to improve water quality and reduce runoff. \u003C/p\u003E\u003Cp\u003EWhere below-ground SuDS are necessary, the associated open spaces \u003Cstrong\u003Emust \u003C/strong\u003Ebe thoughtfully designed to avoid large, featureless grass areas, instead creating attractive, functional environments that deliver biodiversity, amenity and/or recreational value.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C2.8]]></Value>
    </title>
  </Properties>
</Content>