<?xml version="1.0" encoding="utf-8"?>
<Content Key="bc009b5a-8d93-47a7-9c2c-a88a89d026db" Alias="Code: C1.3" Level="6">
  <Info>
    <Parent Key="4e9527f9-3c66-486a-9f12-caeb8906395f">B1.2.1 Working with the natural landscape</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B12LandformAndTopography/B121WorkingWithTheNaturalLandscape/CodeC13</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T09:35:12</CreateDate>
    <NodeName Default="Code: C1.3" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EMade ground \u003Cstrong\u003Emust\u003C/strong\u003E not be used to raise the ridgeline (or eaves height in the case of flat roofs) by more than one storey above the existing ground level for residential properties located at the edge of a development\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C1.3]]></Value>
    </title>
  </Properties>
</Content>