<?xml version="1.0" encoding="utf-8"?>
<Content Key="31be341b-d34c-40d9-be2e-6c245a495161" Alias="Code: C4.28" Level="6">
  <Info>
    <Parent Key="83fd62b0-08bf-4841-b9cc-e669420a39ea">B4.4.1 Crossings</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B44JunctionsAndCrossings/B441Crossings/CodeC428</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T12:13:30</CreateDate>
    <NodeName Default="Code: C4.28" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EProposed crossings \u003Cstrong\u003Emust \u003C/strong\u003Erespond to pedestrian desire lines and be suitable for all users at all times. Pedestrian refuges \u003Cstrong\u003Emust \u003C/strong\u003Ebe installed at suitable locations where pedestrians need to cross more than two lanes of traffic, to enhance safety and accessibility. Dropped kerbs \u003Cstrong\u003Emust \u003C/strong\u003Ebe aligned with the refuge to ensure safe and accessible crossings. Refuge widths \u003Cstrong\u003Emust \u003C/strong\u003Ebe appropriate for the intended crossing purposes; a minimum refuge width of 2 metres \u003Cstrong\u003Emust\u003C/strong\u003E be provided when intended primarily for pedestrian use, whilst a wider minimum width of 3 metres \u003Cstrong\u003Emust \u003C/strong\u003Ebe provided where the refuge also accommodates cyclists.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.28]]></Value>
    </title>
  </Properties>
</Content>