<?xml version="1.0" encoding="utf-8"?>
<Content Key="87f9bcf9-65a7-4661-b584-fe596973de7b" Alias="Code: C5.3" Level="6">
  <Info>
    <Parent Key="9a635f0f-078f-437f-b1a5-fe9a9b5849d8">B5.1.1 Scale, massing and proportion of extensions</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes/B51ExtensionsAndAlterations/B511ScaleMassingAndProportionOfExtensions/CodeC53</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T14:28:03</CreateDate>
    <NodeName Default="Code: C5.3" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EWhere a proposal affects existing parking (whether by increasing demand or reducing current provision), it \u003Cstrong\u003Emust \u003C/strong\u003Einclude an updated parking layout, clearly shown on the submitted plans. This \u003Cstrong\u003Emust \u003C/strong\u003Edemonstrate how the scheme complies with the minimum parking standards set out in Appendix 7.\u003C/p\u003E\u003Cp\u003E Note that whilst permitted development rights allow for some parking-related improvements, it is crucial to check the specific rules and regulations related to your home and the proposed development with the Council. (For example permitted development rights do not apply to works on a public highway). Section 184 of the Highways Act outlines the process for obtaining permission for vehicles access over a footway or verge, which involves a S184 agreement with the Councils Highway Authority as required.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Householder Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C5.3]]></Value>
    </title>
  </Properties>
</Content>