<?xml version="1.0" encoding="utf-8"?>
<Content Key="2eef85a9-53f3-4d25-b9fb-9ee241b2fa66" Alias="Code: C3.5" Level="6">
  <Info>
    <Parent Key="429daee2-576c-4b29-97bd-ef3aab5c5006">B3.1.3 Creating places for everyone</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B31OpenSpacesAndCommunityFacilities/B313CreatingPlacesForEveryone/CodeC35</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-11T10:12:29</CreateDate>
    <NodeName Default="Code: C3.5" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ERequirements for energy, water and drainage infrastructure \u003Cstrong\u003Emust \u003C/strong\u003Ebe embedded into the site layout from the earliest stages of the design process. Development proposals \u003Cstrong\u003Emust \u003C/strong\u003Edemonstrate how the requirements and placement of infrastructure (such as the maintenance and access of SuDS, power provisions, including substations, pumping stations and similar utility buildings) have been integrated into the proposed layout and must not be left as an afterthought.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C3.5]]></Value>
    </title>
  </Properties>
</Content>