<?xml version="1.0" encoding="utf-8"?>
<Content Key="fe04ce2a-a296-4dbb-9c8f-d64833bbfc9b" Alias="Code: C4.1" Level="6">
  <Info>
    <Parent Key="ed313a99-40e1-4424-9488-cbabeff4137c">B4.1.1 Connected neighbourhoods</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B41Connectivity/B411ConnectedNeighbourhoods/CodeC41</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-11T15:18:20</CreateDate>
    <NodeName Default="Code: C4.1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ENew development layouts \u003Cstrong\u003Emust:\u003C/strong\u003E \u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003Eprovide safe and direct connections to existing walking, wheeling, cycling, horse riding, and public transport networks within and around the site to encourage active travel opportunities \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Eenable and support off site connections to key destinations, including schools, local centres and public transport links \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Epreserve and formalise existing pedestrian desire lines to promote active travel and maximise permeability\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.1]]></Value>
    </title>
  </Properties>
</Content>