<?xml version="1.0" encoding="utf-8"?>
<Content Key="420691c5-5ab2-42cf-b6cc-0fd0553cea6c" Alias="Code: C4.21" Level="6">
  <Info>
    <Parent Key="bbefb9e2-e5a5-424d-a01b-c3beaf8d8bc6">B4.3.3 Designing for cyclists</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B43ActiveTravelAndInclusiveStreets/B433DesigningForCyclists/CodeC421</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T10:39:00</CreateDate>
    <NodeName Default="Code: C4.21" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EAll cycle facilities \u003Cstrong\u003Emust \u003C/strong\u003Ebe designed in accordance with Cycle infrastructure design (LTN 1/20) (Department for Transport), and be coherent, direct, safe, comfortable and attractive. This \u003Cstrong\u003Emust \u003C/strong\u003Einclude providing appropriate levels of protection based on traffic volumes and vehicle speeds and refer to the Street Hierarchy (List 3).\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Major Residential Applications (10\u002B homes)",
  "Minor Residential Applications (1-9 homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.21]]></Value>
    </title>
  </Properties>
</Content>