<?xml version="1.0" encoding="utf-8"?>
<Content Key="e154347b-43ad-483c-af10-a9b31c53a961" Alias="Code: C5.4" Level="6">
  <Info>
    <Parent Key="39745704-28d0-4189-9ffb-7e54db57a522">B5.1.2 Dormer sizes</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes/B51ExtensionsAndAlterations/B512DormerSizes/CodeC54</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T14:43:58</CreateDate>
    <NodeName Default="Code: C5.4" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EDormers \u003Cstrong\u003Emust \u003C/strong\u003Eremain subordinate and proportionate to the original roof in both scale and form by ensuring that they: \u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003Edo not project above the highest part of the existing roof \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Eavoid the appearance of a full additional storey, which can be achieved by maintaining a clear break from the main eaves line (minimum 0.2 metres) and setting the dormer in from the sides of the roof \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Edo not overhang the outer face of the wall \u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003EWhere dormers are constructed under Permitted Development rights, applicants are still encouraged to ensure that scale, materials and placement still respect the character and proportions of the existing roof and wider street scene.\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Householder Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C5.4]]></Value>
    </title>
  </Properties>
</Content>