<?xml version="1.0" encoding="utf-8"?>
<Content Key="91ad59c1-c3c5-4fc9-8790-1e31f5f87cf2" Alias="Code: C4.4" Level="6">
  <Info>
    <Parent Key="ed313a99-40e1-4424-9488-cbabeff4137c">B4.1.1 Connected neighbourhoods</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B41Connectivity/B411ConnectedNeighbourhoods/CodeC44</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T07:59:01</CreateDate>
    <NodeName Default="Code: C4.4" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EDevelopments \u003Cstrong\u003Emust \u003C/strong\u003Ebe designed to allow access to adjoining allocated Local Plan sites to support future development. Potential future connections \u003Cstrong\u003Emust \u003C/strong\u003Ebe clearly illustrated on site layout plans and must not consist of non-adoptable streets (such as private drives). To ensure a durable and future-proof street network, layouts \u003Cstrong\u003Emust \u003C/strong\u003Eavoid the creation of \u2018ransom strips\u2019 or any gaps between the adopted highway and the site boundary.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.4]]></Value>
    </title>
  </Properties>
</Content>