<?xml version="1.0" encoding="utf-8"?>
<Content Key="e1fe6b23-bc6c-4013-bcfa-19784ae026a7" Alias="Code: C4.36" Level="6">
  <Info>
    <Parent Key="fbc74907-2050-45af-8c77-33c8df7255a0">B4.5.3 Junction spacing</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B45ManagingSpeed/B453JunctionSpacing/CodeC436</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T12:56:26</CreateDate>
    <NodeName Default="Code: C4.36" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EThe geometry of new junctions \u003Cstrong\u003Emust \u003C/strong\u003Econsider both the type of traffic on the minor route and the existing or anticipated traffic flows and speeds on the major route.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.36]]></Value>
    </title>
  </Properties>
</Content>