<?xml version="1.0" encoding="utf-8"?>
<Content Key="b4f18c99-da6e-45ac-a8b4-095663511e11" Alias="Code: C2.20" Level="6">
  <Info>
    <Parent Key="5b502e3f-d1b0-4cac-8626-b6d618f0fed5">B2.7.2 Sensitively integrating air source heat pumps (ASHP’s)</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B27RenewableTechnologies/B272SensitivelyIntegratingAirSourceHeatPumpsASHPS/CodeC220</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-11T06:17:37</CreateDate>
    <NodeName Default="Code: C2.20" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EIf the heat pump is located within a Conservation Area or associated with a heritage asset, it \u003Cstrong\u003Emust \u003C/strong\u003Ebe positioned on a facade that does not face a public street or highway. For floor-mounted units, the ASHP \u003Cstrong\u003Emust \u003C/strong\u003Ebe placed closer to the building than to the highway and be appropriately screened from view. Any screening \u003Cstrong\u003Emust \u003C/strong\u003Ebe designed to ensure adequate airflow to the ASHP is maintained. \u003C/p\u003E\u003Cp\u003E\u003Cstrong\u003EException:\u003C/strong\u003E if the principal facade of the building is at right angles to the public street or highway consideration \u003Cstrong\u003Emust \u003C/strong\u003Ebe given to locating the ASHP on a secondary elevation, ideally still away from the public street or highway.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Householder Applications",
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "737720d1-307b-41ea-a7b6-6057eed13758",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 54"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b286b56a-0244-4206-bbb9-23f625b8ccb7",
              "mediaKey": "935daa35-9b07-43f5-97da-32239f2b113f",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 54: Sketch illustration showing the installation of ASHP\u2019s to the side of properties screened behind boundary fences (Guidance G2.34)"
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 54: Sketch illustration showing the installation of ASHP\u2019s to the side of properties screened behind boundary fences (Guidance G2.34)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "fb71eb54-03e6-482e-956c-4be6accf72af",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "737720d1-307b-41ea-a7b6-6057eed13758",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "737720d1-307b-41ea-a7b6-6057eed13758",
        "contentUdi": null,
        "settingsKey": "fb71eb54-03e6-482e-956c-4be6accf72af",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C2.20]]></Value>
    </title>
  </Properties>
</Content>