<?xml version="1.0" encoding="utf-8"?>
<Content Key="4384ec2a-665b-49d8-9def-0875e5ca3b34" Alias="Code: C2.12" Level="6">
  <Info>
    <Parent Key="1474bcc7-ecb0-4776-9fc6-3a9f7fdd1746">B2.5.1 Trees planting, street trees and landscape design</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B25NewTreesAndLandscapeStrategy/B251TreesPlantingStreetTreesAndLandscapeDesign/CodeC212</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T16:06:52</CreateDate>
    <NodeName Default="Code: C2.12" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EAll new developments \u003Cstrong\u003Eshould \u003C/strong\u003Eintegrate street trees and additional tree planting within areas of opportunity within the sites design proposals to improve climate resilience by providing shade, reducing heat, improving air quality, enhancing biodiversity, softening hard landscaped areas, help address issues of flood risk and stormwater run-off, increased economic value, positive health and wellbeing effects. \u003C/p\u003E\u003Cp\u003EStreet tree placement and type \u003Cstrong\u003Eshould \u003C/strong\u003Ealso reflect the street hierarchy and be spaced at regular intervals (generally no more than 15 metres apart on average) to ensure consistent canopy cover and a cohesive streetscape. Further guidance \u003Cstrong\u003Eshould \u003C/strong\u003Ebe sought from the Street Hierarchy section within Chapter 4.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a29ecc6f-d8fb-4c95-88b9-8b940f6c3cd9",
      "key": "6c145d83-93ba-4012-8d8c-6a33dc8c8819",
      "udi": null,
      "values": [
        {
          "alias": "altText2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 45: Integration of street trees into hard landscaping at Little Kelham, Sheffield (Code C2.12)"
        },
        {
          "alias": "altText1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 44: Naturalised new tree planting acts as a soft boundary between the road and adjacent open space (Code C2.12)"
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 44 \u0026 45"
        },
        {
          "alias": "image1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "4fb7bcb8-b708-4528-947f-2e26564821c5",
              "mediaKey": "c96eb19f-d142-4963-9525-a2253cf6ad93",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 44: Naturalised new tree planting acts as a soft boundary between the road and adjacent open space (Code C2.12)"
        },
        {
          "alias": "image2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b2e3cde7-b960-4424-a457-b96b247d7559",
              "mediaKey": "845f9c04-a296-4dec-85cf-40c43ecbbcb4",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 45: Integration of street trees into hard landscaping at Little Kelham, Sheffield (Code C2.12)"
        }
      ]
    },
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "9f59935f-b7ee-4ab0-b42d-06868dbe7869",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 46"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "5a47137b-4a27-4378-a6ac-cbbc184e7f24",
              "mediaKey": "1ccd0492-52a1-4e31-9450-e0490e1a92a6",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 46: Regular street tree planting at Calder Park creates a formal avenue which reflects the street hierarchy and provides ecological and wellbeing benefits (Code C2.12)"
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 46: Regular street tree planting at Calder Park creates a formal avenue which reflects the street hierarchy and provides ecological and wellbeing benefits (Code C2.12)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c71687d5-4b27-4c39-b389-7ee98adb9882",
      "key": "a418a8e6-139f-49f0-9419-144aeb360b29",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "2afa7a01-6eb8-455f-8232-633ca7803807",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "6c145d83-93ba-4012-8d8c-6a33dc8c8819",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9f59935f-b7ee-4ab0-b42d-06868dbe7869",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "6c145d83-93ba-4012-8d8c-6a33dc8c8819",
        "contentUdi": null,
        "settingsKey": "a418a8e6-139f-49f0-9419-144aeb360b29",
        "settingsUdi": null
      },
      {
        "contentKey": "9f59935f-b7ee-4ab0-b42d-06868dbe7869",
        "contentUdi": null,
        "settingsKey": "2afa7a01-6eb8-455f-8232-633ca7803807",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C2.12]]></Value>
    </title>
  </Properties>
</Content>