<?xml version="1.0" encoding="utf-8"?>
<Content Key="f3a12c84-11d3-4b09-ab38-de87b2d785f0" Alias="Code: C4.25" Level="6">
  <Info>
    <Parent Key="16a7a9dd-94b8-44d0-b9be-7efa078a8176">B4.3.4 Public transport</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B43ActiveTravelAndInclusiveStreets/B434PublicTransport/CodeC425</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T10:52:41</CreateDate>
    <NodeName Default="Code: C4.25" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EThe footpath system to bus stops and stations \u003Cstrong\u003Emust \u003C/strong\u003Ebe regarded as part of the public transport system and designed to be direct, accessible, safe and easy to use as possible. Measures \u003Cstrong\u003Emust \u003C/strong\u003Ebe Equality Act 2010 compliant. A Pedestrian Environment Review System (PERS) Audit may assist if prepared and submitted for officer review early in the application process. \u003C/p\u003E\u003Cp\u003EMore information can be found on the Pedestrian Review System (PERS) Fact Sheet (Transport for London) and the Streetaudit Factsheet (TRL Software)\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.25]]></Value>
    </title>
  </Properties>
</Content>