<?xml version="1.0" encoding="utf-8"?>
<Content Key="298bdfde-b724-46cf-9e6d-fef83dadc90b" Alias="Code: C3.18" Level="6">
  <Info>
    <Parent Key="2f80c230-c1a7-45f1-bd6e-e37c4adbba74">B3.3.2 Corner articulation</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B33WayfindingAndLegibility/B332CornerArticulation/CodeC318</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-11T13:05:18</CreateDate>
    <NodeName Default="Code: C3.18" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EBlank gable walls \u003Cstrong\u003Emust \u003C/strong\u003Enot face onto the street or public realm. In these locations, gable walls \u003Cstrong\u003Emust \u003C/strong\u003Einstead incorporate appropriate architectural detailing to avoid undermining the visual quality of the development and to ensure an engaging and attractive street scene. \u003C/p\u003E\u003Cp\u003ESuitable treatments may include brick panels or banding designs, clear definition of base and top elements to break down the overall massing, material variation, fenestration, brickwork patterning, or integrated landscaping features. Such detailing helps create a more human-scale edge, adds variety and character, and supports wayfinding.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a29ecc6f-d8fb-4c95-88b9-8b940f6c3cd9",
      "key": "11e3a723-8e42-40ee-a878-50d53891412d",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 82 \u0026 83"
        },
        {
          "alias": "image1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "acfce5b6-e080-45d5-8587-8b89758117ef",
              "mediaKey": "9741ffba-2b50-45e2-9078-8f772382aa1c",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "image2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a2324171-b52f-4614-bfc6-c3243be2b5ce",
              "mediaKey": "1f8de6af-56ee-4579-8cb6-52b6ee83a125",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 82: Architectural window placement helps to activate the gable end of this terrace in Timekeepers Square (Code C3.18)"
        },
        {
          "alias": "caption2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 83: Marking the corner through increased building height at Newmillardam (Code C3.17)"
        },
        {
          "alias": "altText1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 82: Architectural window placement helps to activate the gable end of this terrace in Timekeepers Square (Code C3.18)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c71687d5-4b27-4c39-b389-7ee98adb9882",
      "key": "39d0026f-3aa6-450f-a79d-72547c8145ff",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "11e3a723-8e42-40ee-a878-50d53891412d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "11e3a723-8e42-40ee-a878-50d53891412d",
        "contentUdi": null,
        "settingsKey": "39d0026f-3aa6-450f-a79d-72547c8145ff",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C3.18]]></Value>
    </title>
  </Properties>
</Content>