<?xml version="1.0" encoding="utf-8"?>
<Content Key="052f3c1b-b190-4796-b3f3-575c8acab156" Alias="Code: C1.5" Level="6">
  <Info>
    <Parent Key="cef09a37-ed47-4c66-9ec8-e2ddf9f50f18">B1.3.1 Sensitively integrating with the urban grain</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B13DevelopmentPatterns/B131SensitivelyIntegratingWithTheUrbanGrain/CodeC15</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T09:57:32</CreateDate>
    <NodeName Default="Code: C1.5" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EApplicants \u003Cstrong\u003Emust\u003C/strong\u003E provide a clear narrative outlining how the proposals integrate with and respect the local context in terms of strategic layout and pattern of development. This \u003Cstrong\u003Emust \u003C/strong\u003Etake reference from the site appraisal (C1.1 and G1.1 as relevant) and the local character and context assessment (C1.2 and G1.2 as relevant). \u003C/p\u003E\u003Cp\u003EThe narrative \u003Cstrong\u003Emust \u003C/strong\u003Edemonstrate how the layout positively responds to the character of the site and its wider context. \u003C/p\u003E\u003Cp\u003E\u003Cstrong\u003EException:\u003C/strong\u003E Where the local character and context assessment can not determine a clear and positive urban grain.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C1.5]]></Value>
    </title>
  </Properties>
</Content>