<?xml version="1.0" encoding="utf-8"?>
<Content Key="4cc21f38-77ae-4efe-b1ee-4e441f4eb657" Alias="Code: C4.42" Level="6">
  <Info>
    <Parent Key="ca797b48-9d21-48ec-8ac3-0d0cde8756ba">B4.6.1 Street lighting provision</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B46Lighting/B461StreetLightingProvision/CodeC442</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T13:17:02</CreateDate>
    <NodeName Default="Code: C4.42" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EStreet lighting \u003Cstrong\u003Emust \u003C/strong\u003Emeet the British Standard 5489:2020 \u201CDesign of road lighting-Lighting of roads and public amenity areas. Code of practice\u201D and the European Standard CEN/TR 13201. Lighting for unadopted roads \u003Cstrong\u003Emust \u003C/strong\u003Eprioritise safety and functionality. It is strongly encouraged that lighting for non-adopted streets also refers to the above guidance.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a29ecc6f-d8fb-4c95-88b9-8b940f6c3cd9",
      "key": "ae473522-0947-45ad-b159-44570a4c99d5",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 122 \u0026 123"
        },
        {
          "alias": "caption1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 122: Lighting can be decorative as well as functional, adding character to streets (Sheffield)"
        },
        {
          "alias": "image1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "876c18fe-0413-48e6-bda3-fd0896af121c",
              "mediaKey": "e9199d05-1eda-4795-92f0-7d9b5c8f1d6e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 123: Good lighting improves feelings of safety (Sheffield)"
        },
        {
          "alias": "image2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0d24b5b8-afbd-4f4a-83c9-e4d51822787c",
              "mediaKey": "3f213479-a995-43d8-aebe-7c1cad5938ab",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "altText1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 122: Lighting can be decorative as well as functional, adding character to streets (Sheffield)"
        },
        {
          "alias": "altText2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 123: Good lighting improves feelings of safety (Sheffield)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c71687d5-4b27-4c39-b389-7ee98adb9882",
      "key": "dac34d8d-9f7a-40b2-a4aa-b583059aa14d",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "ae473522-0947-45ad-b159-44570a4c99d5",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ae473522-0947-45ad-b159-44570a4c99d5",
        "contentUdi": null,
        "settingsKey": "dac34d8d-9f7a-40b2-a4aa-b583059aa14d",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.42]]></Value>
    </title>
  </Properties>
</Content>