<?xml version="1.0" encoding="utf-8"?>
<Content Key="286325f5-bb34-4af3-9740-4ab7a4a7c2a9" Alias="Code: C4.40" Level="6">
  <Info>
    <Parent Key="4658c98c-600d-4e4d-8b3e-8107e2d7eb1a">B4.5.4 Vehicle tracking, servicing and turning spaces</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B45ManagingSpeed/B454VehicleTrackingServicingAndTurningSpaces/CodeC440</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T13:03:20</CreateDate>
    <NodeName Default="Code: C4.40" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EIt \u003Cstrong\u003Emust \u003C/strong\u003Ebe demonstrated through vehicle tracking that a designated vehicle (such as a fire appliance or refuse vehicle currently in use) can utilise the street with the tracking speed to be 5mph below the normal design speed for the street, and due account \u003Cstrong\u003Emust \u003C/strong\u003Ebe taken of reverse curves.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "a51ec123-6953-44d5-bebd-85a9d9852d84",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 121"
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 121: At junctions, the minor route must meet the major route at approximately a perpendicular angle for at least the first 10 metres (Code C4.38)"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "5017858c-2b5f-4fea-b67e-38619d7c5802",
              "mediaKey": "2357cc07-19df-4dee-b7a5-d348e596709f",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 121: At junctions, the minor route must meet the major route at approximately a perpendicular angle for at least the first 10 metres (Code C4.38)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "a5b65c02-a923-4a3f-9058-f247aabb686d",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "a51ec123-6953-44d5-bebd-85a9d9852d84",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a51ec123-6953-44d5-bebd-85a9d9852d84",
        "contentUdi": null,
        "settingsKey": "a5b65c02-a923-4a3f-9058-f247aabb686d",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.40]]></Value>
    </title>
  </Properties>
</Content>