<?xml version="1.0" encoding="utf-8"?>
<Content Key="e93c07b3-e27b-47fb-9472-4f4991f61c4d" Alias="Code: C4.6" Level="6">
  <Info>
    <Parent Key="e987754d-82b5-4d5a-a121-388be3cc10e8">B4.1.2 Connected schools</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B41Connectivity/B412ConnectedSchools/CodeC46</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T08:16:35</CreateDate>
    <NodeName Default="Code: C4.6" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ERoutes to schools \u003Cstrong\u003Emust \u003C/strong\u003Ebe designed to provide safe and convenient access for children and their guardians travelling by active modes. This may include high-quality surfacing, sufficiently wide footways, dropped kerbs, clearly marked and safe crossing points, and effective traffic calming measures to reduce vehicle speeds\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.6]]></Value>
    </title>
  </Properties>
</Content>