<?xml version="1.0" encoding="utf-8"?>
<Content Key="55a77c53-f3e9-403c-bedd-ca4decc7864a" Alias="Code: C4.31" Level="6">
  <Info>
    <Parent Key="4728291c-1d5c-4e41-8e1f-040be60f5853">B4.5.1 Speed restraints</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B45ManagingSpeed/B451SpeedRestraints/CodeC431</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T12:33:24</CreateDate>
    <NodeName Default="Code: C4.31" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EProposals that indicate that an entrance ramp is to be utilised as a speed restraint must comply with the Street Hierarchy (List 3). Entrance ramps \u003Cstrong\u003Emust \u003C/strong\u003Ebe of an adoptable standard.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Other Major Applications",
  "Major Residential Applications (10\u002B homes)"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.31]]></Value>
    </title>
  </Properties>
</Content>