<?xml version="1.0" encoding="utf-8"?>
<Content Key="d448033a-48a6-40c6-9f62-5fb9d89044a5" Alias="Code: C4.15" Level="6">
  <Info>
    <Parent Key="c961c6d7-24d8-4378-a8f1-ccb2b19bc3af">B4.3.2 Designing for inclusive access</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B43ActiveTravelAndInclusiveStreets/B432DesigningForInclusiveAccess/CodeC415</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T10:11:24</CreateDate>
    <NodeName Default="Code: C4.15" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EApplicants \u003Cstrong\u003Emust \u003C/strong\u003Edesign streets and open spaces to ensure clear, accessible, and safe environments for elderly individuals and people with disabilities, including those with visual, hearing, or other impairments. All pedestrian facilities \u003Cstrong\u003Emust \u003C/strong\u003Ebe designed in accordance with Inclusive Mobility A Guide to Best Practice on Access to Pedestrian and Transport Infrastructure (Department for Transport). Additionally, developers must have due regard to the Equality Act 2010.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.15]]></Value>
    </title>
  </Properties>
</Content>