<?xml version="1.0" encoding="utf-8"?>
<Content Key="a73be795-4648-41d9-b2fd-3d521ee19a2a" Alias="Code: C4.8" Level="6">
  <Info>
    <Parent Key="e987754d-82b5-4d5a-a121-388be3cc10e8">B4.1.2 Connected schools</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B41Connectivity/B412ConnectedSchools/CodeC48</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T08:20:09</CreateDate>
    <NodeName Default="Code: C4.8" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EAll new school development \u003Cstrong\u003Emust \u003C/strong\u003Emeet the standards for cycle parking provision as set out within the District Wide Cycle and Other Parking Standards (Appendix 7).\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.8]]></Value>
    </title>
  </Properties>
</Content>