<?xml version="1.0" encoding="utf-8"?>
<Content Key="3cb4a6cd-3470-4e97-9d4e-f1aa1a79cadc" Alias="Code: C1.9" Level="6">
  <Info>
    <Parent Key="1530b160-d5ff-4ede-99dd-c92c4326502b">B1.5.2 Respecting sensitive edges</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B15InterfacesAndBoundaryEdges/B152RespectingSensitiveEdges/CodeC19</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T10:48:34</CreateDate>
    <NodeName Default="Code: C1.9" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EBuilding on the information gained from the site appraisal (C1.1 and G1.1) and the local character and context assessment (C1.2 and G1.2), where proposed development adjoins sensitive landscapes and features (such as areas of countryside, areas of open urban green space, ecological assets, including priority habitats and species, woodland, and historic landscapes) the design \u003Cstrong\u003Emust \u003C/strong\u003Eincorporate a gradual reduction in density towards the open edge to protect views and reinforce a sense of openness. \u003C/p\u003E\u003Cp\u003EThis transition \u003Cstrong\u003Emust \u003C/strong\u003Ebe carefully balanced to ensure compliance with the minimum net density standards for the designated area type and other relevant policy requirements.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C1.9]]></Value>
    </title>
  </Properties>
</Content>