<?xml version="1.0" encoding="utf-8"?>
<Content Key="2c881648-4122-407e-8c80-d421948f6f7c" Alias="Code: C4.44" Level="6">
  <Info>
    <Parent Key="e0b50cf0-6e28-4aaa-8bdc-a175431571a8">B4.7.2 Events and public spaces</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B47CreatingSocialPlaces/B472EventsAndPublicSpaces/CodeC444</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T13:32:29</CreateDate>
    <NodeName Default="Code: C4.44" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EFor crowded places, Hostile Vehicle Mitigation (HVM) may be necessary. Any street furniture used as a Vehicle Security Barrier (VBS) \u003Cstrong\u003Emust \u003C/strong\u003Ebe appropriately rated for vehicle impact and installed at a sufficient stand-off distance from buildings and pedestrian areas. The level of intervention \u003Cstrong\u003Emust \u003C/strong\u003Ebe proportionate to the assessed threat and be sympathethic to the operations of the area. \u003C/p\u003E\u003Cp\u003EPlease see Public Realm Design Guide for Hostile Vehicle Mitigation (NPSA) for more information.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Other Major Applications",
  "Major Employment Applications",
  "Major Residential Applications (10\u002B homes)"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "5849f83d-9b05-49b2-80d0-05ccca27bb26",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 125"
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 125: The design of Coronation Gardens in Wakefield makes good use of durable materials and street furniture to signal pedestrian priority and create a welcoming civic space (Code C4.43)"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "49cabc0e-4201-460d-b325-6133e189f101",
              "mediaKey": "e05f873c-a6fe-437e-9986-b0fd450da1d8",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 125: The design of Coronation Gardens in Wakefield makes good use of durable materials and street furniture to signal pedestrian priority and create a welcoming civic space (Code C4.43)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "4c09aebb-d722-47b9-94f0-6a0d4080cbc0",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "5849f83d-9b05-49b2-80d0-05ccca27bb26",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "5849f83d-9b05-49b2-80d0-05ccca27bb26",
        "contentUdi": null,
        "settingsKey": "4c09aebb-d722-47b9-94f0-6a0d4080cbc0",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.44]]></Value>
    </title>
  </Properties>
</Content>