<?xml version="1.0" encoding="utf-8"?>
<Content Key="2b870550-2d3b-4caa-bfb4-4472b24129b9" Alias="Code: C4.17" Level="6">
  <Info>
    <Parent Key="c961c6d7-24d8-4378-a8f1-ccb2b19bc3af">B4.3.2 Designing for inclusive access</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B43ActiveTravelAndInclusiveStreets/B432DesigningForInclusiveAccess/CodeC417</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T10:13:36</CreateDate>
    <NodeName Default="Code: C4.17" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EDropped kerbs \u003Cstrong\u003Emust \u003C/strong\u003Ebe provided at all side-road junctions where the footway and carriageway are at different levels to ensure accessible crossings. Tactile paving \u003Cstrong\u003Emust \u003C/strong\u003Ebe installed in accordance with national guidance (specifically Inclusive Mobility A Guide to Best Practice on Access to Pedestrian and Transport Infrastructure (Department for Transport) to support blind and partially sighted people in navigating these crossing points safely.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.17]]></Value>
    </title>
  </Properties>
</Content>