<?xml version="1.0" encoding="utf-8"?>
<Content Key="6da6ee0a-6162-46f5-bf0d-ebb9c291e123" Alias="Code: C5.9" Level="6">
  <Info>
    <Parent Key="d23ebb1d-36b6-41ef-bacf-2e8e462c5b35">B5.4.1 Plot dimensions</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes/B54Plots/B541PlotDimensions/CodeC59</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T16:13:52</CreateDate>
    <NodeName Default="Code: C5.9" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ENew plot dimensions \u003Cstrong\u003Emust \u003C/strong\u003Ereflect the size, variety, and grouping of existing plots in the surrounding local context, as identified in the Local Character and Contextual Assessment (C1.2 and G1.2, where applicable). This ensures new development respects and reinforces the established character of the area.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C5.9]]></Value>
    </title>
  </Properties>
</Content>