<?xml version="1.0" encoding="utf-8"?>
<Content Key="106e5cfc-d63c-4ca0-858b-6c3d28eacd46" Alias="Code: C4.5" Level="6">
  <Info>
    <Parent Key="ed313a99-40e1-4424-9488-cbabeff4137c">B4.1.1 Connected neighbourhoods</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B41Connectivity/B411ConnectedNeighbourhoods/CodeC45</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T08:06:04</CreateDate>
    <NodeName Default="Code: C4.5" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EWhere connections to existing streets are made, appropriate design measures \u003Cstrong\u003Emust \u003C/strong\u003Ebe incorporated to discourage through-traffic to create low-traffic neighbourhoods, whilst maintaining permeability for walking, wheeling, and cycling. This may include: \u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003Emodal filters \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Ebuild outs \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Eplanters \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Epocket parks \u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003EThis is to support local access and provide active travel opportunities, whilst preventing developments becoming a through-route for general traffic.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a29ecc6f-d8fb-4c95-88b9-8b940f6c3cd9",
      "key": "c861be54-a454-4017-85ab-d61b70749cca",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 93 \u0026 94"
        },
        {
          "alias": "image1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1d5929f1-0b0b-4c06-bb53-b76bb3dd11f0",
              "mediaKey": "e10102a6-ddf1-421f-9ec3-2e2b72b911c4",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 93: Modal filters can help to discourage through traffic whilst maintaining permeability for walking, wheeling and cycling (Code C4.5)"
        },
        {
          "alias": "image2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b9ed011d-cbaf-4b6f-a91c-6b5de25a01e0",
              "mediaKey": "d0dcbe92-5dee-4d2d-8331-084b189eddbd",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 94: The School Streets initiative promotes temporary traffic restrictions at drop-off and pick\u0002up times outside schools (Code C4.7)"
        },
        {
          "alias": "altText1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 93: Modal filters can help to discourage through traffic whilst maintaining permeability for walking, wheeling and cycling (Code C4.5)"
        },
        {
          "alias": "altText2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 94: The School Streets initiative promotes temporary traffic restrictions at drop-off and pick\u0002up times outside schools (Code C4.7)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c71687d5-4b27-4c39-b389-7ee98adb9882",
      "key": "61c1e23d-c97c-432a-8657-5b91ab993358",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "c861be54-a454-4017-85ab-d61b70749cca",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c861be54-a454-4017-85ab-d61b70749cca",
        "contentUdi": null,
        "settingsKey": "61c1e23d-c97c-432a-8657-5b91ab993358",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Code: C4.5]]></Value>
    </title>
  </Properties>
</Content>