<?xml version="1.0" encoding="utf-8"?>
<Content Key="0539409c-6a68-4e76-8f9d-b44b2f91048d" Alias="Guidance: G5.15" Level="6">
  <Info>
    <Parent Key="124f781b-7e20-4a3f-b30a-ed5fbfce7c5f">B5.2.1 Sensitive and characterful conversions</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes/B52ChangeOfUse/B521SensitiveAndCharacterfulConversions/GuidanceG515</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T15:56:23</CreateDate>
    <NodeName Default="Guidance: G5.15" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EIf existing openings are to be infilled, the infill \u003Cstrong\u003Eshould \u003C/strong\u003Ebe set back or differentiated to maintain the legibility of the original opening.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Householder Applications",
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "cc0a9ccc-c7bc-4f59-9754-8899f531727c",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 146"
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 146: Castle Lodge in Sandal has been sensitively converted and extended to a house a series of apartments"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a3a019a5-8898-4a63-8c72-971013a8a68c",
              "mediaKey": "746a5d48-6e77-414b-bc6a-d1da31f0ad5a",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 146: Castle Lodge in Sandal has been sensitively converted and extended to a house a series of apartments"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "a0041f6b-4c59-4602-8113-e21a34ce58af",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "cc0a9ccc-c7bc-4f59-9754-8899f531727c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "cc0a9ccc-c7bc-4f59-9754-8899f531727c",
        "contentUdi": null,
        "settingsKey": "a0041f6b-4c59-4602-8113-e21a34ce58af",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G5.15]]></Value>
    </title>
  </Properties>
</Content>