<?xml version="1.0" encoding="utf-8"?>
<Content Key="ddd95441-66f8-491a-bbc2-37db03372e3f" Alias="Guidance: G4.16" Level="6">
  <Info>
    <Parent Key="16a7a9dd-94b8-44d0-b9be-7efa078a8176">B4.3.4 Public transport</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B43ActiveTravelAndInclusiveStreets/B434PublicTransport/GuidanceG416</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T12:10:03</CreateDate>
    <NodeName Default="Guidance: G4.16" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EIf required, further advice and guidance on above-ground bus stop furniture and equipment \u003Cstrong\u003Eshould \u003C/strong\u003Ebe obtained from the West Yorkshire Combined Authority (WYCA) Bus Stop Infrastructure Standards document. \u003C/p\u003E\u003Cp\u003EAll proposed bus stop furniture and equipment \u003Cstrong\u003Eshould \u003C/strong\u003Ebe sourced through WYCA to ensure consistency and quality. This includes, but is not limited to: \u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003Ebus shelters \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Ebus stop poles and flags \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003E\u201CReal Time\u201D passenger information units\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G4.16]]></Value>
    </title>
  </Properties>
</Content>