<?xml version="1.0" encoding="utf-8"?>
<Content Key="c54ae4cd-fcc8-4360-a053-e2b8ac34f826" Alias="Guidance: G2.26" Level="6">
  <Info>
    <Parent Key="1474bcc7-ecb0-4776-9fc6-3a9f7fdd1746">B2.5.1 Trees planting, street trees and landscape design</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B25NewTreesAndLandscapeStrategy/B251TreesPlantingStreetTreesAndLandscapeDesign/GuidanceG226</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T16:51:36</CreateDate>
    <NodeName Default="Guidance: G2.26" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EThe landscape and planting strategy \u003Cstrong\u003Eshould \u003C/strong\u003Ebe developed in coordination with the street hierarchy, recognising that planting forms a key component of a street\u2019s character and identity. Tree selection \u003Cstrong\u003Eshould \u003C/strong\u003Ebe guided by the spatial context to ensure long-term suitability and healthy growth: \u003C/p\u003E\u003Cp\u003E\u2022 small to medium-sized trees, or fastigiate form trees, are most appropriate for limited spaces such as courtyards and narrower streets \u003C/p\u003E\u003Cp\u003E\u2022 larger tree species \u003Cstrong\u003Eshould \u003C/strong\u003Ebe reserved for more generous settings, including wide avenues, parks, grass verges, and other open landscaped areas \u003C/p\u003E\u003Cp\u003EFurther guidance \u003Cstrong\u003Eshould \u003C/strong\u003Ebe sought from the Street Hierarchy section within Chapter 4.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G2.26]]></Value>
    </title>
  </Properties>
</Content>