<?xml version="1.0" encoding="utf-8"?>
<Content Key="74012b0c-ba05-4779-95a7-ebd560343759" Alias="Guidance: G1.21" Level="6">
  <Info>
    <Parent Key="1530b160-d5ff-4ede-99dd-c92c4326502b">B1.5.2 Respecting sensitive edges</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B15InterfacesAndBoundaryEdges/B152RespectingSensitiveEdges/GuidanceG121</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T10:55:12</CreateDate>
    <NodeName Default="Guidance: G1.21" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ELandscape treatments adjacent to open countryside \u003Cstrong\u003Eshould:\u003C/strong\u003E \u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003Ereflect the locally recognised landscape character of the area \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Euse locally appropriate planting species and groupings to create new landscape features \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Eimplement a planting strategy that establishes appropriate initial structure, with management to maintain suitable heights and densities as the vegetation matures\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Householder Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G1.21]]></Value>
    </title>
  </Properties>
</Content>