<?xml version="1.0" encoding="utf-8"?>
<Content Key="b62dadfd-8c84-495b-a19a-215bb32be4f2" Alias="Guidance: G4.17" Level="6">
  <Info>
    <Parent Key="83fd62b0-08bf-4841-b9cc-e669420a39ea">B4.4.1 Crossings</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B44JunctionsAndCrossings/B441Crossings/GuidanceG417</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T12:15:33</CreateDate>
    <NodeName Default="Guidance: G4.17" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EWhere dropped kerbs are provided across the minor route within a major or minor junction, they can lie within the corner radius for junctions with radii of 4 or 6 metres. Radii \u003Cstrong\u003Eshould \u003C/strong\u003Ebe minimised to assist pedestrians. However, for junctions with radii of 10 or 15 metres, they \u003Cstrong\u003Eshould \u003C/strong\u003Ebe positioned further from the major routes, or refuges \u003Cstrong\u003Eshould \u003C/strong\u003Ebe provided within the bell mouth to allow for safe pedestrian crossing points (to reduce crossing distances and correspond to natural desire lines). Ensuring adequate visibility is maintained for low levels of development, dropped crossings are preferable to the provision of kerb radii to give priority to pedestrians, ensuring appropriate construction for use by service vehicles.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G4.17]]></Value>
    </title>
  </Properties>
</Content>