<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8360c2a-ebd7-44e0-a8a8-7373f7dcdf30" Alias="Guidance: G3.7" Level="6">
  <Info>
    <Parent Key="2fe66302-642f-422f-8ca6-c9096f0208bd">B3.1.2 Creating fun, safe and inclusive play</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B31OpenSpacesAndCommunityFacilities/B312CreatingFunSafeAndInclusivePlay/GuidanceG37</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-11T07:57:22</CreateDate>
    <NodeName Default="Guidance: G3.7" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ETo support active travel, \u2018play along the way\u2019 features \u003Cstrong\u003Eshould \u003C/strong\u003Ebe integrated along key routes to and from schools to encourage children\u2019s engagement and make journeys more attractive, stimulating, and child-friendly. Examples \u003Cstrong\u003Eshould \u003C/strong\u003Einclude informal or natural play areas, interactive floor markings (such as footprint trails, hopscotch, or number games), stepping stones, balance beams, sensory planting, or playful public art that invites climbing, touching, or exploring.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Major Residential Applications (10\u002B homes)",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a29ecc6f-d8fb-4c95-88b9-8b940f6c3cd9",
      "key": "e872cb38-adc8-4d93-b8b1-1f5ba8d59883",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "FIgure 62 \u0026 63"
        },
        {
          "alias": "image1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "56ae532c-5bb4-4dad-8206-9391116a78d2",
              "mediaKey": "e925ac82-6969-421a-b05b-0b914336337f",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 62: Imaginative informal play opportunities at West Gorton, Manchester (Guidance G3.7)"
        },
        {
          "alias": "image2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a89c8764-84e9-4bd6-9541-9c3334ffbfb0",
              "mediaKey": "31f8a61d-f905-467f-8d66-51bf5886d1ce",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 63: A colourful fence helps to designate play space whilst also creating an engaging route for children in Ancoats Square, Manchester"
        },
        {
          "alias": "altText1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 62: Imaginative informal play opportunities at West Gorton, Manchester (Guidance G3.7)"
        },
        {
          "alias": "altText2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 63: A colourful fence helps to designate play space whilst also creating an engaging route for children in Ancoats Square, Manchester"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c71687d5-4b27-4c39-b389-7ee98adb9882",
      "key": "9dd36830-df66-43de-a2a1-9c9386fcb937",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "e872cb38-adc8-4d93-b8b1-1f5ba8d59883",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e872cb38-adc8-4d93-b8b1-1f5ba8d59883",
        "contentUdi": null,
        "settingsKey": "9dd36830-df66-43de-a2a1-9c9386fcb937",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G3.7]]></Value>
    </title>
  </Properties>
</Content>