<?xml version="1.0" encoding="utf-8"?>
<Content Key="3045c724-513e-4e8d-a945-263fb959858e" Alias="Guidance: G1.15" Level="6">
  <Info>
    <Parent Key="48f7bd79-88b2-4d90-934b-ed05a1c8ec52">B1.4.1 Views from surrounding areas</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B14KeyViews/B141ViewsFromSurroundingAreas/GuidanceG115</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T10:19:24</CreateDate>
    <NodeName Default="Guidance: G1.15" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ETaking on the findings from the site appraisal (C1.1 and G1.1), applicants \u003Cstrong\u003Eshould\u003C/strong\u003E: \u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003Eidentify existing and potential long-range, short-range, and open views to and from the site (taking into account topography and built form) \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Econsider dynamic views, showing how the development will be experienced when moving through the landscape on foot, by bicycle, or by vehicle \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Emap and positively integrate opportunities to preserve, frame, or enhance key views into the development layout and design\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G1.15]]></Value>
    </title>
  </Properties>
</Content>