<?xml version="1.0" encoding="utf-8"?>
<Content Key="3ade292c-58c2-4cee-96c7-fdbb21552246" Alias="Guidance: G4.24" Level="6">
  <Info>
    <Parent Key="cd65d38a-962a-4c29-891d-accc57797c5a">B4.5.2 Vertical alignment</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B45ManagingSpeed/B452VerticalAlignment/GuidanceG424</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T12:49:56</CreateDate>
    <NodeName Default="Guidance: G4.24" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ECarriageway crossfalls \u003Cstrong\u003Eshould \u003C/strong\u003Ebe 1 in 40 (2.5%) from the high side to the centreline and 1 in 25 (4%) from the centreline to the low side to reduce the visual impact of the crossfalls, unless an alternative acceptable solution is proposed.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G4.24]]></Value>
    </title>
  </Properties>
</Content>