<?xml version="1.0" encoding="utf-8"?>
<Content Key="c9a1d170-8d57-4746-b7d0-730760de29ee" Alias="Guidance: G4.27" Level="6">
  <Info>
    <Parent Key="9ba3fe90-b92a-43b9-96e9-2a8c3be07322">B4.7.1 Place and movement</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B47CreatingSocialPlaces/B471PlaceAndMovement/GuidanceG427</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T13:25:11</CreateDate>
    <NodeName Default="Guidance: G4.27" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EOpportunities to create social and meeting places are encouraged and \u003Cstrong\u003Eshould \u003C/strong\u003Erespond to the needs of the local population. It is encouraged that these features are identified through co-design and community engagement processes. Spaces that encourage people to stop and converse, such as benches, community features, or interactive / play equipment, \u003Cstrong\u003Eshould \u003C/strong\u003Ebe provided at intervals no greater than 800 metres, with a preferred spacing of less than 400 metres.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G4.27]]></Value>
    </title>
  </Properties>
</Content>