<?xml version="1.0" encoding="utf-8"?>
<Content Key="919b22d7-00d7-4339-b913-a6fdb8b1efa4" Alias="Guidance: G4.15" Level="6">
  <Info>
    <Parent Key="16a7a9dd-94b8-44d0-b9be-7efa078a8176">B4.3.4 Public transport</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B43ActiveTravelAndInclusiveStreets/B434PublicTransport/GuidanceG415</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T12:08:37</CreateDate>
    <NodeName Default="Guidance: G4.15" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EMajor new developments \u003Cstrong\u003Eshould \u003C/strong\u003Eensure that any proposed internal bus routes are integrated seamlessly with the wider public transport network. Any diversion of existing bus routes into new developments \u003Cstrong\u003Eshould \u003C/strong\u003Ebe carefully evaluated to ensure the needs of current passengers are maintained.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Other Major Applications",
  "Major Employment Applications",
  "Major Residential Applications (10\u002B homes)"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G4.15]]></Value>
    </title>
  </Properties>
</Content>