<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf29cf7f-ed88-4778-8cee-e4835008c23b" Alias="Guidance: G1.23" Level="6">
  <Info>
    <Parent Key="df3434cb-70f4-4174-9366-bbd1c29852c1">B1.6.1 Reflecting local building traditions</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B16StrengtheningLocalArchitecturalCharacter/B161ReflectingLocalBuildingTraditions/GuidanceG123</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T12:24:11</CreateDate>
    <NodeName Default="Guidance: G1.23" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EAs is typical of the district, traditional references \u003Cstrong\u003Eshould \u003C/strong\u003Ebe thoughtfully layered into proposals, with each component responding to its immediate context\u2014reinforcing areas of significance and avoiding combinations that are not reflective of positive local examples. When it comes to material choice, quality is just as important as material types. For example, although an area is predominantly stone-built, poor-quality stone on a new development may have a more negative visual impact than high-quality brick in a complementary tone.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a29ecc6f-d8fb-4c95-88b9-8b940f6c3cd9",
      "key": "3459649c-b6ec-48ee-a475-4e9af1b6e785",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 28 \u0026 29"
        },
        {
          "alias": "image1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3e22e416-6a1c-4d0d-8df1-45e4300c7786",
              "mediaKey": "9e624a30-a0a1-4999-8bab-3dccd584bb8c",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 28: New development at Carnforth Avenue drawing inspiration from Wakefield\u2019s industrial heritage (Guidance G1.23)"
        },
        {
          "alias": "image2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "5489f3b7-b68c-414f-9503-4507be883220",
              "mediaKey": "925c4357-1612-428c-82ce-679c7f482426",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 29: New development matches the scale and proportions of the adjacent historic mill at The Tileyard, Wakefield (Code: C1.14)"
        },
        {
          "alias": "altText1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 28: New development at Carnforth Avenue drawing inspiration from Wakefield\u2019s industrial heritage (Guidance G1.23)"
        },
        {
          "alias": "altText2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 29: New development matches the scale and proportions of the adjacent historic mill at The Tileyard, Wakefield (Code: C1.14)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c71687d5-4b27-4c39-b389-7ee98adb9882",
      "key": "d7038e55-5a34-4ac8-8982-15110d0297d3",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "3459649c-b6ec-48ee-a475-4e9af1b6e785",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "3459649c-b6ec-48ee-a475-4e9af1b6e785",
        "contentUdi": null,
        "settingsKey": "d7038e55-5a34-4ac8-8982-15110d0297d3",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G1.23]]></Value>
    </title>
  </Properties>
</Content>