<?xml version="1.0" encoding="utf-8"?>
<Content Key="2a816193-a11c-481d-a431-6297ed6487ab" Alias="Guidance G2.21" Level="6">
  <Info>
    <Parent Key="1474bcc7-ecb0-4776-9fc6-3a9f7fdd1746">B2.5.1 Trees planting, street trees and landscape design</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B25NewTreesAndLandscapeStrategy/B251TreesPlantingStreetTreesAndLandscapeDesign/GuidanceG221</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T16:34:05</CreateDate>
    <NodeName Default="Guidance G2.21" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EDesign of new woodland areas, as well as supplementary or replacement tree planting, \u003Cstrong\u003Eshould \u003C/strong\u003Euse species of local provenance and \u003Cstrong\u003Eshould \u003C/strong\u003Ebe located adjacent to existing habitats. This approach supports wildlife connectivity, enhances stepping stone and buffer habitats, and contributes to broader ecological networks.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G2.21]]></Value>
    </title>
  </Properties>
</Content>