<?xml version="1.0" encoding="utf-8"?>
<Content Key="9456782a-315a-4afa-86b7-27f4bf0c53d8" Alias="Guidance: G4.9" Level="6">
  <Info>
    <Parent Key="16a7a9dd-94b8-44d0-b9be-7efa078a8176">B4.3.4 Public transport</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B43ActiveTravelAndInclusiveStreets/B434PublicTransport/GuidanceG49</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T10:55:32</CreateDate>
    <NodeName Default="Guidance: G4.9" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EThe routes to the bus stops \u003Cstrong\u003Eshould \u003C/strong\u003Ebe safe, direct, convenient and accessible for people of all abilities. Development sites \u003Cstrong\u003Eshould \u003C/strong\u003Ebe served by frequent and reliable bus services which provide connections between the development and key destinations. Where bus routes are present or proposed, developers \u003Cstrong\u003Eshould \u003C/strong\u003Eadopt positive influences on bus journey times through the provision of bus priority infrastructure (such as bus lanes, exemptions, carriageway widening, appropriate markings). Developments \u003Cstrong\u003Eshould \u003C/strong\u003Eallow sufficient space to accommodate bus stops, passenger waiting areas, clear zones and associated infrastructure along potential bus routes.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a29ecc6f-d8fb-4c95-88b9-8b940f6c3cd9",
      "key": "ca18f591-6b20-4184-817b-1a2f10cc9b39",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 114 \u0026 115"
        },
        {
          "alias": "caption1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 114: A choice of public transport, dedicated cycle ways and pedestrian routes are offered on this street in Sheffield"
        },
        {
          "alias": "image1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "9194797c-b382-4371-a22b-a4f177a2a5b0",
              "mediaKey": "4b8887fd-bc9a-41a3-8dc3-fff03123bf59",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "image2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "bc6be471-0d55-4601-96e8-f5db9af79d88",
              "mediaKey": "5385827a-4126-4f2c-a599-aeb8bc07f5f7",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 115: Convenient bus stops provide public transport links to Calder Park in Wakefield"
        },
        {
          "alias": "altText1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 114: A choice of public transport, dedicated cycle ways and pedestrian routes are offered on this street in Sheffield"
        },
        {
          "alias": "altText2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 115: Convenient bus stops provide public transport links to Calder Park in Wakefield"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c71687d5-4b27-4c39-b389-7ee98adb9882",
      "key": "c70a93ba-9ede-4f8b-a93c-6e8e30a70b0a",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "ca18f591-6b20-4184-817b-1a2f10cc9b39",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ca18f591-6b20-4184-817b-1a2f10cc9b39",
        "contentUdi": null,
        "settingsKey": "c70a93ba-9ede-4f8b-a93c-6e8e30a70b0a",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G4.9]]></Value>
    </title>
  </Properties>
</Content>