<?xml version="1.0" encoding="utf-8"?>
<Content Key="49ea45cd-7553-455c-aa87-2c9cf8c9b5e1" Alias="Guidance: G4.10" Level="6">
  <Info>
    <Parent Key="16a7a9dd-94b8-44d0-b9be-7efa078a8176">B4.3.4 Public transport</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B43ActiveTravelAndInclusiveStreets/B434PublicTransport/GuidanceG410</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T10:58:34</CreateDate>
    <NodeName Default="Guidance: G4.10" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EFor developments sited away from the bus route, footpaths linking the site to the bus stops \u003Cstrong\u003Emust \u003C/strong\u003Ebe direct and well-let, with a hardened and sealed surface. They \u003Cstrong\u003Emust \u003C/strong\u003Ealso be well-overlooked, and feel safe and secure for all users at all times. Where feasible, these routes \u003Cstrong\u003Eshould \u003C/strong\u003Ealso provide appropriate weather protection to enhance user comfort and encourage active travel by providing both shade and shelter.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G4.10]]></Value>
    </title>
  </Properties>
</Content>