<?xml version="1.0" encoding="utf-8"?>
<Content Key="47dc24bd-0175-431b-8c6c-17d0c23e3231" Alias="Guidance: G2.2" Level="6">
  <Info>
    <Parent Key="b16a2eab-46cc-4c43-835f-f700f3bef9b1">B2.1.1 Designing for nature</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B21BiodiversityAndEcology/B211DesigningForNature/GuidanceG22</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T12:39:20</CreateDate>
    <NodeName Default="Guidance: G2.2" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EProposed footpaths \u003Cstrong\u003Eshould \u003C/strong\u003Eideally be located away from areas where bats are known to forage, roost, or fly, to minimise disturbance while also meeting safe and secure design requirements\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G2.2]]></Value>
    </title>
  </Properties>
</Content>