<?xml version="1.0" encoding="utf-8"?>
<Content Key="963af214-18a2-4e17-ac94-8103175b14ef" Alias="Guidance: G1.20" Level="6">
  <Info>
    <Parent Key="787b9c04-71fa-4225-878f-9502bf472556">B1.5.1 Promoting positive transitions between land uses</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B15InterfacesAndBoundaryEdges/B151PromotingPositiveTransitionsBetweenLandUses/GuidanceG120</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T10:45:23</CreateDate>
    <NodeName Default="Guidance: G1.20" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EWhere existing buildings back onto a site boundary, new development \u003Cstrong\u003Eshould \u003C/strong\u003Eadopt a similar back-to-boundary arrangement to maintain privacy, reinforce security, and ensure a logical and respectful relationship between neighbouring buildings. \u003C/p\u003E\u003Cp\u003E\u003Cstrong\u003EException:\u003C/strong\u003E Where this arrangement is not possible due to existing watercourses or other physical constraints, an alternative design solution may be acceptable, subject to confirmation and agreement with the Council.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "e28c5be1-9d8c-44e9-adbd-f2344158a88c",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 22"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ae317472-ea4a-4fd5-a572-37602a5ed621",
              "mediaKey": "5492aeed-4636-4814-81b6-e9093109822e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 22: Sketch illustrating new development adopting a back to boundary arrangement (Guidance G1.20)"
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 22: Sketch illustrating new development adopting a back to boundary arrangement (Guidance G1.20)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "0b02aee3-8d59-499b-9b8e-0205b612601a",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "e28c5be1-9d8c-44e9-adbd-f2344158a88c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e28c5be1-9d8c-44e9-adbd-f2344158a88c",
        "contentUdi": null,
        "settingsKey": "0b02aee3-8d59-499b-9b8e-0205b612601a",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G1.20]]></Value>
    </title>
  </Properties>
</Content>