<?xml version="1.0" encoding="utf-8"?>
<Content Key="011cacc0-a9ab-444a-8c88-c13ece2947f0" Alias="Guidance: G5.3" Level="6">
  <Info>
    <Parent Key="9a635f0f-078f-437f-b1a5-fe9a9b5849d8">B5.1.1 Scale, massing and proportion of extensions</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes/B51ExtensionsAndAlterations/B511ScaleMassingAndProportionOfExtensions/GuidanceG53</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T14:30:38</CreateDate>
    <NodeName Default="Guidance: G5.3" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EExtensions should generally be no more than two storeys in height at the rear. \u003C/p\u003E\u003Cp\u003E\u003Cstrong\u003EException:\u003C/strong\u003E Taller rear extensions may be acceptable where justified by the prevailing character or topography of the area, and where the proposals have no adverse effects on neighbouring homes.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Householder Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a29ecc6f-d8fb-4c95-88b9-8b940f6c3cd9",
      "key": "c1fba069-d2b3-4d7d-b4fd-569e6f6111e3",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 134 \u0026 135"
        },
        {
          "alias": "caption1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 134: Good practice example: a rear extension which is no larger than 2 storeys in height, and is subordinate in scale to the original \nbuilding (Code C5.2 and Guidance G5.3)"
        },
        {
          "alias": "image1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "525967ce-e2e5-426a-95c2-d961ea4d38a2",
              "mediaKey": "7a1183b6-43ba-4a33-8492-9300b97d67f4",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "image2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "dd7bdd39-8e4e-408c-9616-10696f036b56",
              "mediaKey": "13d5832b-c3e5-404d-ae7e-69bad1b25440",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 135: Good practice example: a side extension which is subordinate in scale to and no more than two thirds of the width of the original building (Code C5.2 and Guidance G5.1)"
        },
        {
          "alias": "altText1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 134: Good practice example: a rear extension which is no larger than 2 storeys in height, and is subordinate in scale to the original  building (Code C5.2 and Guidance G5.3)"
        },
        {
          "alias": "altText2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 135: Good practice example: a side extension which is subordinate in scale to and no more than two thirds of the width of the original building (Code C5.2 and Guidance G5.1)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c71687d5-4b27-4c39-b389-7ee98adb9882",
      "key": "37dc7cf1-5890-4ce7-bc85-c279a6829923",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "c1fba069-d2b3-4d7d-b4fd-569e6f6111e3",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c1fba069-d2b3-4d7d-b4fd-569e6f6111e3",
        "contentUdi": null,
        "settingsKey": "37dc7cf1-5890-4ce7-bc85-c279a6829923",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G5.3]]></Value>
    </title>
  </Properties>
</Content>