<?xml version="1.0" encoding="utf-8"?>
<Content Key="3cb030b1-c003-4dd4-945c-0d9d51a238bb" Alias="Guidance: G5.13" Level="6">
  <Info>
    <Parent Key="72fd6fb1-d2e9-4da7-a08d-ee73d44e0ce1">B5.1.5 Impact on neighbours and the streetscape</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes/B51ExtensionsAndAlterations/B515ImpactOnNeighboursAndTheStreetscape/GuidanceG513</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T15:48:13</CreateDate>
    <NodeName Default="Guidance: G5.13" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EExtensions on prominent corner plots \u003Cstrong\u003Eshould \u003C/strong\u003Emaintain active frontages on both street-facing elevations, avoiding blank walls or inactive facades. For extensions visible from the public realm but not located on corners, designs \u003Cstrong\u003Eshould \u003C/strong\u003Erespect the established street rhythm and ensure visual interest is maintained, avoiding overly blank or featureless elevations where they face the street.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Householder Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G5.13]]></Value>
    </title>
  </Properties>
</Content>