<?xml version="1.0" encoding="utf-8"?>
<Content Key="ae5dc9a6-e72a-41b7-abd5-27c6e272eccb" Alias="Guidance: G3.11" Level="6">
  <Info>
    <Parent Key="a5b69573-d749-4625-b5e3-704bddb53548">B3.2.2 Block size</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B32BlocksAndTypologies/B322BlockSize/GuidanceG311</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-11T10:38:13</CreateDate>
    <NodeName Default="Guidance: G3.11" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EModern urban design principles recommend block widths of 80 metres to 90 metres to support a walkable and pedestrian-friendly environment. \u003C/p\u003E\u003Cp\u003ETo allow for variation across the Wakefield District and to ensure developments respond appropriately to local context, block dimensions \u003Cstrong\u003Eshould \u003C/strong\u003Efall within a minimum of 40 metres and a maximum of 120 metres per side. This range provides flexibility while promoting walkability, permeability, and a coherent urban form.\u003C/p\u003E\u003Cp\u003E\u003Cstrong\u003EException:\u003C/strong\u003E It may be acceptable for some major employment sites to incorporate larger block dimensions to accommodate the required building sizes for technical requirements.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G3.11]]></Value>
    </title>
  </Properties>
</Content>