<?xml version="1.0" encoding="utf-8"?>
<Content Key="54aeeb4d-d6bd-4b15-ad8c-e054efa79541" Alias="Guidance: G2.1" Level="6">
  <Info>
    <Parent Key="b16a2eab-46cc-4c43-835f-f700f3bef9b1">B2.1.1 Designing for nature</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B21BiodiversityAndEcology/B211DesigningForNature/GuidanceG21</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T12:36:29</CreateDate>
    <NodeName Default="Guidance: G2.1" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ETo help reduce species mortality, particular priority \u003Cstrong\u003Eshould \u003C/strong\u003Ebe given to implementing the features outlined in C2.2 in locations with a high potential for human-wildlife conflict, including highways, cycleways, and car parks.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Householder Applications",
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G2.1]]></Value>
    </title>
  </Properties>
</Content>