<?xml version="1.0" encoding="utf-8"?>
<Content Key="e7bb9fd4-7d3f-4ac7-9ca8-15c84f768a43" Alias="Guidance: G3.2" Level="6">
  <Info>
    <Parent Key="94f893b9-b732-4145-8b3f-b2acde90d47a">B3.1.1 Creating inviting and accessible places</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B31OpenSpacesAndCommunityFacilities/B311CreatingInvitingAndAccessiblePlaces/GuidanceG32</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-11T07:40:47</CreateDate>
    <NodeName Default="Guidance: G3.2" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EApplicants \u003Cstrong\u003Eshould \u003C/strong\u003Eincorporate options for inclusive play as set out by the Sensory Trust in their Guide for inclusive play (2020).\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Major Residential Applications (10\u002B homes)",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G3.2]]></Value>
    </title>
  </Properties>
</Content>