<?xml version="1.0" encoding="utf-8"?>
<Content Key="231428a6-8e5f-436e-98a7-a2695ee77cc7" Alias="Guidance: G4.21" Level="6">
  <Info>
    <Parent Key="4728291c-1d5c-4e41-8e1f-040be60f5853">B4.5.1 Speed restraints</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B45ManagingSpeed/B451SpeedRestraints/GuidanceG421</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T12:40:27</CreateDate>
    <NodeName Default="Guidance: G4.21" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EGateways can indicate visually to drivers that they are entering an area where reduced speeds are expected (such as on the entry to Local Residential, Shared Surface Streets, or Private Drives), and there is a greater likelihood of encountering vulnerable street users. Gateways \u003Cstrong\u003Eshould \u003C/strong\u003Ebe used to clearly signal to drivers that they are entering a reduced-speed zone. Physical interventions \u003Cstrong\u003Eshould \u003C/strong\u003Ebe enhanced by landscape elements, such as tree planting to visually narrow the carriageway (albeit trees cannot be located within visibility splays as per Code C2.18), or the use of differing hard surface materials to reinforce a change in the environment.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G4.21]]></Value>
    </title>
  </Properties>
</Content>