<?xml version="1.0" encoding="utf-8"?>
<Content Key="3a9caf6b-30ec-4c7d-ae4e-bbda443349bc" Alias="Guidance: G3.5" Level="6">
  <Info>
    <Parent Key="94f893b9-b732-4145-8b3f-b2acde90d47a">B3.1.1 Creating inviting and accessible places</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B31OpenSpacesAndCommunityFacilities/B311CreatingInvitingAndAccessiblePlaces/GuidanceG35</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-11T07:45:52</CreateDate>
    <NodeName Default="Guidance: G3.5" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ECommunity facilities and areas of open space \u003Cstrong\u003Eshould \u003C/strong\u003Ebe integrated with the footpath and cycle network. Open spaces \u003Cstrong\u003Eshould \u003C/strong\u003Ebe in open view from main pedestrian and cycle routes within the development to enable informal supervision from passers-by. Routes to and through these spaces \u003Cstrong\u003Eshould \u003C/strong\u003Ebe well-lit, overlooked, and feel safe and accessible for all users. \u003C/p\u003E\u003Cp\u003EOn larger sites open spaces \u003Cstrong\u003Eshould \u003C/strong\u003Ebe located alongside other community facilities to create a clear focal point for the community, which \u003Cstrong\u003Eshould \u003C/strong\u003Ebe agreed with the council as required.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Other Major Applications",
  "Major Residential Applications (10\u002B homes)"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "4610664d-633c-4b6d-a32d-cf78f8dee867",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 60"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "6235b50c-0728-43b2-80f0-f06d95641050",
              "mediaKey": "6264eb12-ec24-46c3-81d7-631667435e35",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 60: Meaningful public art at Featherstone, which reflects the local culture and heritage (Guidance G3.4)"
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 60: Meaningful public art at Featherstone, which reflects the local culture and heritage (Guidance G3.4)"
        }
      ]
    },
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "27c18580-453b-43a8-bbd4-7ecca87f6712",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 61"
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 61: Integration of imaginative play facilities at New Islington (Guidance G3.4)"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7f8fa25a-34ba-4e7e-a6f6-b971e2a112f5",
              "mediaKey": "289a454c-7d1a-4138-8544-89eb421cbaca",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 61: Integration of imaginative play facilities at New Islington (Guidance G3.4)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "8a0c04cf-f3ae-445d-a777-c0ef723a65e7",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "5946e048-0903-4a2e-8a13-4c04e1cbaefc",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "4610664d-633c-4b6d-a32d-cf78f8dee867",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "27c18580-453b-43a8-bbd4-7ecca87f6712",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "4610664d-633c-4b6d-a32d-cf78f8dee867",
        "contentUdi": null,
        "settingsKey": "8a0c04cf-f3ae-445d-a777-c0ef723a65e7",
        "settingsUdi": null
      },
      {
        "contentKey": "27c18580-453b-43a8-bbd4-7ecca87f6712",
        "contentUdi": null,
        "settingsKey": "5946e048-0903-4a2e-8a13-4c04e1cbaefc",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G3.5]]></Value>
    </title>
  </Properties>
</Content>