<?xml version="1.0" encoding="utf-8"?>
<Content Key="2e9f7d9d-2af7-4d2e-859b-7a589494ae04" Alias="Guidance: G2.34" Level="6">
  <Info>
    <Parent Key="5b502e3f-d1b0-4cac-8626-b6d618f0fed5">B2.7.2 Sensitively integrating air source heat pumps (ASHP’s)</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B27RenewableTechnologies/B272SensitivelyIntegratingAirSourceHeatPumpsASHPS/GuidanceG234</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-11T06:13:01</CreateDate>
    <NodeName Default="Guidance: G2.34" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EASHP\u2019s \u003Cstrong\u003Eshould \u003C/strong\u003Ebe located so as to minimise their visual prominence, while still ensuring compliance with the noise limits set out in the Microgeneration Certification Scheme planning standards (MCS 020). \u003C/p\u003E\u003Cp\u003EPosition units on side or rear elevations wherever possible, avoiding principal facades or elevations that face a public street or highway. Rear gardens, enclosed service yards, or inner courtyards are generally preferred. Where an ASHP is located on an elevation which fronts the street, suitable screening (timber, low wall, evergreen planting) \u003Cstrong\u003Eshould \u003C/strong\u003Ebe provided to minimise visibility (ensuring that such measures do not impede airflow or maintenance access).\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Householder Applications",
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G2.34]]></Value>
    </title>
  </Properties>
</Content>