<?xml version="1.0" encoding="utf-8"?>
<Content Key="805d02a1-e67b-474d-8cf5-599114e466f9" Alias="Guidance: G1.1" Level="6">
  <Info>
    <Parent Key="a3f46f2f-6cfc-4126-9cb2-fc357df7c29f">B1.1.1 Undertaking a site appraisal</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B11UnderstandingThePlace/B111UndertakingASiteAppraisal/GuidanceG11</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-04T14:46:48</CreateDate>
    <NodeName Default="Guidance: G1.1" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EWhen preparing a site appraisal, applicants should also consider the listed additional topics set out in \u2018List 1 site appraisal\u2019, which are relevant to the scale of the proposed development.\u003C/p\u003E\u003Cp\u003E\u003Cstrong\u003EException:\u003C/strong\u003E Householders are not required to provide an assessment, however the listed topics should still be considered as indicated to ensure that new proposals will create a positive design.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Employment Applications",
  "Minor Residential Applications (1-9 homes)",
  "Householder Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G1.1]]></Value>
    </title>
  </Properties>
</Content>