<?xml version="1.0" encoding="utf-8"?>
<Content Key="575df453-233f-4643-add9-bf8df94ef30c" Alias="Guidance: G2.18" Level="6">
  <Info>
    <Parent Key="1474bcc7-ecb0-4776-9fc6-3a9f7fdd1746">B2.5.1 Trees planting, street trees and landscape design</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B25NewTreesAndLandscapeStrategy/B251TreesPlantingStreetTreesAndLandscapeDesign/GuidanceG218</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T16:18:19</CreateDate>
    <NodeName Default="Guidance: G2.18" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EAll new major developments \u003Cstrong\u003Eshould \u003C/strong\u003Edeliver increased urban tree canopy cover through retaining existing trees and/or establishing new planting, with a total canopy coverage equal to at least 18% of the site area (excluding areas of the site that are priority habitat types). Where a site already exceeds 18% canopy cover, development \u003Cstrong\u003Eshould \u003C/strong\u003Enot result in a net loss of canopy cover.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Major Residential Applications (10\u002B homes)",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a29ecc6f-d8fb-4c95-88b9-8b940f6c3cd9",
      "key": "a0b66956-602b-4829-8767-8441f42ef920",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 47 \u0026 48"
        },
        {
          "alias": "image1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d024ff5a-913e-4b65-a2bc-ae8a9baa903e",
              "mediaKey": "f46e6a66-220e-490b-97f5-1f92bb764e57",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 47: Introducing trees into the urban streetscape at Valette Square frames views and softens the hard landscaping (Code C2.14)"
        },
        {
          "alias": "image2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7ee1314f-c057-4e41-8ee6-2463248305fa",
              "mediaKey": "c1d8f105-81d7-4882-b4aa-952c397526e9",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 48: Naturalistic tree planting along the edge of development following an active travel route at Allerton Bywater (Guidance G2.22)"
        },
        {
          "alias": "altText1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 47: Introducing trees into the urban streetscape at Valette Square frames views and softens the hard landscaping (Code C2.14)"
        },
        {
          "alias": "altText2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 48: Naturalistic tree planting along the edge of development following an active travel route at Allerton Bywater (Guidance G2.22)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c71687d5-4b27-4c39-b389-7ee98adb9882",
      "key": "890ca056-6dae-491f-be81-fa539748e192",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "a0b66956-602b-4829-8767-8441f42ef920",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a0b66956-602b-4829-8767-8441f42ef920",
        "contentUdi": null,
        "settingsKey": "890ca056-6dae-491f-be81-fa539748e192",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G2.18]]></Value>
    </title>
  </Properties>
</Content>