<?xml version="1.0" encoding="utf-8"?>
<Content Key="02553d3a-1d55-4f4e-83e9-6cd4f2aaec87" Alias="Guidance: G2.10" Level="6">
  <Info>
    <Parent Key="c3ebd4e9-1fed-4bee-94ac-b6d3912e9aa0">B2.3.1 Sensitive site planning</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B23ExistingTreesAndHedgerows/B231SensitiveSitePlanning/GuidanceG210</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T13:32:49</CreateDate>
    <NodeName Default="Guidance: G2.10" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EExisting trees and hedgerows \u003Cstrong\u003Eshould \u003C/strong\u003Ebe incorporated into the design wherever practicable (for example, as natural boundaries between plots, along streets, in open spaces or as central landscape features) to help maintain a sense of place and continuity, and to reduce the risk of removal where they might otherwise fall within private gardens.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "371eb524-f9c9-4d86-9444-5a768ed4a99c",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 39"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c78422f1-0f8a-4f7d-8b24-b49b0879c3fe",
              "mediaKey": "7dd2fa61-74d3-4ed4-99ae-1932d4a06a99",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 39: Shows how existing mature trees have been incorporated into open space at Bishopsgarth, Wakefield (Guidance G2.10)"
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 39: Shows how existing mature trees have been incorporated into open space at Bishopsgarth, Wakefield (Guidance G2.10)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "95fb9a50-6658-4d98-be73-387fda7df976",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "371eb524-f9c9-4d86-9444-5a768ed4a99c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "371eb524-f9c9-4d86-9444-5a768ed4a99c",
        "contentUdi": null,
        "settingsKey": "95fb9a50-6658-4d98-be73-387fda7df976",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G2.10]]></Value>
    </title>
  </Properties>
</Content>