<?xml version="1.0" encoding="utf-8"?>
<Content Key="758f4ee1-8cd5-45d7-8ad4-fdc4259e6f3f" Alias="Guidance: G5.16" Level="6">
  <Info>
    <Parent Key="124f781b-7e20-4a3f-b30a-ed5fbfce7c5f">B5.2.1 Sensitive and characterful conversions</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes/B52ChangeOfUse/B521SensitiveAndCharacterfulConversions/GuidanceG516</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T15:59:14</CreateDate>
    <NodeName Default="Guidance: G5.16" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ETown centre shops which are converted to residential use \u003Cstrong\u003Eshould \u003C/strong\u003Ebe converted in a way to retain the commercial character of the original building while making them suitable for modern use.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Householder Applications",
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G5.16]]></Value>
    </title>
  </Properties>
</Content>