<?xml version="1.0" encoding="utf-8"?>
<Content Key="f2dfd381-f427-490c-a955-d87b7f4a4dce" Alias="Guidance: G1.2" Level="6">
  <Info>
    <Parent Key="1531b726-d839-4135-85eb-20d3cb560fa1">B1.1.2 Undertaking a local character and context assessment</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B11UnderstandingThePlace/B112UndertakingALocalCharacterAndContextAssessment/GuidanceG12</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T07:39:03</CreateDate>
    <NodeName Default="Guidance: G1.2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EWhen preparing a local character and context assessment, applicants should also consider the listed additional topics set out in \u2018List 2 Character and Context Assessment\u2019, which are relevant to the scale of the proposed development.\u003C/p\u003E\u003Cp\u003E\u003Cstrong\u003EException:\u003C/strong\u003E Householders are not required to provide an assessment, however the listed topics \u003Cstrong\u003Eshould \u003C/strong\u003Estill be considered as indicated to ensure that new proposals will create a positive design for the local area\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Householder Applications",
  "Minor Residential Applications (1-9 homes)",
  "Minor Employment Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G1.2]]></Value>
    </title>
  </Properties>
</Content>