<?xml version="1.0" encoding="utf-8"?>
<Content Key="73134ba3-e2e2-4a9b-a454-fca858964cd2" Alias="Guidance: G2.16" Level="6">
  <Info>
    <Parent Key="c0d4de37-3497-4b77-95f5-ce113cbfb95f">B2.4.1 Integrating Sustainable Drainage Systems (SuDS)</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B24FloodRiskAndDrainage/B241IntegratingSustainableDrainageSystemsSuDS/GuidanceG216</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T15:55:53</CreateDate>
    <NodeName Default="Guidance: G2.16" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ESurface feature SuDS \u003Cstrong\u003Eshould \u003C/strong\u003Ebe designed to complement and enhance ecological value by creating diverse habitats that support a wide range of species. Key measures include: \u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003Eincorporating a mix of wet and dry areas, varied vegetation types, and a range of water depths \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Eusing locally appropriate native planting to maximise habitat value and ecological resilience \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Edesigning swales with broad, vegetated side slopes with gradients no steeper than 1:4 \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Edesigning ponds and basins with naturalised edges, marginal and emergent vegetation, and gently sloping shelves and shallow zones that transition to deeper areas\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Major Employment Applications",
  "Minor Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G2.16]]></Value>
    </title>
  </Properties>
</Content>