<?xml version="1.0" encoding="utf-8"?>
<Content Key="84171883-3a3d-4253-bc65-175855d00e95" Alias="Guidance: G4.8" Level="6">
  <Info>
    <Parent Key="bbefb9e2-e5a5-424d-a01b-c3beaf8d8bc6">B4.3.3 Designing for cyclists</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B43ActiveTravelAndInclusiveStreets/B433DesigningForCyclists/GuidanceG48</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T10:48:02</CreateDate>
    <NodeName Default="Guidance: G4.8" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EDevelopment proposals \u003Cstrong\u003Eshould \u003C/strong\u003Eremove potential conflicts between cyclists, buses, and general traffic. They \u003Cstrong\u003Eshould \u003C/strong\u003Ealso ensure that bus stops are carefully located and designed to safeguard vulnerable passengers (whether waiting, boarding, or alighting) from possible conflicts with cyclists.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Major Residential Applications (10\u002B homes)",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "6dbd243d-9492-4741-8c96-2952be382b4a",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 113"
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 113: A \u2018Dutch style\u2019 roundabout in Sheffield provides appropriate continuous crossing points for both cyclists and pedestrians at a difficult junction"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "5b9189e8-f360-41af-a650-ee2bd6ef928d",
              "mediaKey": "3a2f0da3-a9aa-4bf0-b2fd-2445695e2a9f",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 113: A \u2018Dutch style\u2019 roundabout in Sheffield provides appropriate continuous crossing points for both cyclists and pedestrians at a difficult junction"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "b26e3b24-c532-4cb7-9433-5dc7fd758c65",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "6dbd243d-9492-4741-8c96-2952be382b4a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "6dbd243d-9492-4741-8c96-2952be382b4a",
        "contentUdi": null,
        "settingsKey": "b26e3b24-c532-4cb7-9433-5dc7fd758c65",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G4.8]]></Value>
    </title>
  </Properties>
</Content>