<?xml version="1.0" encoding="utf-8"?>
<Content Key="35d46119-a1f2-4cd7-9681-6a6785da4e9c" Alias="Guidance: G1.8" Level="6">
  <Info>
    <Parent Key="019eddc0-a3c8-4e58-9905-ec7768c53134">B1.2.2 Minimising visual dominance</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B12LandformAndTopography/B122MinimisingVisualDominance/GuidanceG18</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T09:42:07</CreateDate>
    <NodeName Default="Guidance: G1.8" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EBuildings on elevated sites \u003Cstrong\u003Eshould \u003C/strong\u003Ebe positioned to avoid breaking skyline views or creating dominant visual intrusions. \u003C/p\u003E\u003Cp\u003E\u003Cstrong\u003EException:\u003C/strong\u003E Where a prominent position would create a positive visual feature, such as a new civic building or landmark.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G1.8]]></Value>
    </title>
  </Properties>
</Content>