<?xml version="1.0" encoding="utf-8"?>
<Content Key="072d7a89-adba-42a5-a269-8d80235e462c" Alias="Guidance: G3.9" Level="6">
  <Info>
    <Parent Key="429daee2-576c-4b29-97bd-ef3aab5c5006">B3.1.3 Creating places for everyone</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B31OpenSpacesAndCommunityFacilities/B313CreatingPlacesForEveryone/GuidanceG39</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-11T10:06:43</CreateDate>
    <NodeName Default="Guidance: G3.9" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EIn addition to formal bench seating, development proposals \u003Cstrong\u003Eshould \u003C/strong\u003Einclude informal perching opportunities where appropriate. These could include low public walls (not directly bordering private gardens), natural stone features, boulders, or feature bollards that invite short rests. Perches \u003Cstrong\u003Eshould:\u003C/strong\u003E \u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003Ebe 0.45 metres to 0.5 metres high, with an even, comfortable surface \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Elocated along well-used routes, in well overlooked locations, that don\u2019t block sight lines \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Eutilise breaks, rail panels or dividers to discourage large gatherings and lying down\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Major Residential Applications (10\u002B homes)",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "570b13e5-e570-486b-8695-81610923afba",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 65"
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 65: Attractive, functional and accessible seating area at Scholars Gate (Guidance G3.8)"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "be10d4a6-262e-4554-b5e0-b709e34efba1",
              "mediaKey": "246a489f-2ca0-4ef0-96ce-afe1809c67bc",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 65: Attractive, functional and accessible seating area at Scholars Gate (Guidance G3.8)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "bab9c7b0-3447-4a96-8094-088adc0fcb5f",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "570b13e5-e570-486b-8695-81610923afba",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "570b13e5-e570-486b-8695-81610923afba",
        "contentUdi": null,
        "settingsKey": "bab9c7b0-3447-4a96-8094-088adc0fcb5f",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G3.9]]></Value>
    </title>
  </Properties>
</Content>