<?xml version="1.0" encoding="utf-8"?>
<Content Key="4c78bd90-7155-4bf9-a7e8-d1d0b1424245" Alias="Guidance: G4.26" Level="6">
  <Info>
    <Parent Key="4658c98c-600d-4e4d-8b3e-8107e2d7eb1a">B4.5.4 Vehicle tracking, servicing and turning spaces</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B45ManagingSpeed/B454VehicleTrackingServicingAndTurningSpaces/GuidanceG426</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T13:02:26</CreateDate>
    <NodeName Default="Guidance: G4.26" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EAs a general design principle, development proposals and layouts should seek to minimise the requirement for vehicles to make turning and reversing manoeuvres. Turning areas \u003Cstrong\u003Eshould \u003C/strong\u003Ebe designed to integrate seamlessly with the street scene. The layout \u003Cstrong\u003Eshould \u003C/strong\u003Enot be treated solely as a functional turning space but \u003Cstrong\u003Eshould \u003C/strong\u003Ealso provide an attractive and welcoming environment where vehicles can safely turn. Soft landscaping \u003Cstrong\u003Eshould \u003C/strong\u003Ebe incorporated to ensure that hard highway surfacing does not dominate the\u0026nbsp;space. Whilst narrowing junction radii can help to reduce vehicle speeds, 90 degree corners with a kerb upstand \u003Cstrong\u003Eshould \u003C/strong\u003Ebe avoided, as these can accumulate detritus and are difficult for street cleaning purposes.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G4.26]]></Value>
    </title>
  </Properties>
</Content>