<?xml version="1.0" encoding="utf-8"?>
<Content Key="c6070a29-6588-4680-a121-2805b757a84f" Alias="Guidance: G1.7" Level="6">
  <Info>
    <Parent Key="4e9527f9-3c66-486a-9f12-caeb8906395f">B1.2.1 Working with the natural landscape</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B12LandformAndTopography/B121WorkingWithTheNaturalLandscape/GuidanceG17</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T09:39:06</CreateDate>
    <NodeName Default="Guidance: G1.7" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EDevelopment proposals should seek to minimise the off-site disposal of surplus excavated material by reusing it on-site wherever practicable. This may include incorporating the material into landscaped bunds, landform features, or other integrated site design elements.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Other Major Applications",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Major Residential Applications (10\u002B homes)",
  "Minor Residential Applications (1-9 homes)",
  "Householder Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "4a5e6ddb-e696-4a8a-936d-02448e4a23fa",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 9"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "6b35b7a9-81fb-49b4-873a-5b7c35b1bbc1",
              "mediaKey": "87f70f31-aed0-4a49-b46d-0d09f8d6920d",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 9: Sketch section illustrating how new development can be sensitively integrated with the natural slope of the land, ensuring buildings step with the terrain rather than dominating it. (Guidance G1.6)"
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 9: Sketch section illustrating how new development can be sensitively integrated with the natural slope of the land, ensuring buildings step with the terrain rather than dominating it. (Guidance G1.6)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "25b8a9ed-d136-40f0-bec3-306d58e464ee",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "4a5e6ddb-e696-4a8a-936d-02448e4a23fa",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "4a5e6ddb-e696-4a8a-936d-02448e4a23fa",
        "contentUdi": null,
        "settingsKey": "25b8a9ed-d136-40f0-bec3-306d58e464ee",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G1.7]]></Value>
    </title>
  </Properties>
</Content>