<?xml version="1.0" encoding="utf-8"?>
<Content Key="8b00995c-10e8-4cbb-a05a-5a526a01c199" Alias="Guidance: G2.32" Level="6">
  <Info>
    <Parent Key="812430b1-6b67-4957-a6c6-54e3e0b7b339">B2.6.2 Modern Methods of Construction (MMC)</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B26FutureProofDesign/B262ModernMethodsOfConstructionMMC/GuidanceG232</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T17:05:48</CreateDate>
    <NodeName Default="Guidance: G2.32" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EProposals for MMC \u003Cstrong\u003Emust \u003C/strong\u003Edemonstrate that prefabricated or modular systems meet recognised quality, security, fire safety, and durability standards, such as those set out in BSI PAS 8700:2025 or equivalent.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Householder Applications",
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G2.32]]></Value>
    </title>
  </Properties>
</Content>