<?xml version="1.0" encoding="utf-8"?>
<Content Key="c36e865e-a713-44fa-8c5f-f491371aaead" Alias="Guidance: G2.29" Level="6">
  <Info>
    <Parent Key="a7eef8e5-2efd-45df-b573-e71d9c3b84fd">B2.6.1 Optimising solar gain</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B26FutureProofDesign/B261OptimisingSolarGain/GuidanceG229</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T17:02:04</CreateDate>
    <NodeName Default="Guidance: G2.29" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EDevelopment proposals \u003Cstrong\u003Eshould \u003C/strong\u003Econsider the risk of overheating, in alignment with Buildings Regulations Approved Document Part O. Measures \u003Cstrong\u003Eshould \u003C/strong\u003Ebe taken to limit excess solar gains in the summer and remove heat from within the building where necessary, prioritising passive measures such as shading, glazing design (for example window g-value) and building design (for example, shading from building projections or landscaping). \u003C/p\u003E\u003Cp\u003ECompliance with overheating limits \u003Cstrong\u003Eshould \u003C/strong\u003Ebe demonstrated by using the approved overheating assessment methods such as the Simplified Method (Route A) or the Dynamic Thermal Modelling (Route B/TM59) as listed in Part O of the approved building regulations document.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G2.29]]></Value>
    </title>
  </Properties>
</Content>