<?xml version="1.0" encoding="utf-8"?>
<Content Key="06af5f63-66ed-4692-8290-e8fa61a9b99e" Alias="Guidance: G1.19" Level="6">
  <Info>
    <Parent Key="787b9c04-71fa-4225-878f-9502bf472556">B1.5.1 Promoting positive transitions between land uses</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B15InterfacesAndBoundaryEdges/B151PromotingPositiveTransitionsBetweenLandUses/GuidanceG119</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T10:44:28</CreateDate>
    <NodeName Default="Guidance: G1.19" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EWhere a mix of uses is proposed, developments \u003Cstrong\u003Eshould \u003C/strong\u003Eensure different functions are effectively integrated to create coherent blocks and seamless frontages. The layout and design \u003Cstrong\u003Eshould \u003C/strong\u003Eensure: \u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003Ecomplementary relationships between uses, avoiding conflicts (for example noise and servicing) \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Eactive ground floor frontages, especially along primary streets or public spaces \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Econsistent architectural language and materials to unify different functions within a block \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Eclear pedestrian connections that link uses and promote walkability\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G1.19]]></Value>
    </title>
  </Properties>
</Content>