<?xml version="1.0" encoding="utf-8"?>
<Content Key="1bd5dcd7-d4b0-4a70-b349-a4d950697de6" Alias="Guidance: G4.13" Level="6">
  <Info>
    <Parent Key="16a7a9dd-94b8-44d0-b9be-7efa078a8176">B4.3.4 Public transport</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B43ActiveTravelAndInclusiveStreets/B434PublicTransport/GuidanceG413</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T12:00:10</CreateDate>
    <NodeName Default="Guidance: G4.13" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EDevelopment proposals \u003Cstrong\u003Eshould \u003C/strong\u003Eensure that the internal site layout provides direct routes to bus stop locations, and where relevant, railway stations. New bus stop locations \u003Cstrong\u003Eshould \u003C/strong\u003Ebe integrated with pedestrian desire lines, with appropriate pedestrian facilities, including crossings. A Pedestrian Environment Review System (PERS) Audit may assist if prepared and submitted for officer review early in the application process. \u003C/p\u003E\u003Cp\u003EMore information can be found on the Pedestrian Review System (PERS) Fact Sheet (Transport for London) and the Streetaudit Factsheet (TRL Software).\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G4.13]]></Value>
    </title>
  </Properties>
</Content>