<?xml version="1.0" encoding="utf-8"?>
<Content Key="376c2795-903d-4a08-b8a0-41a21d065447" Alias="Guidance: G5.20" Level="6">
  <Info>
    <Parent Key="e29f2f29-442c-4797-b20c-35111ea6174a">B5.5.1 Promoting healthier living</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes/B55LiveableAndHealthyHomes/B551PromotingHealthierLiving/GuidanceG520</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T16:32:00</CreateDate>
    <NodeName Default="Guidance: G5.20" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EGround floor homes and north-facing rooms typically receive less direct sunlight, making interiors feel darker and less inviting. To compensate, ground floor dwellings and single\u0002aspect north-facing homes \u003Cstrong\u003Eshould \u003C/strong\u003Ehave higher ceiling heights of at least 2.4 metres. \u003C/p\u003E\u003Cp\u003EHigher ceilings improve natural light distribution, enhance spaciousness, and support better air circulation, helping to create more comfortable and inviting living spaces despite limited sunlight or exposure. \u003C/p\u003E\u003Cp\u003E\u003Cstrong\u003EException:\u003C/strong\u003E The above guidance only applies to householder applications that impact a listed building.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Other Major Applications",
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G5.20]]></Value>
    </title>
  </Properties>
</Content>