<?xml version="1.0" encoding="utf-8"?>
<Content Key="c67827ee-1b2d-4612-ad31-6cba3f2e5ec2" Alias="Guidance: G2.15" Level="6">
  <Info>
    <Parent Key="c0d4de37-3497-4b77-95f5-ce113cbfb95f">B2.4.1 Integrating Sustainable Drainage Systems (SuDS)</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B24FloodRiskAndDrainage/B241IntegratingSustainableDrainageSystemsSuDS/GuidanceG215</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T15:54:03</CreateDate>
    <NodeName Default="Guidance: G2.15" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EDevelopment proposals \u003Cstrong\u003Eshould \u003C/strong\u003Ebe designed to meet the following Water standards set out within \u2018Building with Nature Standards Framework\u2019 to ensure that sustainable water management contributes to climate resilience, community wellbeing and nature enhancement: \u003C/p\u003E\u003Cp\u003E\u003Cstrong\u003EWater Standards\u003C/strong\u003E \u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003EStandard 9: Delivers Climate Resilient Water Management \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003EStandard 10: Brings Water Closer to People\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G2.15]]></Value>
    </title>
  </Properties>
</Content>