<?xml version="1.0" encoding="utf-8"?>
<Content Key="27e5b98f-58ae-4873-bdbd-4d8bd12bb07d" Alias="Guidance: G2.23" Level="6">
  <Info>
    <Parent Key="1474bcc7-ecb0-4776-9fc6-3a9f7fdd1746">B2.5.1 Trees planting, street trees and landscape design</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B25NewTreesAndLandscapeStrategy/B251TreesPlantingStreetTreesAndLandscapeDesign/GuidanceG223</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T16:40:57</CreateDate>
    <NodeName Default="Guidance: G2.23" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EWhere trees are to be planted in paved or hard landscape areas, each tree pit \u003Cstrong\u003Eshould \u003C/strong\u003Ebe surfaced with a permeable layer of resin-bonded gravel (coloured to complement the surrounding paving) or a self-binding gravel such as hoggin. Any bonded gravel or paving \u003Cstrong\u003Eshould \u003C/strong\u003Ebe laid level with the surrounding footway and the base of the tree, with no upstand at the pit edge. Paved or integrated tree grilles may also be used where appropriate, provided they are designed to be flush with the surrounding footway and allow for future trunk growth without creating trip hazards or maintenance issues. Traditional metal tree grilles \u003Cstrong\u003Eshould \u003C/strong\u003Egenerally be avoided as they can create a litter trap which is difficult to maintain effectively.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G2.23]]></Value>
    </title>
  </Properties>
</Content>