<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ace8ae1-4ffa-43e9-baa8-05fedb91f3d0" Alias="Guidance: G1.12" Level="6">
  <Info>
    <Parent Key="cef09a37-ed47-4c66-9ec8-e2ddf9f50f18">B1.3.1 Sensitively integrating with the urban grain</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B13DevelopmentPatterns/B131SensitivelyIntegratingWithTheUrbanGrain/GuidanceG112</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T10:06:34</CreateDate>
    <NodeName Default="Guidance: G1.12" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ENew major residential developments \u003Cstrong\u003Eshould \u003C/strong\u003Evary density across the site to create areas of distinctive character, enabling a more nuanced and responsive layout. Whilst densities may differ from the immediate locality, proposals \u003Cstrong\u003Eshould \u003C/strong\u003Edemonstrate how these variations contribute positively to placemaking and integrate sensitively with the surrounding urban grain and character.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Major Residential Applications (10\u002B homes)"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "be517af0-1a7a-4c9e-b822-292461eb1813",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 15"
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 15: Sketch plan illustrating how new development should respect the existing urban grain by respecting the existing street network and utilising similar plot and block sizes (Guidance G1.11)"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "cee8a4f8-9c7f-469c-bc69-88448c5bca00",
              "mediaKey": "8f6d6ce0-2cbd-4e01-a5cd-916054b81787",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "TEST"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "ca87699e-b368-4069-8479-aff11f2a112b",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "be517af0-1a7a-4c9e-b822-292461eb1813",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "be517af0-1a7a-4c9e-b822-292461eb1813",
        "contentUdi": null,
        "settingsKey": "ca87699e-b368-4069-8479-aff11f2a112b",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G1.12]]></Value>
    </title>
  </Properties>
</Content>