<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c8d8764-ccf9-4c5d-9e05-40ed27e1b749" Alias="Guidance: G2.30" Level="6">
  <Info>
    <Parent Key="a7eef8e5-2efd-45df-b573-e71d9c3b84fd">B2.6.1 Optimising solar gain</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B26FutureProofDesign/B261OptimisingSolarGain/GuidanceG230</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T17:03:33</CreateDate>
    <NodeName Default="Guidance: G2.30" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ECarbon emissions produced from the construction of new buildings \u003Cstrong\u003Eshould \u003C/strong\u003Ebe minimised using standard Whole Life Carbon Assessment (WLCA) methods, such as those set out in the RICS Whole Life Carbon Assessment for the Built Environment (2nd Edition) or British Standard (BS) EN 15978:2011. \u003C/p\u003E\u003Cp\u003EUpfront carbon (modules A1 to A5) \u003Cstrong\u003Eshould \u003C/strong\u003Ebe assessed against recognised benchmarks, such as the Net Zero Carbon Buildings Standard (2025) or LETI targets for 2025 and 2030.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Major Residential Applications (10\u002B homes)",
  "Other Major Applications",
  "Major Employment Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G2.30]]></Value>
    </title>
  </Properties>
</Content>