<?xml version="1.0" encoding="utf-8"?>
<Content Key="816cf654-0996-488a-8545-12a7251f2e20" Alias="Guidance: G5.14" Level="6">
  <Info>
    <Parent Key="72fd6fb1-d2e9-4da7-a08d-ee73d44e0ce1">B5.1.5 Impact on neighbours and the streetscape</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes/B51ExtensionsAndAlterations/B515ImpactOnNeighboursAndTheStreetscape/GuidanceG514</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T15:50:11</CreateDate>
    <NodeName Default="Guidance: G5.14" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EDormers proposed to the rear and side of a property \u003Cstrong\u003Eshould \u003C/strong\u003Eminimise overlooking to neighbouring properties by: \u003C/p\u003E\u003Cp\u003E\u2022 adhering to the separation distances set out in Code C5.10, based on the applicable Area Type \u003C/p\u003E\u003Cp\u003E\u2022 where separation distances cannot be achieved on side elevations, using design solutions such as obscure glazing or high-level windows to protect privacy \u003C/p\u003E\u003Cp\u003E\u003Cstrong\u003EException:\u003C/strong\u003E This design guidance is strongly encouraged but does not apply to dormers constructed under Permitted Development rights where planning permission is not required.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Householder Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "30b99355-2016-4d33-8599-a631a3cb0b91",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 145"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "df863a1b-a732-4d73-bacb-e6d6be311d4b",
              "mediaKey": "45bb8d58-6f26-4068-af38-5e7e73c6a473",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 145: Sketch view illustrating how an extension on a corner plot can maintain a positive frontage onto the street (Guidance G5.13)"
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 145: Sketch view illustrating how an extension on a corner plot can maintain a positive frontage onto the street (Guidance G5.13)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "45eadfe2-218d-4f0d-968b-e6e773879578",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "30b99355-2016-4d33-8599-a631a3cb0b91",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "30b99355-2016-4d33-8599-a631a3cb0b91",
        "contentUdi": null,
        "settingsKey": "45eadfe2-218d-4f0d-968b-e6e773879578",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G5.14]]></Value>
    </title>
  </Properties>
</Content>