<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb45073f-62d9-4222-a4be-bdb42e73d8a1" Alias="Guidance: G1.16" Level="6">
  <Info>
    <Parent Key="23a349db-4c99-4942-a6ef-5fd6a269133e">B1.4.2 Protection and celebration of locally important views</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B14KeyViews/B142ProtectionAndCelebrationOfLocallyImportantViews/GuidanceG116</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T10:21:13</CreateDate>
    <NodeName Default="Guidance: G1.16" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EApplicants \u003Cstrong\u003Eshould \u003C/strong\u003Eimplement the following strategies to protect and frame existing views: \u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003Eretain a strong visual axis to key landmarks by setting development back to highlight and frame the most prominent elements of the view, ensuring new buildings do not compete with or obscure significant skyline features \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Euse building massing to guide the eye upward toward roof-level landmarks (for example spires and towers) without dominating or visually competing with them. Incorporate offsets and breaks in the built form to frame distant views effectively and maintain clear sightlines to landmark features\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "3a01518a-edd1-4de8-9925-3d65161f0221",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Guidance: G1.16"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "853ee447-fe68-4a67-a4b2-1c38da74b5a8",
              "mediaKey": "ef1cc2a2-07f9-4907-8e59-39e72fed97eb",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 18: A direct pedestrian route from Wakefield Westgate Station and modern buildings frame the view towards the clock tower of Wakefield Town Hall in the distance (Guidance G1.16)"
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 18: A direct pedestrian route from Wakefield Westgate Station and modern buildings frame the view towards the clock tower of Wakefield Town Hall in the distance (Guidance G1.16)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "eb924ea3-0881-4d3c-a48b-3b5d5438cb99",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "3a01518a-edd1-4de8-9925-3d65161f0221",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "3a01518a-edd1-4de8-9925-3d65161f0221",
        "contentUdi": null,
        "settingsKey": "eb924ea3-0881-4d3c-a48b-3b5d5438cb99",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G1.16]]></Value>
    </title>
  </Properties>
</Content>