<?xml version="1.0" encoding="utf-8"?>
<Content Key="4b749605-770b-4cf2-a9a8-fd512ed3a955" Alias="Guidance: G1.4" Level="6">
  <Info>
    <Parent Key="1531b726-d839-4135-85eb-20d3cb560fa1">B1.1.2 Undertaking a local character and context assessment</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B11UnderstandingThePlace/B112UndertakingALocalCharacterAndContextAssessment/GuidanceG14</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T07:45:43</CreateDate>
    <NodeName Default="Guidance: G1.4" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EAs part of the local character and context assessment, a historic map showcasing the regression of the site and its surroundings should be included to help understand how former land uses, historic building patterns, and features such as historic hedgerows and boundary lines have evolved or changed over time.\u003C/p\u003E\u003Cp\u003EThis should include a review of available online historic mapping resources, from the 19th century onwards. Free Ordnance Survey historic mapping can be found via the National Library of Scotland online mapping.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Other Major Applications",
  "Major Employment Applications",
  "Minor Employment Applications",
  "Major Residential Applications (10\u002B homes)",
  "Minor Residential Applications (1-9 homes)"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "ae13d06b-ae2c-4e6d-afea-ac3bc2b5e670",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Guidance G1.4"
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 5: Historic map assessments from the National Model Design Code show how historical mapping can be used to understand how sites have changed over time (Guidance: G1.4)"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "66c172cc-08a9-475b-9448-548924ca436b",
              "mediaKey": "c0b8ec3e-e3cd-4e8a-9646-a38ac3bf79c6",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 5: Examples of historic map assessments from the National Model Design Code show how historical mapping can be used to understand how sites have changed over time (Guidance: G1.4)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "68134e1f-4a34-4bd5-be89-a45f0ae20d22",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "ae13d06b-ae2c-4e6d-afea-ac3bc2b5e670",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ae13d06b-ae2c-4e6d-afea-ac3bc2b5e670",
        "contentUdi": null,
        "settingsKey": "68134e1f-4a34-4bd5-be89-a45f0ae20d22",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G1.4]]></Value>
    </title>
  </Properties>
</Content>