<?xml version="1.0" encoding="utf-8"?>
<Content Key="5ed92ebf-4855-402a-a822-bb869fa66869" Alias="Guidance: G2.19" Level="6">
  <Info>
    <Parent Key="1474bcc7-ecb0-4776-9fc6-3a9f7fdd1746">B2.5.1 Trees planting, street trees and landscape design</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B25NewTreesAndLandscapeStrategy/B251TreesPlantingStreetTreesAndLandscapeDesign/GuidanceG219</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T16:26:37</CreateDate>
    <NodeName Default="Guidance: G2.19" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ENew tree planting \u003Cstrong\u003Eshould \u003C/strong\u003Ebe designed to enhance ecological connectivity across the site, creating stepping-stone habitats that link fragmented green spaces. This contributes to a cohesive and resilient green infrastructure network, supporting biodiversity by enabling the movement of species and the spread of native flora.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G2.19]]></Value>
    </title>
  </Properties>
</Content>