<?xml version="1.0" encoding="utf-8"?>
<Content Key="4a15796d-3bf1-4c1e-bba3-e0771218098d" Alias="Guidance: G2.25" Level="6">
  <Info>
    <Parent Key="1474bcc7-ecb0-4776-9fc6-3a9f7fdd1746">B2.5.1 Trees planting, street trees and landscape design</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B25NewTreesAndLandscapeStrategy/B251TreesPlantingStreetTreesAndLandscapeDesign/GuidanceG225</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T16:48:15</CreateDate>
    <NodeName Default="Guidance: G2.25" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EWhere practicable, tree pits \u003Cstrong\u003Eshould \u003C/strong\u003Ebe designed to include sustainable irrigation by capturing stormwater run-off through Sustainable urban Drainage System (SuDS) features to support healthy establishment and long-term growth.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G2.25]]></Value>
    </title>
  </Properties>
</Content>