<?xml version="1.0" encoding="utf-8"?>
<Content Key="696d5d6d-d81c-4eb8-866f-20d6387f9109" Alias="Guidance: G5.2" Level="6">
  <Info>
    <Parent Key="9a635f0f-078f-437f-b1a5-fe9a9b5849d8">B5.1.1 Scale, massing and proportion of extensions</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes/B51ExtensionsAndAlterations/B511ScaleMassingAndProportionOfExtensions/GuidanceG52</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T14:29:35</CreateDate>
    <NodeName Default="Guidance: G5.2" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EProposed windows and doors \u003Cstrong\u003Eshould \u003C/strong\u003Ematch the scale and proportions of the existing property and be positioned in line with the current window arrangement.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Householder Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G5.2]]></Value>
    </title>
  </Properties>
</Content>