<?xml version="1.0" encoding="utf-8"?>
<Content Key="f3aab0d1-6f0c-4202-8796-5b606542ff97" Alias="Guidance: G5.18" Level="6">
  <Info>
    <Parent Key="55b7847d-949f-46da-8232-8447aa908d79">B5.3.1 Balancing scale, privacy, and access</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes/B53BacklandDevelopment/B531BalancingScalePrivacyAndAccess/GuidanceG518</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T16:10:31</CreateDate>
    <NodeName Default="Guidance: G5.18" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EBackland development proposals \u003Cstrong\u003Eshould \u003C/strong\u003Efollow the 25 and 45 degree rules set out in Guidance G5.12 to ensure that no adverse effects on neighbouring amenities would occur with the proposals.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G5.18]]></Value>
    </title>
  </Properties>
</Content>