<?xml version="1.0" encoding="utf-8"?>
<Content Key="29879da1-a4b8-468f-ba3e-8e064ba41fd7" Alias="Guidance: G5.10" Level="6">
  <Info>
    <Parent Key="f7884dd8-e839-40bb-b2de-d620fdc12e21">B5.1.4 Materials and detailing</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes/B51ExtensionsAndAlterations/B514MaterialsAndDetailing/GuidanceG510</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T15:37:26</CreateDate>
    <NodeName Default="Guidance: G5.10" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EMaterials that are prone to staining, weathering unevenly, or rapid visual deterioration \u003Cstrong\u003Emust \u003C/strong\u003Ebe avoided, as they can detract from the long-term quality and appearance of the development. Applicants \u003Cstrong\u003Emust \u003C/strong\u003Edemonstrate the durability and weathering performance of proposed materials through manufacturer specifications, precedent examples, or material samples, particularly for exposed or prominent elevations.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Householder Applications",
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G5.10]]></Value>
    </title>
  </Properties>
</Content>