<?xml version="1.0" encoding="utf-8"?>
<Content Key="6bb8ac6f-f911-49b6-89a4-54b3ffdd2e51" Alias="Guidance: G4.25" Level="6">
  <Info>
    <Parent Key="4658c98c-600d-4e4d-8b3e-8107e2d7eb1a">B4.5.4 Vehicle tracking, servicing and turning spaces</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B45ManagingSpeed/B454VehicleTrackingServicingAndTurningSpaces/GuidanceG425</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T13:01:19</CreateDate>
    <NodeName Default="Guidance: G4.25" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Design Code"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EVehicle tracking \u003Cstrong\u003Eshould \u003C/strong\u003Ebe considered during the design process but \u003Cstrong\u003Eshould \u003C/strong\u003Enot dictate the entire carriageway layout. Vehicle tracking \u003Cstrong\u003Eshould \u003C/strong\u003Ebe used to reduce the dominance of the carriageway by ensuring kerblines do not rigidly follow vehicle paths, but also respond to building lines and other site features.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G4.25]]></Value>
    </title>
  </Properties>
</Content>