<?xml version="1.0" encoding="utf-8"?>
<Content Key="e98e9f71-a25b-4f3a-87b3-b78db971b040" Alias="Guidance: G5.4" Level="6">
  <Info>
    <Parent Key="9a635f0f-078f-437f-b1a5-fe9a9b5849d8">B5.1.1 Scale, massing and proportion of extensions</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes/B51ExtensionsAndAlterations/B511ScaleMassingAndProportionOfExtensions/GuidanceG54</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T14:41:54</CreateDate>
    <NodeName Default="Guidance: G5.4" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EAt least 50% of the original private garden space \u003Cstrong\u003Eshould \u003C/strong\u003Ebe retained to prevent over development and ensure sufficient amenity space for occupants. The \u2018original\u2019 garden space means the private rear garden as it existed on 1 July 1948 or, for properties built after this date, as first constructed. \u003C/p\u003E\u003Cp\u003E\u003Cstrong\u003EException:\u003C/strong\u003E This excludes any areas converted to parking, subdivided for development, or otherwise altered through land sale or acquisition.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Householder Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G5.4]]></Value>
    </title>
  </Properties>
</Content>