<?xml version="1.0" encoding="utf-8"?>
<Content Key="b21e6532-034d-45ef-b90d-444f9d99b78e" Alias="Guidance: G1.11" Level="6">
  <Info>
    <Parent Key="cef09a37-ed47-4c66-9ec8-e2ddf9f50f18">B1.3.1 Sensitively integrating with the urban grain</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B13DevelopmentPatterns/B131SensitivelyIntegratingWithTheUrbanGrain/GuidanceG111</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T10:03:47</CreateDate>
    <NodeName Default="Guidance: G1.11" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ETo respect the urban grain, development proposals \u003Cstrong\u003Eshould\u003C/strong\u003E: \u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003Eextrapolate the existing street network to ensure seamless continuity \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Eutilise a similar plot and block sizes to manage mass and void (recognising these can be subdivided for modern standards, whilst retaining the appearance of the larger block) \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Einclude locally typical interventions in the public realm (squares, small greens etc) to articulate the layout\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G1.11]]></Value>
    </title>
  </Properties>
</Content>