<?xml version="1.0" encoding="utf-8"?>
<Content Key="cc8124a7-fcdb-4e15-a7e0-d77697339e49" Alias="Guidance: G4.7" Level="6">
  <Info>
    <Parent Key="bbefb9e2-e5a5-424d-a01b-c3beaf8d8bc6">B4.3.3 Designing for cyclists</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B43ActiveTravelAndInclusiveStreets/B433DesigningForCyclists/GuidanceG47</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T10:47:15</CreateDate>
    <NodeName Default="Guidance: G4.7" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EDevelopment proposals \u003Cstrong\u003Eshould \u003C/strong\u003Eensure that cyclists can maintain a minimum lateral clearance of 1 metre from kerbside activities, including parked vehicles, loading areas, and other obstructions along the street.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Other Major Applications",
  "Major Employment Applications",
  "Major Residential Applications (10\u002B homes)"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G4.7]]></Value>
    </title>
  </Properties>
</Content>