<?xml version="1.0" encoding="utf-8"?>
<Content Key="1dc2eae5-a1a5-439c-81e4-551f56e4a0d4" Alias="Guidance: G2.27" Level="6">
  <Info>
    <Parent Key="a7eef8e5-2efd-45df-b573-e71d9c3b84fd">B2.6.1 Optimising solar gain</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B26FutureProofDesign/B261OptimisingSolarGain/GuidanceG227</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T16:58:04</CreateDate>
    <NodeName Default="Guidance: G2.27" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ETo optimise passive solar gain development proposals \u003Cstrong\u003Eshould \u003C/strong\u003Elook to maximise the number of buildings on site that are orientated to within \u002B/- 30\u00B0 of south. In addition, south-facing facades for living spaces \u003Cstrong\u003Eshould\u003C/strong\u003E be prioritised (where possible) to maximise passive solar heating in winter.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "4cac0aeb-1afe-4b53-99b5-400b1c9184c7",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 51"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "69d19dd5-92fb-494c-9c4f-fe0fef21107d",
              "mediaKey": "d3ec47b9-2f08-4851-9c78-f8d095116042",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Optimisation for passive design and orientation"
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003Eshows how elevations facing \u002B/- 30\u00B0of south will benefit from useful solar gains in the winter\u003C/p\u003E"
          }
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Optimisation for passive design and orientation"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "18d6ca49-93ee-4aa4-b7d4-f882770fe74d",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "4cac0aeb-1afe-4b53-99b5-400b1c9184c7",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "4cac0aeb-1afe-4b53-99b5-400b1c9184c7",
        "contentUdi": null,
        "settingsKey": "18d6ca49-93ee-4aa4-b7d4-f882770fe74d",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G2.27]]></Value>
    </title>
  </Properties>
</Content>