<?xml version="1.0" encoding="utf-8"?>
<Content Key="fd1501e2-22a1-46d0-b1f2-6e39140eafb4" Alias="Guidance: G5.11" Level="6">
  <Info>
    <Parent Key="f7884dd8-e839-40bb-b2de-d620fdc12e21">B5.1.4 Materials and detailing</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes/B51ExtensionsAndAlterations/B514MaterialsAndDetailing/GuidanceG511</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T15:38:23</CreateDate>
    <NodeName Default="Guidance: G5.11" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EThe design of windows and doors \u003Cstrong\u003Eshould \u003C/strong\u003Ebe in keeping with the architectural rhythm of the existing building, ensuring consistency in proportion, alignment, and style. Any alterations to front-facing elevations \u003Cstrong\u003Eshould \u003C/strong\u003Erespect the established building line and contribute positively to the character and appearance of the surrounding streetscape.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Other Major Applications",
  "Householder Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a29ecc6f-d8fb-4c95-88b9-8b940f6c3cd9",
      "key": "b47b0d9f-ccb0-4167-8d65-d58f24b4b19f",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 142 \u0026 143"
        },
        {
          "alias": "image1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d8973380-4097-4f68-a525-79b6bf18c586",
              "mediaKey": "8bafa0fd-0dfe-4148-bd05-9521ff8336f5",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 142: Sketch highlighting a good and bad example of fenestration rhythm (Guidance G5.11)"
        },
        {
          "alias": "image2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0d98160a-f8ee-45bc-b705-204d4b3f3b6b",
              "mediaKey": "243d4f2d-f3af-4a46-a53c-3836f765682b",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 143: A new infill development on Cheapside, with windows and doors which are in keeping with the traditional architectural rhythm (Guidance G5.11)"
        },
        {
          "alias": "altText1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 142: Sketch highlighting a good and bad example of fenestration rhythm (Guidance G5.11)"
        },
        {
          "alias": "altText2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 143: A new infill development on Cheapside, with windows and doors which are in keeping with the traditional architectural rhythm (Guidance G5.11)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c71687d5-4b27-4c39-b389-7ee98adb9882",
      "key": "b996c5de-7e94-4d26-8b7d-d25d2656e13b",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "b47b0d9f-ccb0-4167-8d65-d58f24b4b19f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b47b0d9f-ccb0-4167-8d65-d58f24b4b19f",
        "contentUdi": null,
        "settingsKey": "b996c5de-7e94-4d26-8b7d-d25d2656e13b",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G5.11]]></Value>
    </title>
  </Properties>
</Content>