<?xml version="1.0" encoding="utf-8"?>
<Content Key="d3d12b12-901d-4929-969d-59e2c573a3e2" Alias="Guidance: G5.19" Level="6">
  <Info>
    <Parent Key="7fb9316c-161e-45f5-a5d4-dfcbf9d33e8e">B5.4.3 Overlooking and privacy</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes/B54Plots/B543OverlookingAndPrivacy/GuidanceG519</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T16:22:19</CreateDate>
    <NodeName Default="Guidance: G5.19" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EFor buildings taller than three storeys, windows on upper floors \u003Cstrong\u003Eshould \u003C/strong\u003Ebe carefully positioned to protect the privacy of neighbouring properties. This includes minimising direct sightlines into nearby homes or other sensitive spaces. Additional design measures such as angled window placements, high-level or obscured glazing, and stepped or set-back facades \u003Cstrong\u003Eshould \u003C/strong\u003Ebe considered to reduce overlooking and maintain residential amenity.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Householder Applications",
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "a3ce6ab9-607a-4696-8640-030bb167d435",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 149"
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 149: New homes have a \u2018stepped back\u2019 third storey on the left of George Leigh Street in Ancoats, Manchester. This helps to protect the privacy of existing homes to the right of the street (Guidance G5.19)"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "94f72b73-c611-474c-afea-b76365b256d4",
              "mediaKey": "74696ebd-3480-4d43-b5a1-be6fb652ce4a",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 149: New homes have a \u2018stepped back\u2019 third storey on the left of George Leigh Street in Ancoats, Manchester. This helps to protect the privacy of existing homes to the right of the street (Guidance G5.19)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "450adf29-e479-4b19-aabd-3b4c28bc9bbd",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "a3ce6ab9-607a-4696-8640-030bb167d435",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a3ce6ab9-607a-4696-8640-030bb167d435",
        "contentUdi": null,
        "settingsKey": "450adf29-e479-4b19-aabd-3b4c28bc9bbd",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G5.19]]></Value>
    </title>
  </Properties>
</Content>