<?xml version="1.0" encoding="utf-8"?>
<Content Key="212568a3-33d1-4f55-9972-028e7c1ddcdf" Alias="Guidance: G1.22" Level="6">
  <Info>
    <Parent Key="df3434cb-70f4-4174-9366-bbd1c29852c1">B1.6.1 Reflecting local building traditions</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B16StrengtheningLocalArchitecturalCharacter/B161ReflectingLocalBuildingTraditions/GuidanceG122</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T12:21:07</CreateDate>
    <NodeName Default="Guidance: G1.22" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EApplicants \u003Cstrong\u003Eshould \u003C/strong\u003Edemonstrate how a hierarchy of built form and public realm has been established by providing architectural treatments and features that reflect and respond to locally distinctive qualities and character. This should be clearly illustrated through a selection of street scenes and elevational drawings.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G1.22]]></Value>
    </title>
  </Properties>
</Content>