<?xml version="1.0" encoding="utf-8"?>
<Content Key="61baefe1-1657-4a28-84b3-3d5ca8ae7b93" Alias="Guidance: G5.1" Level="6">
  <Info>
    <Parent Key="9a635f0f-078f-437f-b1a5-fe9a9b5849d8">B5.1.1 Scale, massing and proportion of extensions</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes/B51ExtensionsAndAlterations/B511ScaleMassingAndProportionOfExtensions/GuidanceG51</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T14:28:49</CreateDate>
    <NodeName Default="Guidance: G5.1" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ETwo storey, and single storey side extensions \u003Cstrong\u003Eshould \u003C/strong\u003Ebe no more than two thirds of the width of the original building. This approach helps preserve the proportion and symmetry of semi-detached homes, in particular.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Householder Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G5.1]]></Value>
    </title>
  </Properties>
</Content>