<?xml version="1.0" encoding="utf-8"?>
<Content Key="54519153-2e64-4288-a225-0419d9258f57" Alias="Guidance: G3.3" Level="6">
  <Info>
    <Parent Key="94f893b9-b732-4145-8b3f-b2acde90d47a">B3.1.1 Creating inviting and accessible places</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B31OpenSpacesAndCommunityFacilities/B311CreatingInvitingAndAccessiblePlaces/GuidanceG33</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-11T07:41:46</CreateDate>
    <NodeName Default="Guidance: G3.3" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EApplicants \u003Cstrong\u003Eshould \u003C/strong\u003Eapply metrics SP01 and PP01 as outlined within the Active Travel England (ATE) Route Check Tool to assess whether routes include features that encourage safe and engaging experiences for children.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Major Residential Applications (10\u002B homes)",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G3.3]]></Value>
    </title>
  </Properties>
</Content>