<?xml version="1.0" encoding="utf-8"?>
<Content Key="77ae68ac-769f-4395-a3f3-db0d969a2545" Alias="Guidance: G2.24" Level="6">
  <Info>
    <Parent Key="1474bcc7-ecb0-4776-9fc6-3a9f7fdd1746">B2.5.1 Trees planting, street trees and landscape design</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B25NewTreesAndLandscapeStrategy/B251TreesPlantingStreetTreesAndLandscapeDesign/GuidanceG224</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T16:45:30</CreateDate>
    <NodeName Default="Guidance: G2.24" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ETree lighting in new urban and public realm projects \u003Cstrong\u003Eshould \u003C/strong\u003Eavoid wrapping trunks or branches with wiring or hanging lights directly from trees, as this can damage bark, restrict growth, and be difficult to maintain. Instead, integrated surface-mounted uplighting or ground-level architectural lighting \u003Cstrong\u003Eshould \u003C/strong\u003Ebe used to highlight tree canopies and create visual interest.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a29ecc6f-d8fb-4c95-88b9-8b940f6c3cd9",
      "key": "1c888f74-ef97-48f8-addd-b08cb5763c01",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 49 \u0026 50"
        },
        {
          "alias": "image1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "8fa76f04-286b-497c-970a-6da6b78f7a8e",
              "mediaKey": "95ee02c8-ef5c-45a1-9d91-41339600eed8",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 49: Street trees set within resin bonded gravel at Allerton Bywater (Guidance G2.23)"
        },
        {
          "alias": "image2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "fd18ffe9-e186-4df3-8728-2db8e81492fe",
              "mediaKey": "5b7061dc-17cb-4649-865b-df85f21ac87e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 50: Imaginative and varied landscaping retains openess and visibility (Guidance G2.26)"
        },
        {
          "alias": "altText1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 49: Street trees set within resin bonded gravel at Allerton Bywater (Guidance G2.23)"
        },
        {
          "alias": "altText2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 50: Imaginative and varied landscaping retains openess and visibility (Guidance G2.26)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c71687d5-4b27-4c39-b389-7ee98adb9882",
      "key": "5e5b85a3-24ff-48c1-8126-d7148d1ff3c3",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "1c888f74-ef97-48f8-addd-b08cb5763c01",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "1c888f74-ef97-48f8-addd-b08cb5763c01",
        "contentUdi": null,
        "settingsKey": "5e5b85a3-24ff-48c1-8126-d7148d1ff3c3",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G2.24]]></Value>
    </title>
  </Properties>
</Content>