<?xml version="1.0" encoding="utf-8"?>
<Content Key="6cce988f-602c-4fec-ad58-69b5472f4a6f" Alias="Guidance: G4.18" Level="6">
  <Info>
    <Parent Key="83fd62b0-08bf-4841-b9cc-e669420a39ea">B4.4.1 Crossings</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B44JunctionsAndCrossings/B441Crossings/GuidanceG418</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T12:18:19</CreateDate>
    <NodeName Default="Guidance: G4.18" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EThe default position \u003Cstrong\u003Eshould \u003C/strong\u003Ebe to avoid installing vehicle restraint measures unless a risk assessment shows they are required. Where needed, such measures can help protect pedestrians and guide them to appropriate crossing points. They may also be used to mark the transition from a footway to a verge or carriageway at the end of a pedestrian or cycle route. Where guardrailing is proposed, an assessment \u003Cstrong\u003Eshould \u003C/strong\u003Ebe undertaken in accordance with LTN 2/09 Pedestrian Guardrailing (Department for Transport, 2009).\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "e3caa011-29d7-49a5-ad41-d147f1d3a78f",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 118"
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 118: A change in surface material helps to emphasise this pedestrian crossing in Wakefield"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "90803976-090e-4530-afe4-95b95ab45b16",
              "mediaKey": "789278c9-ad7c-4813-b671-b1c5d29d73a6",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 118: A change in surface material helps to emphasise this pedestrian crossing in Wakefield"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "22339b57-ecea-45f8-b43a-0c88524afa53",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "e3caa011-29d7-49a5-ad41-d147f1d3a78f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e3caa011-29d7-49a5-ad41-d147f1d3a78f",
        "contentUdi": null,
        "settingsKey": "22339b57-ecea-45f8-b43a-0c88524afa53",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G4.18]]></Value>
    </title>
  </Properties>
</Content>