<?xml version="1.0" encoding="utf-8"?>
<Content Key="00f82068-8708-43de-8a1e-673bc8da6223" Alias="Guidance: G4.14" Level="6">
  <Info>
    <Parent Key="16a7a9dd-94b8-44d0-b9be-7efa078a8176">B4.3.4 Public transport</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B43ActiveTravelAndInclusiveStreets/B434PublicTransport/GuidanceG414</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T12:06:23</CreateDate>
    <NodeName Default="Guidance: G4.14" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EThe maximum walking distance to a bus stop \u003Cstrong\u003Eshould \u003C/strong\u003Enot exceed 400 metres. For rail stations, where available, the maximum walking distance can extend up to 800 metres. These distances \u003Cstrong\u003Eshould \u003C/strong\u003Ebe measured based on the actual walking route available via safe and suitable pedestrian paths, rather than straight-line (\u201Cas the crow flies\u201D) distances. Measurements \u003Cstrong\u003Eshould \u003C/strong\u003Ebe taken from the furthest point within the development where a pedestrian leg of a passenger journey could reasonably begin or end. Bus stops \u003Cstrong\u003Eshould \u003C/strong\u003Ebe located to minimise walking distances for users while maximising the catchment area, balancing convenience with coverage to encourage public transport use.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Householder Applications",
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a29ecc6f-d8fb-4c95-88b9-8b940f6c3cd9",
      "key": "ba8e3901-f4c5-4280-b885-a24aa8ee6f50",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 116 \u0026 117"
        },
        {
          "alias": "image1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f2e55211-73ce-453a-9a91-5d043bc67a03",
              "mediaKey": "1a1f9034-faf6-4b60-a0eb-88e3a19cc555",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 116: This bus stop in Wakefield is well-lit, overlooked and softened by planting, providing a welcoming setting (Code C4.27)"
        },
        {
          "alias": "image2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a76d009d-0fb5-4456-80c5-2bac27288885",
              "mediaKey": "33356dfd-981a-45d5-8d46-96ecda8151c2",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 117: Castleford Bus Station is located close to the railway station, encouraging sustainable travel (Guidance G4.14)\n"
        },
        {
          "alias": "altText1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 116: This bus stop in Wakefield is well-lit, overlooked and softened by planting, providing a welcoming setting (Code C4.27)"
        },
        {
          "alias": "altText2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 117: Castleford Bus Station is located close to the railway station, encouraging sustainable travel (Guidance G4.14)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c71687d5-4b27-4c39-b389-7ee98adb9882",
      "key": "64558b35-34db-4005-b91f-81c23bb583e5",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "ba8e3901-f4c5-4280-b885-a24aa8ee6f50",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ba8e3901-f4c5-4280-b885-a24aa8ee6f50",
        "contentUdi": null,
        "settingsKey": "64558b35-34db-4005-b91f-81c23bb583e5",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G4.14]]></Value>
    </title>
  </Properties>
</Content>