<?xml version="1.0" encoding="utf-8"?>
<Content Key="08fa7d3a-5b0e-4cc8-b9e4-edb954c22965" Alias="Guidance: G4.22" Level="6">
  <Info>
    <Parent Key="4728291c-1d5c-4e41-8e1f-040be60f5853">B4.5.1 Speed restraints</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B45ManagingSpeed/B451SpeedRestraints/GuidanceG422</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T12:43:25</CreateDate>
    <NodeName Default="Guidance: G4.22" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ESpeed control bends may be appropriate on lower-order streets (such as Local Residential, Shared Surface or Private Drives), however they \u003Cstrong\u003Eshould \u003C/strong\u003Enot compromise the layout of the site (see Guidance G1.10 and G1.11 for more information). Speed control bends \u003Cstrong\u003Eshould \u003C/strong\u003Ebe a specific and obvious speed restraint feature with the bend being tighter than the normal recommended minimum centreline radius for the street type, down to an absolute minimum centreline radius of 7.5 metres. The full forward visibility for the appropriate design speed \u003Cstrong\u003Eshould \u003C/strong\u003Estill be provided. The deflection angle should be greater than 60 degrees and some carriageway widening maybe desirable. Overrun areas \u003Cstrong\u003Eshould \u003C/strong\u003Ebe used sparingly to allow the passage of larger vehicles whilst maintaining \u2018tight\u2019 carriageway dimensions.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Major Residential Applications (10\u002B homes)",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "04663062-d120-46d6-8b98-990d27ce56ce",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 120"
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 120: Bends in the carriageway and framing using features such as street trees can help to encourage lower vehicle speeds (Guidance G4.20)"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d303010c-3801-4914-93f5-3d9561f73cc8",
              "mediaKey": "c9748994-e112-4bc0-bbb3-5608a247cf97",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 120: Bends in the carriageway and framing using features such as street trees can help to encourage lower vehicle speeds (Guidance G4.20)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "873fd259-7cc8-472d-b341-e7000bf99f5f",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "04663062-d120-46d6-8b98-990d27ce56ce",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "04663062-d120-46d6-8b98-990d27ce56ce",
        "contentUdi": null,
        "settingsKey": "873fd259-7cc8-472d-b341-e7000bf99f5f",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G4.22]]></Value>
    </title>
  </Properties>
</Content>