<?xml version="1.0" encoding="utf-8"?>
<Content Key="8dcdc69d-3074-401e-ac4c-accac1245a2f" Alias="Guidance: G5.5" Level="6">
  <Info>
    <Parent Key="39745704-28d0-4189-9ffb-7e54db57a522">B5.1.2 Dormer sizes</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes/B51ExtensionsAndAlterations/B512DormerSizes/GuidanceG55</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T14:47:53</CreateDate>
    <NodeName Default="Guidance: G5.5" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EFor dormers proposed to the front or side elevations of a property that face the street, their width \u003Cstrong\u003Eshould \u003C/strong\u003Ebe kept to a minimum to reduce visual impact on the streetscape. These dormers \u003Cstrong\u003Eshould \u003C/strong\u003Eoccupy no more than one-third (33%) of the original roof slope.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Householder Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G5.5]]></Value>
    </title>
  </Properties>
</Content>