<?xml version="1.0" encoding="utf-8"?>
<Content Key="7143369a-9b45-4835-9159-3c280255b895" Alias="Guidance: G3.14" Level="6">
  <Info>
    <Parent Key="851a0d40-a07d-40f6-8215-9f2890cf0b3d">B3.3.1 Ensuring easy navigability</Parent>
    <Path>/HomePage/ChapterList/B3WelcomingPlaces/B33WayfindingAndLegibility/B331EnsuringEasyNavigability/GuidanceG314</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-11T12:06:02</CreateDate>
    <NodeName Default="Guidance: G3.14" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EWhen designing new developments, dementia-friendly principles \u003Cstrong\u003Eshould \u003C/strong\u003Ebe applied as outlined in the West Yorkshire Combined Authority\u2019s Dementia-ready housing design criteria for general needs housing. Simple measures such as creating easy-to-navigate \u2018wayfinder\u2019 streets, using different door colours along a street, and incorporating thoughtfully coloured paving can make environments more welcoming and easier to understand for people living with dementia.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "e40aed4d-e846-4d69-a973-7819224fe3d0",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 75"
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 75: Wayfinding feels intuitive within Timekeepers Square in Salford, thanks to the creation of a memorable public space and the use of orientation points including public art and a framed view of a local landmarks (Guidance G3.15)"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "165bc708-32e6-4261-8a7b-53243b7fe9ef",
              "mediaKey": "d3e496c7-e875-4bc7-b7bb-96ce153942a3",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 75: Wayfinding feels intuitive within Timekeepers Square in Salford, thanks to the creation of a memorable public space and the use of orientation points including public art and a framed view of a local landmarks (Guidance G3.15)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "612a116b-3218-4c16-9899-431055672a4a",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "e40aed4d-e846-4d69-a973-7819224fe3d0",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e40aed4d-e846-4d69-a973-7819224fe3d0",
        "contentUdi": null,
        "settingsKey": "612a116b-3218-4c16-9899-431055672a4a",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G3.14]]></Value>
    </title>
  </Properties>
</Content>