<?xml version="1.0" encoding="utf-8"?>
<Content Key="fc112cd4-4e8e-45a4-b09e-56080d7e5a45" Alias="Guidance: G2.31" Level="6">
  <Info>
    <Parent Key="812430b1-6b67-4957-a6c6-54e3e0b7b339">B2.6.2 Modern Methods of Construction (MMC)</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B26FutureProofDesign/B262ModernMethodsOfConstructionMMC/GuidanceG231</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T17:04:59</CreateDate>
    <NodeName Default="Guidance: G2.31" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EModern methods of construction (MMC), when used correctly, can improve sustainability through reduced waste and enable a more considered material specification that can allow for low-carbon alternatives. MMC could be off-site manufacture, prefabricated construction, and modular techniques. When MMC is proposed, applicants \u003Cstrong\u003Eshould \u003C/strong\u003Eprovide information on the expected lifespan and maintenance requirements to ensure long-term resilience and performance (such as accreditation with built-offsite property assurance scheme (BOPAS).\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Householder Applications",
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G2.31]]></Value>
    </title>
  </Properties>
</Content>