<?xml version="1.0" encoding="utf-8"?>
<Content Key="fe171528-58cf-40c8-b3dc-f20bbcbfe2ed" Alias="Guidance: G1.13" Level="6">
  <Info>
    <Parent Key="cef09a37-ed47-4c66-9ec8-e2ddf9f50f18">B1.3.1 Sensitively integrating with the urban grain</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B13DevelopmentPatterns/B131SensitivelyIntegratingWithTheUrbanGrain/GuidanceG113</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T10:07:57</CreateDate>
    <NodeName Default="Guidance: G1.13" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EWhere new high-density development is proposed, this should include well-designed and strategically located public spaces. These public spaces \u003Cstrong\u003Eshould\u003C/strong\u003E: \u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003Eprovide pleasant and open views to enhance the experience and orientation of users \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Ebe predominantly south-west facing to maximise natural daylight and warmth \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Eavoid being placed in permanent shadow cast by surrounding buildings, ensuring usability, comfort, and environmental quality throughout the day and seasons\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Major Residential Applications (10\u002B homes)"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "8bdf3ff5-b237-4187-ba28-1f16738ae91e",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 16"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "380fabde-a847-4e5f-9c61-19f911fa8e13",
              "mediaKey": "c277297e-0971-44f6-9d0b-fc407b47c87e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 16: Sketch illustrating how density should vary across the site, creating areas of distinctive character (Guidance G1.12) and integrating strategically located public spaces (Guidance G1.13)"
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "TEST"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "458c0104-ec53-4d66-8533-bdf7a5ed0cfc",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "8bdf3ff5-b237-4187-ba28-1f16738ae91e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "8bdf3ff5-b237-4187-ba28-1f16738ae91e",
        "contentUdi": null,
        "settingsKey": "458c0104-ec53-4d66-8533-bdf7a5ed0cfc",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G1.13]]></Value>
    </title>
  </Properties>
</Content>