<?xml version="1.0" encoding="utf-8"?>
<Content Key="0c5cb817-5a6d-4383-bdd6-683f78bb2459" Alias="Guidance: G1.3" Level="6">
  <Info>
    <Parent Key="1531b726-d839-4135-85eb-20d3cb560fa1">B1.1.2 Undertaking a local character and context assessment</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B11UnderstandingThePlace/B112UndertakingALocalCharacterAndContextAssessment/GuidanceG13</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T07:40:26</CreateDate>
    <NodeName Default="Guidance: G1.3" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ELocal character and context assessments should also take account of (Appendix 5) Identifying and Using Local Building Styles to help strengthen local distinctiveness and identity, and to add value to the design by ensuring it responds appropriately to its historic and contextual setting.\u003C/p\u003E\u003Cp\u003E\u003Cstrong\u003EException:\u003C/strong\u003E Whilst householders are not required to provide an assessment, (Appendix 5) Identifying and Using Local Building Styles \u003Cstrong\u003Eshould \u003C/strong\u003Estill be used to inform new design proposals\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Householder Applications",
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Major Employment Applications",
  "Minor Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G1.3]]></Value>
    </title>
  </Properties>
</Content>