<?xml version="1.0" encoding="utf-8"?>
<Content Key="3c23a4ef-abb2-4e01-994d-06fafcfa1e26" Alias="Guidance: G4.20" Level="6">
  <Info>
    <Parent Key="4728291c-1d5c-4e41-8e1f-040be60f5853">B4.5.1 Speed restraints</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B45ManagingSpeed/B451SpeedRestraints/GuidanceG420</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T12:37:31</CreateDate>
    <NodeName Default="Guidance: G4.20" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EStreet design \u003Cstrong\u003Eshould \u003C/strong\u003Eincorporate elements that influence drivers\u2019 perception of the street environment to encourage lower speeds. These may include: \u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003Evisual narrowing through edge markings or carriageway design \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Epedestrian presence cues, such as active frontages, crossing points, or features suggesting potential pedestrian activity \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Ecarriageway framing using features like street trees or other vertical elements that provide partial visual screening \u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003EWherever possible, these \u201Cnatural\u201D speed-reducing features \u003Cstrong\u003Eshould \u003C/strong\u003Ebe integrated into the design so that they complement the built form and layout of the development.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Householder Applications",
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "86195b21-3022-409b-9d06-2c5b87d2c7e3",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 119"
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 119: Junction speed tables (in materials which differ from the main carriageway) should be proposed on local streets to offer priority to pedestrians and encourage lower speeds (Guidance G4.19)"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "fc492764-f941-4d8d-b71e-2fd7c4496107",
              "mediaKey": "ae949438-5b24-46e5-be05-189b268d7663",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 119: Junction speed tables (in materials which differ from the main carriageway) should be proposed on local streets to offer priority to pedestrians and encourage lower speeds (Guidance G4.19)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "48cf42b2-0704-4072-b344-0bbf0a12aae3",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "86195b21-3022-409b-9d06-2c5b87d2c7e3",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "86195b21-3022-409b-9d06-2c5b87d2c7e3",
        "contentUdi": null,
        "settingsKey": "48cf42b2-0704-4072-b344-0bbf0a12aae3",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G4.20]]></Value>
    </title>
  </Properties>
</Content>