<?xml version="1.0" encoding="utf-8"?>
<Content Key="279cf325-9b01-4206-995c-4f4f2587572e" Alias="Guidance: G4.3" Level="6">
  <Info>
    <Parent Key="c5df5395-6905-4550-86e6-355bb1d62106">B4.3.1 Designing for pedestrians</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B43ActiveTravelAndInclusiveStreets/B431DesigningForPedestrians/GuidanceG43</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T10:06:41</CreateDate>
    <NodeName Default="Guidance: G4.3" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EFor standalone footpaths (on access roads), a minimum total corridor width of 5 metres \u003Cstrong\u003Eshould \u003C/strong\u003Ebe provided, comprising a 3 metre wide shared-use pedestrian and cycleway with 1 metre margins to either side.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a29ecc6f-d8fb-4c95-88b9-8b940f6c3cd9",
      "key": "e0858840-795e-4e8e-a2b3-6b743ffa6c98",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 109 \u0026 110"
        },
        {
          "alias": "image1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e7e6ba46-c8af-4609-9e63-a5f93da7652d",
              "mediaKey": "b973066c-927d-4eaf-a2fa-38f491867acd",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 109: Visual landmarks in the form of public art aid intuitive wayfinding in Sheffield (Code C4.11)"
        },
        {
          "alias": "image2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "cb113e47-3ab7-4fb9-b1be-e04e36623a85",
              "mediaKey": "6b471695-0800-41e2-8eb4-e807a7d3b6bd",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 110: Secure cycle parking at train stations can help to encourage active travel (Code C4.14)"
        },
        {
          "alias": "altText1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 109: Visual landmarks in the form of public art aid intuitive wayfinding in Sheffield (Code C4.11)"
        },
        {
          "alias": "altText2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 110: Secure cycle parking at train stations can help to encourage active travel (Code C4.14)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c71687d5-4b27-4c39-b389-7ee98adb9882",
      "key": "bc4d5299-307d-4f74-bdbf-9124946abe12",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "e0858840-795e-4e8e-a2b3-6b743ffa6c98",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e0858840-795e-4e8e-a2b3-6b743ffa6c98",
        "contentUdi": null,
        "settingsKey": "bc4d5299-307d-4f74-bdbf-9124946abe12",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G4.3]]></Value>
    </title>
  </Properties>
</Content>