<?xml version="1.0" encoding="utf-8"?>
<Content Key="2884f849-2157-4a0b-b776-0c4c45e38e2f" Alias="Guidance: G2.8" Level="6">
  <Info>
    <Parent Key="770c4858-a4d6-46c2-9eb2-3694f576cc2e">B2.2.2 Stronger connections with nature</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B22ExistingGreenAndBlueNetworks/B222StrongerConnectionsWithNature/GuidanceG28</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T13:21:22</CreateDate>
    <NodeName Default="Guidance: G2.8" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EDevelopment proposals \u003Cstrong\u003Eshould \u003C/strong\u003Eencourage movement towards green spaces through the integration of active travel links and the use of clear signage and wayfinding to enhance accessibility and awareness. \u003C/p\u003E\u003Cp\u003EWhere suitable connections can be made, pleasant walking and cycling routes \u003Cstrong\u003Eshould \u003C/strong\u003Ebe aligned within internal and external green spaces (unless this would conflict with providing BNG requirements).\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "11deee13-2a24-4cbb-bca1-9a73ed70fa90",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 37"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "436fe3b5-6926-4ca2-94c0-ff1fbc215e91",
              "mediaKey": "fd2443b1-04a4-4449-98a8-be226d519460",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 37: Image of a GI cycling route with clear signage (Guidance G2.8)"
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 37: Image of a GI cycling route with clear signage (Guidance G2.8)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "0b139f35-71cc-4c44-bc19-9d4e3e995271",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "11deee13-2a24-4cbb-bca1-9a73ed70fa90",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "11deee13-2a24-4cbb-bca1-9a73ed70fa90",
        "contentUdi": null,
        "settingsKey": "0b139f35-71cc-4c44-bc19-9d4e3e995271",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G2.8]]></Value>
    </title>
  </Properties>
</Content>