<?xml version="1.0" encoding="utf-8"?>
<Content Key="09266a28-e5d6-4db0-8d80-f9ba921ac3b0" Alias="Guidance: G5.9" Level="6">
  <Info>
    <Parent Key="f7884dd8-e839-40bb-b2de-d620fdc12e21">B5.1.4 Materials and detailing</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes/B51ExtensionsAndAlterations/B514MaterialsAndDetailing/GuidanceG59</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T15:36:31</CreateDate>
    <NodeName Default="Guidance: G5.9" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EAll extensions and dormers \u003Cstrong\u003Eshould \u003C/strong\u003Euse materials that match or complement the existing building and respect the prevailing character of the wider streetscene, to ensure a cohesive and sympathetic appearance. Proposals for contrasting materials, such as render or cladding, \u003Cstrong\u003Eshould \u003C/strong\u003Eensure that they will not harm the visual character of the original building or surrounding area. \u003C/p\u003E\u003Cp\u003E\u003Cstrong\u003EException:\u003C/strong\u003E This design guidance is strongly encouraged but does not apply to dormers constructed under Permitted Development rights where planning permission is not required.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Other Major Applications",
  "Householder Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G5.9]]></Value>
    </title>
  </Properties>
</Content>