<?xml version="1.0" encoding="utf-8"?>
<Content Key="8cda2973-8747-4944-a581-90f43362fefe" Alias="Guidance: G4.2" Level="6">
  <Info>
    <Parent Key="ed313a99-40e1-4424-9488-cbabeff4137c">B4.1.1 Connected neighbourhoods</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B41Connectivity/B411ConnectedNeighbourhoods/GuidanceG42</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T08:00:24</CreateDate>
    <NodeName Default="Guidance: G4.2" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EFor developments of over 200 dwellings or 5,000m2 of floorspace, at least two points of vehicular access and egress \u003Cstrong\u003Eshould \u003C/strong\u003Ebe provided to maximise accessibility, connectivity and efficient operation in emergencies. \u003C/p\u003E\u003Cp\u003E\u003Cstrong\u003EException:\u003C/strong\u003E Although the provision of more than one access is preferred, where this is not possible a single vehicular access may be acceptable providing the internal network forms a loop, with the shortest possible connection of suitable width between this loop and the point of access.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Other Major Applications",
  "Major Residential Applications (10\u002B homes)",
  "Major Employment Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G4.2]]></Value>
    </title>
  </Properties>
</Content>