<?xml version="1.0" encoding="utf-8"?>
<Content Key="12e6835d-c6b0-45c8-ae8a-7678caead80f" Alias="Guidance: G2.7" Level="6">
  <Info>
    <Parent Key="b16a2eab-46cc-4c43-835f-f700f3bef9b1">B2.1.1 Designing for nature</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B21BiodiversityAndEcology/B211DesigningForNature/GuidanceG27</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T13:03:24</CreateDate>
    <NodeName Default="Guidance: G2.7" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ETo strengthen ecological networks, proposals \u003Cstrong\u003Eshould \u003C/strong\u003Eprioritise native and pollinator friendly planting along paths, verges and green links. This \u003Cstrong\u003Eshould \u003C/strong\u003Eincorporate features that provide clear benefits to specific species or groups of species, with priority given to those that support Biodiversity Action Plan (BAP) or Local Nature Recovery Strategy (LNRS) target species. Additionally, the climate resilience of selected species \u003Cstrong\u003Eshould \u003C/strong\u003Ebe considered to ensure they can thrive amid changing weather patterns. \u003C/p\u003E\u003Cp\u003EIdeas on potential plant selection can be found on the RHS webpages relating to Plants for Pollinators, Tree Shrubs native to Britain, Wildflower meadows, and the Forestry Commission webpage about Right tree, right place for the right reasons.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a29ecc6f-d8fb-4c95-88b9-8b940f6c3cd9",
      "key": "ccf7c62d-1878-44e0-b2af-43eb23172231",
      "udi": null,
      "values": [
        {
          "alias": "altText1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 34: Durable bat box installed on a tree (Guidance G2.5)"
        },
        {
          "alias": "altText2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 35: Creating of a hedgehog highway to facilitate movement (Guidance G2.6)"
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 34 \u0026 35"
        },
        {
          "alias": "image1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "14652661-4c57-4246-8540-3698d93d0c19",
              "mediaKey": "21c26ccd-68f7-4e53-9624-17be6563dfa8",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 34: Durable bat box installed on a tree (Guidance G2.5)"
        },
        {
          "alias": "image2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b8d32804-d002-4ce8-8775-8dbc26a2bad3",
              "mediaKey": "85a015ab-616f-4b76-9107-1d8bf77ef393",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 35: Creating of a hedgehog highway to facilitate movement (Guidance G2.6)"
        }
      ]
    },
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "b749407a-3e79-40b2-9ef4-9026f1a3021f",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 36"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "97f52ab8-9aa2-4b96-ac77-10c16c8754d8",
              "mediaKey": "92346657-d862-46e9-9f26-6dede8f1d506",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 36: Integrating wildflower and new tree planting into a community park at West Gorton, Manchester (Guidance G2.7)"
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 36: Integrating wildflower and new tree planting into a community park at West Gorton, Manchester (Guidance G2.7)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c71687d5-4b27-4c39-b389-7ee98adb9882",
      "key": "6c644fbd-1739-4e24-aecc-4fdaccc9a216",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "0fc6db61-0f0c-436d-9145-ae2fdb6b4387",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "ccf7c62d-1878-44e0-b2af-43eb23172231",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b749407a-3e79-40b2-9ef4-9026f1a3021f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ccf7c62d-1878-44e0-b2af-43eb23172231",
        "contentUdi": null,
        "settingsKey": "6c644fbd-1739-4e24-aecc-4fdaccc9a216",
        "settingsUdi": null
      },
      {
        "contentKey": "b749407a-3e79-40b2-9ef4-9026f1a3021f",
        "contentUdi": null,
        "settingsKey": "0fc6db61-0f0c-436d-9145-ae2fdb6b4387",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G2.7]]></Value>
    </title>
  </Properties>
</Content>