<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b35ec37-9130-416c-84ec-146bd2819471" Alias="Guidance: G4.12" Level="6">
  <Info>
    <Parent Key="16a7a9dd-94b8-44d0-b9be-7efa078a8176">B4.3.4 Public transport</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B43ActiveTravelAndInclusiveStreets/B434PublicTransport/GuidanceG412</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T11:02:00</CreateDate>
    <NodeName Default="Guidance: G4.12" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EProposed bus routes within new developments \u003Cstrong\u003Eshould \u003C/strong\u003Ebe designed to be as direct as possible, with entry and exit points compatible with the surrounding bus network. Buses need to be able to circulate effectively without impediment, including turning movements. The design of proposed bus routes \u003Cstrong\u003Eshould:\u003C/strong\u003E \u003C/p\u003E\u003Cp\u003E\u2022 avoid unnecessary detours, back-tracking, or excessive additional running time and length \u003C/p\u003E\u003Cp\u003E\u2022 be underpinned by the objective of enabling smooth and reliable bus journey progression, supporting efficient public transport operation \u003C/p\u003E\u003Cp\u003EPassenger Carrying Vehicles (PCVs) \u003Cstrong\u003Eshould \u003C/strong\u003Ebe considered to ensure durability, skid resistance and clear visibility.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Major Residential Applications (10\u002B homes)",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G4.12]]></Value>
    </title>
  </Properties>
</Content>