<?xml version="1.0" encoding="utf-8"?>
<Content Key="02ad2a4d-d901-4e16-b86e-6c34d966dba8" Alias="Guidance: G2.12" Level="6">
  <Info>
    <Parent Key="c3ebd4e9-1fed-4bee-94ac-b6d3912e9aa0">B2.3.1 Sensitive site planning</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B23ExistingTreesAndHedgerows/B231SensitiveSitePlanning/GuidanceG212</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T13:37:59</CreateDate>
    <NodeName Default="Guidance: G2.12" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EApplicants \u003Cstrong\u003Eshould \u003C/strong\u003Econsider further opportunities and enhancements of retained features such as trees, hedgerows and woodland. Opportunities \u003Cstrong\u003Eshould \u003C/strong\u003Einclude the provision of complementary planting adjoining retained features, which \u003Cstrong\u003Eshould \u003C/strong\u003Ebe well maintained and managed.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications",
  "Householder Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G2.12]]></Value>
    </title>
  </Properties>
</Content>