<?xml version="1.0" encoding="utf-8"?>
<Content Key="4fdb9a0b-cdaa-4b25-8d4e-0d5708cfc930" Alias="Guidance: G5.8" Level="6">
  <Info>
    <Parent Key="e2172446-0397-4b5f-bdb0-6ca7bf9c329b">B5.1.3 Dormer placement</Parent>
    <Path>/HomePage/ChapterList/B5HealthyAndInclusiveHomes/B51ExtensionsAndAlterations/B513DormerPlacement/GuidanceG58</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T15:16:24</CreateDate>
    <NodeName Default="Guidance: G5.8" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EWhere two dormers are proposed, or where the proposal results in a pair of dormers, they \u003Cstrong\u003Eshould \u003C/strong\u003Ebe symmetrically positioned to create a balanced appearance. In contrast, a single dormer \u003Cstrong\u003Eshould \u003C/strong\u003Ebe placed asymmetrically, avoiding a central position on the roof to prevent disrupting the visual proportions of the building. \u003C/p\u003E\u003Cp\u003E\u003Cstrong\u003EException:\u003C/strong\u003E This design guidance is strongly encouraged but does not apply to dormers constructed under Permitted Development rights where planning permission is not required.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Householder Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a29ecc6f-d8fb-4c95-88b9-8b940f6c3cd9",
      "key": "87969c19-5069-4c1f-8ddd-65a0183bdac2",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 136 \u0026 138"
        },
        {
          "alias": "image1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1c1f72cb-66c5-4417-8aa2-06a9da240b4f",
              "mediaKey": "4acb9792-2001-49dc-942f-d12a9b744e6f",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 136: Good practice example: two small pitched dormers which are well proportioned, and align vertically with windows on lower floors (Guidance G5.6, G5.7 and G5.8)"
        },
        {
          "alias": "image2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f03eb247-e78d-4b0c-8641-9c5b74af8720",
              "mediaKey": "ad97a448-af0d-4c11-ab12-cab6c986d98d",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 138: Good practice example: one small pitched dormer which is asymmetrically placed on the roof (Guidance G5.7)"
        },
        {
          "alias": "altText1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 136: Good practice example: two small pitched dormers which are well proportioned, and align vertically with windows on lower floors (Guidance G5.6, G5.7 and G5.8)"
        },
        {
          "alias": "altText2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 138: Good practice example: one small pitched dormer which is asymmetrically placed on the roof (Guidance G5.7)"
        }
      ]
    },
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "ca4fd72f-b802-44ce-b6e1-cfc1738b08b1",
      "udi": null,
      "values": [
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EFigure 139: Bad practice example: a large front dormer which is out of proportion and too close to the eaves and roof edges (Code C5.4)\u003C/p\u003E"
          }
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 139"
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 139: Bad practice example: a large front dormer which is out of proportion and too close to the eaves and roof edges (Code C5.4)"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "12026524-5c32-4ef1-8576-86afca717a13",
              "mediaKey": "3546d275-45e6-4a2d-a0b0-69c7770b2a25",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 139: Bad practice example: a large front dormer which is out of proportion and too close to the eaves and roof edges (Code C5.4)"
        }
      ]
    },
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "0f30114b-4662-4059-bfc3-68d6dc677126",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 137"
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 137: Traditional pitched dormers complement the roofscape and add visual interest in St. John\u2019s, Wakefield (Guidance G5.6, G5.7 and G5.8)"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ca9380e5-f78f-4b9e-a78b-51dd1372ae42",
              "mediaKey": "8abfa6cb-a337-4eca-9b72-a0f66ad1b50a",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 137: Traditional pitched dormers complement the roofscape and add visual interest in St. John\u2019s, Wakefield (Guidance G5.6, G5.7 and G5.8)"
        }
      ]
    },
    {
      "contentTypeKey": "a29ecc6f-d8fb-4c95-88b9-8b940f6c3cd9",
      "key": "1ac90411-0aa7-4cf7-b41f-1aa894335c09",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 140"
        },
        {
          "alias": "image1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "2e18a89c-2ed3-451e-94ae-886a21bc6be3",
              "mediaKey": "42fdb89a-10c8-4f1a-afe3-3e970ba51e8b",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 140: An example of an asymmetrically placed dormer in WIld Orchid Way, in Pontefract (Guidance G5.7)"
        },
        {
          "alias": "image2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e0b7a7db-231d-4b8c-b0bf-b6b8304ec0da",
              "mediaKey": "c2d9a05f-3db2-4a9f-996b-08d540369d1f",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 141: A small dormer window which is set back from the eaves lines (Guidance G5.6)"
        },
        {
          "alias": "altText1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 140: An example of an asymmetrically placed dormer in WIld Orchid Way, in Pontefract (Guidance G5.7)"
        },
        {
          "alias": "altText2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 141: A small dormer window which is set back from the eaves lines (Guidance G5.6)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c71687d5-4b27-4c39-b389-7ee98adb9882",
      "key": "a3262486-3622-45e2-bfb6-b59fda2a9bfc",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "2630e835-1d0c-4c2d-9c9a-c08710e92f46",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "6caa1a01-bb04-48c9-858b-f0d62217e243",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "c71687d5-4b27-4c39-b389-7ee98adb9882",
      "key": "baeff3e7-c211-4c29-9d6f-1aa6de2b3d98",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "87969c19-5069-4c1f-8ddd-65a0183bdac2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ca4fd72f-b802-44ce-b6e1-cfc1738b08b1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0f30114b-4662-4059-bfc3-68d6dc677126",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1ac90411-0aa7-4cf7-b41f-1aa894335c09",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "87969c19-5069-4c1f-8ddd-65a0183bdac2",
        "contentUdi": null,
        "settingsKey": "a3262486-3622-45e2-bfb6-b59fda2a9bfc",
        "settingsUdi": null
      },
      {
        "contentKey": "ca4fd72f-b802-44ce-b6e1-cfc1738b08b1",
        "contentUdi": null,
        "settingsKey": "2630e835-1d0c-4c2d-9c9a-c08710e92f46",
        "settingsUdi": null
      },
      {
        "contentKey": "0f30114b-4662-4059-bfc3-68d6dc677126",
        "contentUdi": null,
        "settingsKey": "6caa1a01-bb04-48c9-858b-f0d62217e243",
        "settingsUdi": null
      },
      {
        "contentKey": "1ac90411-0aa7-4cf7-b41f-1aa894335c09",
        "contentUdi": null,
        "settingsKey": "baeff3e7-c211-4c29-9d6f-1aa6de2b3d98",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G5.8]]></Value>
    </title>
  </Properties>
</Content>