<?xml version="1.0" encoding="utf-8"?>
<Content Key="fc64ee68-78ad-4d99-88e9-4250287e59e0" Alias="Guidance: G2.35" Level="6">
  <Info>
    <Parent Key="5b502e3f-d1b0-4cac-8626-b6d618f0fed5">B2.7.2 Sensitively integrating air source heat pumps (ASHP’s)</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B27RenewableTechnologies/B272SensitivelyIntegratingAirSourceHeatPumpsASHPS/GuidanceG235</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-11T06:20:04</CreateDate>
    <NodeName Default="Guidance: G2.35" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EThe colour of the ASHP \u003Cstrong\u003Eshould\u003C/strong\u003E coordinate with the building palette. Where units are exposed, casings in neutral or muted tones (for example grey, brown, green) \u003Cstrong\u003Eshould \u003C/strong\u003Ebe selected to blend with wall finishes or landscaping. Proposals \u003Cstrong\u003Eshould \u003C/strong\u003Eavoid white or metallic finishes on visible facades.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Householder Applications",
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "46114694-5645-4e96-8a22-905152d6f937",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 56"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "dccbd7a1-656e-4550-98fc-92b1506a29d3",
              "mediaKey": "17ac9add-79da-4d2e-87f6-bc03bc23c4bb",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 56: ASHP located to the front of a development, screened by shrub planting (Guidance G2.34)"
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 56: ASHP located to the front of a development, screened by shrub planting (Guidance G2.34)"
        }
      ]
    },
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "4c55332e-f27c-4a27-b5b0-624d8c2a635c",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 57"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "13731d82-e61f-4b58-af7f-5439cfcd0e39",
              "mediaKey": "6e4f7dbe-9cb3-4027-8783-bcb0d6802e54",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 55: ASHP\u2019s positioned within a recessed part of the building elevation to reduce the visual prominence (Guidance G2.34)"
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 55: ASHP\u2019s positioned within a recessed part of the building elevation to reduce the visual prominence (Guidance G2.34)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "2a3f853f-2012-476b-a15a-97c1c70c9cf8",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "b1972f2b-c56d-437e-a23c-fc796b8e1c3b",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "46114694-5645-4e96-8a22-905152d6f937",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4c55332e-f27c-4a27-b5b0-624d8c2a635c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "46114694-5645-4e96-8a22-905152d6f937",
        "contentUdi": null,
        "settingsKey": "2a3f853f-2012-476b-a15a-97c1c70c9cf8",
        "settingsUdi": null
      },
      {
        "contentKey": "4c55332e-f27c-4a27-b5b0-624d8c2a635c",
        "contentUdi": null,
        "settingsKey": "b1972f2b-c56d-437e-a23c-fc796b8e1c3b",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G2.35]]></Value>
    </title>
  </Properties>
</Content>