<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b004e58-d1c8-4dd3-8c01-36d85b481724" Alias="Guidance: G1.18" Level="6">
  <Info>
    <Parent Key="787b9c04-71fa-4225-878f-9502bf472556">B1.5.1 Promoting positive transitions between land uses</Parent>
    <Path>/HomePage/ChapterList/B1StrengtheningLocalCharacterAndContext/B15InterfacesAndBoundaryEdges/B151PromotingPositiveTransitionsBetweenLandUses/GuidanceG118</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T10:39:38</CreateDate>
    <NodeName Default="Guidance: G1.18" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ETransitions between different land uses \u003Cstrong\u003Eshould \u003C/strong\u003Enot appear rigidly zoned or abrupt. Instead, a blended approach \u003Cstrong\u003Eshould \u003C/strong\u003Ebe adopted to create a soft, integrated transition between uses. This can be achieved through design strategies such as: \u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003Eintroducing mixed-use buildings at the interface between different uses \u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003Eusing a landscape buffer or public realm to mediate between different character areas\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "615a3a6b-16f7-4596-9686-d9d5e9d757af",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 20"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "bacd5dbd-c1a7-4615-8db3-12c328243ab9",
              "mediaKey": "d81414cb-1f88-48ab-8d78-3d790ec46f7e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 20: Careful positioning of new taller buildings along the waterfront at Salford helps to create a varied and positive interface (Code C1.8)"
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 20: Careful positioning of new taller buildings along the waterfront at Salford helps to create a varied and positive interface (Code C1.8)"
        }
      ]
    },
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "da7321c5-7e90-4c33-a1bf-69d7ff7e7c6e",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 21"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "22e6e61a-abb7-42d4-a654-3b33d49928cb",
              "mediaKey": "64b8806c-1f31-423f-82bb-e8940966ddec",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 21: Sketch illustrating how landscape buffers, public realm design, and gradual changes in building height and massing create positive transitions between different land uses (Code: C1.8 and Guidance G1.18)"
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 21: Sketch illustrating how landscape buffers, public realm design, and gradual changes in building height and massing create positive transitions between different land uses (Code: C1.8 and Guidance G1.18)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "4ed452ac-c2f1-4132-895d-ceb361f00220",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "24542e12-d651-41a2-b4b0-39e4737adbe9",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "615a3a6b-16f7-4596-9686-d9d5e9d757af",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "da7321c5-7e90-4c33-a1bf-69d7ff7e7c6e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "615a3a6b-16f7-4596-9686-d9d5e9d757af",
        "contentUdi": null,
        "settingsKey": "4ed452ac-c2f1-4132-895d-ceb361f00220",
        "settingsUdi": null
      },
      {
        "contentKey": "da7321c5-7e90-4c33-a1bf-69d7ff7e7c6e",
        "contentUdi": null,
        "settingsKey": "24542e12-d651-41a2-b4b0-39e4737adbe9",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G1.18]]></Value>
    </title>
  </Properties>
</Content>