<?xml version="1.0" encoding="utf-8"?>
<Content Key="c3b31ad4-2b89-4def-8874-f300a8244edb" Alias="Guidance: G2.17" Level="6">
  <Info>
    <Parent Key="c0d4de37-3497-4b77-95f5-ce113cbfb95f">B2.4.1 Integrating Sustainable Drainage Systems (SuDS)</Parent>
    <Path>/HomePage/ChapterList/B2SustainableAndResilientPlaces/B24FloodRiskAndDrainage/B241IntegratingSustainableDrainageSystemsSuDS/GuidanceG217</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-10T15:57:22</CreateDate>
    <NodeName Default="Guidance: G2.17" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EWhere feasible, driveways, footpaths and parking areas \u003Cstrong\u003Eshould \u003C/strong\u003Euse permeable surfaces to manage rainwater at source. Materials such as porous asphalt, permeable block paving and resin-bound gravel allow water to filter through and either infiltrate into the ground or be conveyed to an appropriate SuDS feature. \u003C/p\u003E\u003Cp\u003EDesigns \u003Cstrong\u003Eshould \u003C/strong\u003Efollow the principles set out in the The SuDS Manual (C753) (CIRIA) ensuring an appropriate sub-base, adequate infiltration capacity, and clear connectivity to the wider surface water drainage system.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a29ecc6f-d8fb-4c95-88b9-8b940f6c3cd9",
      "key": "5531560d-ea32-49a5-bae5-9a7f5985a77e",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 42 \u0026 43"
        },
        {
          "alias": "image1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "158fc617-9048-4d9a-9536-ceb732b2a395",
              "mediaKey": "6c0d16ca-0591-4f97-bb4a-176b3b22fed1",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 42: A swale designed to enhance and complement ecological value (Guidance G2.16)"
        },
        {
          "alias": "image2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "95eafef8-533f-4b00-9c1f-b5c7a4076ca6",
              "mediaKey": "7171a787-61d2-4ddd-bf3c-4220dd2dcc01",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 43: Integrating SuD\u2019s basins at Calder Park which support wildlife (Guidance: G2.16)"
        },
        {
          "alias": "altText1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 42: A swale designed to enhance and complement ecological value (Guidance G2.16)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c71687d5-4b27-4c39-b389-7ee98adb9882",
      "key": "c070201c-9f32-40ac-8d5d-475e8e805bce",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "5531560d-ea32-49a5-bae5-9a7f5985a77e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "5531560d-ea32-49a5-bae5-9a7f5985a77e",
        "contentUdi": null,
        "settingsKey": "c070201c-9f32-40ac-8d5d-475e8e805bce",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G2.17]]></Value>
    </title>
  </Properties>
</Content>