<?xml version="1.0" encoding="utf-8"?>
<Content Key="5825eba2-987f-41c9-abb7-06a8ecd1c6f1" Alias="Guidance: G4.1" Level="6">
  <Info>
    <Parent Key="ed313a99-40e1-4424-9488-cbabeff4137c">B4.1.1 Connected neighbourhoods</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B41Connectivity/B411ConnectedNeighbourhoods/GuidanceG41</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-11T15:24:03</CreateDate>
    <NodeName Default="Guidance: G4.1" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ENew developments \u003Cstrong\u003Eshould \u003C/strong\u003Ebe designed to support the co-location of key facilities (including community services, leisure amenities, and public transport access) to ensure convenient access by active travel modes. Where possible, these facilities \u003Cstrong\u003Eshould \u003C/strong\u003Ebe located within 800 metres (approximately a 10-minute walk) of the outer edges of the development site to support active travel opportunities.\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a29ecc6f-d8fb-4c95-88b9-8b940f6c3cd9",
      "key": "c8c7ed99-3fb6-447b-9d65-da14bded1b00",
      "udi": null,
      "values": [
        {
          "alias": "altText1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 92a"
        },
        {
          "alias": "caption1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 92a"
        },
        {
          "alias": "altText2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 92b"
        },
        {
          "alias": "caption2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 92b"
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 92a \u0026 92b"
        },
        {
          "alias": "image1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "909ccf3c-3648-4472-9e3e-611c98f4f686",
              "mediaKey": "8cc39371-340b-43f5-8e50-2e14ee0a2484",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "image2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "38b07a1a-5058-499d-98ab-32c97cbd56b2",
              "mediaKey": "c3acb2d9-be21-4d2d-89be-fab15211ae82",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "af26caf9-1a6b-40b3-9a94-8edf117bb7cd",
      "key": "20ea4850-ed53-46f7-b176-5b6e732d1c2a",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 92c"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e6496354-2331-4f5f-87f9-b6dba4a13082",
              "mediaKey": "1e918248-3d07-412d-8b77-ab0697b581bb",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 92c: New development in Little Kelham, Sheffield has opened up a new pedestrian route which connects it with surrounding communities (Code C4.3)"
        },
        {
          "alias": "showDescriptionToTheRightOfImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "altText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure 92c: New development in Little Kelham, Sheffield has opened up a new pedestrian route which connects it with surrounding communities (Code C4.3)"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c71687d5-4b27-4c39-b389-7ee98adb9882",
      "key": "963b6082-127d-48d0-9f46-0fb7de65e4f2",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "1086b4e4-5d4e-43f0-ab93-1c8c72dbf9dd",
      "key": "8d37bd14-2ece-4e34-b9c6-3e106c9a9a36",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "c8c7ed99-3fb6-447b-9d65-da14bded1b00",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "20ea4850-ed53-46f7-b176-5b6e732d1c2a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c8c7ed99-3fb6-447b-9d65-da14bded1b00",
        "contentUdi": null,
        "settingsKey": "963b6082-127d-48d0-9f46-0fb7de65e4f2",
        "settingsUdi": null
      },
      {
        "contentKey": "20ea4850-ed53-46f7-b176-5b6e732d1c2a",
        "contentUdi": null,
        "settingsKey": "8d37bd14-2ece-4e34-b9c6-3e106c9a9a36",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G4.1]]></Value>
    </title>
  </Properties>
</Content>