<?xml version="1.0" encoding="utf-8"?>
<Content Key="d393b0e4-f188-4aa6-ad23-e5575ab89a1c" Alias="Guidance: G4.23" Level="6">
  <Info>
    <Parent Key="cd65d38a-962a-4c29-891d-accc57797c5a">B4.5.2 Vertical alignment</Parent>
    <Path>/HomePage/ChapterList/B4StreetsForPeople/B45ManagingSpeed/B452VerticalAlignment/GuidanceG423</Path>
    <Trashed>false</Trashed>
    <ContentType>designCode</ContentType>
    <CreateDate>2025-09-15T12:49:27</CreateDate>
    <NodeName Default="Guidance: G4.23" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeType>
      <Value><![CDATA[[
  "Guidance"
]]]></Value>
    </codeType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EWhen designing streets, applicants \u003Cstrong\u003Eshould\u003C/strong\u003E, where possible, follow the natural topography of the site to avoid creating an unnatural or overly engineered appearance. For acceptable logitudinal section gradients and crossfalls, please refer to the Street Hierarchy (List 3)\u003C/p\u003E"
}]]></Value>
    </description>
    <developmentScales>
      <Value><![CDATA[[
  "Minor Residential Applications (1-9 homes)",
  "Major Residential Applications (10\u002B homes)",
  "Minor Employment Applications",
  "Major Employment Applications",
  "Other Major Applications"
]]]></Value>
    </developmentScales>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <title>
      <Value><![CDATA[Guidance: G4.23]]></Value>
    </title>
  </Properties>
</Content>