<?xml version="1.0" encoding="utf-8"?>
<Content Key="8b2d6b32-b15f-4026-9848-3e4ef7c6c69b" Alias="Home Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-09-01T08:01:16</CreateDate>
    <NodeName Default="Home Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="84d75411-b343-44a1-b56b-5bdae407a599">home</Template>
  </Info>
  <Properties>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "55b64304-32bc-4d3d-a226-8f10208f5ebb",
      "key": "df969f5b-d63b-46d9-9862-e875772a9ba2",
      "values": [
        {
          "alias": "aboutHomeItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "f7603e91-1b1d-4605-874b-8964075405b2",
                "key": "d0b2a81a-cc86-4bf2-9051-a7e1c49c02fb",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Introduction"
                  },
                  {
                    "alias": "content",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EDuis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat.\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "iconHtmlTag",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "\u003Ci class=\u0022bi bi-rocket-takeoff\u0022\u003E\u003C/i\u003E"
                  },
                  {
                    "alias": "url",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "umb://document/ba23c8bfa2014050b82de44fd4f807e3"
                  }
                ]
              },
              {
                "contentTypeKey": "f7603e91-1b1d-4605-874b-8964075405b2",
                "key": "6fac53a1-d0e9-4d44-83fc-f7db21b005a3",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Wakefield District Design Code"
                  },
                  {
                    "alias": "content",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim.\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "iconHtmlTag",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "\u003Ci class=\u0022bi bi-eye\u0022\u003E\u003C/i\u003E"
                  },
                  {
                    "alias": "url",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "umb://document/b6e47bc062e5471fbb5c4d47ccc05bfd"
                  }
                ]
              },
              {
                "contentTypeKey": "f7603e91-1b1d-4605-874b-8964075405b2",
                "key": "05875560-b3dd-4166-a4e3-c6353bbf2b8f",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Appendicies"
                  },
                  {
                    "alias": "content",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EExcepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit.\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "iconHtmlTag",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "\u003Ci class=\u0022bi bi-star\u0022\u003E\u003C/i\u003E"
                  },
                  {
                    "alias": "url",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "umb://document/fe1cc3a549744fbdb2fc2870e0e8f94c"
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "149f08a1-2bca-40db-a49b-15c0b4a73226",
                "key": "db5fa4f5-7c7f-46eb-a806-9c0f1616d728",
                "values": [
                  {
                    "alias": "hide",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  }
                ]
              },
              {
                "contentTypeKey": "149f08a1-2bca-40db-a49b-15c0b4a73226",
                "key": "39990e46-482f-4b6d-b3c3-839394926864",
                "values": [
                  {
                    "alias": "hide",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  }
                ]
              },
              {
                "contentTypeKey": "149f08a1-2bca-40db-a49b-15c0b4a73226",
                "key": "1c6566f8-8f11-47b2-906f-0697ca7aabad",
                "values": [
                  {
                    "alias": "hide",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "d0b2a81a-cc86-4bf2-9051-a7e1c49c02fb",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "6fac53a1-d0e9-4d44-83fc-f7db21b005a3",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "05875560-b3dd-4166-a4e3-c6353bbf2b8f",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "d0b2a81a-cc86-4bf2-9051-a7e1c49c02fb",
                  "contentUdi": null,
                  "settingsKey": "db5fa4f5-7c7f-46eb-a806-9c0f1616d728",
                  "settingsUdi": null
                },
                {
                  "contentKey": "6fac53a1-d0e9-4d44-83fc-f7db21b005a3",
                  "contentUdi": null,
                  "settingsKey": "39990e46-482f-4b6d-b3c3-839394926864",
                  "settingsUdi": null
                },
                {
                  "contentKey": "05875560-b3dd-4166-a4e3-c6353bbf2b8f",
                  "contentUdi": null,
                  "settingsKey": "1c6566f8-8f11-47b2-906f-0697ca7aabad",
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "149f08a1-2bca-40db-a49b-15c0b4a73226",
      "key": "7d384182-a39a-45a3-8a1f-d3973543821c",
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "df969f5b-d63b-46d9-9862-e875772a9ba2",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "df969f5b-d63b-46d9-9862-e875772a9ba2",
        "contentUdi": null,
        "settingsKey": "7d384182-a39a-45a3-8a1f-d3973543821c",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <pageTitle>
      <Value><![CDATA[Home Page]]></Value>
    </pageTitle>
    <welcomeMessage>
      <Value><![CDATA[This is a welcome message! You can edit it in the page properties of the Home page :)

FOR TESTING PURPOSES DO NOT TICK THE "Don't show this again" TICKBOX]]></Value>
    </welcomeMessage>
  </Properties>
</Content>