<?xml version="1.0" encoding="utf-8"?>
<Content Key="338b7b7d-08ba-4208-a0db-f84f4b066495" Alias="Introduction and Purpose of the code" Level="3">
  <Info>
    <Parent Key="ba23c8bf-a201-4050-b82d-e44fd4f807e3">Introduction</Parent>
    <Path>/HomePage/Introduction/IntroductionAndPurposeOfTheCode</Path>
    <Trashed>false</Trashed>
    <ContentType>subContentPage</ContentType>
    <CreateDate>2025-10-07T08:29:36</CreateDate>
    <NodeName Default="Introduction and Purpose of the code" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9a691bf6-7e97-4d2c-8582-e69ff2d785b6">subContentPage</Template>
  </Info>
  <Properties>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <mainContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8ef038f-c2b4-45d1-95f2-6b4cd7b32d2a",
      "key": "d05ab6e1-dab4-4850-8998-a91523af3bbd",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EI\u0027m making a list\u0026nbsp;\u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003ECheese\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003ETomatoes\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003EChocolate\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "14d6df98-294f-49f2-9c98-ba0553e77b08",
      "key": "668cf86f-25e4-494c-9397-6ddafd4fdd42",
      "udi": null,
      "values": [
        {
          "alias": "accordionItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "a156b35c-5261-4371-8a1f-e71292fb0920",
                "key": "79e379b5-cac2-4e97-a216-cecb8142dacf",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "testing accordion card"
                  },
                  {
                    "alias": "content",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003Etesting accordion card\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "singleImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "b76bf88d-96ee-417b-b71f-6ce8d705a67e",
                        "mediaKey": "3eaa88ad-64ed-45a1-a768-9c4b79b07680",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "singleImageCaption",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "testing"
                  },
                  {
                    "alias": "singleImageAltText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "testing"
                  }
                ]
              },
              {
                "contentTypeKey": "a156b35c-5261-4371-8a1f-e71292fb0920",
                "key": "4cc1511c-7f57-4aaa-b49a-2a01b2b93f41",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Test"
                  },
                  {
                    "alias": "content",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003Etest\u003C/p\u003E"
                    }
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "345c4d30-f9b7-4036-a3cd-9dde6e19ca13",
                "key": "d991856b-e76a-48df-a567-8dd0ff712d58",
                "udi": null,
                "values": [
                  {
                    "alias": "hide",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  }
                ]
              },
              {
                "contentTypeKey": "345c4d30-f9b7-4036-a3cd-9dde6e19ca13",
                "key": "e91f3371-aa57-4eb6-947a-f7d361513b3a",
                "udi": null,
                "values": [
                  {
                    "alias": "hide",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "79e379b5-cac2-4e97-a216-cecb8142dacf",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "4cc1511c-7f57-4aaa-b49a-2a01b2b93f41",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "79e379b5-cac2-4e97-a216-cecb8142dacf",
                  "contentUdi": null,
                  "settingsKey": "d991856b-e76a-48df-a567-8dd0ff712d58",
                  "settingsUdi": null
                },
                {
                  "contentKey": "4cc1511c-7f57-4aaa-b49a-2a01b2b93f41",
                  "contentUdi": null,
                  "settingsKey": "e91f3371-aa57-4eb6-947a-f7d361513b3a",
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "a37fb4d4-2673-4526-b49c-358ae5cd8e7d",
      "key": "ddca2227-6872-401d-b891-0fbcf9bb7c84",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "97bac018-d160-4640-b87e-f1fd2f3abe05",
      "key": "f25ab885-39be-444c-b688-5e804421fe76",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "d05ab6e1-dab4-4850-8998-a91523af3bbd",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "668cf86f-25e4-494c-9397-6ddafd4fdd42",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "d05ab6e1-dab4-4850-8998-a91523af3bbd",
        "contentUdi": null,
        "settingsKey": "ddca2227-6872-401d-b891-0fbcf9bb7c84",
        "settingsUdi": null
      },
      {
        "contentKey": "668cf86f-25e4-494c-9397-6ddafd4fdd42",
        "contentUdi": null,
        "settingsKey": "f25ab885-39be-444c-b688-5e804421fe76",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[Introduction & Purpose of the code]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Introduction & Purpose of the code]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[Introduction and Purpose of the code]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>