<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c01949c-f2e4-4120-ace4-11039b42c1f7" Alias="Search" Level="2">
  <Info>
    <Parent Key="8b2d6b32-b15f-4026-9848-3e4ef7c6c69b">Home Page</Parent>
    <Path>/HomePage/Search</Path>
    <Trashed>false</Trashed>
    <ContentType>searchPage</ContentType>
    <CreateDate>2026-05-11T07:34:55</CreateDate>
    <NodeName Default="Search" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="25f75039-6355-4076-b735-6c51c2c07168">searchPage</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[1]]></Value>
    </hideFromNavigation>
    <hideFromXmlSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXmlSitemap>
    <pageTitle>
      <Value><![CDATA[Search Results]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
  </Properties>
</Content>