<?xml version="1.0" encoding="utf-8"?>
<Content Key="38d3e73e-d375-42ba-9af7-9a4234b6af7c" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-27T09:49:46</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <facebookLink>
      <Value><![CDATA[]]></Value>
    </facebookLink>
    <instagramLink>
      <Value><![CDATA[]]></Value>
    </instagramLink>
    <linkedInLink>
      <Value><![CDATA[]]></Value>
    </linkedInLink>
    <otherLinks>
      <Value><![CDATA[[
  {
    "name": "Introduction and Purpose of the code",
    "target": null,
    "udi": "umb://document/338b7b7d08ba4208a0dbf84f4b066495",
    "url": null,
    "queryString": null
  },
  {
    "name": "Website accessibility",
    "target": "_blank",
    "udi": null,
    "url": "https://museumswsprd.azurewebsites.net/about-our-website/accessibility",
    "queryString": null
  },
  {
    "name": "Chapter List",
    "target": null,
    "udi": "umb://document/b6e47bc062e5471fbb5c4d47ccc05bfd",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </otherLinks>
    <xLink>
      <Value><![CDATA[]]></Value>
    </xLink>
  </Properties>
</Content>