<?xml version="1.0" encoding="utf-8"?>
<Content Key="61ff4db3-a720-40c7-addc-3e75b99f8abc" Alias="SiteMap" Level="2">
  <Info>
    <Parent Key="8b2d6b32-b15f-4026-9848-3e4ef7c6c69b">Home Page</Parent>
    <Path>/HomePage/SiteMap</Path>
    <Trashed>false</Trashed>
    <ContentType>xmlSiteMap</ContentType>
    <CreateDate>2026-03-18T09:20:06</CreateDate>
    <NodeName Default="SiteMap" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="63303788-f1b6-41e8-a15c-1f477a70850a">XmlSiteMap</Template>
  </Info>
  <Properties>
    <excludedDocumentTypes>
      <Value><![CDATA[]]></Value>
    </excludedDocumentTypes>
    <maxSiteMapDepth>
      <Value><![CDATA[0]]></Value>
    </maxSiteMapDepth>
  </Properties>
</Content>