<?xml version="1.0" encoding="utf-8"?>
<Content Key="5ef90e50-7af8-412a-8c37-4ffec22c0c04" Alias="StatusCodes" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/StatusCodes</Path>
    <Trashed>false</Trashed>
    <ContentType>statusCodes</ContentType>
    <CreateDate>2025-09-01T15:55:23</CreateDate>
    <NodeName Default="StatusCodes" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>